@if (@dataObject?.SharePointUrl != "")
{
    <a class="btn btn-primary mb-1" type="button" href="@dataObject?.SharePointUrl" target="_blank" value="Documents"><i class="bi bi-folder-fill"></i> Documents</a>
}