/****** Object:  UserDefinedFunction [SSop].[tvf_EnquiriesForQuoteReview]    Script Date: 23/04/2025 14:14:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






ALTER   FUNCTION [SSop].[tvf_EnquiriesForQuoteReview]
(
	@UserId INT
)
RETURNS TABLE
            --WITH SCHEMABINDING
AS RETURN	
SELECT  e.ID,
        e.RowStatus,
        e.RowVersion,
        e.Guid,
		e.Number,
		e.ExternalReference,
		LEFT(e.DescriptionOfWorks, 200) AS DescriptionOfWorks, 
		CASE WHEN acc.Name <> N'' THEN acc.Name ELSE e.ClientName END AS Account
FROM    SSop.Enquiries e
JOIN	SCrm.Accounts acc ON (acc.ID = e.ClientAccountID)
JOIN	SJob.Properties uprn ON (uprn.ID = e.PropertyId)
WHERE   (e.RowStatus NOT IN (0, 254))
	AND	(e.ID > 0)
AND	(EXISTS
			(
		SELECT
				1
		FROM
				SCore.ObjectSecurityForUser_CanRead(e.Guid, @UserId) oscr
			)
		)
	AND	(e.IsReadyForQuoteReview = 1)
	AND	(EXISTS
			(
				SELECT	1
				FROM	SSop.EnquiryServices es
				WHERE	(es.EnquiryId = e.ID)
					AND	(es.RowStatus NOT IN (0, 254))
					AND	(NOT EXISTS
							(
								SELECT	1
								FROM	SSop.Quotes AS q
								WHERE	(q.EnquiryServiceID = es.ID)
									AND	(q.RowStatus NOT IN (0, 254))
							)
						)
			)
		)
