-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.3.93.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 29/05/2026 14:12:01
-- Source server version: 16.00.1000
-- Source connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Target server version: 16.00.1000
-- Target connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Run this script against CymBuild_Dev to synchronize it with CymBuild_Upgrade_Stage
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Start Transaction
--
PRINT (N'Start Transaction')
GO
BEGIN TRANSACTION
GO

--
-- Create column [RIBAStageId] on table [SFin].[InvoiceRequests]
--
PRINT (N'Create column [RIBAStageId] on table [SFin].[InvoiceRequests]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceRequests]'))
ALTER TABLE [SFin].[InvoiceRequests]
  ADD [RIBAStageId] [int] NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_InvoiceRequests_RibaStages] on table [SFin].[InvoiceRequests]
--
PRINT (N'Create foreign key [FK_InvoiceRequests_RibaStages] on table [SFin].[InvoiceRequests]')
GO
IF OBJECT_ID('[SFin].[FK_InvoiceRequests_RibaStages]', 'F') IS NULL
  AND OBJECT_ID('[SFin].[InvoiceRequests]', 'U') IS NOT NULL
  AND OBJECT_ID('SJob.RibaStages', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceRequests]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SJob.RibaStages'))
ALTER TABLE [SFin].[InvoiceRequests] WITH NOCHECK
  ADD CONSTRAINT [FK_InvoiceRequests_RibaStages] FOREIGN KEY ([RIBAStageId]) REFERENCES [SJob].[RibaStages] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop default constraint [DF_InvoiceRequestItems_RIBAStageId] on table [SFin].[InvoiceRequestItems]
--
PRINT (N'Drop default constraint [DF_InvoiceRequestItems_RIBAStageId] on table [SFin].[InvoiceRequestItems]')
GO
ALTER TABLE [SFin].[InvoiceRequestItems]
  DROP CONSTRAINT IF EXISTS [DF_InvoiceRequestItems_RIBAStageId]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_InvoiceRequestItems_RibaStages] on table [SFin].[InvoiceRequestItems]
--
PRINT (N'Drop foreign key [FK_InvoiceRequestItems_RibaStages] on table [SFin].[InvoiceRequestItems]')
GO
ALTER TABLE [SFin].[InvoiceRequestItems]
  DROP CONSTRAINT IF EXISTS [FK_InvoiceRequestItems_RibaStages]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Alter column [RIBAStageId] on table [SFin].[InvoiceRequestItems]
--
PRINT (N'Alter column [RIBAStageId] on table [SFin].[InvoiceRequestItems]')
GO
IF EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceRequestItems]'))
ALTER TABLE [SFin].[InvoiceRequestItems]
  ALTER
    COLUMN [RIBAStageId] [int]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_InvoiceRequestItems_RibaStages] on table [SFin].[InvoiceRequestItems]
--
PRINT (N'Create foreign key [FK_InvoiceRequestItems_RibaStages] on table [SFin].[InvoiceRequestItems]')
GO
IF OBJECT_ID('[SFin].[FK_InvoiceRequestItems_RibaStages]', 'F') IS NULL
  AND OBJECT_ID('[SFin].[InvoiceRequestItems]', 'U') IS NOT NULL
  AND OBJECT_ID('SJob.RibaStages', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceRequestItems]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SJob.RibaStages'))
ALTER TABLE [SFin].[InvoiceRequestItems] WITH NOCHECK
  ADD CONSTRAINT [FK_InvoiceRequestItems_RibaStages] FOREIGN KEY ([RIBAStageId]) REFERENCES [SJob].[RibaStages] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column [RIBAStageId] on table [SFin].[InvoiceSchedulePercentageConfiguration]
--
PRINT (N'Create column [RIBAStageId] on table [SFin].[InvoiceSchedulePercentageConfiguration]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceSchedulePercentageConfiguration]'))
ALTER TABLE [SFin].[InvoiceSchedulePercentageConfiguration]
  ADD [RIBAStageId] [int] NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_InvoiceSchedulePercentageConfiguration_RibaStages] on table [SFin].[InvoiceSchedulePercentageConfiguration]
--
PRINT (N'Create foreign key [FK_InvoiceSchedulePercentageConfiguration_RibaStages] on table [SFin].[InvoiceSchedulePercentageConfiguration]')
GO
IF OBJECT_ID('[SFin].[FK_InvoiceSchedulePercentageConfiguration_RibaStages]', 'F') IS NULL
  AND OBJECT_ID('[SFin].[InvoiceSchedulePercentageConfiguration]', 'U') IS NOT NULL
  AND OBJECT_ID('SJob.RibaStages', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceSchedulePercentageConfiguration]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SJob.RibaStages'))
ALTER TABLE [SFin].[InvoiceSchedulePercentageConfiguration] WITH NOCHECK
  ADD CONSTRAINT [FK_InvoiceSchedulePercentageConfiguration_RibaStages] FOREIGN KEY ([RIBAStageId]) REFERENCES [SJob].[RibaStages] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_InvoiceSchedulePercentageConfiguration]
--
GO
PRINT (N'Create or alter function [SFin].[tvf_InvoiceSchedulePercentageConfiguration]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[tvf_InvoiceSchedulePercentageConfiguration]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SFin].[tvf_InvoiceSchedulePercentageConfiguration] 
(
    @UserId INT,
    @ParentGuid UNIQUEIDENTIFIER
)
RETURNS TABLE
    --WITH SCHEMABINDING
AS
RETURN 
SELECT 
    root_hobt.ID,
    root_hobt.RowStatus,
    root_hobt.Guid,
    root_hobt.PeriodNumber,
    root_hobt.Percentage,
    root_hobt.OnDayOfMonth,
    root_hobt.Description,

    rs.Guid AS RibaStageID,
    rs.Description AS RibaStage
FROM [SFin].[InvoiceSchedulePercentageConfiguration] AS root_hobt
JOIN [SFin].[InvoiceSchedules] AS invsch 
    ON invsch.ID = root_hobt.InvoiceScheduleId
   AND invsch.RowStatus NOT IN (0,254)
LEFT JOIN [SJob].[RibaStages] AS rs
    ON rs.ID = root_hobt.RibaStageID
   AND rs.RowStatus NOT IN (0,254)
WHERE root_hobt.RowStatus NOT IN (0,254)
  AND invsch.Guid = @ParentGuid
  AND EXISTS
  (
      SELECT 1
      FROM SCore.ObjectSecurityForUser_CanRead(root_hobt.Guid, @UserId) AS oscr
  );
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceSchedulePercentageConfigurationDelete]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceSchedulePercentageConfigurationDelete]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceSchedulePercentageConfigurationDelete]', 'P') IS NULL
EXEC sp_executesql N'
CREATE OR ALTER PROCEDURE [SFin].[InvoiceSchedulePercentageConfigurationDelete]
    @Guid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM SCore.DataObjects AS d
        WHERE d.Guid = @Guid
    )
    BEGIN
        EXEC SCore.DeleteDataObject
            @Guid = @Guid;

        UPDATE [SFin].[InvoiceSchedulePercentageConfiguration]
        SET RowStatus = 254
        WHERE Guid = @Guid
          AND RowStatus NOT IN (0,254);
    END
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column [RIBAStageId] on table [SFin].[InvoiceScheduleMonthConfiguration]
--
PRINT (N'Create column [RIBAStageId] on table [SFin].[InvoiceScheduleMonthConfiguration]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceScheduleMonthConfiguration]'))
ALTER TABLE [SFin].[InvoiceScheduleMonthConfiguration]
  ADD [RIBAStageId] [int] NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_InvoiceScheduleMonthConfiguration_RibaStages] on table [SFin].[InvoiceScheduleMonthConfiguration]
--
PRINT (N'Create foreign key [FK_InvoiceScheduleMonthConfiguration_RibaStages] on table [SFin].[InvoiceScheduleMonthConfiguration]')
GO
IF OBJECT_ID('[SFin].[FK_InvoiceScheduleMonthConfiguration_RibaStages]', 'F') IS NULL
  AND OBJECT_ID('[SFin].[InvoiceScheduleMonthConfiguration]', 'U') IS NOT NULL
  AND OBJECT_ID('SJob.RibaStages', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceScheduleMonthConfiguration]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SJob.RibaStages'))
ALTER TABLE [SFin].[InvoiceScheduleMonthConfiguration] WITH NOCHECK
  ADD CONSTRAINT [FK_InvoiceScheduleMonthConfiguration_RibaStages] FOREIGN KEY ([RIBAStageId]) REFERENCES [SJob].[RibaStages] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_InvoiceScheduleMonthConfiguration]
--
GO
PRINT (N'Create or alter function [SFin].[tvf_InvoiceScheduleMonthConfiguration]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[tvf_InvoiceScheduleMonthConfiguration]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SFin].[tvf_InvoiceScheduleMonthConfiguration] 
(
    @UserId INT,
    @ParentGuid UNIQUEIDENTIFIER
)
RETURNS TABLE
    --WITH SCHEMABINDING
AS
RETURN 
SELECT 
    root_hobt.ID,
    root_hobt.RowStatus,
    root_hobt.Guid,
    root_hobt.PeriodNumber,
    root_hobt.Amount,
    root_hobt.OnDayOfMonth,
    root_hobt.Description,
    rs.Guid AS RibaStageID,
    rs.Description AS RibaStage
FROM [SFin].[InvoiceScheduleMonthConfiguration] AS root_hobt
JOIN [SFin].[InvoiceSchedules] AS invsch 
    ON invsch.ID = root_hobt.InvoiceScheduleId
   AND invsch.RowStatus NOT IN (0,254)
LEFT JOIN [SJob].[RibaStages] AS rs
    ON rs.ID = root_hobt.RibaStageID
   AND rs.RowStatus NOT IN (0,254)
WHERE root_hobt.RowStatus NOT IN (0,254)
  AND invsch.Guid = @ParentGuid
  AND EXISTS
  (
      SELECT 1
      FROM SCore.ObjectSecurityForUser_CanRead(root_hobt.Guid, @UserId) AS oscr
  );
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceSchedulePercentageConfigurationUpsert]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceSchedulePercentageConfigurationUpsert]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceSchedulePercentageConfigurationUpsert]', 'P') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SFin].[InvoiceSchedulePercentageConfigurationUpsert]
(
    @Guid UNIQUEIDENTIFIER,
    @InvoiceScheduleGuid UNIQUEIDENTIFIER,
    @OnDayOfMonth DATE,
    @PeriodNumber INT,
    @Percentage DECIMAL(19,2),
    @Description NVARCHAR(MAX),
    @RibaStageGuid UNIQUEIDENTIFIER = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @InvoiceScheduleId INT,
        @RibaStageId INT = NULL,
        @IsInsert BIT = 0;

    SELECT @InvoiceScheduleId = s.ID 
    FROM SFin.InvoiceSchedules AS s
    WHERE s.Guid = @InvoiceScheduleGuid
      AND s.RowStatus NOT IN (0,254);

    IF @RibaStageGuid IS NOT NULL
       AND @RibaStageGuid <> ''00000000-0000-0000-0000-000000000000''
    BEGIN
        SELECT @RibaStageId = rs.ID
        FROM SJob.RibaStages AS rs
        WHERE rs.Guid = @RibaStageGuid
          AND rs.RowStatus NOT IN (0,254);
    END;

    EXEC SCore.UpsertDataObject
        @Guid = @Guid,
        @SchemeName = N''SFin'',
        @ObjectName = N''InvoiceSchedulePercentageConfiguration'',
        @IsInsert = @IsInsert OUTPUT;

    IF (@IsInsert = 1)
    BEGIN
        INSERT INTO SFin.InvoiceSchedulePercentageConfiguration
        (
            RowStatus,
            Guid,
            InvoiceScheduleId,
            OnDayOfMonth,
            PeriodNumber,
            Percentage,
            Description,
            RibaStageID
        )
        VALUES
        (
            1,
            @Guid,
            @InvoiceScheduleId,
            @OnDayOfMonth,
            @PeriodNumber,
            @Percentage,
            @Description,
            @RibaStageId
        );
    END;
    ELSE
    BEGIN
        UPDATE SFin.InvoiceSchedulePercentageConfiguration
        SET
            InvoiceScheduleId = @InvoiceScheduleId,
            OnDayOfMonth = @OnDayOfMonth,
            PeriodNumber = @PeriodNumber,
            Percentage = @Percentage,
            Description = @Description,
            RibaStageID = @RibaStageId
        WHERE Guid = @Guid
          AND RowStatus NOT IN (0,254);
    END;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceScheduleMonthConfigurationUpsert]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceScheduleMonthConfigurationUpsert]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceScheduleMonthConfigurationUpsert]', 'P') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SFin].[InvoiceScheduleMonthConfigurationUpsert]
(
    @Guid UNIQUEIDENTIFIER,
    @InvoiceScheduleGuid UNIQUEIDENTIFIER,
    @OnDayOfMonth DATE,
    @PeriodNumber INT,
    @Amount DECIMAL(19,2),
    @Description NVARCHAR(MAX),
    @RibaStageGuid UNIQUEIDENTIFIER = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @InvoiceScheduleId INT,
        @RibaStageId INT = NULL,
        @IsInsert BIT = 0;

    SELECT @InvoiceScheduleId = s.ID 
    FROM SFin.InvoiceSchedules AS s
    WHERE s.Guid = @InvoiceScheduleGuid
      AND s.RowStatus NOT IN (0,254);

    IF @RibaStageGuid IS NOT NULL
       AND @RibaStageGuid <> ''00000000-0000-0000-0000-000000000000''
    BEGIN
        SELECT @RibaStageId = rs.ID
        FROM SJob.RibaStages AS rs
        WHERE rs.Guid = @RibaStageGuid
          AND rs.RowStatus NOT IN (0,254);
    END;

    EXEC SCore.UpsertDataObject
        @Guid = @Guid,
        @SchemeName = N''SFin'',
        @ObjectName = N''InvoiceScheduleMonthConfiguration'',
        @IsInsert = @IsInsert OUTPUT;

    IF (@IsInsert = 1)
    BEGIN
        INSERT INTO SFin.InvoiceScheduleMonthConfiguration
        (
            RowStatus,
            Guid,
            InvoiceScheduleId,
            OnDayOfMonth,
            PeriodNumber,
            Amount,
            Description,
            RibaStageID
        )
        VALUES
        (
            1,
            @Guid,
            @InvoiceScheduleId,
            @OnDayOfMonth,
            @PeriodNumber,
            @Amount,
            @Description,
            @RibaStageId
        );
    END;
    ELSE
    BEGIN
        UPDATE SFin.InvoiceScheduleMonthConfiguration
        SET
            InvoiceScheduleId = @InvoiceScheduleId,
            OnDayOfMonth = @OnDayOfMonth,
            PeriodNumber = @PeriodNumber,
            Amount = @Amount,
            Description = @Description,
            RibaStageID = @RibaStageId
        WHERE Guid = @Guid
          AND RowStatus NOT IN (0,254);
    END;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceAutomation_CreateInvoiceRequests_FromPercentageConfig]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceAutomation_CreateInvoiceRequests_FromPercentageConfig]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceAutomation_CreateInvoiceRequests_FromPercentageConfig]', 'P') IS NOT NULL
EXEC sp_executesql N'
CREATE OR ALTER PROCEDURE [SFin].[InvoiceAutomation_CreateInvoiceRequests_FromPercentageConfig]
(
      @AutomationRunGuid         UNIQUEIDENTIFIER
    , @RequesterUserGuid         UNIQUEIDENTIFIER
    , @DefaultPaymentStatusGuid  UNIQUEIDENTIFIER = NULL
    , @NowUtc                    DATETIME2(7) = NULL
    , @MaxAttempts               INT = 5
    , @CreatedInvoiceRequests    INT = 0 OUTPUT
    , @Attempt                   INT = NULL OUTPUT
    , @CreatedAtUtc              DATETIME2(7) = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;

    DECLARE @NowUtcEff DATETIME2(7) = COALESCE(@NowUtc, SYSUTCDATETIME());

    SET @CreatedAtUtc = @NowUtcEff;
    SET @CreatedInvoiceRequests = 0;

    DECLARE @RequesterUserId INT;

    SELECT @RequesterUserId = i.ID
    FROM SCore.Identities AS i
    WHERE i.Guid = @RequesterUserGuid
      AND i.RowStatus NOT IN (0,254);

    IF @RequesterUserId IS NULL
    BEGIN
        RAISERROR(N''RequesterUserGuid not found in SCore.Identities.'', 16, 1);
        RETURN;
    END;

    DECLARE @DefaultPaymentStatusId BIGINT;

    IF @DefaultPaymentStatusGuid IS NOT NULL
    BEGIN
        SELECT @DefaultPaymentStatusId = ps.ID
        FROM SFin.InvoicePaymentStatus AS ps
        WHERE ps.Guid = @DefaultPaymentStatusGuid
          AND ps.RowStatus NOT IN (0,254);
    END
    ELSE
    BEGIN
        SELECT TOP (1) @DefaultPaymentStatusId = ps.ID
        FROM SFin.InvoicePaymentStatus AS ps
        WHERE ps.RowStatus NOT IN (0,254)
        ORDER BY ps.ID ASC;
    END;

    IF @DefaultPaymentStatusId IS NULL
    BEGIN
        RAISERROR(N''No active InvoicePaymentStatus row found (and/or DefaultPaymentStatusGuid invalid).'', 16, 1);
        RETURN;
    END;

    DECLARE @LocalAttempt INT = 0;

    WHILE (1 = 1)
    BEGIN
        SET @LocalAttempt += 1;
        SET @Attempt = @LocalAttempt;

        BEGIN TRY
            IF OBJECT_ID(''tempdb..#Candidates'') IS NOT NULL DROP TABLE #Candidates;
            IF OBJECT_ID(''tempdb..#ToCreate'') IS NOT NULL DROP TABLE #ToCreate;
            IF OBJECT_ID(''tempdb..#InsertedRequests'') IS NOT NULL DROP TABLE #InsertedRequests;
            IF OBJECT_ID(''tempdb..#ItemsToCreate'') IS NOT NULL DROP TABLE #ItemsToCreate;

            CREATE TABLE #Candidates
            (
                  InvoiceScheduleId INT NOT NULL
                , JobId INT NOT NULL
                , PercentageConfigId INT NOT NULL
                , PercentageConfigGuid UNIQUEIDENTIFIER NOT NULL
                , PeriodNumber INT NOT NULL
                , Percentage DECIMAL(19,2) NOT NULL
                , OnDayOfMonth DATE NULL
                , Description NVARCHAR(MAX) NOT NULL
                , RIBAStageId INT NULL
            );

            ;WITH ScheduleJobScope AS
            (
                SELECT DISTINCT
                      qi.InvoicingSchedule AS InvoiceScheduleId
                    , qi.CreatedJobId AS JobId
                FROM SSop.QuoteItems AS qi
                JOIN SFin.InvoiceSchedules AS sch
                    ON sch.ID = qi.InvoicingSchedule
                   AND sch.RowStatus NOT IN (0,254)
                WHERE qi.RowStatus NOT IN (0,254)
                  AND qi.CreatedJobId NOT IN (-1,0)
                  AND qi.InvoicingSchedule NOT IN (-1,0)
            )
            INSERT INTO #Candidates
            (
                  InvoiceScheduleId
                , JobId
                , PercentageConfigId
                , PercentageConfigGuid
                , PeriodNumber
                , Percentage
                , OnDayOfMonth
                , Description
                , RIBAStageId
            )
            SELECT
                  sjs.InvoiceScheduleId
                , sjs.JobId
                , pc.ID
                , pc.Guid
                , pc.PeriodNumber
                , pc.Percentage
                , pc.OnDayOfMonth
                , ISNULL(pc.Description, N'''')
                , pc.RIBAStageId
            FROM ScheduleJobScope AS sjs
            JOIN SFin.InvoiceSchedulePercentageConfiguration AS pc
                ON pc.InvoiceScheduleId = sjs.InvoiceScheduleId
               AND pc.RowStatus NOT IN (0,254)
            JOIN SFin.vw_InvoiceAutomation_BlockingDiagnostics AS bd
                ON bd.InvoiceScheduleId = sjs.InvoiceScheduleId
               AND bd.JobId = sjs.JobId
            WHERE bd.IsBlocked = 0
              AND pc.OnDayOfMonth IS NOT NULL
              AND pc.OnDayOfMonth <= CAST(@NowUtcEff AS DATE);

            IF NOT EXISTS (SELECT 1 FROM #Candidates)
            BEGIN
                SET @CreatedInvoiceRequests = 0;
                RETURN;
            END;

            CREATE TABLE #ToCreate
            (
                  InvoiceScheduleId INT NOT NULL
                , JobId INT NOT NULL
                , PercentageConfigId INT NOT NULL
                , PercentageConfigGuid UNIQUEIDENTIFIER NOT NULL
                , PeriodNumber INT NOT NULL
                , Percentage DECIMAL(19,2) NOT NULL
                , OnDayOfMonth DATE NOT NULL
                , Description NVARCHAR(MAX) NOT NULL
                , BaseAmount DECIMAL(19,2) NULL
                , CalculatedNet DECIMAL(19,2) NOT NULL
                , NeedsReconciliation BIT NOT NULL
                , RIBAStageId INT NULL
                , NewInvoiceRequestGuid UNIQUEIDENTIFIER NOT NULL
            );

            INSERT INTO #ToCreate
            (
                  InvoiceScheduleId
                , JobId
                , PercentageConfigId
                , PercentageConfigGuid
                , PeriodNumber
                , Percentage
                , OnDayOfMonth
                , Description
                , BaseAmount
                , CalculatedNet
                , NeedsReconciliation
                , RIBAStageId
                , NewInvoiceRequestGuid
            )
            SELECT
                  c.InvoiceScheduleId
                , c.JobId
                , c.PercentageConfigId
                , c.PercentageConfigGuid
                , c.PeriodNumber
                , c.Percentage
                , c.OnDayOfMonth
                , c.Description
                , BaseAmount =
                    CASE
                        WHEN NULLIF(j.AgreedFee, 0) IS NOT NULL THEN CAST(j.AgreedFee AS DECIMAL(19,2))
                        WHEN NULLIF(j.ValueOfWork, 0) IS NOT NULL THEN CAST(j.ValueOfWork AS DECIMAL(19,2))
                        ELSE NULL
                    END
                , CalculatedNet =
                    CAST(
                        CASE
                            WHEN
                                (
                                    CASE
                                        WHEN NULLIF(j.AgreedFee, 0) IS NOT NULL THEN j.AgreedFee
                                        WHEN NULLIF(j.ValueOfWork, 0) IS NOT NULL THEN j.ValueOfWork
                                        ELSE NULL
                                    END
                                ) IS NULL
                                OR
                                (
                                    CASE
                                        WHEN NULLIF(j.AgreedFee, 0) IS NOT NULL THEN j.AgreedFee
                                        WHEN NULLIF(j.ValueOfWork, 0) IS NOT NULL THEN j.ValueOfWork
                                        ELSE NULL
                                    END
                                ) <= 0
                                OR c.Percentage <= 0
                            THEN 0
                            ELSE ROUND(
                                (
                                    CASE
                                        WHEN NULLIF(j.AgreedFee, 0) IS NOT NULL THEN j.AgreedFee
                                        WHEN NULLIF(j.ValueOfWork, 0) IS NOT NULL THEN j.ValueOfWork
                                        ELSE 0
                                    END
                                ) * (c.Percentage / 100.0),
                                2
                            )
                        END AS DECIMAL(19,2)
                    )
                , NeedsReconciliation =
                    CASE
                        WHEN
                            (
                                CASE
                                    WHEN NULLIF(j.AgreedFee, 0) IS NOT NULL THEN j.AgreedFee
                                    WHEN NULLIF(j.ValueOfWork, 0) IS NOT NULL THEN j.ValueOfWork
                                    ELSE NULL
                                END
                            ) IS NULL
                            OR
                            (
                                CASE
                                    WHEN NULLIF(j.AgreedFee, 0) IS NOT NULL THEN j.AgreedFee
                                    WHEN NULLIF(j.ValueOfWork, 0) IS NOT NULL THEN j.ValueOfWork
                                    ELSE NULL
                                END
                            ) <= 0
                            OR c.Percentage <= 0
                        THEN CONVERT(BIT, 1)
                        ELSE CONVERT(BIT, 0)
                    END
                , c.RIBAStageId
                , NEWID()
            FROM #Candidates AS c
            JOIN SJob.Jobs AS j
                ON j.ID = c.JobId
               AND j.RowStatus NOT IN (0,254)
            WHERE NOT EXISTS
            (
                SELECT 1
                FROM SFin.InvoiceRequests AS r
                WHERE r.RowStatus NOT IN (0,254)
                  AND r.SourceType = N''PercentageConfig''
                  AND r.JobId = c.JobId
                  AND r.SourceGuid = c.PercentageConfigGuid
            )
            AND NOT EXISTS
            (
                SELECT 1
                FROM SFin.InvoiceRequests AS r
                WHERE r.SourceType = N''PercentageConfig''
                  AND r.JobId = c.JobId
                  AND r.SourceGuid = c.PercentageConfigGuid
                  AND r.ReconciliationRequired = 1
            );

            IF NOT EXISTS (SELECT 1 FROM #ToCreate)
            BEGIN
                SET @CreatedInvoiceRequests = 0;
                RETURN;
            END;

            CREATE TABLE #InsertedRequests
            (
                  InvoiceRequestId INT NOT NULL
                , InvoiceRequestGuid UNIQUEIDENTIFIER NOT NULL
                , JobId INT NOT NULL
                , PercentageConfigGuid UNIQUEIDENTIFIER NOT NULL
                , PercentageConfigId INT NOT NULL
                , PeriodNumber INT NOT NULL
                , Percentage DECIMAL(19,2) NOT NULL
                , OnDayOfMonth DATE NOT NULL
                , Description NVARCHAR(MAX) NOT NULL
                , ReconciliationRequired BIT NOT NULL
                , CalculatedNet DECIMAL(19,2) NOT NULL
                , RIBAStageId INT NULL
            );

            DECLARE
                  @JobId INT
                , @PcGuid UNIQUEIDENTIFIER
                , @PcId INT
                , @Period INT
                , @Pct DECIMAL(19,2)
                , @OnDay DATE
                , @Desc NVARCHAR(MAX)
                , @CalcNet DECIMAL(19,2)
                , @NeedsRecon BIT
                , @ReqGuid UNIQUEIDENTIFIER
                , @RIBAStageId INT;

            DECLARE cur_req CURSOR LOCAL FAST_FORWARD FOR
            SELECT
                  JobId
                , PercentageConfigGuid
                , PercentageConfigId
                , PeriodNumber
                , Percentage
                , OnDayOfMonth
                , Description
                , CalculatedNet
                , NeedsReconciliation
                , NewInvoiceRequestGuid
                , RIBAStageId
            FROM #ToCreate;

            OPEN cur_req;

            FETCH NEXT FROM cur_req
            INTO @JobId, @PcGuid, @PcId, @Period, @Pct, @OnDay, @Desc, @CalcNet, @NeedsRecon, @ReqGuid, @RIBAStageId;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF NOT EXISTS
                (
                    SELECT 1
                    FROM SFin.InvoiceRequests AS r
                    WHERE r.RowStatus NOT IN (0,254)
                      AND r.SourceType = N''PercentageConfig''
                      AND r.JobId = @JobId
                      AND r.SourceGuid = @PcGuid
                )
                BEGIN
                    DECLARE @WasInsert BIT;

                    EXEC SCore.UpsertDataObject
                          @Guid = @ReqGuid
                        , @SchemeName = N''SFin''
                        , @ObjectName = N''InvoiceRequests''
                        , @IncludeDefaultSecurity = 0
                        , @IsInsert = @WasInsert OUTPUT;

                    INSERT INTO SFin.InvoiceRequests
                    (
                          RowStatus
                        , Guid
                        , Notes
                        , RequesterUserId
                        , CreatedDateTimeUTC
                        , JobId
                        , LegacyId
                        , LegacySystemID
                        , InvoicingType
                        , ExpectedDate
                        , ManualStatus
                        , InvoicePaymentStatusID
                        , IsAutomated
                        , IsZeroValuePlaceholder
                        , ReconciliationRequired
                        , ReconciliationReason
                        , SourceType
                        , SourceGuid
                        , SourceIntId
                        , AutomationRunGuid
                        , InvoiceBatchGuid
                        , BlockedReason
                    )
                    SELECT
                          1
                        , @ReqGuid
                        , N''''
                        , @RequesterUserId
                        , @NowUtcEff
                        , @JobId
                        , NULL
                        , -1
                        , N''PCT''
                        , @OnDay
                        , 0
                        , @DefaultPaymentStatusId
                        , 1
                        , CASE WHEN @CalcNet = 0 THEN 1 ELSE 0 END
                        , @NeedsRecon
                        , CASE
                              WHEN @NeedsRecon = 1
                                  THEN LEFT(
                                      CONCAT(
                                          N''Percentage config requires valuation/reconciliation. Period='',
                                          CONVERT(NVARCHAR(20), @Period),
                                          N'', Pct='',
                                          CONVERT(NVARCHAR(50), @Pct),
                                          N''%''
                                      ),
                                      200
                                  )
                              ELSE N''''
                          END
                        , N''PercentageConfig''
                        , @PcGuid
                        , @PcId
                        , @AutomationRunGuid
                        , NULL
                        , N''''
                    WHERE NOT EXISTS
                    (
                        SELECT 1
                        FROM SFin.InvoiceRequests WITH (UPDLOCK, HOLDLOCK)
                        WHERE Guid = @ReqGuid
                    );

                    INSERT INTO #InsertedRequests
                    (
                          InvoiceRequestId
                        , InvoiceRequestGuid
                        , JobId
                        , PercentageConfigGuid
                        , PercentageConfigId
                        , PeriodNumber
                        , Percentage
                        , OnDayOfMonth
                        , Description
                        , ReconciliationRequired
                        , CalculatedNet
                        , RIBAStageId
                    )
                    SELECT
                          r.ID
                        , r.Guid
                        , r.JobId
                        , r.SourceGuid
                        , @PcId
                        , @Period
                        , @Pct
                        , @OnDay
                        , @Desc
                        , r.ReconciliationRequired
                        , @CalcNet
                        , @RIBAStageId
                    FROM SFin.InvoiceRequests AS r
                    WHERE r.Guid = @ReqGuid
                      AND r.RowStatus NOT IN (0,254);
                END;

                FETCH NEXT FROM cur_req
                INTO @JobId, @PcGuid, @PcId, @Period, @Pct, @OnDay, @Desc, @CalcNet, @NeedsRecon, @ReqGuid, @RIBAStageId;
            END;

            CLOSE cur_req;
            DEALLOCATE cur_req;

            IF NOT EXISTS (SELECT 1 FROM #InsertedRequests)
            BEGIN
                SET @CreatedInvoiceRequests = 0;
                RETURN;
            END;

            CREATE TABLE #ItemsToCreate
            (
                  NewItemGuid UNIQUEIDENTIFIER NOT NULL
                , InvoiceRequestId INT NOT NULL
                , Net DECIMAL(19,2) NOT NULL
                , ShortDescription NVARCHAR(200) NOT NULL
                , RIBAStageId INT NULL
            );

            INSERT INTO #ItemsToCreate
            (
                  NewItemGuid
                , InvoiceRequestId
                , Net
                , ShortDescription
                , RIBAStageId
            )
            SELECT
                  NEWID()
                , ir.InvoiceRequestId
                , CAST(CASE WHEN ir.ReconciliationRequired = 1 THEN 0 ELSE ir.CalculatedNet END AS DECIMAL(19,2))
                , LEFT(
                      ISNULL(
                          NULLIF(CONVERT(NVARCHAR(4000), ir.Description), N''''),
                          CONCAT(N''Percentage drawdown ('', CONVERT(NVARCHAR(50), ir.Percentage), N''%)'')
                      ),
                      200
                  )
                , ir.RIBAStageId
            FROM #InsertedRequests AS ir;

            DECLARE
                  @ItemGuid UNIQUEIDENTIFIER
                , @ReqId INT
                , @Net DECIMAL(19,2)
                , @Short NVARCHAR(200)
                , @ItemRIBAStageId INT;

            DECLARE cur_item CURSOR LOCAL FAST_FORWARD FOR
            SELECT
                  NewItemGuid
                , InvoiceRequestId
                , Net
                , ShortDescription
                , RIBAStageId
            FROM #ItemsToCreate;

            OPEN cur_item;

            FETCH NEXT FROM cur_item
            INTO @ItemGuid, @ReqId, @Net, @Short, @ItemRIBAStageId;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                DECLARE @ItemWasInsert BIT;

                EXEC SCore.UpsertDataObject
                      @Guid = @ItemGuid
                    , @SchemeName = N''SFin''
                    , @ObjectName = N''InvoiceRequestItems''
                    , @IncludeDefaultSecurity = 0
                    , @IsInsert = @ItemWasInsert OUTPUT;

                INSERT INTO SFin.InvoiceRequestItems
                (
                      RowStatus
                    , Guid
                    , InvoiceRequestId
                    , MilestoneId
                    , ActivityId
                    , Net
                    , LegacyId
                    , LegacySystemID
                    , ShortDescription
                    , RIBAStageId
                )
                SELECT
                      1
                    , @ItemGuid
                    , @ReqId
                    , -1
                    , -1
                    , @Net
                    , NULL
                    , -1
                    , LEFT(ISNULL(@Short, N''''), 200)
                    , @ItemRIBAStageId
                WHERE NOT EXISTS
                (
                    SELECT 1
                    FROM SFin.InvoiceRequestItems WITH (UPDLOCK, HOLDLOCK)
                    WHERE Guid = @ItemGuid
                );

                FETCH NEXT FROM cur_item
                INTO @ItemGuid, @ReqId, @Net, @Short, @ItemRIBAStageId;
            END;

            CLOSE cur_item;
            DEALLOCATE cur_item;

            SET @CreatedInvoiceRequests =
            (
                SELECT COUNT(1)
                FROM #InsertedRequests
            );

            RETURN;
        END TRY
        BEGIN CATCH
            DECLARE @ErrNum INT = ERROR_NUMBER();
            DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();

            IF @@TRANCOUNT > 0
                ROLLBACK;

            IF @ErrNum = 1205 AND @LocalAttempt < @MaxAttempts
            BEGIN
                WAITFOR DELAY ''00:00:00.250'';
                CONTINUE;
            END;

            IF @ErrNum IN (2601,2627) AND @LocalAttempt < @MaxAttempts
            BEGIN
                WAITFOR DELAY ''00:00:00.050'';
                CONTINUE;
            END;

            RAISERROR(N''CreateInvoiceRequests_FromPercentageConfig failed (%d): %s'', 16, 1, @ErrNum, @ErrMsg);
            RETURN;
        END CATCH;
    END;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceAutomation_CreateInvoiceRequests_FromMonthConfig]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceAutomation_CreateInvoiceRequests_FromMonthConfig]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceAutomation_CreateInvoiceRequests_FromMonthConfig]', 'P') IS NOT NULL
EXEC sp_executesql N'
CREATE OR ALTER PROCEDURE [SFin].[InvoiceAutomation_CreateInvoiceRequests_FromMonthConfig]
(
      @AutomationRunGuid         UNIQUEIDENTIFIER
    , @RequesterUserGuid         UNIQUEIDENTIFIER
    , @DefaultPaymentStatusGuid  UNIQUEIDENTIFIER = NULL
    , @NowUtc                    DATETIME2(7) = NULL
    , @MaxAttempts               INT = 5
    , @CreatedInvoiceRequests    INT = 0 OUTPUT
    , @Attempt                   INT = NULL OUTPUT
    , @CreatedAtUtc              DATETIME2(7) = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;

    DECLARE @NowUtcEff DATETIME2(7) = COALESCE(@NowUtc, SYSUTCDATETIME());

    SET @CreatedAtUtc = @NowUtcEff;
    SET @CreatedInvoiceRequests = 0;

    DECLARE @RequesterUserId INT;

    SELECT @RequesterUserId = i.ID
    FROM SCore.Identities AS i
    WHERE i.Guid = @RequesterUserGuid
      AND i.RowStatus NOT IN (0,254);

    IF @RequesterUserId IS NULL
    BEGIN
        RAISERROR(N''RequesterUserGuid not found in SCore.Identities.'', 16, 1);
        RETURN;
    END;

    DECLARE @DefaultPaymentStatusId BIGINT;

    IF @DefaultPaymentStatusGuid IS NOT NULL
    BEGIN
        SELECT @DefaultPaymentStatusId = ps.ID
        FROM SFin.InvoicePaymentStatus AS ps
        WHERE ps.Guid = @DefaultPaymentStatusGuid
          AND ps.RowStatus NOT IN (0,254);
    END
    ELSE
    BEGIN
        SELECT TOP (1) @DefaultPaymentStatusId = ps.ID
        FROM SFin.InvoicePaymentStatus AS ps
        WHERE ps.RowStatus NOT IN (0,254)
        ORDER BY ps.ID ASC;
    END;

    IF @DefaultPaymentStatusId IS NULL
    BEGIN
        RAISERROR(N''No active InvoicePaymentStatus row found (and/or DefaultPaymentStatusGuid invalid).'', 16, 1);
        RETURN;
    END;

    DECLARE @LocalAttempt INT = 0;

    WHILE (1 = 1)
    BEGIN
        SET @LocalAttempt += 1;
        SET @Attempt = @LocalAttempt;

        BEGIN TRY
            IF OBJECT_ID(''tempdb..#Candidates'') IS NOT NULL DROP TABLE #Candidates;
            IF OBJECT_ID(''tempdb..#ToCreate'') IS NOT NULL DROP TABLE #ToCreate;
            IF OBJECT_ID(''tempdb..#InsertedRequests'') IS NOT NULL DROP TABLE #InsertedRequests;
            IF OBJECT_ID(''tempdb..#ItemsToCreate'') IS NOT NULL DROP TABLE #ItemsToCreate;

            CREATE TABLE #Candidates
            (
                  InvoiceScheduleId INT NOT NULL
                , JobId INT NOT NULL
                , MonthConfigId INT NOT NULL
                , MonthConfigGuid UNIQUEIDENTIFIER NOT NULL
                , PeriodNumber INT NOT NULL
                , Amount DECIMAL(19,2) NOT NULL
                , OnDayOfMonth DATE NULL
                , Description NVARCHAR(MAX) NOT NULL
                , RIBAStageId INT NULL
            );

            ;WITH ScheduleJobScope AS
            (
                SELECT DISTINCT
                      qi.InvoicingSchedule AS InvoiceScheduleId
                    , qi.CreatedJobId AS JobId
                FROM SSop.QuoteItems AS qi
                JOIN SFin.InvoiceSchedules AS sch
                    ON sch.ID = qi.InvoicingSchedule
                   AND sch.RowStatus NOT IN (0,254)
                WHERE qi.RowStatus NOT IN (0,254)
                  AND qi.CreatedJobId NOT IN (-1,0)
                  AND qi.InvoicingSchedule NOT IN (-1,0)
            )
            INSERT INTO #Candidates
            (
                  InvoiceScheduleId
                , JobId
                , MonthConfigId
                , MonthConfigGuid
                , PeriodNumber
                , Amount
                , OnDayOfMonth
                , Description
                , RIBAStageId
            )
            SELECT
                  sjs.InvoiceScheduleId
                , sjs.JobId
                , mc.ID
                , mc.Guid
                , mc.PeriodNumber
                , mc.Amount
                , mc.OnDayOfMonth
                , ISNULL(mc.Description, N'''')
                , mc.RIBAStageId
            FROM ScheduleJobScope AS sjs
            JOIN SFin.InvoiceScheduleMonthConfiguration AS mc
                ON mc.InvoiceScheduleId = sjs.InvoiceScheduleId
               AND mc.RowStatus NOT IN (0,254)
            JOIN SFin.vw_InvoiceAutomation_BlockingDiagnostics AS bd
                ON bd.InvoiceScheduleId = sjs.InvoiceScheduleId
               AND bd.JobId = sjs.JobId
            WHERE bd.IsBlocked = 0
              AND mc.OnDayOfMonth IS NOT NULL
              AND mc.OnDayOfMonth <= CAST(@NowUtcEff AS DATE);

            IF NOT EXISTS (SELECT 1 FROM #Candidates)
            BEGIN
                SET @CreatedInvoiceRequests = 0;
                RETURN;
            END;

            CREATE TABLE #ToCreate
            (
                  InvoiceScheduleId INT NOT NULL
                , JobId INT NOT NULL
                , MonthConfigId INT NOT NULL
                , MonthConfigGuid UNIQUEIDENTIFIER NOT NULL
                , PeriodNumber INT NOT NULL
                , Amount DECIMAL(19,2) NOT NULL
                , OnDayOfMonth DATE NOT NULL
                , Description NVARCHAR(MAX) NOT NULL
                , RIBAStageId INT NULL
                , NewInvoiceRequestGuid UNIQUEIDENTIFIER NOT NULL
            );

            INSERT INTO #ToCreate
            (
                  InvoiceScheduleId
                , JobId
                , MonthConfigId
                , MonthConfigGuid
                , PeriodNumber
                , Amount
                , OnDayOfMonth
                , Description
                , RIBAStageId
                , NewInvoiceRequestGuid
            )
            SELECT
                  c.InvoiceScheduleId
                , c.JobId
                , c.MonthConfigId
                , c.MonthConfigGuid
                , c.PeriodNumber
                , c.Amount
                , c.OnDayOfMonth
                , c.Description
                , c.RIBAStageId
                , NEWID()
            FROM #Candidates AS c
            WHERE NOT EXISTS
            (
                SELECT 1
                FROM SFin.InvoiceRequests AS r
                WHERE r.SourceType = N''MonthConfig''
                  AND r.JobId = c.JobId
                  AND r.SourceGuid = c.MonthConfigGuid
                  AND
                  (
                      r.RowStatus NOT IN (0,254)
                      OR r.IsMerged = 1
                  )
            )
            AND NOT EXISTS
            (
                SELECT 1
                FROM SFin.InvoiceRequests AS r
                WHERE r.SourceType = N''MonthConfig''
                  AND r.JobId = c.JobId
                  AND r.SourceGuid = c.MonthConfigGuid
                  AND r.ReconciliationRequired = 1
            );

            IF NOT EXISTS (SELECT 1 FROM #ToCreate)
            BEGIN
                SET @CreatedInvoiceRequests = 0;
                RETURN;
            END;

            CREATE TABLE #InsertedRequests
            (
                  InvoiceRequestId INT NOT NULL
                , InvoiceRequestGuid UNIQUEIDENTIFIER NOT NULL
                , JobId INT NOT NULL
                , MonthConfigGuid UNIQUEIDENTIFIER NOT NULL
                , MonthConfigId INT NOT NULL
                , PeriodNumber INT NOT NULL
                , Amount DECIMAL(19,2) NOT NULL
                , OnDayOfMonth DATE NOT NULL
                , Description NVARCHAR(MAX) NOT NULL
                , ReconciliationRequired BIT NOT NULL
                , RIBAStageId INT NULL
            );

            DECLARE
                  @JobId INT
                , @MonthGuid UNIQUEIDENTIFIER
                , @MonthId INT
                , @Period INT
                , @Amt DECIMAL(19,2)
                , @OnDay DATE
                , @Desc NVARCHAR(MAX)
                , @ReqGuid UNIQUEIDENTIFIER
                , @RIBAStageId INT;

            DECLARE cur_req CURSOR LOCAL FAST_FORWARD FOR
            SELECT
                  JobId
                , MonthConfigGuid
                , MonthConfigId
                , PeriodNumber
                , Amount
                , OnDayOfMonth
                , Description
                , NewInvoiceRequestGuid
                , RIBAStageId
            FROM #ToCreate;

            OPEN cur_req;

            FETCH NEXT FROM cur_req
            INTO @JobId, @MonthGuid, @MonthId, @Period, @Amt, @OnDay, @Desc, @ReqGuid, @RIBAStageId;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF NOT EXISTS
                (
                    SELECT 1
                    FROM SFin.InvoiceRequests AS r
                    WHERE r.RowStatus NOT IN (0,254)
                      AND r.SourceType = N''MonthConfig''
                      AND r.JobId = @JobId
                      AND r.SourceGuid = @MonthGuid
                )
                BEGIN
                    DECLARE @WasInsert BIT;

                    EXEC SCore.UpsertDataObject
                          @Guid = @ReqGuid
                        , @SchemeName = N''SFin''
                        , @ObjectName = N''InvoiceRequests''
                        , @IncludeDefaultSecurity = 0
                        , @IsInsert = @WasInsert OUTPUT;

                    DECLARE @NeedsReconciliation BIT =
                        CASE WHEN ISNULL(@Amt, 0) <= 0 THEN 1 ELSE 0 END;

                    INSERT INTO SFin.InvoiceRequests
                    (
                          RowStatus
                        , Guid
                        , Notes
                        , RequesterUserId
                        , CreatedDateTimeUTC
                        , JobId
                        , LegacyId
                        , LegacySystemID
                        , InvoicingType
                        , ExpectedDate
                        , ManualStatus
                        , InvoicePaymentStatusID
                        , IsAutomated
                        , IsZeroValuePlaceholder
                        , ReconciliationRequired
                        , ReconciliationReason
                        , SourceType
                        , SourceGuid
                        , SourceIntId
                        , AutomationRunGuid
                        , InvoiceBatchGuid
                        , BlockedReason
                    )
                    SELECT
                          1
                        , @ReqGuid
                        , N''''
                        , @RequesterUserId
                        , @NowUtcEff
                        , @JobId
                        , NULL
                        , -1
                        , N''MON''
                        , @OnDay
                        , 0
                        , @DefaultPaymentStatusId
                        , 1
                        , CASE WHEN @NeedsReconciliation = 1 THEN 1 ELSE 0 END
                        , @NeedsReconciliation
                        , CASE
                              WHEN @NeedsReconciliation = 1
                                  THEN N''Month config amount is zero/invalid; reconciliation required.''
                              ELSE N''''
                          END
                        , N''MonthConfig''
                        , @MonthGuid
                        , @MonthId
                        , @AutomationRunGuid
                        , NULL
                        , N''''
                    WHERE NOT EXISTS
                    (
                        SELECT 1
                        FROM SFin.InvoiceRequests WITH (UPDLOCK, HOLDLOCK)
                        WHERE Guid = @ReqGuid
                    );

                    INSERT INTO #InsertedRequests
                    (
                          InvoiceRequestId
                        , InvoiceRequestGuid
                        , JobId
                        , MonthConfigGuid
                        , MonthConfigId
                        , PeriodNumber
                        , Amount
                        , OnDayOfMonth
                        , Description
                        , ReconciliationRequired
                        , RIBAStageId
                    )
                    SELECT
                          r.ID
                        , r.Guid
                        , r.JobId
                        , r.SourceGuid
                        , @MonthId
                        , @Period
                        , @Amt
                        , @OnDay
                        , @Desc
                        , r.ReconciliationRequired
                        , @RIBAStageId
                    FROM SFin.InvoiceRequests AS r
                    WHERE r.Guid = @ReqGuid
                      AND r.RowStatus NOT IN (0,254);
                END;

                FETCH NEXT FROM cur_req
                INTO @JobId, @MonthGuid, @MonthId, @Period, @Amt, @OnDay, @Desc, @ReqGuid, @RIBAStageId;
            END;

            CLOSE cur_req;
            DEALLOCATE cur_req;

            IF NOT EXISTS (SELECT 1 FROM #InsertedRequests)
            BEGIN
                SET @CreatedInvoiceRequests = 0;
                RETURN;
            END;

            CREATE TABLE #ItemsToCreate
            (
                  NewItemGuid UNIQUEIDENTIFIER NOT NULL
                , InvoiceRequestId INT NOT NULL
                , Net DECIMAL(19,2) NOT NULL
                , ShortDescription NVARCHAR(200) NOT NULL
                , RIBAStageId INT NULL
            );

            INSERT INTO #ItemsToCreate
            (
                  NewItemGuid
                , InvoiceRequestId
                , Net
                , ShortDescription
                , RIBAStageId
            )
            SELECT
                  NEWID()
                , ir.InvoiceRequestId
                , CAST(CASE WHEN ir.ReconciliationRequired = 1 THEN 0 ELSE ir.Amount END AS DECIMAL(19,2))
                , LEFT(
                      ISNULL(
                          NULLIF(CONVERT(NVARCHAR(4000), ir.Description), N''''),
                          CONCAT(N''Monthly drawdown (Period '', CONVERT(NVARCHAR(20), ir.PeriodNumber), N'')'')
                      ),
                      200
                  )
                , ir.RIBAStageId
            FROM #InsertedRequests AS ir;

            DECLARE
                  @ItemGuid UNIQUEIDENTIFIER
                , @ReqId INT
                , @Net DECIMAL(19,2)
                , @Short NVARCHAR(200)
                , @ItemRIBAStageId INT;

            DECLARE cur_item CURSOR LOCAL FAST_FORWARD FOR
            SELECT
                  NewItemGuid
                , InvoiceRequestId
                , Net
                , ShortDescription
                , RIBAStageId
            FROM #ItemsToCreate;

            OPEN cur_item;

            FETCH NEXT FROM cur_item
            INTO @ItemGuid, @ReqId, @Net, @Short, @ItemRIBAStageId;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                DECLARE @ItemWasInsert BIT;

                EXEC SCore.UpsertDataObject
                      @Guid = @ItemGuid
                    , @SchemeName = N''SFin''
                    , @ObjectName = N''InvoiceRequestItems''
                    , @IncludeDefaultSecurity = 0
                    , @IsInsert = @ItemWasInsert OUTPUT;

                INSERT INTO SFin.InvoiceRequestItems
                (
                      RowStatus
                    , Guid
                    , InvoiceRequestId
                    , MilestoneId
                    , ActivityId
                    , Net
                    , LegacyId
                    , LegacySystemID
                    , ShortDescription
                    , RIBAStageId
                )
                SELECT
                      1
                    , @ItemGuid
                    , @ReqId
                    , -1
                    , -1
                    , @Net
                    , NULL
                    , -1
                    , LEFT(ISNULL(@Short, N''''), 200)
                    , @ItemRIBAStageId
                WHERE NOT EXISTS
                (
                    SELECT 1
                    FROM SFin.InvoiceRequestItems WITH (UPDLOCK, HOLDLOCK)
                    WHERE Guid = @ItemGuid
                );

                FETCH NEXT FROM cur_item
                INTO @ItemGuid, @ReqId, @Net, @Short, @ItemRIBAStageId;
            END;

            CLOSE cur_item;
            DEALLOCATE cur_item;

            SET @CreatedInvoiceRequests =
            (
                SELECT COUNT(1)
                FROM #InsertedRequests
            );

            RETURN;
        END TRY
        BEGIN CATCH
            DECLARE @ErrNum INT = ERROR_NUMBER();
            DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();

            IF @@TRANCOUNT > 0
                ROLLBACK;

            IF @ErrNum = 1205 AND @LocalAttempt < @MaxAttempts
            BEGIN
                WAITFOR DELAY ''00:00:00.250'';
                CONTINUE;
            END;

            IF @ErrNum IN (2601,2627) AND @LocalAttempt < @MaxAttempts
            BEGIN
                WAITFOR DELAY ''00:00:00.050'';
                CONTINUE;
            END;

            RAISERROR(N''CreateInvoiceRequests_FromMonthConfig failed (%d): %s'', 16, 1, @ErrNum, @ErrMsg);
            RETURN;
        END CATCH;
    END;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop default constraint [DF_TransactionDetails_RIBAStageId] on table [SFin].[TransactionDetails]
--
PRINT (N'Drop default constraint [DF_TransactionDetails_RIBAStageId] on table [SFin].[TransactionDetails]')
GO
ALTER TABLE [SFin].[TransactionDetails]
  DROP CONSTRAINT IF EXISTS [DF_TransactionDetails_RIBAStageId]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_TransactionDetails_RibaStages] on table [SFin].[TransactionDetails]
--
PRINT (N'Drop foreign key [FK_TransactionDetails_RibaStages] on table [SFin].[TransactionDetails]')
GO
ALTER TABLE [SFin].[TransactionDetails]
  DROP CONSTRAINT IF EXISTS [FK_TransactionDetails_RibaStages]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Alter column [RIBAStageId] on table [SFin].[TransactionDetails]
--
PRINT (N'Alter column [RIBAStageId] on table [SFin].[TransactionDetails]')
GO
IF EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[TransactionDetails]'))
ALTER TABLE [SFin].[TransactionDetails]
  ALTER
    COLUMN [RIBAStageId] [int]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_TransactionDetails_RibaStages] on table [SFin].[TransactionDetails]
--
PRINT (N'Create foreign key [FK_TransactionDetails_RibaStages] on table [SFin].[TransactionDetails]')
GO
IF OBJECT_ID('[SFin].[FK_TransactionDetails_RibaStages]', 'F') IS NULL
  AND OBJECT_ID('[SFin].[TransactionDetails]', 'U') IS NOT NULL
  AND OBJECT_ID('SJob.RibaStages', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RIBAStageId' AND object_id = OBJECT_ID(N'[SFin].[TransactionDetails]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SJob.RibaStages'))
ALTER TABLE [SFin].[TransactionDetails] WITH NOCHECK
  ADD CONSTRAINT [FK_TransactionDetails_RibaStages] FOREIGN KEY ([RIBAStageId]) REFERENCES [SJob].[RibaStages] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SFin].[Transaction_InvoiceMergeInfo]
--
PRINT (N'Refresh view [SFin].[Transaction_InvoiceMergeInfo]')
GO
EXEC sp_refreshview '[SFin].[Transaction_InvoiceMergeInfo]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SFin].[TransactionCalculations]
--
PRINT (N'Refresh view [SFin].[TransactionCalculations]')
GO
EXEC sp_refreshview '[SFin].[TransactionCalculations]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SJob].[Job_FeeDrawdown]
--
PRINT (N'Refresh view [SJob].[Job_FeeDrawdown]')
GO
EXEC sp_refreshview '[SJob].[Job_FeeDrawdown]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SJob].[JobActivity_ETL]
--
PRINT (N'Refresh view [SJob].[JobActivity_ETL]')
GO
EXEC sp_refreshview '[SJob].[JobActivity_ETL]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
PRINT (N'Commit Transaction')
GO
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
PRINT (N'Set NOEXEC to off')
GO
SET NOEXEC OFF
GO