/****** Object:  StoredProcedure [SFin].[TransactionSageSubmissionStatus_TryClaim]    Script Date: 31/03/2026 14:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [SFin].[TransactionSageSubmissionStatus_TryClaim]
(
    @TransactionID       BIGINT,
    @TransactionGuid     UNIQUEIDENTIFIER,
    @TransitionGuid      UNIQUEIDENTIFIER,
    @CreatedByUserID     INT = -1
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE
        @StatusID BIGINT,
        @StatusCode NVARCHAR(30),
        @IsInProgress BIT,
        @SageOrderId NVARCHAR(100),
        @SageOrderNumber NVARCHAR(100);

    EXEC [SFin].[TransactionSageSubmissionStatus_Ensure]
         @TransactionID   = @TransactionID,
         @TransactionGuid = @TransactionGuid,
         @TransitionGuid  = @TransitionGuid,
         @CreatedByUserID = @CreatedByUserID;

    BEGIN TRAN;

    SELECT
        @StatusID = s.ID,
        @StatusCode = s.StatusCode,
        @IsInProgress = s.IsInProgress,
        @SageOrderId = s.SageOrderId,
        @SageOrderNumber = s.SageOrderNumber
    FROM SFin.TransactionSageSubmissionStatus AS s WITH (UPDLOCK, HOLDLOCK)
    WHERE s.TransactionGuid = @TransactionGuid
      AND s.RowStatus NOT IN (0, 254);

    IF (@StatusCode = N'Succeeded')
    BEGIN
        SELECT
            CAST(0 AS bit) AS ClaimAcquired,
            CAST(1 AS bit) AS AlreadyProcessed,
            CAST(0 AS bit) AS InProgressElsewhere,
            ISNULL(@SageOrderId, N'') AS SageOrderId,
            ISNULL(@SageOrderNumber, N'') AS SageOrderNumber,
            N'The transaction has already been successfully submitted to Sage.' AS [Message];

        COMMIT TRAN;
        RETURN;
    END;

    IF (@IsInProgress = 1)
    BEGIN
        SELECT
            CAST(0 AS bit) AS ClaimAcquired,
            CAST(0 AS bit) AS AlreadyProcessed,
            CAST(1 AS bit) AS InProgressElsewhere,
            ISNULL(@SageOrderId, N'') AS SageOrderId,
            ISNULL(@SageOrderNumber, N'') AS SageOrderNumber,
            N'The transaction is currently being processed elsewhere.' AS [Message];

        COMMIT TRAN;
        RETURN;
    END;

    UPDATE SFin.TransactionSageSubmissionStatus
    SET
        LastTransitionGuid = @TransitionGuid,
        LastOperationName = N'CreateSalesOrder',
        StatusCode = N'InProgress',
        IsInProgress = 1,
        InProgressClaimedOnUtc = SYSUTCDATETIME(),
        UpdatedDateTimeUTC = SYSUTCDATETIME(),
        UpdatedByUserID = ISNULL(@CreatedByUserID, -1)
    WHERE ID = @StatusID;

    SELECT
        CAST(1 AS bit) AS ClaimAcquired,
        CAST(0 AS bit) AS AlreadyProcessed,
        CAST(0 AS bit) AS InProgressElsewhere,
        CAST(N'' AS nvarchar(100)) AS SageOrderId,
        CAST(N'' AS nvarchar(100)) AS SageOrderNumber,
        N'Claim acquired.' AS [Message];

    COMMIT TRAN;
END;
GO
