/****** Object:  Table [SFin].[TransactionSageSubmissionAttempts]    Script Date: 31/03/2026 14:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SFin].[TransactionSageSubmissionAttempts](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RowStatus] [tinyint] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[SubmissionStatusID] [bigint] NOT NULL,
	[TransactionID] [bigint] NOT NULL,
	[TransactionGuid] [uniqueidentifier] NOT NULL,
	[TransitionGuid] [uniqueidentifier] NOT NULL,
	[OperationName] [nvarchar](100) NOT NULL,
	[AttemptedOnUtc] [datetime2](7) NOT NULL,
	[CompletedOnUtc] [datetime2](7) NULL,
	[IsSuccess] [bit] NOT NULL,
	[IsRetryableFailure] [bit] NOT NULL,
	[SageOrderId] [nvarchar](100) NULL,
	[SageOrderNumber] [nvarchar](100) NULL,
	[ResponseStatus] [nvarchar](50) NULL,
	[ResponseDetail] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[RequestPayloadJson] [nvarchar](max) NULL,
	[ResponsePayloadJson] [nvarchar](max) NULL,
	[CreatedDateTimeUTC] [datetime2](7) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_TransactionSageSubmissionAttempts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TransactionSageSubmissionAttempts_Guid] UNIQUE NONCLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionSageSubmissionAttempts_TransactionGuid_AttemptedOnUtc]    Script Date: 31/03/2026 14:00:45 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionSageSubmissionAttempts_TransactionGuid_AttemptedOnUtc] ON [SFin].[TransactionSageSubmissionAttempts]
(
	[TransactionGuid] ASC,
	[AttemptedOnUtc] DESC
)
INCLUDE([TransitionGuid],[IsSuccess],[IsRetryableFailure],[SageOrderId],[SageOrderNumber],[ResponseStatus]) 
WHERE ([RowStatus]<>(0) AND [RowStatus]<>(254))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] ADD  CONSTRAINT [DF_TransactionSageSubmissionAttempts_RowStatus]  DEFAULT ((1)) FOR [RowStatus]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] ADD  CONSTRAINT [DF_TransactionSageSubmissionAttempts_Guid]  DEFAULT (newid()) FOR [Guid]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] ADD  CONSTRAINT [DF_TransactionSageSubmissionAttempts_OperationName]  DEFAULT (N'CreateSalesOrder') FOR [OperationName]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] ADD  CONSTRAINT [DF_TransactionSageSubmissionAttempts_AttemptedOnUtc]  DEFAULT (sysutcdatetime()) FOR [AttemptedOnUtc]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] ADD  CONSTRAINT [DF_TransactionSageSubmissionAttempts_IsSuccess]  DEFAULT ((0)) FOR [IsSuccess]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] ADD  CONSTRAINT [DF_TransactionSageSubmissionAttempts_IsRetryableFailure]  DEFAULT ((0)) FOR [IsRetryableFailure]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] ADD  CONSTRAINT [DF_TransactionSageSubmissionAttempts_CreatedDateTimeUTC]  DEFAULT (sysutcdatetime()) FOR [CreatedDateTimeUTC]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] ADD  CONSTRAINT [DF_TransactionSageSubmissionAttempts_CreatedByUserID]  DEFAULT ((-1)) FOR [CreatedByUserID]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts]  WITH CHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionAttempts_CreatedBy] FOREIGN KEY([CreatedByUserID])
REFERENCES [SCore].[Identities] ([ID])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] CHECK CONSTRAINT [FK_TransactionSageSubmissionAttempts_CreatedBy]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts]  WITH NOCHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionAttempts_DataObjects] FOREIGN KEY([Guid])
REFERENCES [SCore].[DataObjects] ([Guid])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] NOCHECK CONSTRAINT [FK_TransactionSageSubmissionAttempts_DataObjects]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts]  WITH CHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionAttempts_RowStatus] FOREIGN KEY([RowStatus])
REFERENCES [SCore].[RowStatus] ([ID])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] CHECK CONSTRAINT [FK_TransactionSageSubmissionAttempts_RowStatus]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts]  WITH CHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionAttempts_Status] FOREIGN KEY([SubmissionStatusID])
REFERENCES [SFin].[TransactionSageSubmissionStatus] ([ID])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] CHECK CONSTRAINT [FK_TransactionSageSubmissionAttempts_Status]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts]  WITH CHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionAttempts_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [SFin].[Transactions] ([ID])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionAttempts] CHECK CONSTRAINT [FK_TransactionSageSubmissionAttempts_Transactions]
GO
