/****** Object:  StoredProcedure [SFin].[TransactionSageSubmissionStatus_MarkSuccess]    Script Date: 31/03/2026 14:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [SFin].[TransactionSageSubmissionStatus_MarkSuccess]
(
    @TransactionGuid     UNIQUEIDENTIFIER,
    @TransitionGuid      UNIQUEIDENTIFIER,
    @SageOrderId         NVARCHAR(100),
    @SageOrderNumber     NVARCHAR(100),
    @ResponseStatus      NVARCHAR(50) = NULL,
    @ResponseDetail      NVARCHAR(MAX) = NULL,
    @RequestPayloadJson  NVARCHAR(MAX) = NULL,
    @ResponsePayloadJson NVARCHAR(MAX) = NULL,
    @UpdatedByUserID     INT = -1
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE
        @StatusID BIGINT,
        @TransactionID BIGINT;

    BEGIN TRAN;

    SELECT
        @StatusID = s.ID,
        @TransactionID = s.TransactionID
    FROM SFin.TransactionSageSubmissionStatus AS s WITH (UPDLOCK, HOLDLOCK)
    WHERE s.TransactionGuid = @TransactionGuid
      AND s.RowStatus NOT IN (0, 254);

    UPDATE SFin.TransactionSageSubmissionStatus
    SET
        LastTransitionGuid = @TransitionGuid,
        LastOperationName = N'CreateSalesOrder',
        StatusCode = N'Succeeded',
        IsInProgress = 0,
        InProgressClaimedOnUtc = NULL,
        LastSucceededOnUtc = SYSUTCDATETIME(),
        SageOrderId = @SageOrderId,
        SageOrderNumber = @SageOrderNumber,
        LastError = NULL,
        LastErrorIsRetryable = NULL,
        UpdatedDateTimeUTC = SYSUTCDATETIME(),
        UpdatedByUserID = ISNULL(@UpdatedByUserID, -1)
    WHERE ID = @StatusID;

    EXEC [SFin].[TransactionSageSubmissionAttempt_Insert]
         @SubmissionStatusID  = @StatusID,
         @TransactionID       = @TransactionID,
         @TransactionGuid     = @TransactionGuid,
         @TransitionGuid      = @TransitionGuid,
         @OperationName       = N'CreateSalesOrder',
         @IsSuccess           = 1,
         @IsRetryableFailure  = 0,
         @SageOrderId         = @SageOrderId,
         @SageOrderNumber     = @SageOrderNumber,
         @ResponseStatus      = @ResponseStatus,
         @ResponseDetail      = @ResponseDetail,
         @ErrorMessage        = NULL,
         @RequestPayloadJson  = @RequestPayloadJson,
         @ResponsePayloadJson = @ResponsePayloadJson,
         @CreatedByUserID     = @UpdatedByUserID;

    COMMIT TRAN;
END;
GO
