/****** Object:  StoredProcedure [SFin].[TransactionSageSubmissionStatus_Ensure]    Script Date: 31/03/2026 14:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [SFin].[TransactionSageSubmissionStatus_Ensure]
(
    @TransactionID       BIGINT,
    @TransactionGuid     UNIQUEIDENTIFIER,
    @TransitionGuid      UNIQUEIDENTIFIER = NULL,
    @CreatedByUserID     INT = -1
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @StatusGuid UNIQUEIDENTIFIER;
    DECLARE @IsInsert BIT;

    IF NOT EXISTS
    (
        SELECT 1
        FROM SFin.TransactionSageSubmissionStatus
        WHERE TransactionGuid = @TransactionGuid
          AND RowStatus NOT IN (0, 254)
    )
    BEGIN
        SET @StatusGuid = NEWID();

        EXEC SCore.UpsertDataObject
             @Guid       = @StatusGuid,
             @SchemeName = N'SFin',
             @ObjectName = N'TransactionSageSubmissionStatus',
             @IsInsert   = @IsInsert OUTPUT;

        INSERT INTO SFin.TransactionSageSubmissionStatus
        (
            RowStatus,
            Guid,
            TransactionID,
            TransactionGuid,
            LastTransitionGuid,
            LastOperationName,
            StatusCode,
            IsInProgress,
            CreatedDateTimeUTC,
            CreatedByUserID,
            UpdatedDateTimeUTC,
            UpdatedByUserID
        )
        VALUES
        (
            1,
            @StatusGuid,
            @TransactionID,
            @TransactionGuid,
            @TransitionGuid,
            N'CreateSalesOrder',
            N'Pending',
            0,
            SYSUTCDATETIME(),
            ISNULL(@CreatedByUserID, -1),
            SYSUTCDATETIME(),
            ISNULL(@CreatedByUserID, -1)
        );
    END
END;
GO
