/****** Object:  Table [SFin].[TransactionSageSubmissionStatus]    Script Date: 31/03/2026 14:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SFin].[TransactionSageSubmissionStatus](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RowStatus] [tinyint] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[Guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[TransactionID] [bigint] NOT NULL,
	[TransactionGuid] [uniqueidentifier] NOT NULL,
	[LastTransitionGuid] [uniqueidentifier] NULL,
	[LastOperationName] [nvarchar](100) NOT NULL,
	[StatusCode] [nvarchar](30) NOT NULL,
	[IsInProgress] [bit] NOT NULL,
	[InProgressClaimedOnUtc] [datetime2](7) NULL,
	[LastSucceededOnUtc] [datetime2](7) NULL,
	[LastFailedOnUtc] [datetime2](7) NULL,
	[SageOrderId] [nvarchar](100) NULL,
	[SageOrderNumber] [nvarchar](100) NULL,
	[LastError] [nvarchar](max) NULL,
	[LastErrorIsRetryable] [bit] NULL,
	[CreatedDateTimeUTC] [datetime2](7) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[UpdatedDateTimeUTC] [datetime2](7) NOT NULL,
	[UpdatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK_TransactionSageSubmissionStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TransactionSageSubmissionStatus_Guid] UNIQUE NONCLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TransactionSageSubmissionStatus_StatusCode]    Script Date: 31/03/2026 14:00:45 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionSageSubmissionStatus_StatusCode] ON [SFin].[TransactionSageSubmissionStatus]
(
	[StatusCode] ASC,
	[IsInProgress] ASC
)
INCLUDE([TransactionGuid],[SageOrderId],[SageOrderNumber],[LastSucceededOnUtc],[LastFailedOnUtc]) 
WHERE ([RowStatus]<>(0) AND [RowStatus]<>(254))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TransactionSageSubmissionStatus_TransactionGuid_Active]    Script Date: 31/03/2026 14:00:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TransactionSageSubmissionStatus_TransactionGuid_Active] ON [SFin].[TransactionSageSubmissionStatus]
(
	[TransactionGuid] ASC
)
WHERE ([RowStatus]<>(0) AND [RowStatus]<>(254))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_RowStatus]  DEFAULT ((1)) FOR [RowStatus]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_Guid]  DEFAULT (newid()) FOR [Guid]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_LastOperationName]  DEFAULT (N'CreateSalesOrder') FOR [LastOperationName]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_StatusCode]  DEFAULT (N'Pending') FOR [StatusCode]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_IsInProgress]  DEFAULT ((0)) FOR [IsInProgress]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_CreatedDateTimeUTC]  DEFAULT (sysutcdatetime()) FOR [CreatedDateTimeUTC]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_CreatedByUserID]  DEFAULT ((-1)) FOR [CreatedByUserID]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_UpdatedDateTimeUTC]  DEFAULT (sysutcdatetime()) FOR [UpdatedDateTimeUTC]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] ADD  CONSTRAINT [DF_TransactionSageSubmissionStatus_UpdatedByUserID]  DEFAULT ((-1)) FOR [UpdatedByUserID]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus]  WITH CHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionStatus_CreatedBy] FOREIGN KEY([CreatedByUserID])
REFERENCES [SCore].[Identities] ([ID])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] CHECK CONSTRAINT [FK_TransactionSageSubmissionStatus_CreatedBy]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus]  WITH NOCHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionStatus_DataObjects] FOREIGN KEY([Guid])
REFERENCES [SCore].[DataObjects] ([Guid])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] NOCHECK CONSTRAINT [FK_TransactionSageSubmissionStatus_DataObjects]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus]  WITH CHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionStatus_RowStatus] FOREIGN KEY([RowStatus])
REFERENCES [SCore].[RowStatus] ([ID])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] CHECK CONSTRAINT [FK_TransactionSageSubmissionStatus_RowStatus]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus]  WITH CHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionStatus_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [SFin].[Transactions] ([ID])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] CHECK CONSTRAINT [FK_TransactionSageSubmissionStatus_Transactions]
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus]  WITH CHECK ADD  CONSTRAINT [FK_TransactionSageSubmissionStatus_UpdatedBy] FOREIGN KEY([UpdatedByUserID])
REFERENCES [SCore].[Identities] ([ID])
GO
ALTER TABLE [SFin].[TransactionSageSubmissionStatus] CHECK CONSTRAINT [FK_TransactionSageSubmissionStatus_UpdatedBy]
GO
