-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 15/12/2025 14:29:15
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Enable foreign key [FK_DataObjectTransition_DataObjects] on table [SCore].[DataObjectTransition]
--
ALTER TABLE [SCore].[DataObjectTransition]
  CHECK CONSTRAINT [FK_DataObjectTransition_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_Quotes_DataObjects] on table [SSop].[Quotes]
--
ALTER TABLE [SSop].[Quotes]
  CHECK CONSTRAINT [FK_Quotes_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_EnquiryServices_DataObjects] on table [SSop].[EnquiryServices]
--
ALTER TABLE [SSop].[EnquiryServices]
  CHECK CONSTRAINT [FK_EnquiryServices_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_QuoteItems_DataObjects] on table [SSop].[QuoteItems]
--
ALTER TABLE [SSop].[QuoteItems]
  CHECK CONSTRAINT [FK_QuoteItems_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Enquiry_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Enquiry_CalculatedFields]
	--WITH SCHEMABINDING
AS
SELECT
    e.ID,
    EnquiryStatus =
        CASE
            ------------------------------------------------------------------
            -- CYB-103: If no quotes exist, do NOT show quoting indicators.
            ------------------------------------------------------------------
            WHEN ISNULL(QuoteAgg.TotalQuotes, 0) = 0
                 AND s.QuotingStatus IN (N'Quoting', N'Sent', N'Part Sent')
            THEN N'New'

            ------------------------------------------------------------------
            -- 0. All quotes expired and no positive quote statuses -> Expired
            ------------------------------------------------------------------
            WHEN ISNULL(QuoteAgg.AnyPositive, 0) = 0
                 AND ISNULL(QuoteAgg.AnyExpired, 0) = 1
            THEN N'Expired'

            ----------------------------------------------
            -- 1. All quotes Complete -> Complete
            ----------------------------------------------
            WHEN ISNULL(QuoteAgg.TotalQuotes, 0) > 0
                 AND ISNULL(QuoteAgg.CompletedQuotes, 0) = ISNULL(QuoteAgg.TotalQuotes, 0)
            THEN N'Complete'

            --------------------------------------------------------------------
            -- 1b. Some Complete / Part Complete -> Part Complete
            --------------------------------------------------------------------
            WHEN ISNULL(QuoteAgg.CompletedQuotes, 0)    > 0
              OR ISNULL(QuoteAgg.PartCompleteQuotes, 0) > 0
            THEN N'Part Complete'

            ------------------------------------------------------
            -- 2. TVF status is a final status: use it as-is
            ------------------------------------------------------
            WHEN s.QuotingStatus IS NOT NULL
                 AND s.QuotingStatus NOT IN (N'Sent', N'Part Sent', N'Quoting')
            THEN s.QuotingStatus

            ----------------------------------------------------------------
            -- 3. Transitional statuses: if signals exist, map to deadlines/chase etc
            ----------------------------------------------------------------
            WHEN s.QuotingStatus IN (N'Sent', N'Part Sent', N'Quoting')
                 AND (
                        e.DeadDate            IS NOT NULL
                     OR e.DeclinedToQuoteDate IS NOT NULL
                     OR e.QuotingDeadlineDate <  GETDATE()
                     OR e.QuotingDeadlineDate <  DATEADD(DAY, 2, GETDATE())
                     OR e.ChaseDate2         IS NOT NULL
                     OR e.ChaseDate1         IS NOT NULL
                     OR (e.IsReadyForQuoteReview = 1 AND ISNULL(QuoteAgg.SentQuotes, 0) = 0)
                     OR ISNULL(Trans.HasDead,          0) = 1
                     OR ISNULL(Trans.HasDeclined,      0) = 1
                     OR ISNULL(Trans.HasFirstChase,    0) = 1
                     OR ISNULL(Trans.HasSecondChase,   0) = 1
                     OR ISNULL(Trans.HasReadyForQuote, 0) = 1
                 )
            THEN
                CASE
                    WHEN e.DeadDate IS NOT NULL OR ISNULL(Trans.HasDead, 0) = 1
                    THEN N'Dead'

                    WHEN e.DeclinedToQuoteDate IS NOT NULL OR ISNULL(Trans.HasDeclined, 0) = 1
                    THEN N'Declined'

                    WHEN e.QuotingDeadlineDate < GETDATE()
                    THEN N'Deadline Missed'

                    WHEN e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE())
                    THEN N'Deadline Approaching'

                    WHEN e.ChaseDate2 IS NOT NULL OR ISNULL(Trans.HasSecondChase, 0) = 1
                    THEN N'2nd Chase'

                    WHEN e.ChaseDate1 IS NOT NULL OR ISNULL(Trans.HasFirstChase, 0) = 1
                    THEN N'1st Chase'

                    WHEN ((e.IsReadyForQuoteReview = 1 AND ISNULL(QuoteAgg.SentQuotes, 0) = 0)
                          OR ISNULL(Trans.HasReadyForQuote, 0) = 1)
                         AND s.QuotingStatus NOT IN (N'Quoting')
                    THEN N'Ready for Quote'

                    ELSE s.QuotingStatus
                END

            -------------------------------------------------------------
            -- 4. No quotes yet: show latest enquiry workflow status
            -------------------------------------------------------------
            WHEN ISNULL(QuoteAgg.TotalQuotes, 0) = 0
                 AND LastEnqStatus.Name IS NOT NULL
                 AND LastEnqStatus.Name <> N'N/A'
            THEN LastEnqStatus.Name

            -------------------------------------------------------------
            -- 5. Fallback
            -------------------------------------------------------------
            WHEN s.QuotingStatus IS NOT NULL
            THEN s.QuotingStatus

            ELSE N'New'
        END
FROM SSop.Enquiries e
OUTER APPLY SSop.Tvf_GetEnquiryStatuses(e.Id) AS s
OUTER APPLY
(
    SELECT TOP (1) wfs.Name
    FROM SCore.DataObjectTransition dot
    JOIN SCore.WorkflowStatus wfs ON wfs.ID = dot.StatusID
    WHERE dot.DataObjectGuid = e.Guid
      AND dot.RowStatus NOT IN (0,254)
      AND wfs.RowStatus NOT IN (0,254)
      AND wfs.ShowInEnquiries = 1
    ORDER BY dot.ID DESC
) AS LastEnqStatus
OUTER APPLY
(
    SELECT
        HasDead =
            MAX(CASE WHEN ws.ShowInEnquiries = 1 AND ws.Name = N'Dead' THEN 1 ELSE 0 END),
        HasDeclined =
            MAX(CASE WHEN ws.ShowInEnquiries = 1 AND ws.Name = N'Declined' THEN 1 ELSE 0 END),
        HasFirstChase =
            MAX(CASE WHEN ws.ShowInEnquiries = 1 AND ws.Name = N'1st Chase' THEN 1 ELSE 0 END),
        HasSecondChase =
            MAX(CASE WHEN ws.ShowInEnquiries = 1 AND ws.Name = N'2nd Chase' THEN 1 ELSE 0 END),
        HasReadyForQuote =
            MAX(CASE WHEN ws.ShowInEnquiries = 1 AND ws.Name = N'Ready for Quote' THEN 1 ELSE 0 END)
    FROM SCore.DataObjectTransition dot
    JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
    WHERE dot.DataObjectGuid = e.Guid
      AND dot.RowStatus NOT IN (0,254)
      AND ws.RowStatus NOT IN (0,254)
      AND ws.ShowInEnquiries = 1
) AS Trans
OUTER APPLY
(
    SELECT
          AnyPositive =
            SUM(CASE WHEN qcf.QuoteStatus IN (N'Complete', N'Part Complete', N'Ready to Send', N'Quoting') THEN 1 ELSE 0 END)
        , AnyExpired =
            SUM(CASE WHEN qcf.QuoteStatus = N'Expired' THEN 1 ELSE 0 END)
        , TotalQuotes       = COUNT(1)
        , ReadyToSendQuotes =
            SUM(CASE WHEN qcf.QuoteStatus = N'Ready to Send' THEN 1 ELSE 0 END)
        , CompletedQuotes   =
            SUM(CASE WHEN qcf.QuoteStatus = N'Complete' THEN 1 ELSE 0 END)
        , PartCompleteQuotes =
            SUM(CASE WHEN qcf.QuoteStatus = N'Part Complete' THEN 1 ELSE 0 END)
        , SentQuotes =
            SUM(CASE WHEN q.DateSent IS NOT NULL THEN 1 ELSE 0 END)
    FROM SSop.EnquiryServices es
    JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
    JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
    WHERE es.EnquiryId = e.ID
      AND es.RowStatus NOT IN (0,254)
      AND q.RowStatus  NOT IN (0,254)
) AS QuoteAgg;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO