-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 22/12/2025 14:16:46
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Enable foreign key [FK_DataObjectTransition_DataObjects] on table [SCore].[DataObjectTransition]
--
ALTER TABLE [SCore].[DataObjectTransition]
  CHECK CONSTRAINT [FK_DataObjectTransition_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_EnquiryServices_DataObjects] on table [SSop].[EnquiryServices]
--
ALTER TABLE [SSop].[EnquiryServices]
  CHECK CONSTRAINT [FK_EnquiryServices_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_Quotes_DataObjects] on table [SSop].[Quotes]
--
ALTER TABLE [SSop].[Quotes]
  CHECK CONSTRAINT [FK_Quotes_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_QuoteItems_DataObjects] on table [SSop].[QuoteItems]
--
ALTER TABLE [SSop].[QuoteItems]
  CHECK CONSTRAINT [FK_QuoteItems_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO