-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 24/11/2025 14:14:09
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Create or alter procedure [SCore].[WorkflowUpsert]
--
GO
CREATE OR ALTER PROCEDURE [SCore].[WorkflowUpsert]
	(	
		@Guid					UNIQUEIDENTIFIER,
		@RowStatus				TINYINT,
		@EntityTypeGuid			UNIQUEIDENTIFIER,
		@Name					NVARCHAR(100),
		@Description			NVARCHAR(400),
		@Enabled				BIT,
		@OrganisationalUnitGuid UNIQUEIDENTIFIER
	)
AS
BEGIN
	SET NOCOUNT ON 

	DECLARE @UserID INT;--
	DECLARE @OrganisationalUnitId INT;
	DECLARE @EntityTypeID INT;
	DECLARE @EntityHoBTID INT;
	


	--Get the current user ID.
	SELECT @UserID = ISNULL(CONVERT(int, SESSION_CONTEXT(N'user_id')), -1);

	
	--Get the user's organisation unit.
	--SELECT @OrganisationalUnitId = OriganisationalUnitId
	--FROM SCore.Identities
	--WHERE ID = @UserID;

	SELECT @OrganisationalUnitId = ID
	FROM SCore.OrganisationalUnits
	WHERE Guid = @OrganisationalUnitGuid;


	--Check if the current workflow is a default one (will have the OrganisationalUnitId set to -1
	--If exists, reset to -1. Default workflows should not have their org unit updated!
	IF(EXISTS(SELECT 1 FROM SCore.Workflow WHERE Guid = @Guid AND OrganisationalUnitId = -1))
	
		SET @OrganisationalUnitId = -1;

	--Get the Entity Type ID.
	SELECT @EntityTypeID = ID 
	FROM SCore.EntityTypes
	WHERE Guid = @EntityTypeGuid;

	--Next, get the Entity Hobt ID
	SELECT @EntityHoBTID = etb.ID 
	FROM SCore.EntityHobts AS etb
	LEFT JOIN SCore.EntityTypes AS et ON (et.Name = etb.ObjectName)
	WHERE et.ID = @EntityTypeID;

	
	IF(@OrganisationalUnitId <> -1)
	BEGIN
	-- Throw an error if the user is trying to create a workflow for an entity type
	-- that already has an enabled workflow against it.
		IF(EXISTS
			(
				SELECT 1 
				FROM SCore.Workflow
				JOIN SCore.Identities AS I ON (I.ID = @UserID)
				WHERE 
					(OrganisationalUnitId = @OrganisationalUnitId) AND
					(EntityTypeID = @EntityTypeID) AND
					(Enabled = 1) 
			) AND @Enabled = 1
		)
		BEGIN 
			;THROW 60000, N'There is already an enabled workflow this entity type. Please, disable the active one before creating a new one. ', 1
		END
	END;


	DECLARE @IsInsert BIT = 0;
	EXEC SCore.UpsertDataObject @Guid = @Guid,					-- uniqueidentifier
								@SchemeName = N'SCore',			-- nvarchar(255)
								@ObjectName = N'Workflow',		-- nvarchar(255)
								@IncludeDefaultSecurity = 1,
								@IsInsert = @IsInsert OUTPUT;	-- bit

	IF (@IsInsert = 1)
	BEGIN


		 --Create a temporary table to hold the results - will be used
		 --to add default transitions to c
		CREATE TABLE #WorkflowTransitions
		(
			ID INT,
			FromStatus UNIQUEIDENTIFIER,
			ToStatus UNIQUEIDENTIFIER,
			IsFinal BIT,
			IsEnabled BIT,
			SortOrder INT,
			Description NVARCHAR(255)
		);


		--Start by creating the workflow
		INSERT	SCore.Workflow
			 (
				
				RowStatus,
				Guid,
				OrganisationalUnitId,
				EntityTypeID,
				EntityHoBTID,
				Name,
				Description,
				Enabled
			 )
		VALUES
			 (
				 1,
				 @Guid,
				 @OrganisationalUnitId,
				 @EntityTypeID,
				 @EntityHoBTID,
				 @Name,
				 @Description,
				 @Enabled
			 );

		

		
		-- Now, we add the default transitions that should be automatically added.
		INSERT INTO #WorkflowTransitions
		SELECT 
			wft.ID AS ID,
			wfsFrom.Guid AS FromStatus,
			wfsTo.Guid AS ToStatus,
			wft.IsFinal AS IsFinal,
			wft.Enabled AS IsEnabled,
			wft.SortOrder,
			wft.Description
		FROM SCore.Workflow AS wf
		JOIN SCore.EntityTypes AS et ON wf.EntityTypeID = et.ID
		JOIN SCore.WorkflowTransition AS wft ON wft.WorkflowID = wf.ID
		JOIN SCore.WorkflowStatus AS wfsFrom ON wft.FromStatusID = wfsFrom.ID
		JOIN SCore.WorkflowStatus AS wfsTo ON wft.ToStatusID = wfsTo.ID
		WHERE 
			et.Guid = @EntityTypeGuid
			AND wft.RowStatus NOT IN (0,254)
			AND wf.RowStatus NOT IN (0,254)
			AND wf.OrganisationalUnitId = -1;



		DECLARE 
		@ID INT,
        @FromStatus UNIQUEIDENTIFIER,
        @ToStatus UNIQUEIDENTIFIER,
        @IsFinal BIT,
        @IsEnabled BIT,
        @SortOrder INT,
        @WorkflowTransitionDescription NVARCHAR(400)

	    -- Loop until table is empty
		WHILE EXISTS (SELECT 1 FROM #WorkflowTransitions)
		BEGIN
			-- Grab the "top" row (any one row)
			SELECT TOP 1
				@ID = ID,
				@FromStatus = FromStatus,
				@ToStatus = ToStatus,
				@IsFinal = IsFinal,
				@IsEnabled = IsEnabled,
				@SortOrder = SortOrder,
				@WorkflowTransitionDescription = Description
			FROM #WorkflowTransitions
			ORDER BY ID;

			DECLARE @WorkflowTransitionGuid UNIQUEIDENTIFIER = NEWID();

			--Add the default workflow transitions
			EXEC [SCore].[WorkflowTransitionUpsert]
			@Guid = @WorkflowTransitionGuid,
			@WorkflowGuid = @Guid,
			@FromStatusGuid = @FromStatus,
			@ToStatusGuid = @ToStatus,
			@IsFinal = @IsFinal,
			@SortOrder = @SortOrder,
			@Enabled = @IsEnabled,
			@Description = @WorkflowTransitionDescription;



			-- Delete the row we just processed
			DELETE TOP (1)
			FROM #WorkflowTransitions
			WHERE ID = @ID
			
		END;
		


	END;
	ELSE
	BEGIN
		UPDATE	SCore.Workflow
		SET		
			RowStatus				= 1,
			Guid					= @Guid,
			OrganisationalUnitId	= @OrganisationalUnitId,
			EntityTypeID			= @EntityTypeID,
			EntityHoBTID			= @EntityHoBTID,
			Name					= @Name,
			Description				= @Description,
			Enabled					= @Enabled
		WHERE	(Guid = @Guid);
	END;


END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SCore].[tvf_WorkflowValidate]
--
GO
CREATE OR ALTER FUNCTION [SCore].[tvf_WorkflowValidate]
	(
		@Guid			UNIQUEIDENTIFIER,
		@Name			NVARCHAR(200),
		@Description	NVARCHAR(800),
		@EntityTypeGuid UNIQUEIDENTIFIER,
		@IsEnabled		BIT,
		@OrgUnitGuid    UNIQUEIDENTIFIER
	)
RETURNS @ValidationResult TABLE
	(
		ID INT IDENTITY(1, 1) NOT NULL,
		TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
		TargetType CHAR(1) NOT NULL DEFAULT (''),
		IsReadOnly BIT NOT NULL DEFAULT ((0)),
		IsHidden BIT NOT NULL DEFAULT ((0)),
		IsInvalid BIT NOT NULL DEFAULT ((0)),
		IsInformationOnly BIT NOT NULL DEFAULT ((0)),
		Message NVARCHAR(2000) NOT NULL DEFAULT ('')
	)
AS
BEGIN
	
	--Get the entity type we work with - just the "Name" field.
	DECLARE @EntityTypeForWorkflow NVARCHAR(250) = N'';
	DECLARE @EntityTypeID		  INT;
	DECLARE @OrgUnitID INT;
	DECLARE @WorkflowID INT;
	
	--Entity type name + ID.
	SELECT 
		@EntityTypeForWorkflow = Name,
		@EntityTypeID = ID
	FROM SCore.EntityTypes
	WHERE Guid = @EntityTypeGuid;

	--Get the workflow ID
	SELECT @WorkflowID = ID
	FROM SCore.Workflow 
	WHERE Guid = @Guid

	SELECT @OrgUnitID = ID
	FROM SCore.OrganisationalUnits
	WHERE Guid = @OrgUnitGuid;



	


	--If the workflow is new
	IF (NOT EXISTS(SELECT 1 FROM SCore.Workflow WHERE Guid = @Guid))
	BEGIN

		
		--Only show basic info. fields.
		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		SELECT	epfvv.Guid,
				N'P',
				0,
				1,
				0,
				N''
		FROM	SCore.EntityPropertiesForValidationV AS epfvv
		WHERE	epfvv.[Schema] = N'SCore'
			AND epfvv.Hobt	   = N'Workflow'
			AND epfvv.Name NOT IN (N'Name', N'Description', N'EntityTypeID', N'OrganisationalUnitId');


		IF(@Name = N'')
		BEGIN
			--Compulsory fields.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'Name is compulsory.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Name');
		END;


		IF(@EntityTypeGuid = N'00000000-0000-0000-0000-000000000000')
		BEGIN
			--Compulsory fields.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'Name is compulsory.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'EntityTypeID');
		END;
	END;


	--If the workflow exists...
	IF(EXISTS(SELECT 1 FROM SCore.Workflow WHERE Guid = @Guid ))
	BEGIN
			-- ...lock the entity type field to prevent from changing it.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					1,
					0,
					0,
					N''
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'EntityTypeID');

			IF(@OrgUnitID = -1)
			BEGIN
				--Compulsory fields.
				INSERT	@ValidationResult
						(TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
				SELECT	epfvv.Guid,
						N'P',
						1,
						0,
						0,
						N''
				FROM	SCore.EntityPropertiesForValidationV AS epfvv
				WHERE	epfvv.[Schema] = N'SCore'
					AND epfvv.Hobt	   = N'Workflow'
			END;
	END;


	


	--Check if the user is trying to enable a workflow when there is an already active one.
	IF(@IsEnabled = 1)
	BEGIN

		--Check if there is already an enabled one for the entity type.
		IF(EXISTS
			(
				SELECT 1 
				FROM SCore.Workflow
				WHERE 
					(Enabled = 1) AND
					(EntityTypeID = @EntityTypeID) AND
					(OrganisationalUnitId = @OrgUnitID) AND
					(Guid <> @Guid)
			)
		 )
		 BEGIN
			 INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'There is already an active workflow for this entity type.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Enabled');
		 END;
	--Check if the user is trying to enable a workflow that has no associated transitions.
	ELSE IF(NOT EXISTS
			(
				SELECT 1 
				FROM SCore.WorkflowTransition AS wft
				WHERE wft.WorkflowID = @WorkflowID
			))
	BEGIN
	 INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'No transitions for workflow - please, add transitions before enabling the workflow!'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Enabled');
	END;

	END;
	
	


	RETURN;
END;

GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SUserInterface].[tvf_WidgetDashBoardDefinitions]
--
GO
CREATE OR ALTER FUNCTION [SUserInterface].[tvf_WidgetDashBoardDefinitions] (@UserId INT)
RETURNS TABLE
	  --WITH SCHEMABINDING
AS
RETURN
(
    -- Select Widget Grid Definitions
    SELECT 
        N'WIDGETGRIDS' AS Type,
        olfu.LabelPlural AS Name,
        gvd.ID,
        gvd.Guid,
        gvd.ROWVERSION,
        gvd.Code,
        gd.Code AS GridCode,
        gvd.GridDefinitionId,
        gvd.SqlQuery,
        gvd.DetailPageUri,
        gvd.DefaultSortColumnName,
        gvd.DisplayGroupName,
        gvd.DisplayOrder,
        gvd.MetricSqlQuery,
        gvd.ShowMetric,
        gvd.IsDetailWindowed,
        i.Name AS DrawerIconCss,
        gvd.IsDefaultSortDescending,
        gvd.AllowNew,
        gvd.AllowExcelExport,
        gvd.AllowPdfExport,
        gvd.AllowCsvExport,
        et.Guid AS EntityTypeGuid,
        gvt.Guid AS GridViewTypeGuid,
        gvd.GridViewTypeId,
        gvd.AllowBulkChange,
        '' AS WidgetDisplayGroupName,
        0 AS WidgetDisplayOrder,
        0 AS [Min], 
        0 AS [Max],
        0 AS [MinorUnit],
        0 AS [MajorUnit],
        0 AS [StartAngle],
        0 AS [EndAngle],
        0 AS [Reverse],
        0 AS Range1MinValue,
        0 AS Range1MaxValue,
        '' AS Range1ColourHex,
        0 AS Range2MinValue,
        0 AS Range2MaxValue,
        '' AS Range2ColourHex,
        '' AS MetricTypeName,
        '00000000-0000-0000-0000-000000000000' AS MetricGuid,
        '' AS GaugeMetricSqlQuery,
        '' AS PageUri
    FROM 
        SUserInterface.GridViewDefinitions gvd
    JOIN 
        SUserInterface.GridDefinitions gd ON gd.ID = gvd.GridDefinitionId
    JOIN 
        SUserInterface.Icons i ON gvd.DrawerIconId = i.ID
    JOIN 
        SUserInterface.GridViewTypes gvt ON gvt.ID = gvd.GridViewTypeId
    JOIN 
        SCore.EntityTypes et ON gvd.EntityTypeID = et.ID
    OUTER APPLY 
        SCore.ObjectLabelForUser(gvd.LanguageLabelID, @UserId) olfu
    WHERE 
        EXISTS (
            SELECT 1 
            FROM SCore.ObjectSecurityForUser_CanRead(gvd.Guid, @UserId) 
        )
		AND 
		EXISTS (
            SELECT 1 
            FROM SCore.ObjectSecurityForUser_CanRead(gd.Guid, @UserId) 
        )
        AND (
				(
					gvd.DisplayOrder <= 1
					AND (
							(gd.Code IN (N'CRM', N'ENQUIRIES', N'FINANCE', N'JOBS', N'MYWORKV2', N'PROJECTS', N'PROPERTIES', N'QUOTES'))
							
					
						)
					AND (gvd.Code <> N'MYCDMPROJECTS')
				)
				OR (gd.Code = N'MYPROJECTS')
				OR (gd.Code = N'SETTINGS' AND gvd.Code = 'USERS')
				OR (gvd.ShowOnDashboard = 1)
			)
		-- These seemed to have creeped in - excluding them (change on 05/03/2025)
		AND (gvd.Code <> N'MYCDMPROJECTS')
		AND (gvd.Code <> N'FINANCEACCOUNTS')
		AND (gvd.Code <> N'USERS')
		AND (gvd.RowStatus NOT IN (0,254))
		

    UNION ALL

    -- Select Widget Gauges
    SELECT 
        N'WIDGETGAUGES' AS Type,
        olfu.LabelPlural,
        0 AS ID,
        '00000000-0000-0000-0000-000000000000' AS Guid,
        0 AS ROWVERSION,
        gvd.Code AS Code,
        gd.Code AS GridCode,
        '' AS GridDefinitionId,
        '' AS SqlQuery,
        '' AS DetailPageUri,
        '' AS DefaultSortColumnName,
        '' AS DisplayGroupName,
        0 AS DisplayOrder,
        '' AS MetricSqlQuery,
        0 AS ShowMetric,
        0 AS IsDetailWindowed,
        '' AS DrawerIconCss,
        0 AS IsDefaultSortDescending,
        0 AS AllowNew,
        0 AS AllowExcelExport,
        0 AS AllowPdfExport,
        0 AS AllowCsvExport,
        '00000000-0000-0000-0000-000000000000' AS EntityTypeGuid,
        '00000000-0000-0000-0000-000000000000' AS GridViewTypeGuid,
        0 AS GridViewTypeId,
        0 AS AllowBulkChange,
        gvd.DisplayGroupName,
        gvd.DisplayOrder,
        gvd.MetricMin,
        gvd.MetricMax,
        gvd.MetricMinorUnit,
        gvd.MetricMajorUnit,
        gvd.MetricStartAngle,
        gvd.MetricEndAngle,
        gvd.MetricReversed,
        gvd.MetricRange1Min,
        gvd.MetricRange1Max,
        gvd.MetricRange1ColourHex,
        gvd.MetricRange2Min,
        gvd.MetricRange2Max,
        gvd.MetricRange2ColourHex,
        mt.Name AS MetricTypeName,
        gvd.Guid AS MetricGuid,
        gvd.MetricSqlQuery,
        gd.PageUri
    FROM 
        SUserInterface.GridViewDefinitions gvd
    JOIN 
        SUserInterface.GridDefinitions gd ON gd.ID = gvd.GridDefinitionId
    JOIN 
        SUserInterface.MetricTypes mt ON mt.ID = gvd.MetricTypeID
    OUTER APPLY 
        SCore.ObjectLabelForUser(gvd.LanguageLabelId, @UserId) olfu
    WHERE 
        gvd.ShowMetric = 1
        AND gvd.RowStatus NOT IN (0, 254)
        AND gd.RowStatus NOT IN (0, 254)
        AND mt.RowStatus NOT IN (0, 254)
        AND EXISTS (
            SELECT 1 
            FROM SCore.ObjectSecurityForUser_CanRead(gvd.Guid, @UserId)
        )
		AND EXISTS (
            SELECT 1 
            FROM SCore.ObjectSecurityForUser_CanRead(gd.Guid, @UserId)
        )

    UNION ALL

    -- Select Widget Layout
    SELECT 
        N'WIDGETLAYOUT' AS Type,
        WidgetLayout,
        0 AS ID,
        '00000000-0000-0000-0000-000000000000' AS Guid,
        0 AS ROWVERSION,
        '' AS Code,
        '' AS GridCode,
        '' AS GridDefinitionId,
        '' AS SqlQuery,
        '' AS DetailPageUri,
        '' AS DefaultSortColumnName,
        '' AS DisplayGroupName,
        0 AS DisplayOrder,
        '' AS MetricSqlQuery,
        0 AS ShowMetric,
        0 AS IsDetailWindowed,
        '' AS DrawerIconCss,
        0 AS IsDefaultSortDescending,
        0 AS AllowNew,
        0 AS AllowExcelExport,
        0 AS AllowPdfExport,
        0 AS AllowCsvExport,
        '00000000-0000-0000-0000-000000000000' AS EntityTypeGuid,
        '00000000-0000-0000-0000-000000000000' AS GridViewTypeGuid,
        0 AS GridViewTypeId,
        0 AS AllowBulkChange,
        '' AS WidgetDisplayGroupName,
        0 AS WidgetDisplayOrder,
        0 AS Min,
        0 AS Max,
        0 AS MinorUnit,
        0 AS MajorUnit,
        0 AS StartAngle,
        0 AS EndAngle,
        0 AS Reverse,
        0 AS Range1MinValue,
        0 AS Range1MaxValue,
        '' AS Range1ColourHex,
        0 AS Range2MinValue,
        0 AS Range2MaxValue,
        '' AS Range2ColourHex,
        '' AS MetricTypeName,
        '00000000-0000-0000-0000-000000000000' AS MetricGuid,
        '' AS GaugeMetricSqlQuery,
        '' AS PageUri
    FROM 
        SCore.UserPreferences
    WHERE 
        ID = @UserId
)


GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SJob].[JobStatus]
--
GO
CREATE OR ALTER VIEW [SJob].[JobStatus]
     --WITH SCHEMABINDING
AS 
SELECT	j.ID,
		CASE 
			--Show custom statuses
			WHEN 
				CurrentWorkflowStatus.Name NOT IN (N'N/A', N'Dormant', N'Cancelled', N'Completed', N'Dead', N'Complete for Review', N'Reviewed', N'Job Started')
			THEN CurrentWorkflowStatus.Name
			WHEN 
				((j.JobCompleted IS NOT NULL) 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dob 
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = dob.StatusID ) 
					WHERE dob.DataObjectGuid = j.Guid AND ws.Guid = Statuses.Completed)) 
			THEN N'Completed'
			WHEN 
				( (j.JobCancelled IS NOT NULL) OR
				EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dob 
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = dob.StatusID ) 
					WHERE dob.DataObjectGuid = j.Guid AND ws.Guid = Statuses.Cancelled)) 
			THEN N'Cancelled'
			WHEN 
				((j.DeadDate IS NOT NULL) 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dob 
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = dob.StatusID ) 
					WHERE dob.DataObjectGuid = j.Guid AND ws.Guid = Statuses.Dead)) 

			THEN N'Dead'
			WHEN 
				( (j.JobDormant IS NOT NULL) 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dob 
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = dob.StatusID ) 
					WHERE dob.DataObjectGuid = j.Guid AND ws.Guid = Statuses.Dormant)) 
			THEN N'Dormant'
			WHEN 
				((j.ReviewedDateTimeUTC IS NOT NULL) 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dob 
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = dob.StatusID ) 
					WHERE dob.DataObjectGuid = j.Guid AND ws.Guid = Statuses.Reviewed)) 
			THEN N'Reviewed'
			WHEN 
				( (j.IsCompleteForReview = 1) 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dob 
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = dob.StatusID ) 
					WHERE dob.DataObjectGuid = j.Guid AND ws.Guid = Statuses.CompleteForReview)) 
			THEN N'Complete for Review'
        WHEN (
                (
                    (j.JobStarted IS NOT NULL) 
                    AND (j.JobCompleted IS NULL)
                    AND (j.JobCancelled IS NULL)
                    AND (j.JobDormant IS NULL)
                    AND (j.IsCompleteForReview = 0)
                    AND (j.ReviewedDateTimeUTC IS NULL)
                    AND (j.DeadDate IS NULL)
                )
                OR (
                    EXISTS (
                        SELECT 1
                        FROM SCore.DataObjectTransition dob
                        JOIN SCore.WorkflowStatus ws ON ws.ID = dob.StatusID
                        WHERE dob.DataObjectGuid = j.Guid 
                          AND ws.Guid = Statuses.Started
                    )
                    AND NOT EXISTS (
                        SELECT 1
                        FROM SCore.DataObjectTransition dob
                        JOIN SCore.WorkflowStatus ws ON ws.ID = dob.StatusID
                        WHERE dob.DataObjectGuid = j.Guid 
                          AND ws.Guid IN (
                              Statuses.Completed,
                              Statuses.Cancelled,
                              Statuses.Dormant,
                              Statuses.CompleteForReview
                          )
                    )
                )
            )
        THEN N'Live'
			WHEN (
				(j.JobStarted IS NULL)  
				OR NOT EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dob
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = dob.StatusID )
					WHERE dob.DataObjectGuid = j.Guid AND ws.Guid = Statuses.Started)) 
			THEN N'Not Started'
			ELSE N'Unknown'
			END AS JobStatus,

			
		p.IsSubjectToNDA
FROM	SJob.Jobs j
JOIN	SSop.Projects AS p ON (p.ID = j.ProjectId)
OUTER APPLY
(	
	SELECT
		Completed			= CONVERT(UNIQUEIDENTIFIER, '20D22623-283B-4088-9CEB-D944AC3E6516' ),
		Cancelled			= CONVERT(UNIQUEIDENTIFIER, '18D8E36B-43BE-4BDE-9D0B-1F34B460AD64' ),
		Dead				= CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D' ),
		Dormant				= CONVERT(UNIQUEIDENTIFIER, '6708FDB6-29A7-4505-A209-F1E785386122' ),
		Reviewed			= CONVERT(UNIQUEIDENTIFIER, '90407454-9FED-4AAC-AB20-669C5821FE7A' ),
		CompleteForReview	= CONVERT(UNIQUEIDENTIFIER, '4BFDB215-3E27-4829-BB44-0468C92DAC82' ),
		Started				= CONVERT(UNIQUEIDENTIFIER, 'FC9AA6A3-79DB-4533-A6A9-B831610F2BDC' )

) AS Statuses
OUTER APPLY
	(
		SELECT wfs1.Name
		FROM SCore.DataObjectTransition AS dot1
		JOIN SCore.WorkflowStatus AS wfs1 ON (wfs1.ID = dot1.StatusID)
		WHERE 
			(dot1.DataObjectGuid = j.Guid)
			AND (dot1.RowStatus NOT IN (0,254))
			AND (NOT EXISTS
					(
						SELECT 1
						FROM SCore.DataObjectTransition AS dot2
						JOIN SCore.WorkflowStatus AS  wfs2 ON (wfs2.ID = dot2.StatusID)
						WHERE 
							(dot2.DataObjectGuid = j.Guid)
							AND (dot2.RowStatus NOT IN (0,254))
							AND (dot2.ID > dot1.ID)
					)
				)
	
	) AS CurrentWorkflowStatus
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SJob].[Jobs_DWETL]
--
EXEC sp_refreshview '[SJob].[Jobs_DWETL]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[Tvf_GetEnquiryStatuses]
--
GO
CREATE OR ALTER FUNCTION [SSop].[Tvf_GetEnquiryStatuses](@id INT)
RETURNS TABLE
    --WITH SCHEMABINDING
AS
RETURN

SELECT
    QuotingStatus =

		--Return custom statuses
        CASE
			WHEN 
				CurrentWorkflowStatus.Name NOT IN (N'N/A', N'Ready for Quote', N'Declined', N'1st Chase', N'2nd Chase', N'Dead')
			THEN CurrentWorkflowStatus.Name
            ----------------------------------------------------------------------
            -- HIGHEST PRIORITY: Dead or Declined at Enquiry level
            ----------------------------------------------------------------------
			/*
				NOTE: Added back the old way of checking statuses. This is to ensure that old records 
					  (which use the old status fields) still display the statuses correctly. 
			*/
			WHEN 
				( (e.DeadDate IS NOT NULL)  
					OR EXISTS(
						SELECT 1 
						FROM SCore.DataObjectTransition 
						JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
						WHERE 
							DataObjectGuid = e.Guid AND 
							ws.Guid = RecordStatuses.Dead))
			THEN N'Dead'
			WHEN 
				((e.DeclinedToQuoteDate IS NOT NULL) 
					OR EXISTS(
						SELECT 1 
						FROM SCore.DataObjectTransition 
						JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
						WHERE 
							DataObjectGuid = e.Guid AND 
							ws.Guid = RecordStatuses.Declined))
			THEN N'Declined'
			WHEN e.QuotingDeadlineDate < GETDATE() THEN N'Deadline Missed'
			WHEN e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE()) THEN N'Deadline Approaching'

            ----------------------------------------------------------------------
            -- NEW: No services exist (fallback only if no final status above)
            ----------------------------------------------------------------------
            WHEN NOT EXISTS (
                SELECT 1
                FROM SSop.EnquiryServices es
                WHERE es.EnquiryId = e.ID AND es.RowStatus NOT IN (0, 254)
            ) THEN N'New'

            ----------------------------------------------------------------------
            -- COMPLETE: All services either Rejected OR Accepted+Job created
            ----------------------------------------------------------------------
            WHEN NOT EXISTS (
                SELECT 1
                FROM SSop.EnquiryServices es
                WHERE es.EnquiryId = e.ID AND es.RowStatus NOT IN (0, 254)
                AND NOT (
                    EXISTS (
                        SELECT 1
                        FROM SSop.Quotes q
                        JOIN SSop.QuoteItems qi ON qi.QuoteId = q.ID
                        WHERE 
							(q.EnquiryServiceID = es.ID)
							AND qi.RowStatus NOT IN (0, 254)
							AND qi.CreatedJobId > 0
							AND (EXISTS
							(
								SELECT 1 
								FROM SCore.DataObjectTransition 
								JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
								WHERE 
									DataObjectGuid = q.Guid AND 
									ws.Guid = RecordStatuses.Accepted
							) OR q.DateAccepted IS NOT NULL )
							
							
                    )
                    OR EXISTS (
                        SELECT 1
                        FROM SSop.Quotes q
                        WHERE q.EnquiryServiceID = es.ID AND 
						(EXISTS
						(
							SELECT 1 
							FROM SCore.DataObjectTransition 
							JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
							WHERE 
								DataObjectGuid = q.Guid AND 
								ws.Guid = RecordStatuses.Rejected

						) OR q.DateRejected IS NOT NULL )
						
                    )
                )
            ) THEN N'Complete'

            ----------------------------------------------------------------------
            -- PART COMPLETE: Mix of accepted/rejected and incomplete services
            ----------------------------------------------------------------------
            WHEN EXISTS (
                SELECT 1
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.QuoteItems qi ON q.ID = qi.QuoteId
                WHERE es.EnquiryId = e.ID
                  AND es.RowStatus NOT IN (0,254)
				  AND EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition 
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
					WHERE 
						DataObjectGuid = q.Guid AND 
						ws.Guid = RecordStatuses.Accepted)  --Accepted
                  AND qi.RowStatus NOT IN (0,254)
                  AND qi.CreatedJobId > 0
            )
            AND EXISTS (
                SELECT 1
                FROM SSop.EnquiryServices es
                WHERE es.EnquiryId = e.ID
                  AND es.RowStatus NOT IN (0,254)
                  AND NOT (
                        EXISTS (
                            SELECT 1
                            FROM SSop.Quotes q
                            JOIN SSop.QuoteItems qi ON q.ID = qi.QuoteId
                            WHERE q.EnquiryServiceID = es.ID 
							AND (
								q.DateAccepted IS NOT NULL 
								OR EXISTS(
									SELECT 1 
									FROM SCore.DataObjectTransition 
									JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
									WHERE 
										DataObjectGuid = q.Guid AND 
										ws.Guid = RecordStatuses.Accepted))  --Accepted
                            AND qi.RowStatus NOT IN (0, 254)
                            AND qi.CreatedJobId > 0
                        )
                        OR EXISTS (
                            SELECT 1 FROM SSop.Quotes q
                            WHERE q.EnquiryServiceID = es.ID 
							AND 
								(
									q.DateRejected IS NOT NULL
									OR NOT EXISTS
									(
										SELECT 1 
										FROM SCore.DataObjectTransition 
										JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
										WHERE 
											DataObjectGuid = q.Guid AND 
											ws.Guid = RecordStatuses.Rejected  --Accepted
									)
								)
                        )
                  )
            ) THEN N'Part Complete'

            ----------------------------------------------------------------------
            -- REJECTED: All relevant quotes are explicitly rejected, none accepted or pending
            ----------------------------------------------------------------------            
			WHEN EXISTS (
				SELECT 1
				FROM SSop.Quotes q
				JOIN SSop.EnquiryServices es ON es.ID = q.EnquiryServiceID
				WHERE es.EnquiryId = e.ID
				  AND es.RowStatus NOT IN (0, 254)
			)
			AND NOT EXISTS (
				SELECT 1
				FROM SSop.Quotes q
				JOIN SSop.EnquiryServices es ON es.ID = q.EnquiryServiceID
				WHERE es.EnquiryId = e.ID
				  AND es.RowStatus NOT IN (0, 254)
				  AND (
						-- Quote is still active or relevant in any way
						q.DateAccepted IS NOT NULL
					 OR q.DateDeclinedToQuote IS NOT NULL
					 OR q.DeadDate IS NOT NULL
					 OR q.ExpiryDate >= GETUTCDATE()

					 -- Quote not explicitly rejected
					 OR q.DateRejected IS NULL

					 -- Status transitions that indicate accepted/declined/rejected/dead
					 OR EXISTS (
							SELECT 1
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
							WHERE dot.DataObjectGuid = q.Guid
							  AND ws.Guid IN (
									RecordStatuses.Accepted,
									RecordStatuses.Declined,
									RecordStatuses.Rejected,
									RecordStatuses.Dead
							  )
						)
				  )
			)
			THEN N'Rejected'

            ----------------------------------------------------------------------
            -- SENT: All services have quotes sent AND no accepted/rejected/declined
            ----------------------------------------------------------------------
            WHEN NOT EXISTS (
                SELECT 1
                FROM SSop.EnquiryServices es
                WHERE es.EnquiryId = e.ID
                  AND es.RowStatus NOT IN (0, 254)
                  AND NOT EXISTS (
                      SELECT 1 FROM SSop.Quotes q
                      WHERE q.EnquiryServiceID = es.ID  
					  AND (q.DateSent IS NOT NULL 
					  OR EXISTS(
						SELECT 1 
						FROM SCore.DataObjectTransition 
						JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
						WHERE 
							DataObjectGuid = q.Guid AND 
							ws.Guid = RecordStatuses.Sent)
						) --Sent
                  )
            )
            AND NOT EXISTS (
                SELECT 1
                FROM SSop.Quotes q
                JOIN SSop.EnquiryServices es ON q.EnquiryServiceID = es.ID
                WHERE es.EnquiryId = e.ID
                AND es.RowStatus NOT IN (0, 254)
                AND (

						(
					        q.DateAccepted IS NOT NULL OR
							q.DateRejected IS NOT NULL OR
							q.DateDeclinedToQuote IS NOT NULL
						)
					OR(	
						EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition 
							JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
							WHERE 
								DataObjectGuid = q.Guid AND 
								ws.Guid = RecordStatuses.Accepted)  
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition 
							JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
							WHERE 
								DataObjectGuid = q.Guid AND 
								ws.Guid = RecordStatuses.Rejected)  
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition 
							JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
							WHERE 
								DataObjectGuid = q.Guid AND 
								ws.Guid = RecordStatuses.Declined)    --Declined
                ))
            ) THEN N'Sent'

            ----------------------------------------------------------------------
            -- PART SENT: Some quotes sent, others missing or incomplete
            ----------------------------------------------------------------------
            WHEN EXISTS (
                SELECT 1
                FROM SSop.EnquiryServices es
                WHERE es.EnquiryId = e.ID AND es.RowStatus NOT IN (0, 254)
                AND (
                    NOT EXISTS (
                        SELECT 1 FROM SSop.Quotes q WHERE q.EnquiryServiceID = es.ID
                    )
                    OR EXISTS (
                        SELECT 1
                        FROM SSop.Quotes q
                        WHERE 
							q.EnquiryServiceID = es.ID
							AND (q.DateSent IS NULL OR NOT EXISTS(
								SELECT 1 
								FROM SCore.DataObjectTransition 
								JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
								WHERE 
									DataObjectGuid = q.Guid AND 
									ws.Guid = RecordStatuses.Sent)) --Sent
							AND (q.DateRejected IS NULL OR NOT EXISTS(
								SELECT 1 
								FROM SCore.DataObjectTransition 
								JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
								WHERE 
									DataObjectGuid = q.Guid AND 
									ws.Guid = RecordStatuses.Rejected)) --Rejected
							AND (q.DateDeclinedToQuote IS NULL OR NOT EXISTS(
								SELECT 1 
								FROM SCore.DataObjectTransition 
								JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
								WHERE 
									DataObjectGuid = q.Guid AND 
									ws.Guid = RecordStatuses.Declined)) --Declined

                    )
                )
            )
            AND EXISTS (
                SELECT 1
                FROM SSop.Quotes q
                JOIN SSop.EnquiryServices es ON q.EnquiryServiceID = es.ID
                WHERE 
					(es.EnquiryId = e.ID AND es.RowStatus NOT IN (0, 254))
					AND (q.DateSent IS NOT NULL OR EXISTS(
						SELECT 1 
						FROM SCore.DataObjectTransition 
						JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
						WHERE 
							DataObjectGuid = q.Guid AND 
							ws.Guid = RecordStatuses.Rejected)) --Rejected
            ) THEN N'Part Sent'

            ----------------------------------------------------------------------
            -- ACCEPTED
            ----------------------------------------------------------------------
            WHEN EXISTS (
                SELECT 1
                FROM SSop.Quotes q
                JOIN SSop.EnquiryServices es ON es.ID = q.EnquiryServiceID
                WHERE es.EnquiryId = e.ID
                  AND es.RowStatus NOT IN (0, 254)
				  AND (q.DateAccepted IS NOT NULL OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition 
					JOIN SCore.WorkflowStatus AS ws ON (ws.ID = StatusID)
					WHERE 
						DataObjectGuid = q.Guid AND 
						ws.Guid = RecordStatuses.Accepted)) --Accepted
            ) THEN N'Accepted'

            ----------------------------------------------------------------------
            -- QUOTING
            ----------------------------------------------------------------------
            WHEN EXISTS (
                SELECT 1
                FROM SSop.Quotes q
                JOIN SSop.EnquiryServices es ON es.ID = q.EnquiryServiceID
                WHERE es.EnquiryId = e.ID
                  AND es.RowStatus NOT IN (0, 254)
            ) THEN N'Quoting'

            ----------------------------------------------------------------------
            -- FALLBACK
            ----------------------------------------------------------------------
            ELSE NULL
        END
FROM SSop.Enquiries e
OUTER APPLY 
	(
		SELECT
			Rejected = CONVERT(UNIQUEIDENTIFIER, '0A6A71F7-B39F-4213-997E-2B3A13B6144C'),
			Accepted = CONVERT(UNIQUEIDENTIFIER, '21A29AEE-2D99-4DA3-8182-F31813B0C498'),
			Declined = CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'),
			Sent     = CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032'),
			Dead     = CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D')
	) as RecordStatuses
--Gets the last applied status for a record
OUTER APPLY
	(
		SELECT wfs1.Name
		FROM SCore.DataObjectTransition AS dot1
		JOIN SCore.WorkflowStatus AS wfs1 ON (wfs1.ID = dot1.StatusID)
		WHERE 
			(dot1.DataObjectGuid = e.Guid)
			AND (dot1.RowStatus NOT IN (0,254))
			AND (NOT EXISTS
					(
						SELECT 1
						FROM SCore.DataObjectTransition AS dot2
						JOIN SCore.WorkflowStatus AS  wfs2 ON (wfs2.ID = dot2.StatusID)
						WHERE 
							(dot2.DataObjectGuid = e.Guid)
							AND (dot2.RowStatus NOT IN (0,254))
							AND (dot2.ID > dot1.ID)
					)
				)
	
	) AS CurrentWorkflowStatus
WHERE e.ID = @id;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Enquiry_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Enquiry_CalculatedFields]
  --WITH SCHEMABINDING
AS
SELECT	
	e.ID,
	EnquiryStatus =
		CASE

			--WHEN EXISTS
			--	(
			--		SELECT 1 
			--		FROM 
			--			SCore.DataObjectTransition AS dot1
			--		JOIN
			--			SCore.WorkflowStatus AS wfs ON (wfs.ID = dot1.StatusID)
			--		WHERE 
			--			(dot1.RowStatus NOT IN (0,254))
			--			AND (dot1.DataObjectGuid = e.Guid )
			--			AND (wfs.Name = N'Withdrawn')
			--			AND NOT EXISTS
			--			(
			--				SELECT 1 
			--				FROM SCore.DataObjectTransition AS dot2
			--				JOIN
			--					SCore.WorkflowStatus AS wfs2 ON (wfs2.ID = dot2.StatusID)
			--				WHERE
			--					(dot2.RowStatus NOT IN (0,254))
			--					AND (dot1.DataObjectGuid = e.Guid )
			--					AND (wfs2.Name <> N'Withdrawn')
			--					AND (dot2.ID > dot1.ID)
			--			)
			--	)
			--	THEN N'Withdrawn'
			-- 1. TVF status is a final status: use it
			WHEN s.QuotingStatus IS NOT NULL 
			     AND s.QuotingStatus NOT IN (N'Sent', N'Part Sent', N'Quoting')
			     THEN s.QuotingStatus

			-- 2. TVF status is transitional AND we have fallback data
			WHEN s.QuotingStatus IN (N'Sent', N'Part Sent', N'Quoting')
				 AND (
					  -- Hybrid: either old field data OR new workflow transitions
					  e.DeadDate IS NOT NULL
				   OR e.DeclinedToQuoteDate IS NOT NULL
				   OR e.QuotingDeadlineDate < GETDATE()
				   OR e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE())
				   OR e.ChaseDate2 IS NOT NULL
				   OR e.ChaseDate1 IS NOT NULL
				   OR (
						e.IsReadyForQuoteReview = 1
						AND NOT EXISTS (
							SELECT 1 
							FROM SSop.EnquiryServices es 
							JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID 
							WHERE es.EnquiryId = e.ID 
							  AND q.DateSent IS NOT NULL
						)
				   )
				   OR EXISTS (
						SELECT 1 FROM SCore.DataObjectTransition dot
						JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
						WHERE dot.DataObjectGuid = e.Guid AND ws.Guid IN (
							Statuses.Dead,
							Statuses.Declined,
							Statuses.FirstChase,
							Statuses.SecondChase,
							Statuses.ReadyForQuote
						)
				   )
				 )
			THEN 
			   CASE
				   WHEN(
						e.DeadDate IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.Dead )) 
				   THEN N'Dead'
				   WHEN(
						e.DeclinedToQuoteDate IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.Declined)) 
				   THEN  N'Declined'
				   WHEN 
						e.QuotingDeadlineDate < GETDATE()
				   THEN N'Deadline Missed'
				   WHEN 
						e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE()) 
				   THEN N'Deadline Approaching'
				   WHEN(
						e.ChaseDate2 IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.SecondChase )) 
				   THEN  N'2nd Chase'
				   WHEN(
						e.ChaseDate1 IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.FirstChase )) 
				   THEN  N'1st Chase'
				   WHEN (
						(e.IsReadyForQuoteReview = 1 
						 AND NOT EXISTS (
							SELECT 1 
							FROM SSop.EnquiryServices es 
							JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID 
							WHERE es.EnquiryId = e.ID 
							  AND q.DateSent IS NOT NULL
						 ))
						OR EXISTS (
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
							WHERE dot.DataObjectGuid = e.Guid 
							  AND ws.Guid = Statuses.ReadyForQuote
						)
				   )
				   THEN N'Ready for Quote'
				   ELSE s.QuotingStatus
			   END

			-- 3. No fallback data – return whatever TVF gave us
			WHEN s.QuotingStatus IS NOT NULL THEN s.QuotingStatus

			-- 4. Only if no TVF and no fallback
			ELSE N'New'
		END
FROM	SSop.Enquiries e
OUTER APPLY SSop.tvf_GetEnquiryStatuses(e.Id) as s
OUTER APPLY (
	SELECT
		ReadyForQuote = CONVERT(UNIQUEIDENTIFIER, 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0'),
		Sent		  = CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032'),
		FirstChase    = CONVERT(UNIQUEIDENTIFIER, '9FF22CEA-A2A6-4907-9B2D-E62DF8150913'),
		SecondChase   = CONVERT(UNIQUEIDENTIFIER, '1F01C16B-1A73-4844-A938-FE357405FD93'),
		Declined      = CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'),
		Dead          = CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D')
) AS Statuses;

GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Quote_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Quote_CalculatedFields]
     --WITH SCHEMABINDING
AS
SELECT	q.ID,
		CASE
			--Show custom status
			WHEN 
				CurrentWorkflowStatus.Name NOT IN (N'N/A', N'Sent', N'Accepted', N'Rejected', N'Dead', N'Is Final (Ready to Send)')
			THEN CurrentWorkflowStatus.Name

			WHEN ((q.DateAccepted IS NOT NULL) 
					OR EXISTS(
						SELECT 1 
						FROM SCore.DataObjectTransition dot
						JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
						WHERE 
							(dot.RowStatus NOT IN (0,254)) AND
							(DataObjectGuid = q.Guid) AND 
							(ws.Guid = Statuses.Accepted)
					)
				 ) 
				AND (EXISTS
					(
						SELECT	1
						FROM		SSop.QuoteItems	   AS qi
						WHERE	(qi.QuoteId		 = q.ID)
							AND (qi.CreatedJobId > 0)
							AND	(qi.RowStatus NOT IN (0,254))
					)
				 ) THEN N'Complete'

			WHEN (q.DateDeclinedToQuote IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Declined)
					)) THEN N'Declined To Quote'
			WHEN (q.DeadDate IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Dead)
				)) THEN N'Dead'
			WHEN (q.DateAccepted IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Accepted)
				)) THEN N'Accepted'
			WHEN (q.DateRejected IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Rejected)
				)) THEN N'Rejected'
			WHEN q.ExpiryDate < GETUTCDATE () THEN N'Expired'
			WHEN (q.DateSent IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Sent)
				)) THEN N'Sent'
			WHEN (q.IsFinal = 1 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.ReadyToSend)
				)) THEN N'Ready to Send'
			ELSE N'New'
		END AS QuoteStatus
FROM	SSop.Quotes AS q
OUTER APPLY (
	SELECT 
		Declined	= CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'),
		Dead		= CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D'),
		Accepted	= CONVERT(UNIQUEIDENTIFIER, '21A29AEE-2D99-4DA3-8182-F31813B0C498'),
		ReadyToSend = CONVERT(UNIQUEIDENTIFIER, '02A2237F-2AE7-4E05-926F-38E8B7D050A0'),
		Rejected    = CONVERT(UNIQUEIDENTIFIER, '0A6A71F7-B39F-4213-997E-2B3A13B6144C'),
		Sent        = CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032')
) AS Statuses
--Gets the latest transition applied to the recod.
OUTER APPLY
	(
		SELECT wfs1.Name
		FROM SCore.DataObjectTransition AS dot1
		JOIN SCore.WorkflowStatus AS wfs1 ON (wfs1.ID = dot1.StatusID)
		WHERE 
			(dot1.DataObjectGuid = q.Guid)
			AND (dot1.RowStatus NOT IN (0,254))
			AND (NOT EXISTS
					(
						SELECT 1
						FROM SCore.DataObjectTransition AS dot2
						JOIN SCore.WorkflowStatus AS  wfs2 ON (wfs2.ID = dot2.StatusID)
						WHERE 
							(dot2.DataObjectGuid = q.Guid)
							AND (dot2.RowStatus NOT IN (0,254))
							AND (dot2.ID > dot1.ID)
					)
				)
	
	) AS CurrentWorkflowStatus
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO