-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.3.93.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 30/03/2026 21:51:47
-- Source server version: 16.00.1000
-- Source connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Target server version: 16.00.1000
-- Target connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Run this script against Cymbuild_QA to synchronize it with CymBuild_Dev
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Start Transaction
--
PRINT (N'Start Transaction')
GO
BEGIN TRANSACTION
GO

--
-- Disable foreign key [FK_InvoiceRequests_InvoicePaymentStatus] on table [SFin].[InvoiceRequests]
--
PRINT (N'Disable foreign key [FK_InvoiceRequests_InvoicePaymentStatus] on table [SFin].[InvoiceRequests]')
GO
ALTER TABLE [SFin].[InvoiceRequests]
  NOCHECK CONSTRAINT [FK_InvoiceRequests_InvoicePaymentStatus]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop function [SOffice].[tvf_OutlookEmailFilingStats]
--
PRINT (N'Drop function [SOffice].[tvf_OutlookEmailFilingStats]')
GO
DROP FUNCTION IF EXISTS [SOffice].[tvf_OutlookEmailFilingStats]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SOffice].[tvf_OutlookEmailFilingStats]
--
GO
PRINT (N'Create or alter function [SOffice].[tvf_OutlookEmailFilingStats]')
GO
IF NOT EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SOffice].[tvf_OutlookEmailFilingStats]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'CREATE OR ALTER FUNCTION [SOffice].[tvf_OutlookEmailFilingStats]
(
    @Year int,
    @StartMonth int,
    @EndMonth int
)
RETURNS TABLE
    WITH SCHEMABINDING
AS
RETURN
(
    WITH Filtered AS
    (
        SELECT
            oe.ID,
            oe.MessageID,
            oe.OutlookEmailConversationId,
            oe.FilingLocationUrl,
            oe.TargetObjectID,
            oe.Subject,
            oe.SearchSubject,
            oe.SentDateTime,
            oe.FiledDateTime,
            oe.IsFiled,
            oe.RowStatus
        FROM [SOffice].[OutlookEmails] oe
        WHERE
            oe.RowStatus = 1
            AND oe.SentDateTime IS NOT NULL
            AND YEAR(oe.SentDateTime) = @Year
            AND MONTH(oe.SentDateTime) BETWEEN @StartMonth AND @EndMonth
    ),
    Grouped AS
    (
        SELECT
            f.MessageID,
            f.OutlookEmailConversationId,
            f.FilingLocationUrl,
            COUNT(*) AS FiledRowCount,
            COUNT(DISTINCT f.TargetObjectID) AS DistinctTargetObjectCount,
            MIN(f.SentDateTime) AS FirstSentDateTime,
            MAX(f.SentDateTime) AS LastSentDateTime,
            MIN(f.FiledDateTime) AS FirstFiledDateTime,
            MAX(f.FiledDateTime) AS LastFiledDateTime
        FROM Filtered f
        GROUP BY
            f.MessageID,
            f.OutlookEmailConversationId,
            f.FilingLocationUrl
    ),
    MessageLocationStats AS
    (
        SELECT
            f.MessageID,
            COUNT(DISTINCT ISNULL(f.FilingLocationUrl, '''')) AS DistinctLocationsPerMessage
        FROM Filtered f
        GROUP BY
            f.MessageID
    ),
    ConversationLocationStats AS
    (
        SELECT
            f.OutlookEmailConversationId,
            COUNT(DISTINCT ISNULL(f.FilingLocationUrl, '''')) AS DistinctLocationsPerConversation
        FROM Filtered f
        GROUP BY
            f.OutlookEmailConversationId
    )
    SELECT
        g.MessageID,
        g.OutlookEmailConversationId,
        g.FilingLocationUrl,
        g.FiledRowCount,
        g.DistinctTargetObjectCount,
        g.FirstSentDateTime,
        g.LastSentDateTime,
        g.FirstFiledDateTime,
        g.LastFiledDateTime,
        mls.DistinctLocationsPerMessage,
        CASE
            WHEN mls.DistinctLocationsPerMessage > 1 THEN CAST(1 AS bit)
            ELSE CAST(0 AS bit)
        END AS IsMessageFiledToMultipleLocations,
        cls.DistinctLocationsPerConversation,
        CASE
            WHEN cls.DistinctLocationsPerConversation > 1 THEN CAST(1 AS bit)
            ELSE CAST(0 AS bit)
        END AS IsConversationFiledToMultipleLocations
    FROM Grouped g
    LEFT JOIN MessageLocationStats mls
        ON g.MessageID = mls.MessageID
    LEFT JOIN ConversationLocationStats cls
        ON g.OutlookEmailConversationId = cls.OutlookEmailConversationId
);
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Disable foreign key [FK_InvoiceSchedules_TriggerId] on table [SFin].[InvoiceSchedules]
--
PRINT (N'Disable foreign key [FK_InvoiceSchedules_TriggerId] on table [SFin].[InvoiceSchedules]')
GO
ALTER TABLE [SFin].[InvoiceSchedules]
  NOCHECK CONSTRAINT [FK_InvoiceSchedules_TriggerId]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
PRINT (N'Commit Transaction')
GO
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
PRINT (N'Set NOEXEC to off')
GO
SET NOEXEC OFF
GO