-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 17/11/2025 14:10:49
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Create or alter view [SSop].[Quote_JobsSummary]
--
GO
CREATE OR ALTER VIEW [SSop].[Quote_JobsSummary]
	  --WITH SCHEMABINDING
AS
SELECT		MIN (qi.ID)							   AS ID,
			q.RowStatus,
			q.Guid								   AS QuoteGuid,
			q.Overview,
			--p.Guid								   AS UprnGuid,
			q.IsSubjectToNDA,
			SUM (qit.LineNet)					   AS Net,
			SUM (	CASE
						WHEN rs.Number = 1 THEN qit.LineNet
						ELSE 0
					END
				)								   AS RibaStage1Fee,
			SUM (	CASE
						WHEN rs.Number = 2 THEN qit.LineNet
						ELSE 0
					END
				)								   AS RibaStage2Fee,
			SUM (	CASE
						WHEN rs.Number = 3 THEN qit.LineNet
						ELSE 0
					END
				)								   AS RibaStage3Fee,
			SUM (	CASE
						WHEN rs.Number = 4 THEN qit.LineNet
						ELSE 0
					END
				)								   AS RibaStage4Fee,
			SUM (	CASE
						WHEN rs.Number = 5 THEN qit.LineNet
						ELSE 0
					END
				)								   AS RibaStage5Fee,
			SUM (	CASE
						WHEN rs.Number = 6 THEN qit.LineNet
						ELSE 0
					END
				)								   AS RibaStage6Fee,
			SUM (	CASE
						WHEN rs.Number = 7 THEN qit.LineNet
						ELSE 0
					END
				)								   AS RibaStage7Fee,
			SUM (	CASE
						WHEN rs.Number = 99 THEN qit.LineNet
						ELSE 0
					END
				)								   AS PreConstructionStageFee,
			SUM (	CASE
						WHEN rs.Number = 999 THEN qit.LineNet
						ELSE 0
					END
				)								   AS ConstructionStageFee,
			ou.Guid								   AS OrganisationalUnitGuid,
			jt.Guid								   AS JobTypeGuid,
			--acc.Guid							   AS ClientAccountGuid,
			--ad.Guid								   AS ClientAddressGuid,
			--c.Guid								   AS ClientContactGuid,
			cr.Guid								   AS ContractGuid,
			--agent_acc.Guid						   AS AgentAccountGuid,
			--agent_ad.Guid						   AS AgentAddressGuid,
			--agent_c.Guid						   AS AgentContactGuid,
			'00000000-0000-0000-0000-000000000000' AS IdentityGuid,
			-1									   AS QuoteItemId,
			q.ExternalReference,
			SUM (qit.LineNet)					   AS AgreedFee,
			jt.Name								   AS JobType,
			(
				SELECT MAX(dot.DateTimeUTC)
				FROM SCore.DataObjectTransition AS dot
				WHERE dot.DataObjectGuid = q.Guid
				  AND dot.StatusID = 7
			) AS DateAccepted,

			--q.DateAccepted,
			q.FeeCap,
			--proj.Guid							   AS ProjectGuid,
			ISNULL (   crs.Guid,
					   '00000000-0000-0000-0000-000000000000'
				   )							   AS CurrentRibaStageGuid,
			ISNULL (   ars.Guid,
					   '00000000-0000-0000-0000-000000000000'
				   )							   AS AppointedRibaStageGuid,
			q.ValueOfWork,
			acr.Guid							   AS AgentContractGuid
FROM		SSop.QuoteItems			  AS qi
JOIN		SSop.QuoteItemTotals	  AS qit ON (qit.ID				= qi.ID)
JOIN		SJob.RibaStages			  AS rs ON (rs.ID				= qi.ProvideAtStageID)
JOIN		SProd.Products			  AS p2 ON (p2.ID				= qi.ProductId)
JOIN		SJob.JobTypes			  AS jt ON (p2.CreatedJobType	= jt.ID)
JOIN		SSop.Quotes				  AS q ON (q.ID					= qi.QuoteId)
JOIN		SCore.OrganisationalUnits AS ou ON (ou.ID				= q.OrganisationalUnitID)
JOIN		SSop.Contracts			  AS cr ON (cr.ID				= q.ContractID)
JOIN		SSop.Contracts			  AS acr ON (acr.ID				= q.AgentContractID)
JOIN		SSop.EnquiryServices	  AS es ON (es.ID				= q.EnquiryServiceID)
JOIN		SSop.Enquiries			  AS e ON (e.ID					= es.EnquiryId)
JOIN		SJob.RibaStages			  AS crs ON (crs.ID				= e.CurrentProjectRibaStageID)
JOIN		SJob.RibaStages			  AS ars ON (ars.ID				= q.AppointmentFromRibaStageId)
--JOIN		SCrm.Accounts			  AS acc ON (acc.ID				= e.ClientAccountId)
--JOIN		SCrm.AccountAddresses	  AS ad ON (ad.ID				= e.ClientAddressId)
--JOIN		SCrm.AccountContacts	  AS c ON (c.ID					= e.ClientAccountContactId)
--JOIN		SCrm.Accounts			  AS agent_acc ON (agent_acc.ID = e.AgentAccountId)
--JOIN		SCrm.AccountAddresses	  AS agent_ad ON (agent_ad.ID	= e.AgentAddressId)
--JOIN		SCrm.AccountContacts	  AS agent_c ON (agent_c.ID		= e.AgentAccountContactId)
--JOIN		SJob.Properties			  AS p ON (p.ID					= e.PropertyId)
--JOIN		SSop.Projects			  AS proj ON (proj.ID			= e.ProjectId)
WHERE		(qi.RowStatus NOT IN (0, 254))
		AND (qi.Quantity			> 0)
		AND (qi.CreatedJobId		< 0)
		AND (qi.DoNotConsolidateJob = 0)
		AND (NOT EXISTS
	(
		SELECT	1
		FROM	SProd.Products AS prod2
		WHERE	(prod2.NeverConsolidate = 1)
			AND (qi.ProductId			= prod2.ID)
	)
			)
GROUP BY	q.RowStatus,
			q.Guid,
			q.Overview,
			--p.Guid,
			q.IsSubjectToNDA,
			jt.Guid,
			jt.Name,
			ou.Guid,
			--acc.Guid,
			--ad.Guid,
			--c.Guid,
			cr.Guid,
			--agent_acc.Guid,
			--agent_ad.Guid,
			--agent_c.Guid,
			q.ExternalReference,
			q.DateAccepted,
			q.FeeCap,
			--proj.Guid,
			crs.Guid,
			ars.Guid,
			q.ValueOfWork,
			q.AgentContractID,
			acr.Guid
UNION ALL
SELECT		qi.ID								  AS ID,
			q.RowStatus,
			q.Guid,
			q.Overview,
			--p.Guid,
			q.IsSubjectToNDA,
			qit.LineNet,
			CASE
				WHEN rs.Number = 1 THEN qit.LineNet
				ELSE 0
			END,
			CASE
				WHEN rs.Number = 2 THEN qit.LineNet
				ELSE 0
			END,
			CASE
				WHEN rs.Number = 3 THEN qit.LineNet
				ELSE 0
			END,
			CASE
				WHEN rs.Number = 4 THEN qit.LineNet
				ELSE 0
			END,
			CASE
				WHEN rs.Number = 5 THEN qit.LineNet
				ELSE 0
			END,
			CASE
				WHEN rs.Number = 6 THEN qit.LineNet
				ELSE 0
			END,
			CASE
				WHEN rs.Number = 7 THEN qit.LineNet
				ELSE 0
			END,
			CASE
				WHEN rs.Number = 99 THEN qit.LineNet
				ELSE 0
			END,
			CASE
				WHEN rs.Number = 999 THEN qit.LineNet
				ELSE 0
			END,
			ou.Guid,
			jt.Guid,
			--acc.Guid,
			--ad.Guid,
			--c.Guid,
			cr.Guid,
			--agent_acc.Guid,
			--agent_ad.Guid,
			--agent_c.Guid,
			'00000000-0000-0000-0000-000000000000',
			qi.ID,
			q.ExternalReference,
			--vow.Guid,
			qi.Net,
			jt.Name,
			--q.DateAccepted,
			(
				SELECT MAX(dot.DateTimeUTC)
				FROM SCore.DataObjectTransition AS dot
				JOIN SCore.WorkflowTransition AS wfs ON (wfs.ID = dot.StatusID)
				WHERE 
					(dot.DataObjectGuid = q.Guid)
				    AND (wfs.Guid = '21A29AEE-2D99-4DA3-8182-F31813B0C498')
			) AS DateAccepted,

			q.FeeCap,
			--proj.Guid							  AS ProjectGuid,
			ISNULL (   crs.Guid,
					   '00000000-0000-0000-0000-000000000000'
				   ),
			ISNULL (   ars.Guid,
					   '00000000-0000-0000-0000-000000000000'
				   ),
			q.ValueOfWork,
			acr.Guid
FROM		SSop.QuoteItems			  AS qi
JOIN		SSop.QuoteItemTotals	  AS qit ON (qit.ID				= qi.ID)
JOIN		SJob.RibaStages			  AS rs ON (rs.ID				= qi.ProvideAtStageID)
JOIN		SSop.Quotes				  AS q ON (q.ID					= qi.QuoteId)
JOIN		SProd.Products			  AS prod ON (prod.ID			= qi.ProductId)
JOIN		SJob.JobTypes			  AS jt ON (jt.ID				= prod.CreatedJobType)
JOIN		SCore.OrganisationalUnits AS ou ON (ou.ID				= q.OrganisationalUnitID)
JOIN		SSop.Contracts			  AS cr ON (cr.ID				= q.ContractID)
JOIN		SSop.Contracts			  AS acr ON (acr.ID				= q.AgentContractID)
JOIN		SSop.EnquiryServices	  AS es ON (es.ID				= q.EnquiryServiceID)
JOIN		SSop.Enquiries			  AS e ON (e.ID					= es.EnquiryId)
JOIN		SJob.RibaStages			  AS crs ON (crs.ID				= e.CurrentProjectRibaStageID)
JOIN		SJob.RibaStages			  AS ars ON (ars.ID				= q.AppointmentFromRibaStageId)
--JOIN		SCrm.Accounts			  AS acc ON (acc.ID				= e.ClientAccountId)
--JOIN		SCrm.AccountAddresses	  AS ad ON (ad.ID				= e.ClientAddressId)
--JOIN		SCrm.AccountContacts	  AS c ON (c.ID					= e.ClientAccountContactId)
--JOIN		SCrm.Accounts			  AS agent_acc ON (agent_acc.ID = e.AgentAccountId)
--JOIN		SCrm.AccountAddresses	  AS agent_ad ON (agent_ad.ID	= e.AgentAddressId)
--JOIN		SCrm.AccountContacts	  AS agent_c ON (agent_c.ID		= e.AgentAccountContactId)
--JOIN		SJob.Properties			  AS p ON (p.ID					= e.PropertyId)
--JOIN		SSop.Projects			  AS proj ON (proj.ID			= e.ProjectId)
WHERE		(qi.RowStatus NOT IN (0, 254))
		AND (qi.Quantity			  > 0)
		AND (qi.CreatedJobId		  < 0)
		AND
		  (
			  (prod.NeverConsolidate  = 1)
		   OR (qi.DoNotConsolidateJob = 1)
		  );
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SSop].[Quotes_DWETL]
--
EXEC sp_refreshview '[SSop].[Quotes_DWETL]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SSop].[QuoteCreateJobs]
--
GO
CREATE OR ALTER PROCEDURE [SSop].[QuoteCreateJobs]
	(@Guid UNIQUEIDENTIFIER)
AS
BEGIN
	SET NOCOUNT ON;


	IF (NOT EXISTS
	 (
		SELECT 1
		FROM SSop.EnquiryService_ExtendedInfo AS eex
		JOIN SSop.Quotes AS q ON (q.ID = eex.QuoteID)
		WHERE	
			(q.Guid = @Guid)
			AND (eex.DateAccepted IS NOT NULL)
	 )
	 AND NOT EXISTS
		(
			SELECT 1 
			FROM SCore.DataObjectTransition AS dot
			JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dot.StatusID)
			WHERE 
				(dot.RowStatus NOT IN (0,254))
				AND (wfs.Guid = '21A29AEE-2D99-4DA3-8182-F31813B0C498') --Accepted
		)
	   )
	BEGIN
		;
		THROW 60000, N'The quote must be accepted first', 1;
	END;


	PRINT N'Passed pre checks';

	/*
		  Build a consolidated list of jobs to create 
	  */
	DECLARE @JobsToCreate TABLE
		(
			ID INT NOT NULL PRIMARY KEY,
			Guid UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID (),
			Net DECIMAL(19, 2) NOT NULL,
			RibaStage1Fee DECIMAL(19, 2) NOT NULL,
			RibaStage2Fee DECIMAL(19, 2) NOT NULL,
			RibaStage3Fee DECIMAL(19, 2) NOT NULL,
			RibaStage4Fee DECIMAL(19, 2) NOT NULL,
			RibaStage5Fee DECIMAL(19, 2) NOT NULL,
			RibaStage6Fee DECIMAL(19, 2) NOT NULL,
			RibaStage7Fee DECIMAL(19, 2) NOT NULL,
			PreConstructionStageFee DECIMAL(19, 2) NOT NULL,
			ConstructionStageFee DECIMAL(19, 2) NOT NULL,
			OrganisationalUnitGuid UNIQUEIDENTIFIER NOT NULL,
			JobTypeGuid UNIQUEIDENTIFIER NOT NULL,
			ContractGuid UNIQUEIDENTIFIER NOT NULL,
			IdentityGuid UNIQUEIDENTIFIER NOT NULL,
			QuoteItemId INT NOT NULL,
			ExternalReference NVARCHAR(50) NOT NULL,
			ValueOfWorkGuid UNIQUEIDENTIFIER NOT NULL,
			FeeCap DECIMAL(19, 2) NOT NULL,
			CurrentRibaStageGuid UNIQUEIDENTIFIER NOT NULL,
			TotalFee DECIMAL(19, 2) NOT NULL,
			AppointedFromStageGuid UNIQUEIDENTIFIER NOT NULL,
			CreatedJobID INT NOT NULL DEFAULT ((-1)),
			AgentContractGuid UNIQUEIDENTIFIER NOT NULL
			
		);


	DECLARE @JobPaymentStages TABLE
		(
			Guid UNIQUEIDENTIFIER NOT NULL,
			JobId INT NOT NULL,
			StagedDate DATE NULL,
			AfterStageId INT NOT NULL,
			Value DECIMAL(19, 2) NOT NULL DEFAULT (0)
		);


	INSERT	@JobsToCreate
		 (ID,
		  Net,
		  RibaStage1Fee,
		  RibaStage2Fee,
		  RibaStage3Fee,
		  RibaStage4Fee,
		  RibaStage5Fee,
		  RibaStage6Fee,
		  RibaStage7Fee,
		  PreConstructionStageFee,
		  ConstructionStageFee,
		  OrganisationalUnitGuid,
		  JobTypeGuid,
		  ContractGuid,
		  IdentityGuid,
		  QuoteItemId,
		  ExternalReference,
		  ValueOfWorkGuid,
		  FeeCap,
		  CurrentRibaStageGuid,
		  TotalFee,
		  AppointedFromStageGuid,
		  AgentContractGuid)
	SELECT	js.ID,
			js.Net,
			js.RibaStage1Fee,
			js.RibaStage2Fee,
			js.RibaStage3Fee,
			js.RibaStage4Fee,
			js.RibaStage5Fee,
			js.RibaStage6Fee,
			js.RibaStage7Fee,
			js.PreConstructionStageFee,
			js.ConstructionStageFee,
			js.OrganisationalUnitGuid,
			js.JobTypeGuid,
			js.ContractGuid,
			js.IdentityGuid,
			js.QuoteItemId,
			js.ExternalReference,
			'00000000-0000-0000-0000-000000000000',
			js.FeeCap,
			js.CurrentRibaStageGuid,
			js.RibaStage1Fee + js.RibaStage2Fee + js.RibaStage3Fee + js.RibaStage4Fee + js.RibaStage5Fee
			+ js.RibaStage6Fee + js.RibaStage7Fee + js.PreConstructionStageFee + js.ConstructionStageFee,
			js.AppointedRibaStageGuid,
			js.AgentContractGuid
	FROM	SSop.Quote_JobsSummary AS js
	WHERE	(js.QuoteGuid = @Guid)
		AND (
				(js.DateAccepted IS NOT NULL)
				OR EXISTS
					(
						SELECT 1
						FROM SSop.EnquiryService_ExtendedInfo AS eex
						JOIN SSop.Quotes AS q ON (q.ID = eex.QuoteID)
						WHERE	
							(q.Guid = @Guid)
							AND (eex.DateAccepted IS NOT NULL)
					)
			)

			

	DECLARE @ClientAccountGuid	UNIQUEIDENTIFIER,
			@ClientAddressGuid	UNIQUEIDENTIFIER,
			@ClientContactGuid	UNIQUEIDENTIFIER,
			@AgentAccountGuid	UNIQUEIDENTIFIER,
			@AgentAddressGuid	UNIQUEIDENTIFIER,
			@AgentContactGuid	UNIQUEIDENTIFIER,
			@FinanceAccountGuid UNIQUEIDENTIFIER,
			@FinanceAddressGuid UNIQUEIDENTIFIER,
			@FinanceContactGuid UNIQUEIDENTIFIER,
			@StructureGuid		UNIQUEIDENTIFIER,
			@ProjectGuid		UNIQUEIDENTIFIER,
			@Overview			NVARCHAR(1000),
			@ValueOfWork		DECIMAL(19, 2),
			@IsNDA              BIT;	

	SELECT	@ClientAccountGuid	= ca.Guid,
			@ClientAddressGuid	= caa.Guid,
			@ClientContactGuid	= cac.Guid,
			@AgentAccountGuid	= aa.Guid,
			@AgentAddressGuid	= aaa.Guid,
			@AgentContactGuid	= aac.Guid,
			@FinanceAccountGuid = fa.Guid,
			@FinanceAddressGuid = faa.Guid,
			@FinanceContactGuid = fac.Guid,
			@StructureGuid		= p.Guid,
			@ProjectGuid		= p2.Guid,
			@Overview			= CASE WHEN q.DescriptionOfWorks = '' THEN e.DescriptionOfWorks ELSE q.DescriptionOfWorks END,
			@ValueOfWork		= e.ValueOfWork,
			@IsNDA              = e.IsSubjectToNDA 
	FROM	SSop.Quotes				AS q
	JOIN	SSop.Quote_ExtendedInfo AS qei ON (qei.Id = q.ID)
	JOIN	SCrm.Accounts			AS ca ON (ca.ID	  = qei.ClientAccountID)
	JOIN	SCrm.AccountAddresses	AS caa ON (caa.ID = qei.ClientAddressId)
	JOIN	SCrm.AccountContacts	AS cac ON (cac.ID = qei.ClientAccountContactId)
	JOIN	SCrm.Accounts			AS aa ON (aa.ID	  = qei.AgentAccountID)
	JOIN	SCrm.AccountAddresses	AS aaa ON (aaa.ID = qei.AgentAddressId)
	JOIN	SCrm.AccountContacts	AS aac ON (aac.ID = qei.AgentAccountContactId)
	JOIN	SCrm.Accounts			AS fa ON (fa.ID	  = qei.FinanceAccountId)
	JOIN	SCrm.AccountAddresses	AS faa ON (faa.ID = qei.FinanceAddressId)
	JOIN	SCrm.AccountContacts	AS fac ON (fac.ID = qei.FinanceContactId)
	JOIN	SJob.Assets			AS p ON (p.ID	  = qei.PropertyId)
	JOIN	SSop.Projects			AS p2 ON (p2.ID	  = q.ProjectId)
	JOIN	SSop.EnquiryServices	AS es ON (es.ID	  = q.EnquiryServiceID)
	JOIN	SSop.Enquiries			AS e ON (e.ID	  = es.EnquiryId)
	WHERE	(q.Guid = @Guid);


	DECLARE @ActiveAccountStatusID INT;

	SELECT	@ActiveAccountStatusID = ast.ID
	FROM	SCrm.AccountStatus AS ast
	WHERE	(ast.Name = N'Active');

	-- Make sure the client is active. 
	IF (EXISTS
	 (
		 SELECT 1
		 FROM	SCrm.Accounts	   AS a
		 WHERE	(a.Guid = @ClientAccountGuid)
			AND (a.AccountStatusID = @ActiveAccountStatusID)
			AND	(a.Guid <> '00000000-0000-0000-0000-000000000000')
	 )
	   )
	BEGIN
		UPDATE	SCrm.Accounts
		SET		AccountStatusID = @ActiveAccountStatusID
		WHERE	(Guid = @ClientAccountGuid);
	END;

	-- Make sure the Agent is active. 
	IF (EXISTS
	 (
		  SELECT 1
		 FROM	SCrm.Accounts	   AS a
		 WHERE	(a.Guid = @AgentAccountGuid)
			AND (a.AccountStatusID = @ActiveAccountStatusID)
			AND	(a.Guid <> '00000000-0000-0000-0000-000000000000')
	 )
	   )
	BEGIN
		UPDATE	SCrm.Accounts
		SET		AccountStatusID = @ActiveAccountStatusID
		WHERE	(Guid = @AgentAccountGuid);
	END;

	-- Make sure the Finance Account is active. 
	IF (EXISTS
	 (
		  SELECT 1
		 FROM	SCrm.Accounts	   AS a
		 WHERE	(a.Guid = @FinanceAccountGuid)
			AND (a.AccountStatusID = @ActiveAccountStatusID)
			AND	(a.Guid <> '00000000-0000-0000-0000-000000000000')
	 )
	   )
	BEGIN
		UPDATE	SCrm.Accounts
		SET		AccountStatusID = @ActiveAccountStatusID
		WHERE	(Guid = @FinanceAccountGuid);
	END;



	IF NOT EXISTS
	 (
		 SELECT 1
		 FROM	@JobsToCreate
	 )
	BEGIN
		;
		THROW 60000, N'There were no jobs to create', 1;
	END;

	/*
		  Loop through the list of jobs executing JobsUpsert
	  */
	DECLARE @CreatedDateTime		 DATETIME2 = GETUTCDATE (),
			@JobGuid				 UNIQUEIDENTIFIER,
			@OrganisationalUnitGuid	 UNIQUEIDENTIFIER,
			@JobTypeGuid			 UNIQUEIDENTIFIER,
			@ContractGuid			 UNIQUEIDENTIFIER,
			@ValueOfWorkGuid		 UNIQUEIDENTIFIER,
			@RibaStage1Fee			 DECIMAL(19, 2),
			@RibaStage2Fee			 DECIMAL(19, 2),
			@RibaStage3Fee			 DECIMAL(19, 2),
			@RibaStage4Fee			 DECIMAL(19, 2),
			@RibaStage5Fee			 DECIMAL(19, 2),
			@RibaStage6Fee			 DECIMAL(19, 2),
			@RibaStage7Fee			 DECIMAL(19, 2),
			@PreConstructionStageFee DECIMAL(19, 2),
			@ConstructionStageFee	 DECIMAL(19, 2),
			@ExternalReference		 NVARCHAR(50),
			@MaxID					 INT,
			@CurrentId				 INT,
			@QuoteItemID			 INT,
			@CreatedJobID			 INT,
			@FeeCap					 DECIMAL(19, 2),
			@CurrentRibaStageGuid	 UNIQUEIDENTIFIER,
			@AppointedRibaStageGuid	 UNIQUEIDENTIFIER,
			@AgentContractGuid	     UNIQUEIDENTIFIER,
			@CompleteForReviewDate   DATETIME2;

	SELECT	@MaxID	   = MAX (ID),
			@CurrentId = 0
	FROM	@JobsToCreate;

	PRINT N'Creating job(s)';

	WHILE (@CurrentId < @MaxID)
	BEGIN
		SELECT		TOP (1) @CurrentId				 = j.ID,
							@OrganisationalUnitGuid	 = j.OrganisationalUnitGuid,
							@JobTypeGuid			 = j.JobTypeGuid,
							@ContractGuid			 = j.ContractGuid,
							@ExternalReference		 = j.ExternalReference,
							@QuoteItemID			 = j.QuoteItemId,
							@ValueOfWorkGuid		 = j.ValueOfWorkGuid,
							@RibaStage1Fee			 = j.RibaStage1Fee,
							@RibaStage2Fee			 = j.RibaStage2Fee,
							@RibaStage3Fee			 = j.RibaStage3Fee,
							@RibaStage4Fee			 = j.RibaStage4Fee,
							@RibaStage5Fee			 = j.RibaStage5Fee,
							@RibaStage6Fee			 = j.RibaStage6Fee,
							@RibaStage7Fee			 = j.RibaStage7Fee,
							@PreConstructionStageFee = j.PreConstructionStageFee,
							@ConstructionStageFee	 = j.ConstructionStageFee,
							@FeeCap					 = j.FeeCap,
							@CurrentRibaStageGuid	 = j.CurrentRibaStageGuid,
							@AppointedRibaStageGuid	 = j.AppointedFromStageGuid,
							@JobGuid				 = j.Guid,
							@AgentContactGuid        = j.AgentContractGuid,
							@CompleteForReviewDate   = NULL
		FROM		@JobsToCreate AS j
		WHERE		(j.ID > @CurrentId)
		ORDER BY	j.ID;

		EXEC SJob.JobsUpsert @OrganisationalUnitGuid = @OrganisationalUnitGuid,				-- uniqueidentifier
							 @JobTypeGuid = @JobTypeGuid,									-- uniqueidentifier
							 @UprnGuid = @StructureGuid,									-- uniqueidentifier
							 @ClientAccountGuid = @ClientAccountGuid,						-- uniqueidentifier
							 @ClientAddressGuid = @ClientAddressGuid,
							 @ClientContactGuid = @ClientContactGuid,						-- uniqueidentifier
							 @AgentAccountGuid = @AgentAccountGuid,							-- uniqueidentifier
							 @AgentAddressGuid = @AgentAddressGuid,
							 @AgentContactGuid = @AgentContactGuid,							-- uniqueidentifier
							 @SurveyorGuid = '00000000-0000-0000-0000-000000000000',		-- uniqueidentifier
							 @JobDescription = @Overview,									-- nvarchar(1000)
							 @IsSubjectToNDA = @IsNDA, --NEW								-- bit							
							 @JobStarted = @CreatedDateTime,								-- datetime2(7)
							 @JobCompleted = NULL,											-- datetime2(7)
							 @JobCancelled = NULL,											-- datetime2(7)
							 @ValueOfWorkGuid = @ValueOfWorkGuid,							-- uniqueidentifier
							 @RibaStage1Fee = @RibaStage1Fee,
							 @RibaStage2Fee = @RibaStage2Fee,
							 @RibaStage3Fee = @RibaStage3Fee,
							 @RibaStage4Fee = @RibaStage4Fee,
							 @RibaStage5Fee = @RibaStage5Fee,
							 @RibaStage6Fee = @RibaStage6Fee,
							 @RibaStage7Fee = @RibaStage7Fee,
							 @PreConstructionStageFee = @PreConstructionStageFee,
							 @ConstructionStageFee = @ConstructionStageFee,
							 @FeeCap = @FeeCap,
							 @CurrentRibaStageGuid = @CurrentRibaStageGuid,
							 @JobDormant = NULL,
							 @AgreedFee = 0,
							 @AppFormReceived = FALSE,
							 @ArchiveReferenceLink = N'',									-- nvarchar(500)
							 @ArchiveBoxReference = N'',									-- nvarchar(100)
							 @CreatedOn = @CreatedDateTime,									-- datetime2(7)
							 @ExternalReference = @ExternalReference,						-- nvarchar(50)
							 @IsCompleteForReview = 0,										-- bit
							 @ReviewedByUserGuid = '00000000-0000-0000-0000-000000000000',	-- uniqueidentifier
							 @ReviewDateTimeUTC = NULL,										-- datetime2(7)
							 @FinanceAccountGuid = @FinanceAccountGuid,
							 @FinanceAddressGuid = @FinanceAddressGuid,
							 @FinanceContactGuid = @FinanceContactGuid,
							 @PurchaseOrderNumber = N'',
							 @ContractGuid = @ContractGuid,
							 @ProjectGuid = @ProjectGuid,
							 @ValueOfWork = @ValueOfWork,
							 @ClientAppointmentReceived = 0,
							 @AppointedFromStageGuid = @AppointedRibaStageGuid,
							 @DeadDate = NULL,
							 @Guid = @JobGuid,												-- uniqueidentifier
							 @BillingInstruction = NULL,
							 @CannotBeInvoiced = 0,
							 @CannotBeInvoicedReason = N'',
							 @AgentContractGuid = @AgentContractGuid,
							 @CompleteForReviewDate = @CompleteForReviewDate

		SELECT	@CreatedJobID = ID
		FROM	SJob.Jobs
		WHERE	(Guid = @JobGuid);

		UPDATE	@JobsToCreate
		SET		CreatedJobID = @CreatedJobID
		WHERE	(ID = @CurrentId);

		INSERT INTO @JobPaymentStages
			 (Guid, JobId, StagedDate, AfterStageId, Value)
		SELECT	sps.Guid,
				jtc.CreatedJobID,
				sps.StagedDate,
				sps.AfterStageId,
				sps.Value
		FROM	SSop.Quotes_StagedPaymentSummary (@Guid) AS sps
		JOIN	@JobsToCreate							 AS jtc ON (sps.JobId = jtc.ID)
		WHERE	(jtc.ID = @CurrentId);

		PRINT N'Created job';

		IF (@QuoteItemID > 0)
		BEGIN
			UPDATE	SSop.QuoteItems
			SET		CreatedJobId = @CreatedJobID
			WHERE	(ID = @QuoteItemID);
		END;
		ELSE
		BEGIN
			UPDATE	qi
			SET		qi.CreatedJobId = @CreatedJobID
			FROM	SSop.QuoteItems AS qi
			JOIN	SProd.Products	AS p ON (p.ID			   = qi.ProductId)
			JOIN	SJob.JobTypes	AS jt ON (p.CreatedJobType = jt.ID)
			JOIN	SSop.Quotes		AS q ON (q.ID			   = qi.QuoteId)
			WHERE	(jt.Guid				= @JobTypeGuid)
				AND (q.Guid					= @Guid)
				AND (p.NeverConsolidate		= 0)
				AND (qi.DoNotConsolidateJob = 0)
				AND (qi.RowStatus NOT IN (0, 254));
		END;

		EXEC SJob.JobActivitiesBuildFromTemplate @JobID = @CreatedJobID;
	END;

	DECLARE @GuidList SCore.GuidUniqueList,
			@IsInsert BIT;

	PRINT N'Creating staged payments';

	DELETE	FROM @GuidList;

	INSERT INTO @GuidList
		 (GuidValue)
	SELECT	Guid
	FROM	@JobPaymentStages;

	EXEC SCore.DataObjectBulkUpsert @GuidList = @GuidList,
									@SchemeName = N'SJob',
									@ObjectName = N'JobPaymentStages',
									@IsInsert = @IsInsert;


	INSERT INTO SJob.JobPaymentStages
		 (RowStatus, Guid, JobId, StagedDate, AfterStageId, Value)
	SELECT	1,
			jps.Guid,
			jps.JobId,
			jps.StagedDate,
			jps.AfterStageId,
			jps.Value
	FROM	@JobPaymentStages AS jps;


	PRINT N'Staged Payments Created';

END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SSop].[EnquiryCreateQuotes]
--
GO
CREATE OR ALTER PROCEDURE [SSop].[EnquiryCreateQuotes]
	(@Guid UNIQUEIDENTIFIER)
AS
BEGIN


	DECLARE @ReadyForQuoteStatus UNIQUEIDENTIFIER = 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0';

	IF (NOT EXISTS
	 (
		 
			SELECT 1 
			FROM SCore.DataObjectTransition AS dot
			JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
			WHERE 
				(dot.DataObjectGuid = @Guid) AND
				(ws.Guid = @ReadyForQuoteStatus)
	 )
	 AND NOT EXISTS
			(
				SELECT 1 FROM
				SSop.Enquiries 
				WHERE 
					(Guid = @Guid)
				AND (IsReadyForQuoteReview = 1)
			)
	   )
	BEGIN
		;
		THROW 60000, N'The enquiry must be marked ready for review first.', 1;
	END;

	IF (NOT EXISTS
	 (
		 SELECT 1
		 FROM	SSop.EnquiryServices AS es
		 JOIN	SSop.Enquiries		 AS e ON (e.ID = es.EnquiryId)
		 WHERE	(e.Guid = @Guid)
			AND (NOT EXISTS
			 (
				 SELECT 1
				 FROM	SSop.Quotes AS q
				 WHERE	(q.EnquiryServiceID = es.ID)
					AND (q.RowStatus NOT IN (0, 254))
			 )
				)
	 )
	   )
	BEGIN
		;
		THROW 60000, N'Nothing to create', 1;
	END;

	/* Get the details of the enquiry. */
	DECLARE @PropertyGuid					UNIQUEIDENTIFIER,
			@PropertyNameNumber				NVARCHAR(50),
			@PropertyAddressLine1			NVARCHAR(50),
			@PropertyAddressLine2			NVARCHAR(50),
			@PropertyAddressLine3			NVARCHAR(50),
			@PropertyTown					NVARCHAR(50),
			@PropertyCountyGuid				UNIQUEIDENTIFIER,
			@PropertyPostCode				NVARCHAR(50),
			@PropertyCountryGuid			UNIQUEIDENTIFIER,
			@ClientAccountGuid				UNIQUEIDENTIFIER,
			@ClientAddressGuid				UNIQUEIDENTIFIER,
			@ClientContactGuid				UNIQUEIDENTIFIER,
			@ClientName						NVARCHAR(250),
			@ClientAddressNameNumber		NVARCHAR(50),
			@ClientAddressLine1				NVARCHAR(50),
			@ClientAddressLine2				NVARCHAR(50),
			@ClientAddressLine3				NVARCHAR(50),
			@ClientAddressTown				NVARCHAR(50),
			@ClientAddressCountyGuid		UNIQUEIDENTIFIER,
			@ClientAddressPostCode			NVARCHAR(50),
			@ClientAddressCountryGuid		UNIQUEIDENTIFIER,
			@ContactForClientGuid			UNIQUEIDENTIFIER,
			@ClientContactDisplayName		NVARCHAR(250), --client contact
			@ClientContactDetailType		SMALLINT, 
			@ClientContactDetailTypeName	NVARCHAR(100),
			@ClientContactDetailTypeValue	NVARCHAR(250),
			@ClientContactDetailGuid		UNIQUEIDENTIFIER,
			@AgentAccountGuid				UNIQUEIDENTIFIER,
			@AgentAddressGuid				UNIQUEIDENTIFIER,
			@AgentContactGuid				UNIQUEIDENTIFIER,
			@AgentName						NVARCHAR(250),
			@AgentAddressNameNumber			NVARCHAR(50),
			@AgentAddressLine1				NVARCHAR(50),
			@AgentAddressLine2				NVARCHAR(50),
			@AgentAddressLine3				NVARCHAR(50),
			@AgentAddressTown				NVARCHAR(50),
			@AgentAddressCountyGuid			UNIQUEIDENTIFIER,
			@AgentAddressPostCode			NVARCHAR(50),
			@AgentAddressCountryGuid		UNIQUEIDENTIFIER,
			@ContactForAgentGuid			UNIQUEIDENTIFIER,
			@AgentContactDisplayName		NVARCHAR(250),
			@AgentContactDetailType		    SMALLINT, 
			@AgentContactDetailTypeName	    NVARCHAR(100),
			@AgentContactDetailTypeValue	NVARCHAR(250),
			@AgentContactDetailGuid		    UNIQUEIDENTIFIER,
			@AccountStatusGuid				UNIQUEIDENTIFIER,
			@QuotingUserGuid				UNIQUEIDENTIFIER,
			@FinanceAccountGuid				UNIQUEIDENTIFIER,
			@FinanceAddressGuid				UNIQUEIDENTIFIER,
			@FinanceContactGuid				UNIQUEIDENTIFIER,
			@FinanceName					NVARCHAR(250),
			@FinanceAddressNameNumber		NVARCHAR(50),
			@FinanceAddressLine1			NVARCHAR(50),
			@FinanceAddressLine2			NVARCHAR(50),
			@FinanceAddressLine3			NVARCHAR(50),
			@FinanceAddressTown				NVARCHAR(50),
			@FinanceAddressCountyGuid		UNIQUEIDENTIFIER,
			@FinanceAddressPostCode			NVARCHAR(50),
			@FinanceAddressCountryGuid		UNIQUEIDENTIFIER,
			@ContactForFinanceGuid			UNIQUEIDENTIFIER,
			@FinanceContactDisplayName		NVARCHAR(250),
			@FinanceContactDetailType		SMALLINT, 
			@FinanceContactDetailTypeName	NVARCHAR(100),
			@FinanceContactDetailTypeValue	NVARCHAR(250),
			@FinanceContactDetailGuid		UNIQUEIDENTIFIER,
			@ProjectGuid					UNIQUEIDENTIFIER,
			@IsClientFinanceAccount			BIT,
			@JobTypeId						INT, 
			@BillingInstruction				NVARCHAR(MAX),
			@ContractGuid					UNIQUEIDENTIFIER,
			@AgentContractGuid              UNIQUEIDENTIFIER


	SELECT	@PropertyGuid					= uprn.Guid,
			@PropertyNameNumber				= e.PropertyNameNumber,
			@PropertyAddressLine1			= e.PropertyAddressLine1,
			@PropertyAddressLine2			= e.PropertyAddressLine2,
			@PropertyAddressLine3			= e.PropertyAddressLine3,
			@PropertyTown					= e.PropertyTown,
			@PropertyCountyGuid				= uprnc.Guid,
			@PropertyPostCode				= e.PropertyPostCode,
			@PropertyCountryGuid			= uprncr.Guid,
			@ClientAccountGuid				= c.Guid,
			@ClientAddressGuid				= c_add.Guid,
			@ClientContactGuid				= c_con.Guid,
			@ClientName						= e.ClientName,
			@ClientAddressNameNumber		= e.ClientAddressNameNumber,
			@ClientAddressLine1				= e.ClientAddressLine1,
			@ClientAddressLine2				= e.ClientAddressLine2,
			@ClientAddressLine3				= e.ClientAddressLine3,
			@ClientAddressTown				= e.ClientAddressTown,
			@ClientAddressCountyGuid		= c_add_c.Guid,
			@ClientAddressPostCode			= e.ClientAddressPostCode,
			@ClientAddressCountryGuid		= c_add_cr.Guid,
			@ClientContactDisplayName		= e.ClientContactDisplayName,
			@ClientContactDetailType		= e.ClientContactDetailType, 
			@ClientContactDetailTypeName	= e.ClientContactDisplayName,
			@ClientContactDetailTypeValue	= e.ClientContactDetailTypeValue,
			@AgentAccountGuid				= a.Guid,
			@AgentAddressGuid				= a_add.Guid,
			@AgentContactGuid				= a_con.Guid,
			@AgentName						= e.AgentName,
			@AgentAddressNameNumber			= e.AgentAddressNameNumber,
			@AgentAddressLine1				= e.AgentAddressLine1,
			@AgentAddressLine2				= e.AgentAddressLine2,
			@AgentAddressLine3				= e.AgentAddressLine3,
			@AgentAddressTown				= e.AgentTown,
			@AgentAddressCountyGuid			= a_add_c.Guid,
			@AgentAddressPostCode			= e.AgentAddressPostCode,
			@AgentAddressCountryGuid		= a_add_cr.Guid,
			@AgentContactDisplayName		= e.AgentContactDisplayName,
			@AgentContactDetailType			= e.AgentContactDetailType, 
			@AgentContactDetailTypeName		= e.AgentContactDisplayName,
			@AgentContactDetailTypeValue	= e.AgentContactDetailTypeValue,
			@FinanceAccountGuid				= f.Guid,
			@FinanceAddressGuid				= f_add.Guid,
			@FinanceContactGuid				= f_con.Guid,
			@FinanceName					= e.FinanceAccountName,
			@FinanceAddressNameNumber		= e.FinanceAddressNameNumber,
			@FinanceAddressLine1			= e.FinanceAddressLine1,
			@FinanceAddressLine2			= e.FinanceAddressLine2,
			@FinanceAddressLine3			= e.FinanceAddressLine3,
			@FinanceAddressTown				= e.FinanceTown,
			@FinanceAddressCountyGuid		= f_add_c.Guid,
			@FinanceAddressPostCode			= e.FinancePostCode,
			@FinanceAddressCountryGuid		= f_add_cr.Guid,
			@FinanceContactDisplayName		= e.FinanceContactDisplayName,
			@FinanceContactDetailType		= e.FinanceContactDetailType, 
			@FinanceContactDetailTypeName	= e.FinanceContactDisplayName,
			@FinanceContactDetailTypeValue	= e.FinanceContactDetailTypeValue,
			@QuotingUserGuid				= i.Guid,
			@IsClientFinanceAccount			= e.IsClientFinanceAccount,
			@ProjectGuid					= p.Guid,
			@ContractGuid                   = cc.Guid,
			@AgentContractGuid              = ac.Guid
	FROM	SSop.Enquiries			  AS e
	JOIN	SCore.OrganisationalUnits AS ou ON (ou.ID			  = e.OrganisationalUnitID)
	JOIN	SCore.Identities		  AS i ON (i.ID				  = e.CreatedByUserId)
	JOIN	SJob.Assets			  AS uprn ON (uprn.ID		  = e.PropertyId)
	JOIN	SCrm.Counties			  AS uprnc ON (uprnc.ID		  = e.PropertyCountyId)
	JOIN	SCrm.Countries			  AS uprncr ON (uprncr.ID	  = e.PropertyCountryId)
	JOIN	SCrm.Accounts			  AS c ON (c.ID				  = e.ClientAccountId)
	JOIN	SCrm.AccountAddresses	  AS c_add ON (c_add.ID		  = e.ClientAddressId)
	JOIN	SCrm.Counties			  AS c_add_c ON (c_add_c.ID	  = e.ClientAddressCountyId)
	JOIN	SCrm.Countries			  AS c_add_cr ON (c_add_cr.ID = e.ClientAddressCountryId)
	JOIN	SCrm.AccountContacts	  AS c_con ON (c_con.ID		  = e.ClientAccountContactId)
	JOIN	SCrm.Accounts			  AS a ON (a.ID				  = e.AgentAccountId)
	JOIN	SCrm.AccountAddresses	  AS a_add ON (a_add.ID		  = e.AgentAddressId)
	JOIN	SCrm.Counties			  AS a_add_c ON (a_add_c.ID	  = e.AgentCountyId)
	JOIN	SCrm.Countries			  AS a_add_cr ON (a_add_cr.ID = e.AgentCountryId)
	JOIN	SCrm.Accounts			  AS f ON (f.ID				  = e.FinanceAccountId)
	JOIN	SCrm.AccountAddresses	  AS f_add ON (f_add.ID		  = e.FinanceAddressId)
	JOIN	SCrm.Counties			  AS f_add_c ON (f_add_c.ID	  = e.FinanceCountyId)
	JOIN	SCrm.Countries			  AS f_add_cr ON (f_add_cr.ID = f_add_c.CountryID)
	JOIN	SCrm.AccountContacts	  AS f_con ON (f_con.ID		  = e.FinanceContactId)
	JOIN	SCrm.AccountContacts	  AS a_con ON (a_con.ID		  = e.AgentAccountContactId)
	JOIN	SSop.Projects			  AS p ON (p.ID				  = e.ProjectId)
	JOIN    SSop.Contracts            AS cc ON (e.ContractID      = cc.ID)
	JOIN    SSop.Contracts            AS ac ON (e.AgentContractID = ac.ID)
	WHERE	(e.Guid = @Guid);


	/* Convert new structure details */
	IF (@PropertyGuid = '00000000-0000-0000-0000-000000000000')
	BEGIN
		SET @PropertyGuid = NEWID ();

		EXEC SJob.AssetsUpsert @ParentAssetGuid = '00000000-0000-0000-0000-000000000000',		-- uniqueidentifier
								   @Name = N'',															-- nvarchar(100)
								   @Number = @PropertyNameNumber,										-- nvarchar(50)
								   @AddressLine1 = @PropertyAddressLine1,								-- nvarchar(50)
								   @AddressLine2 = @PropertyAddressLine2,								-- nvarchar(50)
								   @AddressLine3 = @PropertyAddressLine3,								-- nvarchar(50)
								   @Town = @PropertyTown,												-- nvarchar(50)
								   @CountyGuid = @PropertyCountyGuid,									-- nvarchar(50)
								   @Postcode = @PropertyPostCode,										-- nvarchar(50)
								   @CountryGuid = @PropertyCountryGuid,
								   @LocalAuthorityAccountGuid = '00000000-0000-0000-0000-000000000000', -- uniqueidentifier
								   @FireAuthorityAccountGuid = '00000000-0000-0000-0000-000000000000',	-- uniqueidentifier
								   @WaterAuthorityAccountGuid = '00000000-0000-0000-0000-000000000000', -- uniqueidentifier
								   @Latitude = 0,														-- decimal(9, 6)
								   @Longitude = 0,														-- decimal(9, 6)
								   @IsHighRiskBuilding = 0,
								   @IsComplexBuilding = 0,
								   @BuildingHeightInMetres = 0,
								   @OwnerAccountGuid = '00000000-0000-0000-0000-000000000000',
								   @Guid = @PropertyGuid;												-- uniqueidentifier

	END;

	SELECT	@AccountStatusGuid = s.Guid
	FROM	SCrm.AccountStatus AS s
	WHERE	(s.Name = N'Prospect');

	/* Convert new client details */
	IF (@ClientAccountGuid = '00000000-0000-0000-0000-000000000000')
   AND	(@ClientName <> N'')
	BEGIN
		SET @ClientAccountGuid = NEWID ();

		EXEC SCrm.AccountsUpsert @Name = @ClientName,											-- nvarchar(250)
								 @Code = N'',													-- nvarchar(10)
								 @AccountStatusGuid = @AccountStatusGuid,						-- uniqueidentifier
								 @ParentAccountGuid = '00000000-0000-0000-0000-000000000000',	-- uniqueidentifier
								 @IsPurchaseLedger = 0,											-- bit
								 @IsSalesLedger = 1,											-- bit
								 @IsLocalAuthority = 0,											-- bit
								 @IsFireAuthority = 0,											-- bit
								 @IsWaterAuthority = 0,											-- bit
								 @RelationshipManagerUserGuid = @QuotingUserGuid,				-- uniqueidentifier
								 @CompanyRegistrationNumber = N'',								-- nvarchar(50)
								 @MainAccountContactGuid = '00000000-0000-0000-0000-000000000000',
								 @MainAccountAddressGuid = '00000000-0000-0000-0000-000000000000',
								 @Guid = @ClientAccountGuid,									-- uniqueidentifier
								 @BillingInstruction = NULL; --Since it is a new Account record, we can set it to null
	END;

	

	IF (
		   @ClientAddressGuid = '00000000-0000-0000-0000-000000000000'
	   AND	@ClientAddressNameNumber <> N''
	   )
	BEGIN
		SET @ClientAddressGuid = NEWID ();

		EXEC SCrm.AddressUpsert @AddressNumber = 0,							-- int
								@Name = N'',								-- nvarchar(100)
								@Number = @ClientAddressNameNumber,			-- nvarchar(100)
								@AddressLine1 = @ClientAddressLine1,		-- nvarchar(255)
								@AddressLine2 = @ClientAddressLine2,		-- nvarchar(255)
								@AddressLine3 = @ClientAddressLine3,		-- nvarchar(255)
								@Town = @ClientAddressTown,					-- nvarchar(255)
								@CountyGuid = @ClientAddressCountyGuid,		-- uniqueidentifier
								@Postcode = @ClientAddressPostCode,			-- nvarchar(50)
								@CountryGuid = @ClientAddressCountryGuid,	-- uniqueidentifier
								@Guid = @ClientAddressGuid OUTPUT;			-- uniqueidentifier

		DECLARE @AccountAddressGuid UNIQUEIDENTIFIER = NEWID ();

		EXEC SCrm.AccountAddressesUpsert @AccountGuid = @ClientAccountGuid, -- uniqueidentifier
										 @AddressGuid = @ClientAddressGuid, -- uniqueidentifier
										 @Guid = @AccountAddressGuid;		-- uniqueidentifier

		SET @ClientAddressGuid = @AccountAddressGuid;

		IF (EXISTS
		 (
			 SELECT 1
			 FROM	SCrm.Accounts AS a
			 WHERE	(a.MainAccountAddressId < 0)
				AND (a.Guid					= @ClientAccountGuid)
		 )
		   )
		BEGIN
			UPDATE	a
			SET		a.MainAccountAddressId = aa.ID
			FROM	SCrm.Accounts		  AS a
			JOIN	SCrm.AccountAddresses AS aa ON (aa.AccountID = a.ID)
			WHERE	(a.Guid = @ClientAccountGuid);
		END;


		/*
			Create Contact and then Account Contact
		*/
		
		IF(@ClientContactDisplayName <> N'')
		BEGIN
		
			SET @ContactForClientGuid = NEWID();
			EXEC SCrm.ContactUpsert @FirstName = N'',
									@Surname = N'',
									@DisplayName = @ClientContactDisplayName,
									@IsPerson = 1,
									@PrimaryAccountGuid = '00000000-0000-0000-0000-000000000000',
									@PrimaryAddressGuid = '00000000-0000-0000-0000-000000000000',
									@TitleGuid = '00000000-0000-0000-0000-000000000000',
									@PositionGuid =  '00000000-0000-0000-0000-000000000000',
									@Initials = N'',
									@PostNominals = N'',
									@Guid = @ContactForClientGuid

			DECLARE @ContactDetailGuid UNIQUEIDENTIFIER = NEWID();
			DECLARE @ContactDetailTypeGuid UNIQUEIDENTIFIER;


			-- Get the GUID for the contact detail type.
			SELECT @ContactDetailTypeGuid = Guid
			FROM SCrm.ContactDetailTypes AS CDT
			WHERE (CDT.ID = @ClientContactDetailType)


			-- Create the contact detail for the contact.
			EXEC SCrm.ContactDetailUpsert @Name = @ClientContactDetailTypeName,           
										  @Value = @ClientContactDetailTypeValue,                
										  @ContactGuid = @ContactForClientGuid,      
										  @ContactDetailTypeGuid  = @ContactDetailTypeGuid,
										  @IsDefault = 0,           
										  @Guid = @ContactDetailGuid  
										  

			DECLARE @ClientAccountContactDetailGuid UNIQUEIDENTIFIER = NEWID();
			-- Add the contact to the account.
			EXEC SCrm.AccountContactsUpsert @AccountGuid = @ClientAccountGuid,
											@ContactGuid = @ContactForClientGuid,
											@PrimaryAccountAddressGuid = @AccountAddressGuid,
											@Guid = @ClientAccountContactDetailGuid

		END;
	END;


		


	IF (@IsClientFinanceAccount = 1)
	BEGIN
		SET @FinanceAccountGuid = @ClientAccountGuid;
		SET @FinanceAddressGuid = @ClientAddressGuid;
		SET @FinanceContactGuid = @ClientContactGuid;
	END;

	/* Convert new agent details */
	IF (@AgentAccountGuid = '00000000-0000-0000-0000-000000000000')
   AND	(@AgentName <> N'')
	BEGIN
		SET @AgentAccountGuid = NEWID ();

		EXEC SCrm.AccountsUpsert @Name = @AgentName,											-- nvarchar(250)
								 @Code = N'',													-- nvarchar(10)
								 @AccountStatusGuid = @AccountStatusGuid,						-- uniqueidentifier
								 @ParentAccountGuid = '00000000-0000-0000-0000-000000000000',	-- uniqueidentifier
								 @IsPurchaseLedger = 0,											-- bit
								 @IsSalesLedger = 1,											-- bit
								 @IsLocalAuthority = 0,											-- bit
								 @IsFireAuthority = 0,											-- bit
								 @IsWaterAuthority = 0,											-- bit
								 @RelationshipManagerUserGuid = @QuotingUserGuid,				-- uniqueidentifier
								 @CompanyRegistrationNumber = N'',								-- nvarchar(50)
								 @MainAccountAddressGuid = '00000000-0000-0000-0000-000000000000',
								 @MainAccountContactGuid = '00000000-0000-0000-0000-000000000000',
								 @Guid = @AgentAccountGuid,										-- uniqueidentifier
								 @BillingInstruction = NULL; --Same as above --> Since it is new, it can be set to null.

	END;

	IF (
		   @AgentAddressGuid = '00000000-0000-0000-0000-000000000000'
	   AND	@AgentAddressNameNumber <> N''
	   )
	BEGIN
		SET @AgentAddressGuid = NEWID ();

		EXEC SCrm.AddressUpsert @AddressNumber = 0,							-- int
								@Name = N'',								-- nvarchar(100)
								@Number = @AgentAddressNameNumber,			-- nvarchar(100)
								@AddressLine1 = @AgentAddressLine1,			-- nvarchar(255)
								@AddressLine2 = @AgentAddressLine2,			-- nvarchar(255)
								@AddressLine3 = @AgentAddressLine3,			-- nvarchar(255)
								@Town = @AgentAddressTown,					-- nvarchar(255)
								@CountyGuid = @AgentAddressCountyGuid,		-- uniqueidentifier
								@Postcode = @AgentAddressPostCode,			-- nvarchar(50)
								@CountryGuid = @AgentAddressCountryGuid,	-- uniqueidentifier
								@Guid = @AgentAddressGuid OUTPUT;			-- uniqueidentifier

		DECLARE @AgentAccountAddressGuid UNIQUEIDENTIFIER = NEWID ();

		EXEC SCrm.AccountAddressesUpsert @AccountGuid = @AgentAccountGuid,	-- uniqueidentifier
										 @AddressGuid = @AgentAddressGuid,	-- uniqueidentifier
										 @Guid = @AgentAccountAddressGuid;	-- uniqueidentifier

		SET @AgentAddressGuid = @AgentAccountAddressGuid;

		IF (EXISTS
		 (
			 SELECT 1
			 FROM	SCrm.Accounts AS a
			 WHERE	(a.MainAccountAddressId < 0)
				AND (a.Guid					= @AgentAccountGuid)
		 )
		   )
		BEGIN
			UPDATE	a
			SET		a.MainAccountAddressId = aa.ID
			FROM	SCrm.Accounts		  AS a
			JOIN	SCrm.AccountAddresses AS aa ON (aa.AccountID = a.ID)
			WHERE	(a.Guid = @AgentAccountGuid);
		END;

		-- Create Contact and then Account Contact for Agent
		IF(@AgentContactDisplayName <> N'')
		BEGIN
		
			SET @ContactForAgentGuid = NEWID();
			EXEC SCrm.ContactUpsert @FirstName = N'',
									@Surname = N'',
									@DisplayName = @AgentContactDisplayName,
									@IsPerson = 1,
									@PrimaryAccountGuid = '00000000-0000-0000-0000-000000000000',
									@PrimaryAddressGuid = '00000000-0000-0000-0000-000000000000',
									@TitleGuid = '00000000-0000-0000-0000-000000000000',
									@PositionGuid =  '00000000-0000-0000-0000-000000000000',
									@Initials = N'',
									@PostNominals = N'',
									@Guid = @ContactForAgentGuid

			SET @AgentContactDetailGuid = NEWID();
			DECLARE @AgentContactDetailTypeGuid UNIQUEIDENTIFIER;


			-- Get the GUID for the contact detail type.
			SELECT @AgentContactDetailTypeGuid = Guid
			FROM SCrm.ContactDetailTypes AS CDT
			WHERE (CDT.ID = @AgentContactDetailType)


			-- Create the contact detail for the contact.
			EXEC SCrm.ContactDetailUpsert @Name = @AgentContactDetailTypeName,           
										  @Value = @AgentContactDetailTypeValue,                
										  @ContactGuid = @ContactForAgentGuid,      
										  @ContactDetailTypeGuid  = @AgentContactDetailTypeGuid,
										  @IsDefault = 0,           
										  @Guid = @AgentContactDetailGuid  
										  

			DECLARE @AgentAccountContactDetailGuid UNIQUEIDENTIFIER = NEWID();
			-- Add the contact to the account.
			EXEC SCrm.AccountContactsUpsert @AccountGuid = @AgentAccountGuid,
											@ContactGuid = @ContactForAgentGuid,
											@PrimaryAccountAddressGuid = @AgentAccountAddressGuid,
											@Guid = @AgentAccountContactDetailGuid

		END;
	END;

		

	/* Convert new finance details */
	IF (@FinanceAccountGuid = '00000000-0000-0000-0000-000000000000')
   AND	(@FinanceName <> N'')
   AND	(@IsClientFinanceAccount = 0)
	BEGIN
		SET @FinanceAccountGuid = NEWID ();

		EXEC SCrm.AccountsUpsert @Name = @FinanceName,											-- nvarchar(250)
								 @Code = N'',													-- nvarchar(10)
								 @AccountStatusGuid = @AccountStatusGuid,						-- uniqueidentifier
								 @ParentAccountGuid = '00000000-0000-0000-0000-000000000000',	-- uniqueidentifier
								 @IsPurchaseLedger = 0,											-- bit
								 @IsSalesLedger = 1,											-- bit
								 @IsLocalAuthority = 0,											-- bit
								 @IsFireAuthority = 0,											-- bit
								 @IsWaterAuthority = 0,											-- bit
								 @RelationshipManagerUserGuid = @QuotingUserGuid,				-- uniqueidentifier
								 @CompanyRegistrationNumber = N'',								-- nvarchar(50)
								 @MainAccountAddressGuid = '00000000-0000-0000-0000-000000000000',
								 @MainAccountContactGuid = '00000000-0000-0000-0000-000000000000',
								 @Guid = @FinanceAccountGuid,									-- uniqueidentifier
								 @BillingInstruction = NULL; --Same as above -> New record can be set to null
	END;

	IF (
		   @FinanceAddressGuid = '00000000-0000-0000-0000-000000000000'
	   AND	@FinanceAddressNameNumber <> N''
	   AND	(@IsClientFinanceAccount = 0)
	   )
	BEGIN
		SET @FinanceAddressGuid = NEWID ();

		EXEC SCrm.AddressUpsert @AddressNumber = 0,							-- int
								@Name = N'',								-- nvarchar(100)
								@Number = @FinanceAddressNameNumber,		-- nvarchar(100)
								@AddressLine1 = @FinanceAddressLine1,		-- nvarchar(255)
								@AddressLine2 = @FinanceAddressLine2,		-- nvarchar(255)
								@AddressLine3 = @FinanceAddressLine3,		-- nvarchar(255)
								@Town = @FinanceAddressTown,				-- nvarchar(255)
								@CountyGuid = @FinanceAddressCountyGuid,	-- uniqueidentifier
								@Postcode = @FinanceAddressPostCode,		-- nvarchar(50)
								@CountryGuid = @FinanceAddressCountryGuid,	-- uniqueidentifier
								@Guid = @FinanceAddressGuid OUTPUT;			-- uniqueidentifier

		DECLARE @FinanceAccountAddressGuid UNIQUEIDENTIFIER = NEWID ();
		
		
		--EXEC SCrm.AddressUpsert 
		--						@AccountGuid = @FinanceAccountGuid, -- uniqueidentifier
		--						@AddressGuid = @FinanceAddressGuid, -- uniqueidentifier
		--						@Guid = @FinanceAccountAddressGuid; -- uniqueidentifier

		EXEC SCrm.AccountAddressesUpsert 
								@AccountGuid = @FinanceAccountGuid, -- uniqueidentifier
								@AddressGuid = @FinanceAddressGuid, -- uniqueidentifier
								@Guid = @FinanceAccountAddressGuid; -- uniqueidentifier

		

		SET @FinanceAddressGuid = @FinanceAccountAddressGuid;

		IF (EXISTS
		 (
			 SELECT 1
			 FROM	SCrm.Accounts AS a
			 WHERE	(a.MainAccountAddressId < 0)
				AND (a.Guid					= @FinanceAccountGuid)
		 )
		   )
		BEGIN
			UPDATE	a
			SET		a.MainAccountAddressId = aa.ID
			FROM	SCrm.Accounts		  AS a
			JOIN	SCrm.AccountAddresses AS aa ON (aa.AccountID = a.ID)
			WHERE	(a.Guid = @FinanceAccountGuid);
		END;

		/*
			Create Contact and then Account Contact for Agent
		*/
		
		IF(@FinanceContactDisplayName <> N'')
		BEGIN
		
			SET @ContactForFinanceGuid = NEWID();
			EXEC SCrm.ContactUpsert @FirstName = N'',
									@Surname = N'',
									@DisplayName = @FinanceContactDisplayName,
									@IsPerson = 1,
									@PrimaryAccountGuid = '00000000-0000-0000-0000-000000000000',
									@PrimaryAddressGuid = '00000000-0000-0000-0000-000000000000',
									@TitleGuid = '00000000-0000-0000-0000-000000000000',
									@PositionGuid =  '00000000-0000-0000-0000-000000000000',
									@Initials = N'',
									@PostNominals = N'',
									@Guid = @ContactForFinanceGuid

			SET @FinanceContactDetailGuid = NEWID();
			DECLARE @FinanceContactDetailTypeGuid UNIQUEIDENTIFIER;


			-- Get the GUID for the contact detail type.
			SELECT @FinanceContactDetailTypeGuid = Guid
			FROM SCrm.ContactDetailTypes AS CDT
			WHERE (CDT.ID = @FinanceContactDetailType)


			-- Create the contact detail for the contact.
			EXEC SCrm.ContactDetailUpsert @Name = @FinanceContactDetailTypeName,           
										  @Value = @FinanceContactDetailTypeValue,                
										  @ContactGuid = @ContactForFinanceGuid,      
										  @ContactDetailTypeGuid  = @FinanceContactDetailTypeGuid,
										  @IsDefault = 0,           
										  @Guid = @FinanceContactDetailGuid  
										  

			DECLARE @FinanceAccountContactDetailGuid UNIQUEIDENTIFIER = NEWID();
			-- Add the contact to the account.
			EXEC SCrm.AccountContactsUpsert @AccountGuid = @FinanceAccountGuid,
											@ContactGuid = @ContactForFinanceGuid,
											@PrimaryAccountAddressGuid = @FinanceAccountAddressGuid,
											@Guid = @FinanceAccountContactDetailGuid

		END;
	END;

		

	/* Build a consolidated list of quotes to create  */
	DECLARE @QuotesToCreate TABLE
		(
			ID INT NOT NULL PRIMARY KEY,
			Guid UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID (),
			OrganisationalUnitGuid UNIQUEIDENTIFIER NOT NULL,
			EnquiryGuid UNIQUEIDENTIFIER NOT NULL,
			DescriptionOfWorks NVARCHAR(4000) NOT NULL,
			JobTypeName NVARCHAR(100) NOT NULL,
			JobTypeId	INT NOT NULL, 
			SendInfoToClient BIT NOT NULL,
			SendInfoToAgent BIT NOT NULL,
			ExternalReference NVARCHAR(50) NOT NULL,
			ValueOfWork DECIMAL(19, 2) NOT NULL,
			CurrentStageGuid UNIQUEIDENTIFIER NOT NULL,
			AppointmentStageGuid UNIQUEIDENTIFIER NOT NULL,
			IsSubjectToNDA BIT NOT NULL,
			EnquiryServiceGuid UNIQUEIDENTIFIER NOT NULL
		);

	INSERT	@QuotesToCreate
		 (ID,
		  OrganisationalUnitGuid,
		  EnquiryGuid,
		  DescriptionOfWorks,
		  JobTypeName,
		  JobTypeId,
		  SendInfoToClient,
		  SendInfoToAgent,
		  ExternalReference,
		  ValueOfWork,
		  CurrentStageGuid,
		  AppointmentStageGuid,
		  IsSubjectToNDA,
		  EnquiryServiceGuid)
	SELECT	es.ID,
			ou.Guid,
			@Guid,
			e.DescriptionOfWorks,
			jt.Name,
			jt.ID, 
			e.SendInfoToClient,
			e.SendInfoToAgent,
			e.ExternalReference,
			e.ValueOfWork,
			cs.Guid,
			aps.Guid,
			e.IsSubjectToNDA,
			es.Guid
	FROM	SSop.EnquiryServices	  AS es
	JOIN	SSop.Enquiries			  AS e ON (e.ID		= es.EnquiryId)
	JOIN	SJob.JobTypes			  AS jt ON (jt.ID	= es.JobTypeId)
	JOIN	SCore.OrganisationalUnits AS ou ON (ou.ID	= jt.OrganisationalUnitID)
	JOIN	SJob.RibaStages			  AS cs ON (cs.ID	= e.CurrentProjectRibaStageID)
	JOIN	SJob.RibaStages			  AS aps ON (aps.ID = es.StartRibaStageId)
	WHERE	(e.Guid = @Guid)
		AND (es.RowStatus NOT IN (0, 254))
		AND (NOT EXISTS
		(
			SELECT	1
			FROM	SSop.Quotes AS q
			WHERE	(q.EnquiryServiceID = es.ID)
				AND (q.RowStatus NOT IN (0, 254))
		)
			);

	IF NOT EXISTS
	 (
		 SELECT 1
		 FROM	@QuotesToCreate
	 )
	BEGIN
		;
		THROW 60000, N'There were no quotes to create', 1;
	END;

	/*
		  Loop through the list of Quotes executing QuotesUpsert
	  */
	DECLARE @CreatedDateTime		DATETIME2 = GETUTCDATE (),
			@ExpiryDate				DATETIME2 = DATEADD (	MONTH,
															6,
															GETUTCDATE ()
														),
			@OrganisationalUnitGuid UNIQUEIDENTIFIER,
			@DescriptionOfWorks		NVARCHAR(4000),
			@QuoteGuid				UNIQUEIDENTIFIER,
			@MaxID					INT,
			@CurrentId				INT,
			@ExternalReference		NVARCHAR(50),
			@CurrentStageGuid		UNIQUEIDENTIFIER,
			@AppointmentStageGuid	UNIQUEIDENTIFIER,
			@EnquiryServiceGuid		UNIQUEIDENTIFIER,
			@IsSubjectToNDA         BIT;


	SELECT	@MaxID	   = MAX (ID),
			@CurrentId = 0
	FROM	@QuotesToCreate;

	WHILE (@CurrentId < @MaxID)
	BEGIN
		SELECT		TOP (1) @CurrentId				= q.ID,
							@DescriptionOfWorks		= q.JobTypeName + N' -- ' + q.DescriptionOfWorks,
							@QuoteGuid				= q.Guid,
							@OrganisationalUnitGuid = q.OrganisationalUnitGuid,
							@ExternalReference		= q.ExternalReference,
							@CurrentStageGuid		= q.CurrentStageGuid,
							@AppointmentStageGuid	= q.AppointmentStageGuid,
							@EnquiryServiceGuid		= q.EnquiryServiceGuid,
							@IsSubjectToNDA         = q.IsSubjectToNDA,
							@JobTypeId = q.JobTypeId
		FROM		@QuotesToCreate AS q
		WHERE		(q.ID > @CurrentId)
		ORDER BY	q.ID;

		EXEC SSop.QuotesUpsert @OrganisationalUnitGuid = @OrganisationalUnitGuid,		-- uniqueidentifier
							   @QuotingUserGuid = @QuotingUserGuid,						-- uniqueidentifier
							   @ContractGuid = @ContractGuid,	-- uniqueidentifier
							   @Date = @CreatedDateTime,								-- date
							   @Overview = @DescriptionOfWorks,							-- nvarchar(max)
							   @ExpiryDate = @ExpiryDate,								-- date
							   @DateSent = NULL,										-- date
							   @DateAccepted = NULL,									-- date
							   @DateRejected = NULL,									-- date
							   @RejectionReason = N'',									-- nvarchar(max)
							   @FeeCap = 0,												-- decimal(19, 2)
							   @IsFinal = 0,
							   @ExternalReference = @ExternalReference,
							   @QuotingConsultantGuid = @QuotingUserGuid,
							   @AppointmentFromRibaStageGuid = @AppointmentStageGuid,
							   @CurrentStageGuid = @CurrentStageGuid,
							   @DeadDate = NULL,
							   @EnquiryServiceGuid = @EnquiryServiceGuid,
							   @ProjectGuid = @ProjectGuid,
							   @Guid = @QuoteGuid,
							   @JobType = @EnquiryServiceGuid,	
							   @DescriptionOfWorks = @DescriptionOfWorks,
							   @DeclinedToQuoteReason = N'',
							   @ExclusionsAndLimitations = N'',
							   @IsSubjectToNDA = @IsSubjectToNDA,
							   @AgentContractGuid = @AgentContractGuid;
							  
	END;

	DECLARE @PropertyID		  INT,
			@ClientID		  INT,
			@AgentID		  INT,
			@FinanceID		  INT,
			@ClientAddressID  INT,
			@AgentAddressID	  INT,
			@FinanceAddressID INT,
			@ClientContactID  INT,
			@AgentContactID   INT,
			@FinanceContactID INT;

	SELECT	@PropertyID = p.ID
	FROM	SJob.Assets AS p
	WHERE	(p.Guid = @PropertyGuid);

	SELECT	@ClientID = a.ID
	FROM	SCrm.Accounts AS a
	WHERE	(a.Guid = @ClientAccountGuid);

	SELECT	@ClientAddressID = a.ID
	FROM	SCrm.AccountAddresses AS a
	WHERE	(a.Guid = @ClientAddressGuid);

	SELECT	@AgentID = a.ID
	FROM	SCrm.Accounts AS a
	WHERE	(a.Guid = @AgentAccountGuid);

	SELECT	@AgentAddressID = a.ID
	FROM	SCrm.AccountAddresses AS a
	WHERE	(a.Guid = @AgentAddressGuid);

	SELECT	@FinanceID = a.ID
	FROM	SCrm.Accounts AS a
	WHERE	(a.Guid = @FinanceAccountGuid);

	SELECT	@FinanceAddressID = a.ID
	FROM	SCrm.AccountAddresses AS a
	WHERE	(a.Guid = @FinanceAddressGuid);


	


	SELECT @ClientContactID = ID
	FROM SCrm.AccountContacts
	WHERE Guid = @ClientAccountContactDetailGuid;

	SELECT @AgentContactID = ID
	FROM SCrm.AccountContacts
	WHERE Guid = @AgentAccountContactDetailGuid;

	SELECT @FinanceContactID = ID
	FROM SCrm.AccountContacts
	WHERE Guid = @FinanceAccountContactDetailGuid;


	

	/* Update the Enquiry with the created records */
	UPDATE	SSop.Enquiries
	SET		PropertyId = @PropertyID,
			ClientAccountId = @ClientID,
			AgentAccountId = @AgentID,
			FinanceAccountId = @FinanceID,
			ClientAddressId = @ClientAddressID,
			AgentAddressId = @AgentAddressID,
			FinanceAddressId = @FinanceAddressID,
			EnterNewClientDetails = 0,
			EnterNewAgentDetails = 0,
			EnterNewFinanceDetails = 0,
			EnterNewStructureDetails = 0
	WHERE	(Guid = @Guid);

	-- Set the client contact, finance contact, and agent contact.
	IF(@ClientContactDisplayName <> N'')
	BEGIN
		UPDATE SSop.Enquiries
		SET ClientAccountContactId = @ClientContactID
		WHERE	(Guid = @Guid);
	END;

	IF(@AgentContactDisplayName <> N'')
	BEGIN
		UPDATE SSop.Enquiries
		SET AgentAccountContactId = @AgentContactID
		WHERE	(Guid = @Guid);
	END;

	IF(@FinanceContactDisplayName <> N'')
	BEGIN
		UPDATE SSop.Enquiries
		SET FinanceContactId = @FinanceContactID
		WHERE	(Guid = @Guid);
	END;

END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO