-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 04/11/2025 10:57:54
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Create or alter procedure [SCore].[DataObjectTransitionUpsert]
--
GO
CREATE OR ALTER PROCEDURE [SCore].[DataObjectTransitionUpsert]
(
	@Guid UNIQUEIDENTIFIER,
	@OldStatusGuid UNIQUEIDENTIFIER,
	@StatusGuid UNIQUEIDENTIFIER ,
	@Comment NVARCHAR(MAX),
	@CreatedByUserGuid UNIQUEIDENTIFIER,
	@SurveyorUserGuid UNIQUEIDENTIFIER,
	@DataObjectGuid UNIQUEIDENTIFIER,
	@IsImported BIT
)
AS 
	BEGIN
		SET NOCOUNT ON;

		DECLARE @DateTimeUTC DATETIME2(7);
		DECLARE @CreatedByUserID INT;
		DECLARE @SurveyorUserID INT;
		DECLARE @OldStatusID INT;
		DECLARE @StatusID INT;
		

		DECLARE @IsInsert BIT = 0;
		EXEC SCore.UpsertDataObject
		  @Guid       = @Guid,					-- uniqueidentifier
		  @SchemeName = N'SCore',			-- nvarchar(255)
		  @ObjectName = N'DataObjectTransition',		-- nvarchar(255)
		  @IsInsert   = @IsInsert OUTPUT;	-- bit


		--Set creation date
		SET @DateTimeUTC = SYSUTCDATETIME();

		--Created By User.
		SELECT @CreatedByUserID = ID 
		FROM SCore.Identities
		WHERE Guid = @CreatedByUserGuid;

		--Surveyor.
		SELECT @SurveyorUserID = ID 
		FROM SCore.Identities
		WHERE Guid = @SurveyorUserGuid;

		--Get the previous status - return "N/A" if this is the first state.
		IF(EXISTS
			(
				SELECT 1 
				FROM SCore.DataObjectTransition AS dot
				WHERE  
					(dot.DataObjectGuid = @DataObjectGuid) AND
					(dot.RowStatus NOT IN (0,254))
			)
		)
			BEGIN
				SELECT @OldStatusID =  dot.StatusID
				FROM SCore.DataObjectTransition AS dot
				WHERE  
					(dot.DataObjectGuid = @DataObjectGuid) AND 
					(NOT EXISTS
						(
							SELECT 1 
							FROM SCore.DataObjectTransition AS dot2
							WHERE 
								(dot2.RowStatus NOT IN (0,254)) AND
								(dot2.ID > dot.ID) AND
								(dot2.DataObjectGuid = @DataObjectGuid)
						)
					)

			END
		ELSE
			BEGIN
				--Set to "N/A" since it's the first transition made to the record.
				SELECT @OldStatusID = ID
				FROM SCore.WorkflowStatus wfs
				WHERE wfs.Guid = '00000000-0000-0000-0000-000000000000'
			END;



		--New Status.
		SELECT @StatusID = ID
		FROM SCore.WorkflowStatus
		WHERE Guid = @StatusGuid;



		--Get the record type.
		DECLARE @RecordTypeGuid UNIQUEIDENTIFIER;
		
		SELECT @RecordTypeGuid =  et.Guid
		FROM SCore.DataObjects dob
		JOIN SCore.EntityTypes AS et ON (et.ID = dob.EntityTypeId)
		WHERE 
			(dob.RowStatus NOT IN (0,254)) AND
			(dob.Guid = @DataObjectGuid);

		--Enquiries
		IF(@RecordTypeGuid = '3B4F2DF9-B6CF-4A49-9EED-2206473867A1') 
			BEGIN
				SELECT  @SurveyorUserID = CreatedByUserId
				FROM SSop.Enquiries
				WHERE Guid = @DataObjectGuid;
			END;

		--Quotes
		ELSE IF(@RecordTypeGuid = '1C4794C1-F956-4C32-B886-5500AC778A56')
			BEGIN
				SELECT  @SurveyorUserID = QuotingUserId
				FROM SSop.Quotes
				WHERE Guid = @DataObjectGuid;
			END;

		--Jobs
		ELSE IF(@RecordTypeGuid = '63542427-46AB-4078-ABD1-1D583C24315C') 
			BEGIN
				SELECT  @SurveyorUserID = CreatedByUserID
				FROM SJob.Jobs
				WHERE Guid = @DataObjectGuid;
			END;
			



		IF(@IsInsert = 1)
			BEGIN
				INSERT INTO [SCore].[DataObjectTransition]
				(
					Guid,
					RowStatus,
					OldStatusID,
					StatusID,
					Comment,
					DateTimeUTC,
					CreatedByUserId,
					SurveyorUserId,
					DataObjectGuid,
					IsImported
				)
				VALUES
				(
					@Guid,
					1,
					@OldStatusID,
					@StatusID,
					@Comment,
					@DateTimeUTC,
					@CreatedByUserID,
					@SurveyorUserID,
					@DataObjectGuid,
					@IsImported
				)
			END;
		ELSE
			BEGIN
				UPDATE [SCore].[DataObjectTransition]
				SET 
					StatusID = @StatusID,
					Comment = @Comment,
					CreatedByUserId = @CreatedByUserID,
					SurveyorUserId = @SurveyorUserID,
					DataObjectGuid = @DataObjectGuid,
					IsImported = @IsImported
				WHERE Guid = @Guid

			END;
	END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[tvf_Quotes]
--
GO
CREATE OR ALTER FUNCTION [SSop].[tvf_Quotes]
(
	@UserId INT
)
RETURNS TABLE
       --WITH SCHEMABINDING
AS RETURN	

SELECT  q.ID,
        q.RowStatus,
        q.RowVersion,
        q.Guid,
		q.FullNumber AS Number,
		CASE WHEN q.DescriptionOfWorks <> N'' THEN LEFT(q.DescriptionOfWorks, 200) ELSE LEFT(q.Overview, 200) END AS Details,
		--LEFT(q.Overview, 200) AS Details, 
		acc.Name + N' / ' + agent.Name AS Account,
		uprn.FormattedAddressComma,
		qcf.QuoteStatus AS QuoteStatus,
		i.FullName AS QuotingConsultant,
		ou.Name AS OrganisationalUnitName,
		jt.Name AS JobType,
		q.Date,
		q.ExternalReference,
		acc.Name AS Client,
	ISNULL(SUM(qi.Net), 0) AS TotalNet,
	--[Sent Date.]
    CONVERT(date, ISNULL(
        MAX(CASE WHEN ws.Guid = WorkflowStatuses.SentStatus THEN dot.DateTimeUTC END),
        MAX(q.DateSent)
    )) AS QuoteSentDate,
	--[Chase Date 1 (ISNULL is used to ensure "legacy" statuses are captured in case they don't already have them.]
    CONVERT(date, ISNULL(
        MAX(CASE WHEN ws.Guid = WorkflowStatuses.ChaseOneStatus THEN dot.DateTimeUTC END),
        MAX(q.ChaseDate1)
    )) AS QuoteChaseDateOne,
	--[Case Date 2.]
    CONVERT(date, ISNULL(
        MAX(CASE WHEN ws.Guid = WorkflowStatuses.ChaseTwoStatus THEN dot.DateTimeUTC END),
        MAX(q.ChaseDate2)
    )) AS QuoteChaseDateTwo
FROM    SSop.Quotes q
JOIN	SSop.Quote_CalculatedFields qcf ON (qcf.ID = q.ID)
JOIN	SSop.EnquiryServices AS es ON (es.ID = q.EnquiryServiceID)
JOIN	SSop.Enquiries AS e ON (e.ID = es.EnquiryId)
JOIN	SCrm.Accounts acc ON (acc.ID = e.ClientAccountID)
JOIN	SCrm.Accounts agent ON (agent.ID = e.AgentAccountId)
JOIN	SJob.Assets uprn ON (uprn.ID = e.PropertyId)
JOIN	SCore.Identities i ON (i.ID = q.QuotingConsultantId)
JOIN    SCore.OrganisationalUnits ou ON q.OrganisationalUnitID = ou.ID
JOIN	SJob.JobTypes AS jt ON (jt.ID = es.JobTypeId)
LEFT JOIN SSop.QuoteItems AS qi 
    ON qi.QuoteId = q.ID
LEFT JOIN SCore.DataObjectTransition AS dot 
    ON dot.DataObjectGuid = q.Guid
LEFT JOIN SCore.WorkflowStatus AS ws 
    ON ws.ID = dot.StatusID
--[Dates we need for calculations (e.g. if something needs to be chased, needs chase 2, etc.)]
CROSS APPLY (
        SELECT  
            CONVERT(UNIQUEIDENTIFIER, '9FF22CEA-A2A6-4907-9B2D-E62DF8150913') AS ChaseOneStatus,
            CONVERT(UNIQUEIDENTIFIER, '1F01C16B-1A73-4844-A938-FE357405FD93') AS ChaseTwoStatus,
            CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032') AS SentStatus
    ) AS WorkflowStatuses
WHERE   (q.ID > 0)
AND	
(EXISTS
			(
		SELECT
				1
		FROM
				SCore.ObjectSecurityForUser_CanRead(q.Guid, @UserId) oscr
			)
		)
GROUP BY
    q.ID,
    q.RowStatus,
    q.RowVersion,
    q.Guid,
    q.FullNumber,
    q.DescriptionOfWorks,
    q.Overview,
    acc.Name,
    agent.Name,
    uprn.FormattedAddressComma,
    qcf.QuoteStatus,
    i.FullName,
    ou.Name,
    jt.Name,
    q.Date,
    q.ExternalReference,
	acc.Name
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SCore].[DataObjectTransitionImportLegacyStatus]
--
GO
CREATE OR ALTER PROCEDURE [SCore].[DataObjectTransitionImportLegacyStatus]
	
AS
	BEGIN
		
		
		

		--[Enquiries]
		DECLARE @EnquiryID INT;
		DECLARE @EnquiryGuid UNIQUEIDENTIFIER;
		DECLARE @EnquiryStatus NVARCHAR(20);

		--[Quotes]
		DECLARE @QuoteID INT;
		DECLARE @QuoteGuid UNIQUEIDENTIFIER;
		DECLARE @QuoteStatus NVARCHAR(20);

		--[Jobs]
		DECLARE @JobID INT;
		DECLARE @JobGuid UNIQUEIDENTIFIER;
		DECLARE @JobStatus NVARCHAR(20);

		--[Universal - exists across the record types]
		DECLARE @Number NVARCHAR(50);


		DROP TABLE IF EXISTS #RecordStatuses;
		DROP TABLE IF EXISTS #EnquiriesToProcess;
		DROP TABLE IF EXISTS #QuotesToProcess;
		DROP TABLE IF EXISTS #JobsToProcess;

		



		--Create temporary table to hold ALL statuses.
		CREATE TABLE #RecordStatuses
		(
			RecordType NVARCHAR(30),
			Number NVARCHAR(50),
			RecordStatus NVARCHAR(20),
			RecordGuid UNIQUEIDENTIFIER
		);




		-- 1: Process the enquiries
		SELECT ID, Number, Guid INTO #EnquiriesToProcess FROM SSop.Enquiries WHERE RowStatus NOT IN (0, 254) ORDER BY ID DESC;
		WHILE EXISTS(SELECT 1 FROM #EnquiriesToProcess)
		BEGIN
	
			SELECT TOP 1 @EnquiryID = ID, @Number = Number, @EnquiryGuid = Guid FROM #EnquiriesToProcess ORDER BY ID;
			SELECT @EnquiryStatus = QuotingStatus FROM SSop.Tvf_GetEnquiryStatuses(@EnquiryID);

	

			INSERT INTO #RecordStatuses (RecordType, Number, RecordStatus, RecordGuid)
			VALUES(N'Enquiry', @Number,  @EnquiryStatus, @EnquiryGuid);

			DELETE TOP (1) FROM #EnquiriesToProcess WHERE ID = @EnquiryID;
		END;


		--2: Process the quotes
		SELECT  ID, Number, Guid  INTO #QuotesToProcess FROM SSop.Quotes WHERE RowStatus NOT IN (0, 254) ORDER BY ID DESC;
		WHILE EXISTS(SELECT 1 FROM #QuotesToProcess)
		BEGIN
	
			SELECT TOP 1 @QuoteID = ID, @Number = Number, @QuoteGuid = Guid FROM #QuotesToProcess ORDER BY ID;
			SELECT @QuoteStatus = QuoteStatus FROM SSop.Quote_CalculatedFields WHERE ID = @QuoteID;

			INSERT INTO #RecordStatuses (RecordType, Number, RecordStatus, RecordGuid)
			VALUES(N'Quote', @Number, @QuoteStatus, @QuoteGuid);

			DELETE TOP (1) FROM #QuotesToProcess WHERE ID = @QuoteID;
		END;


		--3. Process the jobs
		SELECT  ID, Number, Guid  INTO #JobsToProcess FROM SJob.Jobs  WHERE RowStatus NOT IN (0, 254) ORDER BY ID DESC;
		WHILE EXISTS(SELECT 1 FROM #JobsToProcess)
		BEGIN

			SELECT TOP 1 @JobID = ID, @Number = Number, @JobGuid = Guid FROM #JobsToProcess ORDER BY ID;
			SELECT @JobStatus = JobStatus FROM SJob.JobStatus WHERE ID = @JobID;


			INSERT INTO #RecordStatuses (RecordType, Number, RecordStatus, RecordGuid)
			VALUES(N'Job', @Number, @JobStatus, @JobGuid);

			DELETE TOP (1) FROM #JobsToProcess WHERE ID = @JobID;
		END;



		WHILE EXISTS(SELECT 1 FROM #RecordStatuses)
			BEGIN

				--Values to insert into [SCore].[DataObjectTransition]
				DECLARE @NewStatusGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
				DECLARE @Comment NVARCHAR(MAX) = N'Imported status.';
				DECLARE @DateTimeUTC DATETIME2 = SYSUTCDATETIME();
				DECLARE @CreatedByUserId INT = -1;
				DECLARE @SurveyorUserID INT;
				DECLARE @IsImported BIT = 1;
		
				--Currently processed record.
				DECLARE @CurrentRecordGuid UNIQUEIDENTIFIER;
				DECLARE @CurrentRecordType NVARCHAR(30);
				DECLARE @CurrentRecordStatus NVARCHAR(20);

				--Dead date (All three record types have this)
				DECLARE @Dead DATE;


				-- 1. Get the top record.
				SELECT TOP 1 
					@CurrentRecordGuid = RecordGuid,
					@CurrentRecordType = RecordType,
					@CurrentRecordStatus = RecordStatus
				FROM 
					#RecordStatuses ORDER BY RecordType;


				--4. Get the surveyor & then the appropriate status (if applicable)
				IF(@CurrentRecordType = N'Enquiry')
					BEGIN

						--Statuses
						DECLARE @ReadyForQuoteStatus	UNIQUEIDENTIFIER = 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0';
						DECLARE @DeclinedStatus			UNIQUEIDENTIFIER = '708C00E6-F45F-4CB2-8E91-A80B8B8E802E';
						DECLARE @FirstChaseStatus		UNIQUEIDENTIFIER = '9FF22CEA-A2A6-4907-9B2D-E62DF8150913';
						DECLARE @SecondChaseStatus		UNIQUEIDENTIFIER = '1F01C16B-1A73-4844-A938-FE357405FD93';
						DECLARE @DeadStatus				UNIQUEIDENTIFIER = '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D';

						--Variables used to determine the last applied status.
						DECLARE @ReadyForQuote BIT;
						DECLARE @Declined DATE;
						DECLARE @FirstChase DATE;
						DECLARE @SecondChase DATE;
				
						--Surveyor
						SELECT @SurveyorUserID = CreatedByUserId 
						FROM [SSop].[Enquiries] 
						WHERE Guid = @CurrentRecordGuid;

						--Get all the status fields.
						SELECT 
							@ReadyForQuote = IsReadyForQuoteReview,
							@Declined = DeclinedToQuoteDate,
							@FirstChase = ChaseDate1,
							@SecondChase = ChaseDate2,
							@Dead = DeadDate
						FROM SSop.Enquiries 
						WHERE Guid = @CurrentRecordGuid;

				
						IF(@SecondChase IS NOT NULL) -- 2nd Chase
							SET @NewStatusGuid = @SecondChaseStatus;
						ELSE IF(@FirstChase IS NOT NULL) -- 1st Chase
							SET @NewStatusGuid = @FirstChaseStatus;
						ELSE IF(@Dead IS NOT NULL) --Dead
							SET @NewStatusGuid = @DeadStatus;
						ELSE IF(@Declined IS NOT NULL) --Declined
							SET @NewStatusGuid = @DeclinedStatus;
						ELSE IF(@ReadyForQuote = 1) --Ready for Quote
							SET @NewStatusGuid = @ReadyForQuoteStatus;

					END;
				ELSE IF(@CurrentRecordType = N'Quote')
					BEGIN

						--Statuses
						DECLARE @SentStatus				UNIQUEIDENTIFIER = '25D5491C-42A8-4B04-B3AC-D648AF0F8032';
						DECLARE @AcceptedStatus			UNIQUEIDENTIFIER = '21A29AEE-2D99-4DA3-8182-F31813B0C498';
						DECLARE @RejectedStatus			UNIQUEIDENTIFIER = '0A6A71F7-B39F-4213-997E-2B3A13B6144C';
						DECLARE @IsFinalStatus			UNIQUEIDENTIFIER = '02A2237F-2AE7-4E05-926F-38E8B7D050A0';
						
				
						DECLARE @IsFinal		BIT  = 0;
						DECLARE @Sent			DATE = NULL;
						DECLARE @Accepted		DATE = NULL;
						DECLARE @Rejected		DATE = NULL;
						DECLARE @QuoteDeclined	DATE = NULL;
						DECLARE @QuoteDead		DATE = NULL;

		
						SELECT 
							@IsFinal		= IsFinal,
							@Sent			= DateSent,
							@Accepted		= DateAccepted,
							@Rejected		= DateRejected,
							@QuoteDeclined	= DateDeclinedToQuote,
							@QuoteDead		= DeadDate,
							@SurveyorUserID = QuotingConsultantId
						FROM SSop.Quotes
						WHERE Guid = @CurrentRecordGuid;

						IF(@IsFinal = 1)
						BEGIN
							SET @NewStatusGuid = @IsFinalStatus;

							IF(@Sent IS NOT NULL)
								SET @NewStatusGuid = @SentStatus;
							IF(@Accepted IS NOT NULL)
								SET @NewStatusGuid = @AcceptedStatus;
							ELSE IF(@Rejected IS NOT NULL)
								SET @NewStatusGuid = @RejectedStatus;
						END;


						--Check for declined / dead status
						ELSE IF (@QuoteDeclined IS NOT NULL)
							SET @NewStatusGuid = @DeclinedStatus;
						ELSE IF (@QuoteDead IS NOT NULL)
							SET @NewStatusGuid = @DeadStatus;
						
				
					END;
				ELSE IF(@CurrentRecordType = N'Job')
					BEGIN

						DECLARE @CompletedStatus				UNIQUEIDENTIFIER = '20D22623-283B-4088-9CEB-D944AC3E6516';
						DECLARE @CanceledStatus					UNIQUEIDENTIFIER = '18D8E36B-43BE-4BDE-9D0B-1F34B460AD64';
						DECLARE @DormantStatus					UNIQUEIDENTIFIER = '6708FDB6-29A7-4505-A209-F1E785386122';
						DECLARE @CompletedForReviewStatus		UNIQUEIDENTIFIER = '4BFDB215-3E27-4829-BB44-0468C92DAC82';
						DECLARE @ReviewedStatus					UNIQUEIDENTIFIER = '90407454-9FED-4AAC-AB20-669C5821FE7A';
				
						DECLARE @Dormant			DATE;
						DECLARE @Cancelled			DATE;
						DECLARE @Completed			DATE;
						DECLARE @DeadJob			DATE;
						DECLARE @CompletedForReview DATE;
						DECLARE @Reviewed			DATE;
				
						
						--Surveyor
						SELECT @SurveyorUserID = SurveyorID 
						FROM SJob.Jobs
						WHERE Guid = @CurrentRecordGuid;

						SELECT 
							@Dormant			= JobDormant,
							@Cancelled			= JobCancelled,
							@Completed			= JobCompleted,
							@DeadJob			= DeadDate,
							@CompletedForReview	= CompletedForReviewDate,
							@Reviewed			= ReviewedDateTimeUTC
						FROM SJob.Jobs
						WHERE Guid = @CurrentRecordGuid;


						IF(@Completed IS NOT NULL)
							SET @NewStatusGuid = @CompletedStatus;
						ELSE IF(@Cancelled IS NOT NULL)
							SET @NewStatusGuid = @CanceledStatus;
						ELSE IF(@Dormant IS NOT NULL)
							SET @NewStatusGuid = @DormantStatus;
						ELSE IF(@DeadJob IS NOT NULL)
							SET @NewStatusGuid = @DeadStatus;
						ELSE IF (@CompletedForReview IS NOT NULL)
							SET @NewStatusGuid = @CompletedForReviewStatus;
						ELSE IF (@Reviewed IS NOT NULL)
							SET @NewStatusGuid = @ReviewedStatus;
					END;


				-- Only upsert if the status is other than '00000000-0000-0000-0000-000000000000'
				IF(@NewStatusGuid <> '00000000-0000-0000-0000-000000000000')
				BEGIN

					DECLARE @RecordGuid UNIQUEIDENTIFIER = NEWID();
					
					--Get the status ID
					DECLARE @NewStatusID INT;

					SELECT @NewStatusID = ID
					FROM SCore.Workflow
					WHERE Guid = @NewStatusGuid


					EXEC SCore.UpsertDataObject
					@Guid       = @RecordGuid,					-- uniqueidentifier
					@SchemeName = N'SCore',			-- nvarchar(255)
					@ObjectName = N'DataObjectTransition',		-- nvarchar(255)
					@IsInsert   = 1;	-- bit		

					--Next, insert a dataobject transition for each record.
					INSERT INTO [SCore].[DataObjectTransition]
					(
						RowStatus, 
						Guid, 
						StatusID, 
						OldStatusID, 
						Comment, 
						DateTimeUTC,
						CreatedByUserId,
						SurveyorUserId, 
						DataObjectGuid, 
						IsImported 
					)
					VALUES
					(
						1,
						@RecordGuid,
						@NewStatusID,
						-1,
						@Comment,
						SYSDATETIME(),
						@CreatedByUserId,
						@SurveyorUserID,
						@CurrentRecordGuid,
						1
					)
				END;

		
			

				--Delete processed record.
				DELETE TOP (1) FROM #RecordStatuses WHERE RecordGuid = @CurrentRecordGuid;
			END;

END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO