-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.3.93.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 03/03/2026 11:11:02
-- Source server version: 16.00.1000
-- Source connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Target server version: 16.00.1000
-- Target connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Run this script against Cymbuild_QA to synchronize it with CymBuild_Dev
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Start Transaction
--
PRINT (N'Start Transaction')
GO
BEGIN TRANSACTION
GO

--
-- Create or alter procedure [SCore].[IntegrationOutbox_EnqueueWorkflowStatusNotification]
--
GO
PRINT (N'Create or alter procedure [SCore].[IntegrationOutbox_EnqueueWorkflowStatusNotification]')
GO
IF OBJECT_ID(N'[SCore].[IntegrationOutbox_EnqueueWorkflowStatusNotification]', 'P') IS NOT NULL
EXEC sp_executesql N'

/* =============================================================================
   SCore.IntegrationOutbox_EnqueueWorkflowStatusNotification

   Writes:
   - One SCore.IntegrationOutbox row per transition IF:
       WorkflowStatus.SendNotification = 1
       AND workflow can be resolved for (EntityTypeId, OU or OU=-1(All), StatusId)
       AND at least one target notification group exists for (WorkflowId, StatusGuid)

   NOTE:
   - PayloadJson uses camelCase keys (important for JSON_VALUE and Kafka contracts)
============================================================================= */
CREATE OR ALTER PROCEDURE [SCore].[IntegrationOutbox_EnqueueWorkflowStatusNotification]
(
    @TransitionGuid UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ------------------------------------------------------------
       1) Load transition (the inserted row)
    ------------------------------------------------------------ */
    DECLARE
        @TransitionId       INT,
        @DataObjectGuid     UNIQUEIDENTIFIER,
        @StatusId           INT,
        @OldStatusId        INT,
        @Comment            NVARCHAR(MAX),
        @CreatedByUserId    INT,
        @SurveyorUserId     INT,
        @DateTimeUtc        DATETIME2(7);

    SELECT TOP (1)
        @TransitionId      = dot.ID,
        @DataObjectGuid    = dot.DataObjectGuid,
        @StatusId          = dot.StatusID,
        @OldStatusId       = dot.OldStatusID,
        @Comment           = dot.Comment,
        @CreatedByUserId   = dot.CreatedByUserId,
        @SurveyorUserId    = ISNULL(dot.SurveyorUserId, -1),
        @DateTimeUtc       = dot.DateTimeUTC
    FROM SCore.DataObjectTransition dot
    WHERE dot.Guid = @TransitionGuid
      AND dot.RowStatus NOT IN (0,254);

    IF @DataObjectGuid IS NULL OR @StatusId IS NULL
        RETURN;
    /* ------------------------------------------------------------
        1b) LATEST-ONLY rule (strict):
            Only enqueue if THIS transition is the latest for the record
            AND the latest status is marked SendNotification=1.
    ------------------------------------------------------------ */
    DECLARE
        @LatestTransitionGuid UNIQUEIDENTIFIER,
        @LatestStatusId INT,
        @LatestSendNotification BIT;

    SELECT TOP (1)
        @LatestTransitionGuid = dot2.Guid,
        @LatestStatusId = dot2.StatusID,
        @LatestSendNotification = ISNULL(ws2.SendNotification, 0)
    FROM SCore.DataObjectTransition dot2
    JOIN SCore.WorkflowStatus ws2
        ON ws2.ID = dot2.StatusID
        AND ws2.RowStatus NOT IN (0,254)
    WHERE dot2.RowStatus NOT IN (0,254)
        AND dot2.DataObjectGuid = @DataObjectGuid
    ORDER BY dot2.DateTimeUTC DESC, dot2.ID DESC;

    IF @LatestTransitionGuid IS NULL
        OR @LatestTransitionGuid <> @TransitionGuid
        OR ISNULL(@LatestSendNotification, 0) = 0
    BEGIN
        RETURN;
    END

    /* ------------------------------------------------------------
        1c) IDEMPOTENCY rule:
            If we''ve already enqueued an outbox item for this transition,
            do nothing (prevents double Kafka notifications).
    ------------------------------------------------------------ */
    IF EXISTS
    (
        SELECT 1
        FROM SCore.IntegrationOutbox o
        WHERE o.RowStatus NOT IN (0,254)
            AND o.EventType = N''WorkflowStatusNotification''
            AND
            (
                TRY_CONVERT(uniqueidentifier, JSON_VALUE(o.PayloadJson, ''$.transitionGuid'')) = @TransitionGuid
                OR TRY_CONVERT(uniqueidentifier, JSON_VALUE(o.PayloadJson, ''$.TransitionGuid'')) = @TransitionGuid
            )
    )
    BEGIN
        RETURN;
    END
   /* ------------------------------------------------------------
   2) Resolve status metadata (ONLY SendNotification = 1)
    ------------------------------------------------------------ */
    DECLARE
        @StatusGuid        UNIQUEIDENTIFIER,
        @StatusName        NVARCHAR(200),
        @SendNotification  BIT;

    SELECT TOP (1)
        @StatusGuid       = ws.Guid,
        @StatusName       = ws.Name,
        @SendNotification = ISNULL(ws.SendNotification, 0)
    FROM SCore.WorkflowStatus ws
    WHERE ws.ID = @StatusId
      AND ws.RowStatus NOT IN (0,254);

    IF @StatusGuid IS NULL OR ISNULL(@SendNotification, 0) = 0
        RETURN;

    /* NEW: Old status metadata */
    DECLARE
        @OldStatusGuid UNIQUEIDENTIFIER = NULL,
        @OldStatusName NVARCHAR(200) = NULL;

    IF @OldStatusId IS NOT NULL
    BEGIN
        SELECT TOP (1)
            @OldStatusGuid = ws.Guid,
            @OldStatusName = ws.Name
        FROM SCore.WorkflowStatus ws
        WHERE ws.ID = @OldStatusId
          AND ws.RowStatus NOT IN (0,254);
    END

    /* ------------------------------------------------------------
       3) Resolve routing (EntityType + OU) for this DataObjectGuid
    ------------------------------------------------------------ */
    DECLARE
        @EntityTypeId            INT,
        @OrganisationalUnitId    INT,
        @OrganisationalUnitName  NVARCHAR(200) = NULL;  -- NEW

    SELECT TOP (1)
        @EntityTypeId = r.EntityTypeId,
        @OrganisationalUnitId = r.OrganisationalUnitId
    FROM SCore.WF_Auth_DataObjectRouting r
    WHERE r.DataObjectGuid = @DataObjectGuid
      AND r.EntityTypeId IS NOT NULL
      AND r.OrganisationalUnitId IS NOT NULL
    ORDER BY r.DataObjectGuid;

    IF @EntityTypeId IS NULL OR @OrganisationalUnitId IS NULL
        RETURN;

    /* NEW: look up OU name */
    SELECT TOP (1)
        @OrganisationalUnitName = ou.Name
    FROM SCore.OrganisationalUnits ou
    WHERE ou.RowStatus NOT IN (0,254)
      AND ou.ID = @OrganisationalUnitId;

    /* ------------------------------------------------------------
       4) Resolve WorkflowId (OU=-1 fallback kept)
    ------------------------------------------------------------ */
    DECLARE
        @WorkflowId INT,
        @WorkflowName NVARCHAR(200) = NULL; -- NEW

    SELECT TOP (1)
        @WorkflowId = wf.ID,
        @WorkflowName = wf.Name
    FROM SCore.Workflow wf
    JOIN SCore.WorkflowTransition wft
        ON wft.WorkflowID = wf.ID
    WHERE wf.RowStatus NOT IN (0,254)
      AND wft.RowStatus NOT IN (0,254)
      AND ISNULL(wf.Enabled, 1) = 1
      AND ISNULL(wft.Enabled, 1) = 1
      AND wf.EntityTypeID = @EntityTypeId
      AND wf.OrganisationalUnitId IN (@OrganisationalUnitId, -1)
      AND wft.ToStatusID = @StatusId
    ORDER BY
        CASE WHEN wf.OrganisationalUnitId = @OrganisationalUnitId THEN 0 ELSE 1 END,
        wf.ID DESC;

    IF @WorkflowId IS NULL
        RETURN;

    /* ------------------------------------------------------------
       5) Resolve notification target groups
    ------------------------------------------------------------ */
    DECLARE @TargetGroupIdsCsv NVARCHAR(MAX);

    SELECT
        @TargetGroupIdsCsv =
            STUFF((
                SELECT '','' + CONVERT(NVARCHAR(20), ng.GroupID)
                FROM SCore.WorkflowStatusNotificationGroups ng
                WHERE ng.RowStatus NOT IN (0,254)
                  AND ng.WorkflowID = @WorkflowId
                  AND ng.WorkflowStatusGuid = @StatusGuid
                ORDER BY ng.GroupID
                FOR XML PATH(''''), TYPE
            ).value(''.'', ''nvarchar(max)''), 1, 1, '''');

    IF @TargetGroupIdsCsv IS NULL OR LTRIM(RTRIM(@TargetGroupIdsCsv)) = ''''
        RETURN;

    /* NEW: build targetGroups array */
    DECLARE @TargetGroupsJson NVARCHAR(MAX);

    SELECT @TargetGroupsJson =
    (
        SELECT
            ng.GroupID AS groupId,
            g.Code     AS groupCode,
            g.Name     AS groupName,
            CONVERT(bit, ISNULL(ng.CanAction, 0)) AS canAction
        FROM SCore.WorkflowStatusNotificationGroups ng
        JOIN SCore.Groups g
            ON g.RowStatus NOT IN (0,254)
           AND g.ID = ng.GroupID
        WHERE ng.RowStatus NOT IN (0,254)
          AND ng.WorkflowID = @WorkflowId
          AND ng.WorkflowStatusGuid = @StatusGuid
        ORDER BY ng.GroupID
        FOR JSON PATH
    );

    /* NEW: actor/surveyor identity details */
    DECLARE
        @ActorName NVARCHAR(200) = NULL,
        @ActorEmail NVARCHAR(320) = NULL,
        @SurveyorName NVARCHAR(200) = NULL,
        @SurveyorEmail NVARCHAR(320) = NULL;

    SELECT TOP (1)
        @ActorName = i.FullName,
        @ActorEmail = i.EmailAddress
    FROM SCore.Identities i
    WHERE i.RowStatus NOT IN (0,254)
      AND i.IsActive = 1
      AND i.ID = @CreatedByUserId;

    IF @SurveyorUserId IS NOT NULL AND @SurveyorUserId <> -1
    BEGIN
        SELECT TOP (1)
            @SurveyorName = i.FullName,
            @SurveyorEmail = i.EmailAddress
        FROM SCore.Identities i
        WHERE i.RowStatus NOT IN (0,254)
          AND i.IsActive = 1
          AND i.ID = @SurveyorUserId;
    END

    /* ------------------------------------------------------------
       6) Build payload JSON (camelCase keys)  [EXPANDED]
    ------------------------------------------------------------ */
    DECLARE @Payload NVARCHAR(MAX);

    SET @Payload =
    (
        SELECT
            NEWID() AS eventGuid,
            N''WorkflowStatusNotification'' AS eventType,

            @DateTimeUtc AS occurredOnUtc,

            @DataObjectGuid AS dataObjectGuid,
            @EntityTypeId AS entityTypeId,
            @OrganisationalUnitId AS organisationalUnitId,
            @OrganisationalUnitName AS organisationalUnitName,   -- NEW

            @WorkflowId AS workflowId,
            @WorkflowName AS workflowName,                       -- NEW

            @StatusId AS statusId,
            @StatusGuid AS statusGuid,
            @StatusName AS statusName,

            @OldStatusId AS oldStatusId,
            @OldStatusGuid AS oldStatusGuid,                     -- NEW
            @OldStatusName AS oldStatusName,                     -- NEW

            @TransitionId AS transitionId,
            @TransitionGuid AS transitionGuid,

            @Comment AS comment,

            @CreatedByUserId AS actorIdentityId,
            @ActorName AS actorName,                             -- NEW
            @ActorEmail AS actorEmail,                           -- NEW

            @SurveyorUserId AS surveyorIdentityId,
            @SurveyorName AS surveyorName,                       -- NEW
            @SurveyorEmail AS surveyorEmail,                     -- NEW

            @TargetGroupIdsCsv AS targetGroupIdsCsv,
            JSON_QUERY(@TargetGroupsJson) AS targetGroups         -- NEW (array)

        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

    /* ------------------------------------------------------------
       7) Write to outbox
    ------------------------------------------------------------ */
    INSERT INTO SCore.IntegrationOutbox
    (
        RowStatus,
        Guid,
        CreatedOnUtc,
        EventType,
        PayloadJson,
        PublishedOnUtc,
        PublishAttempts,
        LastError
    )
    VALUES
    (
        1,
        NEWID(),
        SYSUTCDATETIME(),
        N''WorkflowStatusNotification'',
        @Payload,
        NULL,
        0,
        NULL
    );
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SCore].[tvf_NotificationDisplayInfo]
--
GO
PRINT (N'Create or alter function [SCore].[tvf_NotificationDisplayInfo]')
GO
IF NOT EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SCore].[tvf_NotificationDisplayInfo]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
/* =============================================================================
   SCore.tvf_NotificationDisplayInfo

   Purpose:
   - Central, canonical "display fields" resolver for Kafka workflow notifications
     (Option A: enrich in publisher worker via a single SQL call).

   Inputs:
   - @EntityTypeId: SCore.EntityTypes.ID (helps choose best branch, but function is robust)
   - @RecordGuid:   DataObjectGuid / record Guid

   Output:
   - Single row with DisplayRef, DisplayTitle, DisplayOrganisationName, DisplayProjectName,
     DisplayClientName, DisplayAgentName, DisplayAddress
============================================================================= */
CREATE OR ALTER FUNCTION [SCore].[tvf_NotificationDisplayInfo]
(
      @EntityTypeId INT
    , @RecordGuid   UNIQUEIDENTIFIER
)
RETURNS TABLE
AS
RETURN
(
    /* -----------------------------
       1) ENQUIRIES (EntityTypeId=83)
       ----------------------------- */
    SELECT TOP (1)
          CAST(em.EnquiryNumber AS NVARCHAR(50))                           AS DisplayRef
        , NULLIF(LTRIM(RTRIM(em.DescriptionOfWorks)), N'''')                 AS DisplayTitle
        , ou.Name                                                         AS DisplayOrganisationName
        , prj.ProjectDescription                                           AS DisplayProjectName
        , NULLIF(LTRIM(RTRIM(em.ClientName)), N'''')                         AS DisplayClientName
        , NULLIF(LTRIM(RTRIM(em.AgentName)), N'''')                          AS DisplayAgentName
        , NULLIF(LTRIM(RTRIM(em.PropertyAddress)), N'''')                    AS DisplayAddress
    FROM SSop.Enquiry_MergeInfo em
    JOIN SSop.Enquiries e
        ON e.RowStatus NOT IN (0,254)
       AND e.Guid = em.Guid
    LEFT JOIN SCore.OrganisationalUnits ou
        ON ou.RowStatus NOT IN (0,254)
       AND ou.ID = e.OrganisationalUnitID
    LEFT JOIN SSop.Projects prj
        ON prj.RowStatus NOT IN (0,254)
       AND prj.ID = e.ProjectId
    WHERE em.RowStatus NOT IN (0,254)
      AND em.Guid = @RecordGuid
      AND (@EntityTypeId = 83 OR @EntityTypeId IS NULL)

    UNION ALL

    /* -----------------------------
       2) QUOTES (EntityTypeId varies)
       Robust fallback if entityTypeId not known.
       ----------------------------- */
    SELECT TOP (1)
          CAST(qm.QuoteNumber AS NVARCHAR(50))                              AS DisplayRef
        , NULLIF(LTRIM(RTRIM(qm.QuoteOverview)), N'''')                       AS DisplayTitle
        , ou.Name                                                          AS DisplayOrganisationName
        , prj.ProjectDescription                                            AS DisplayProjectName
        , NULLIF(LTRIM(RTRIM(qm.ClientName)), N'''')                          AS DisplayClientName
        , NULLIF(LTRIM(RTRIM(qm.RecipientName)), N'''')                       AS DisplayAgentName
        , NULLIF(LTRIM(RTRIM(qm.PropertyAddress)), N'''')                     AS DisplayAddress
    FROM SSop.Quote_MergeInfo qm
    JOIN SSop.Quotes q
        ON q.RowStatus NOT IN (0,254)
       AND q.Guid = qm.Guid
    LEFT JOIN SCore.OrganisationalUnits ou
        ON ou.RowStatus NOT IN (0,254)
       AND ou.ID = q.OrganisationalUnitID
    /* Quote_MergeInfo comes from Enquiry/Service; safest project source is the underlying Enquiry */
    LEFT JOIN SSop.EnquiryServices es
        ON es.RowStatus NOT IN (0,254)
       AND es.ID = q.EnquiryServiceID
    LEFT JOIN SSop.Enquiries e
        ON e.RowStatus NOT IN (0,254)
       AND e.ID = es.EnquiryId
    LEFT JOIN SSop.Projects prj
        ON prj.RowStatus NOT IN (0,254)
       AND prj.ID = e.ProjectId
    WHERE qm.RowStatus NOT IN (0,254)
      AND qm.Guid = @RecordGuid

    UNION ALL

    /* -----------------------------
       3) JOBS (EntityTypeId=9 per your worker mapping)
       ----------------------------- */
    SELECT TOP (1)
          CAST(j.Number AS NVARCHAR(50))                                    AS DisplayRef
        , NULLIF(LTRIM(RTRIM(j.JobDescription)), N'''')                       AS DisplayTitle
        , ou.Name                                                          AS DisplayOrganisationName
        , prj.ProjectDescription                                           AS DisplayProjectName
        , cli.Name                                                         AS DisplayClientName
        , agt.Name                                                         AS DisplayAgentName
        , a.FormattedAddressComma                                           AS DisplayAddress
    FROM SJob.Jobs j
    LEFT JOIN SCore.OrganisationalUnits ou
        ON ou.RowStatus NOT IN (0,254)
       AND ou.ID = j.OrganisationalUnitID
    LEFT JOIN SSop.Projects prj
        ON prj.RowStatus NOT IN (0,254)
       AND prj.ID = j.ProjectId
    LEFT JOIN SCrm.Accounts cli
        ON cli.RowStatus NOT IN (0,254)
       AND cli.ID = j.ClientAccountID
    LEFT JOIN SCrm.Accounts agt
        ON agt.RowStatus NOT IN (0,254)
       AND agt.ID = j.AgentAccountID
    LEFT JOIN SJob.Assets a
        ON a.RowStatus NOT IN (0,254)
       AND a.ID = j.UprnID
    WHERE j.RowStatus NOT IN (0,254)
      AND j.Guid = @RecordGuid
      AND (@EntityTypeId = 9 OR @EntityTypeId IS NULL)
);
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
PRINT (N'Commit Transaction')
GO
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
PRINT (N'Set NOEXEC to off')
GO
SET NOEXEC OFF
GO