-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.3.93.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 26/05/2026 21:23:00
-- Source server version: 16.00.1000
-- Source connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Target server version: 16.00.4175
-- Target connection string: Data Source=SOC-SQLBRE01\SQL2022;Integrated Security=True;User ID=ESGL\stephen.brett
-- Run this script against CymBuild_UAT to synchronize it with Cymbuild_QA
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Start Transaction
--
PRINT (N'Start Transaction')
GO
BEGIN TRANSACTION
GO

--
-- Drop foreign key [FK_EntityTypes_IconId] on table [SCore].[EntityTypes]
--
PRINT (N'Drop foreign key [FK_EntityTypes_IconId] on table [SCore].[EntityTypes]')
GO
ALTER TABLE [SCore].[EntityTypes]
  DROP CONSTRAINT IF EXISTS [FK_EntityTypes_IconId]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_GridViewDefinitions_DrawerIconId] on table [SUserInterface].[GridViewDefinitions]
--
PRINT (N'Drop foreign key [FK_GridViewDefinitions_DrawerIconId] on table [SUserInterface].[GridViewDefinitions]')
GO
ALTER TABLE [SUserInterface].[GridViewDefinitions]
  DROP CONSTRAINT IF EXISTS [FK_GridViewDefinitions_DrawerIconId]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_MainMenuItems_Icons] on table [SUserInterface].[MainMenuItems]
--
PRINT (N'Drop foreign key [FK_MainMenuItems_Icons] on table [SUserInterface].[MainMenuItems]')
GO
ALTER TABLE [SUserInterface].[MainMenuItems]
  DROP CONSTRAINT IF EXISTS [FK_MainMenuItems_Icons]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_EntityPropertyActions_EntityProperties] on table [SCore].[EntityPropertyActions]
--
PRINT (N'Drop foreign key [FK_EntityPropertyActions_EntityProperties] on table [SCore].[EntityPropertyActions]')
GO
ALTER TABLE [SCore].[EntityPropertyActions]
  DROP CONSTRAINT IF EXISTS [FK_EntityPropertyActions_EntityProperties]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_EntityPropertyDependants_EntityProperties] on table [SCore].[EntityPropertyDependants]
--
PRINT (N'Drop foreign key [FK_EntityPropertyDependants_EntityProperties] on table [SCore].[EntityPropertyDependants]')
GO
ALTER TABLE [SCore].[EntityPropertyDependants]
  DROP CONSTRAINT IF EXISTS [FK_EntityPropertyDependants_EntityProperties]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_EntityPropertyDependants_EntityProperties1] on table [SCore].[EntityPropertyDependants]
--
PRINT (N'Drop foreign key [FK_EntityPropertyDependants_EntityProperties1] on table [SCore].[EntityPropertyDependants]')
GO
ALTER TABLE [SCore].[EntityPropertyDependants]
  DROP CONSTRAINT IF EXISTS [FK_EntityPropertyDependants_EntityProperties1]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_EntityQueryParameters_EntityProperties] on table [SCore].[EntityQueryParameters]
--
PRINT (N'Drop foreign key [FK_EntityQueryParameters_EntityProperties] on table [SCore].[EntityQueryParameters]')
GO
ALTER TABLE [SCore].[EntityQueryParameters]
  DROP CONSTRAINT IF EXISTS [FK_EntityQueryParameters_EntityProperties]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_MergeDocumentItemIncludes_EntityProperties] on table [SCore].[MergeDocumentItemIncludes]
--
PRINT (N'Drop foreign key [FK_MergeDocumentItemIncludes_EntityProperties] on table [SCore].[MergeDocumentItemIncludes]')
GO
ALTER TABLE [SCore].[MergeDocumentItemIncludes]
  DROP CONSTRAINT IF EXISTS [FK_MergeDocumentItemIncludes_EntityProperties]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_MergeDocumentItemIncludes_EntityProperties1] on table [SCore].[MergeDocumentItemIncludes]
--
PRINT (N'Drop foreign key [FK_MergeDocumentItemIncludes_EntityProperties1] on table [SCore].[MergeDocumentItemIncludes]')
GO
ALTER TABLE [SCore].[MergeDocumentItemIncludes]
  DROP CONSTRAINT IF EXISTS [FK_MergeDocumentItemIncludes_EntityProperties1]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_RecordHistory_EntityPropertyID] on table [SCore].[RecordHistory]
--
PRINT (N'Drop foreign key [FK_RecordHistory_EntityPropertyID] on table [SCore].[RecordHistory]')
GO
ALTER TABLE [SCore].[RecordHistory]
  DROP CONSTRAINT IF EXISTS [FK_RecordHistory_EntityPropertyID]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key [FK_SychronisationErrors_EntityPropertyID] on table [SCore].[SynchronisationErrors]
--
PRINT (N'Drop foreign key [FK_SychronisationErrors_EntityPropertyID] on table [SCore].[SynchronisationErrors]')
GO
ALTER TABLE [SCore].[SynchronisationErrors]
  DROP CONSTRAINT IF EXISTS [FK_SychronisationErrors_EntityPropertyID]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_LanguageLabels_1003669193] from table [SCore].[LanguageLabels]
--
PRINT (N'Drop index [IX_SCore_LanguageLabels_1003669193] from table [SCore].[LanguageLabels]')
GO
DROP INDEX IF EXISTS [IX_SCore_LanguageLabels_1003669193] ON [SCore].[LanguageLabels]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_LanguageLabels_1008315981] from table [SCore].[LanguageLabels]
--
PRINT (N'Drop index [IX_SCore_LanguageLabels_1008315981] from table [SCore].[LanguageLabels]')
GO
DROP INDEX IF EXISTS [IX_SCore_LanguageLabels_1008315981] ON [SCore].[LanguageLabels]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_LanguageLabels_1885346130] from table [SCore].[LanguageLabels]
--
PRINT (N'Drop index [IX_SCore_LanguageLabels_1885346130] from table [SCore].[LanguageLabels]')
GO
DROP INDEX IF EXISTS [IX_SCore_LanguageLabels_1885346130] ON [SCore].[LanguageLabels]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabels_1003669193] on table [SCore].[LanguageLabels]
--
PRINT (N'Create index [IX_SCore_LanguageLabels_1003669193] on table [SCore].[LanguageLabels]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabels_1003669193' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Name' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
CREATE INDEX [IX_SCore_LanguageLabels_1003669193]
  ON [SCore].[LanguageLabels] ([RowStatus])
  INCLUDE ([Guid], [Name])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabels_1008315981] on table [SCore].[LanguageLabels]
--
PRINT (N'Create index [IX_SCore_LanguageLabels_1008315981] on table [SCore].[LanguageLabels]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabels_1008315981' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
CREATE INDEX [IX_SCore_LanguageLabels_1008315981]
  ON [SCore].[LanguageLabels] ([Guid])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabels_1885346130] on table [SCore].[LanguageLabels]
--
PRINT (N'Create index [IX_SCore_LanguageLabels_1885346130] on table [SCore].[LanguageLabels]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabels_1885346130' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
CREATE INDEX [IX_SCore_LanguageLabels_1885346130]
  ON [SCore].[LanguageLabels] ([RowStatus])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabels_1121071497] on table [SCore].[LanguageLabels]
--
PRINT (N'Create index [IX_SCore_LanguageLabels_1121071497] on table [SCore].[LanguageLabels]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabels_1121071497' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
CREATE INDEX [IX_SCore_LanguageLabels_1121071497]
  ON [SCore].[LanguageLabels] ([Guid])
  INCLUDE ([RowStatus])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabels_1325759773] on table [SCore].[LanguageLabels]
--
PRINT (N'Create index [IX_SCore_LanguageLabels_1325759773] on table [SCore].[LanguageLabels]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabels_1325759773' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Name' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
CREATE INDEX [IX_SCore_LanguageLabels_1325759773]
  ON [SCore].[LanguageLabels] ([RowStatus], [Name])
  INCLUDE ([Guid])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabels_724871123] on table [SCore].[LanguageLabels]
--
PRINT (N'Create index [IX_SCore_LanguageLabels_724871123] on table [SCore].[LanguageLabels]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabels_724871123' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
CREATE INDEX [IX_SCore_LanguageLabels_724871123]
  ON [SCore].[LanguageLabels] ([RowStatus])
  INCLUDE ([Guid])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabels_794173022] on table [SCore].[LanguageLabels]
--
PRINT (N'Create index [IX_SCore_LanguageLabels_794173022] on table [SCore].[LanguageLabels]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabels_794173022' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Name' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
CREATE INDEX [IX_SCore_LanguageLabels_794173022]
  ON [SCore].[LanguageLabels] ([Name], [RowStatus])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabels_957225613] on table [SCore].[LanguageLabels]
--
PRINT (N'Create index [IX_SCore_LanguageLabels_957225613] on table [SCore].[LanguageLabels]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabels_957225613' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabels]'))
CREATE INDEX [IX_SCore_LanguageLabels_957225613]
  ON [SCore].[LanguageLabels] ([Guid], [RowStatus])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_UQ_EntityPropertyGroups_EntityTypeID_Name] from table [SCore].[EntityPropertyGroups]
--
PRINT (N'Drop index [IX_UQ_EntityPropertyGroups_EntityTypeID_Name] from table [SCore].[EntityPropertyGroups]')
GO
DROP INDEX IF EXISTS [IX_UQ_EntityPropertyGroups_EntityTypeID_Name] ON [SCore].[EntityPropertyGroups]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_EntityProperties_632192243] from table [SCore].[EntityProperties]
--
PRINT (N'Drop index [IX_SCore_EntityProperties_632192243] from table [SCore].[EntityProperties]')
GO
DROP INDEX IF EXISTS [IX_SCore_EntityProperties_632192243] ON [SCore].[EntityProperties]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_EntityProperties_632192243] on table [SCore].[EntityProperties]
--
PRINT (N'Create index [IX_SCore_EntityProperties_632192243] on table [SCore].[EntityProperties]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_EntityProperties_632192243' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityHoBTID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Name' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityDataTypeID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'IsHidden' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityPropertyGroupID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'SortOrder' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'GroupSortOrder' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
CREATE INDEX [IX_SCore_EntityProperties_632192243]
  ON [SCore].[EntityProperties] ([EntityHoBTID])
  INCLUDE ([RowStatus], [Guid], [Name], [EntityDataTypeID], [IsHidden], [EntityPropertyGroupID], [SortOrder], [GroupSortOrder])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_HobtProperties] on table [SCore].[EntityProperties]
--
PRINT (N'Create index [IX_HobtProperties] on table [SCore].[EntityProperties]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_HobtProperties' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityHoBTID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
CREATE INDEX [IX_HobtProperties]
  ON [SCore].[EntityProperties] ([EntityHoBTID], [RowStatus])
  WHERE ([RowStatus]<>(0) AND [RowStatus]<>(254))
  WITH (FILLFACTOR = 100)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_EntityProperties_107494679] on table [SCore].[EntityProperties]
--
PRINT (N'Create index [IX_SCore_EntityProperties_107494679] on table [SCore].[EntityProperties]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_EntityProperties_107494679' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Name' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityHoBTID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
CREATE INDEX [IX_SCore_EntityProperties_107494679]
  ON [SCore].[EntityProperties] ([Name], [EntityHoBTID])
  INCLUDE ([Guid], [LanguageLabelID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_EntityProperties_1457811955] on table [SCore].[EntityProperties]
--
PRINT (N'Create index [IX_SCore_EntityProperties_1457811955] on table [SCore].[EntityProperties]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_EntityProperties_1457811955' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'DropDownListDefinitionID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Name' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityHoBTID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
CREATE INDEX [IX_SCore_EntityProperties_1457811955]
  ON [SCore].[EntityProperties] ([DropDownListDefinitionID])
  INCLUDE ([Guid], [Name], [EntityHoBTID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_EntityProperties_938382760] on table [SCore].[EntityProperties]
--
PRINT (N'Create index [IX_SCore_EntityProperties_938382760] on table [SCore].[EntityProperties]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_EntityProperties_938382760' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityHoBTID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'DropDownListDefinitionID' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Name' AND object_id = OBJECT_ID(N'[SCore].[EntityProperties]'))
CREATE INDEX [IX_SCore_EntityProperties_938382760]
  ON [SCore].[EntityProperties] ([EntityHoBTID], [DropDownListDefinitionID])
  INCLUDE ([Guid], [Name])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_EntityPropertyActions_EntityProperties] on table [SCore].[EntityPropertyActions]
--
PRINT (N'Create foreign key [FK_EntityPropertyActions_EntityProperties] on table [SCore].[EntityPropertyActions]')
GO
IF OBJECT_ID('[SCore].[FK_EntityPropertyActions_EntityProperties]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[EntityPropertyActions]', 'U') IS NOT NULL
  AND OBJECT_ID('SCore.EntityProperties', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityPropertyID' AND object_id = OBJECT_ID(N'[SCore].[EntityPropertyActions]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SCore.EntityProperties'))
ALTER TABLE [SCore].[EntityPropertyActions] WITH NOCHECK
  ADD CONSTRAINT [FK_EntityPropertyActions_EntityProperties] FOREIGN KEY ([EntityPropertyID]) REFERENCES [SCore].[EntityProperties] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_EntityPropertyDependants_EntityProperties] on table [SCore].[EntityPropertyDependants]
--
PRINT (N'Create foreign key [FK_EntityPropertyDependants_EntityProperties] on table [SCore].[EntityPropertyDependants]')
GO
IF OBJECT_ID('[SCore].[FK_EntityPropertyDependants_EntityProperties]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[EntityPropertyDependants]', 'U') IS NOT NULL
  AND OBJECT_ID('SCore.EntityProperties', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ParentEntityPropertyID' AND object_id = OBJECT_ID(N'[SCore].[EntityPropertyDependants]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SCore.EntityProperties'))
ALTER TABLE [SCore].[EntityPropertyDependants] WITH NOCHECK
  ADD CONSTRAINT [FK_EntityPropertyDependants_EntityProperties] FOREIGN KEY ([ParentEntityPropertyID]) REFERENCES [SCore].[EntityProperties] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_EntityPropertyDependants_EntityProperties1] on table [SCore].[EntityPropertyDependants]
--
PRINT (N'Create foreign key [FK_EntityPropertyDependants_EntityProperties1] on table [SCore].[EntityPropertyDependants]')
GO
IF OBJECT_ID('[SCore].[FK_EntityPropertyDependants_EntityProperties1]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[EntityPropertyDependants]', 'U') IS NOT NULL
  AND OBJECT_ID('SCore.EntityProperties', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'DependantPropertyID' AND object_id = OBJECT_ID(N'[SCore].[EntityPropertyDependants]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SCore.EntityProperties'))
ALTER TABLE [SCore].[EntityPropertyDependants] WITH NOCHECK
  ADD CONSTRAINT [FK_EntityPropertyDependants_EntityProperties1] FOREIGN KEY ([DependantPropertyID]) REFERENCES [SCore].[EntityProperties] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_MergeDocumentItemIncludes_EntityProperties] on table [SCore].[MergeDocumentItemIncludes]
--
PRINT (N'Create foreign key [FK_MergeDocumentItemIncludes_EntityProperties] on table [SCore].[MergeDocumentItemIncludes]')
GO
IF OBJECT_ID('[SCore].[FK_MergeDocumentItemIncludes_EntityProperties]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[MergeDocumentItemIncludes]', 'U') IS NOT NULL
  AND OBJECT_ID('SCore.EntityProperties', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'SourceDocumentEntityPropertyId' AND object_id = OBJECT_ID(N'[SCore].[MergeDocumentItemIncludes]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SCore.EntityProperties'))
ALTER TABLE [SCore].[MergeDocumentItemIncludes] WITH NOCHECK
  ADD CONSTRAINT [FK_MergeDocumentItemIncludes_EntityProperties] FOREIGN KEY ([SourceDocumentEntityPropertyId]) REFERENCES [SCore].[EntityProperties] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_MergeDocumentItemIncludes_EntityProperties1] on table [SCore].[MergeDocumentItemIncludes]
--
PRINT (N'Create foreign key [FK_MergeDocumentItemIncludes_EntityProperties1] on table [SCore].[MergeDocumentItemIncludes]')
GO
IF OBJECT_ID('[SCore].[FK_MergeDocumentItemIncludes_EntityProperties1]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[MergeDocumentItemIncludes]', 'U') IS NOT NULL
  AND OBJECT_ID('SCore.EntityProperties', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'SourceSharePointItemEntityPropertyId' AND object_id = OBJECT_ID(N'[SCore].[MergeDocumentItemIncludes]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SCore.EntityProperties'))
ALTER TABLE [SCore].[MergeDocumentItemIncludes] WITH NOCHECK
  ADD CONSTRAINT [FK_MergeDocumentItemIncludes_EntityProperties1] FOREIGN KEY ([SourceSharePointItemEntityPropertyId]) REFERENCES [SCore].[EntityProperties] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_SychronisationErrors_EntityPropertyID] on table [SCore].[SynchronisationErrors]
--
PRINT (N'Create foreign key [FK_SychronisationErrors_EntityPropertyID] on table [SCore].[SynchronisationErrors]')
GO
IF OBJECT_ID('[SCore].[FK_SychronisationErrors_EntityPropertyID]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[SynchronisationErrors]', 'U') IS NOT NULL
  AND OBJECT_ID('SCore.EntityProperties', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityPropertyID' AND object_id = OBJECT_ID(N'[SCore].[SynchronisationErrors]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SCore.EntityProperties'))
ALTER TABLE [SCore].[SynchronisationErrors] WITH NOCHECK
  ADD CONSTRAINT [FK_SychronisationErrors_EntityPropertyID] FOREIGN KEY ([EntityPropertyID]) REFERENCES [SCore].[EntityProperties] ([ID]) ON DELETE CASCADE
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_UQ_EntityHoBTs_Guid] from table [SCore].[EntityHobts]
--
PRINT (N'Drop index [IX_UQ_EntityHoBTs_Guid] from table [SCore].[EntityHobts]')
GO
DROP INDEX IF EXISTS [IX_UQ_EntityHoBTs_Guid] ON [SCore].[EntityHobts]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_RecordHistory_1546157812] from table [SCore].[RecordHistory]
--
PRINT (N'Drop index [IX_SCore_RecordHistory_1546157812] from table [SCore].[RecordHistory]')
GO
DROP INDEX IF EXISTS [IX_SCore_RecordHistory_1546157812] ON [SCore].[RecordHistory]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_RecordHistory_2124389968] from table [SCore].[RecordHistory]
--
PRINT (N'Drop index [IX_SCore_RecordHistory_2124389968] from table [SCore].[RecordHistory]')
GO
DROP INDEX IF EXISTS [IX_SCore_RecordHistory_2124389968] ON [SCore].[RecordHistory]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_RecordHistory_Guid] on table [SCore].[RecordHistory]
--
PRINT (N'Create index [IX_RecordHistory_Guid] on table [SCore].[RecordHistory]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_RecordHistory_Guid' AND object_id = OBJECT_ID(N'[SCore].[RecordHistory]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[RecordHistory]'))
CREATE UNIQUE INDEX [IX_RecordHistory_Guid]
  ON [SCore].[RecordHistory] ([Guid])
  WITH (PAD_INDEX = ON, FILLFACTOR = 90)
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_RecordHistory_EntityPropertyID] on table [SCore].[RecordHistory]
--
PRINT (N'Create foreign key [FK_RecordHistory_EntityPropertyID] on table [SCore].[RecordHistory]')
GO
IF OBJECT_ID('[SCore].[FK_RecordHistory_EntityPropertyID]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[RecordHistory]', 'U') IS NOT NULL
  AND OBJECT_ID('SCore.EntityProperties', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'EntityPropertyID' AND object_id = OBJECT_ID(N'[SCore].[RecordHistory]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SCore.EntityProperties'))
ALTER TABLE [SCore].[RecordHistory] WITH NOCHECK
  ADD CONSTRAINT [FK_RecordHistory_EntityPropertyID] FOREIGN KEY ([EntityPropertyID]) REFERENCES [SCore].[EntityProperties] ([ID]) ON DELETE CASCADE
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_UQ_MetricTypes_Name] from table [SUserInterface].[Icons]
--
PRINT (N'Drop index [IX_UQ_MetricTypes_Name] from table [SUserInterface].[Icons]')
GO
DROP INDEX IF EXISTS [IX_UQ_MetricTypes_Name] ON [SUserInterface].[Icons]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop unique key [UK_Icons_Guid] on table [SUserInterface].[Icons]
--
PRINT (N'Drop unique key [UK_Icons_Guid] on table [SUserInterface].[Icons]')
GO
ALTER TABLE [SUserInterface].[Icons]
  DROP CONSTRAINT IF EXISTS [UK_Icons_Guid]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter trigger [tg_Icons_RecordHistory] on table [SUserInterface].[Icons]
--
GO
PRINT (N'Create or alter trigger [tg_Icons_RecordHistory] on table [SUserInterface].[Icons]')
GO
IF OBJECT_ID(N'[SUserInterface].[tg_Icons_RecordHistory]', 'TR') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER TRIGGER [SUserInterface].[tg_Icons_RecordHistory]
   ON  [SUserInterface].[Icons]	
   AFTER INSERT, UPDATE
AS 
BEGIN
	SET NOCOUNT ON;

    IF (ISNULL(CONVERT(int, SESSION_CONTEXT(N''S_disable_triggers'')), 0) = 1)
    BEGIN 
        RETURN
    END

	IF (EXISTS
			(
				SELECT	1
				FROM	Inserted
				WHERE	(ID = -1) 
			)
		)
	BEGIN 
		;THROW 60000, N''Data integrity exception: Attempt to alter -1 record'', 1
	END

    DECLARE	@PreviousValue NVARCHAR(MAX),
			@NewValue NVARCHAR(MAX),
			@UserID INT = 0,
			@SchemaName NVARCHAR(250) = N''SUserInterface'',
			@TableName NVARCHAR(250) = N''Icons'',
			@ColumnName NVARCHAR(250),
			@MaxInsertedID BIGINT,
			@CurrentInsertedID BIGINT,
			@CurrentInsertedGuid UNIQUEIDENTIFIER

	SELECT @UserID = ISNULL(CONVERT(int, SESSION_CONTEXT(N''user_id'')), -1)

	SELECT	@MaxInsertedID = MAX([ID]),
			@CurrentInsertedID = -1
	FROM	Inserted

	WHILE	(@CurrentInsertedID < @MaxInsertedID)
	BEGIN 
		SELECT	TOP(1) @CurrentInsertedID = i.[ID],
				@CurrentInsertedGuid = i.Guid
		FROM	Inserted i
		WHERE	(i.[ID] > @CurrentInsertedID)
			ORDER BY i.[ID]
		
		
		
		IF (NOT EXISTS 
				(
					SELECT	1
					FROM 	deleted d
					WHERE	(d.[ID] = @CurrentInsertedID)
				)
			)
		BEGIN 
				
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N'''', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, N'''', N'''', SYSTEM_USER, -1)
	
			RETURN 
		END
		
		SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[RowStatus]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[RowStatus]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[RowStatus] IS DISTINCT FROM i.[RowStatus])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''RowStatus'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 1374)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[Name]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[Name]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[Name] IS DISTINCT FROM i.[Name])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''Name'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 1377)
			END 
			
			
			END
		END
		
		'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_UQ_MetricTypes_Name] on table [SUserInterface].[Icons]
--
PRINT (N'Create index [IX_UQ_MetricTypes_Name] on table [SUserInterface].[Icons]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_UQ_MetricTypes_Name' AND object_id = OBJECT_ID(N'[SUserInterface].[Icons]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Name' AND object_id = OBJECT_ID(N'[SUserInterface].[Icons]'))
CREATE UNIQUE INDEX [IX_UQ_MetricTypes_Name]
  ON [SUserInterface].[Icons] ([Name])
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create unique key [UK_Icons_Guid] on table [SUserInterface].[Icons]
--
PRINT (N'Create unique key [UK_Icons_Guid] on table [SUserInterface].[Icons]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'UK_Icons_Guid' AND object_id = OBJECT_ID(N'[SUserInterface].[Icons]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SUserInterface].[Icons]'))
ALTER TABLE [SUserInterface].[Icons] WITH NOCHECK
  ADD CONSTRAINT [UK_Icons_Guid] UNIQUE ([Guid]) ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_MainMenuItems_Icons] on table [SUserInterface].[MainMenuItems]
--
PRINT (N'Create foreign key [FK_MainMenuItems_Icons] on table [SUserInterface].[MainMenuItems]')
GO
IF OBJECT_ID('[SUserInterface].[FK_MainMenuItems_Icons]', 'F') IS NULL
  AND OBJECT_ID('[SUserInterface].[MainMenuItems]', 'U') IS NOT NULL
  AND OBJECT_ID('SUserInterface.Icons', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'IconId' AND object_id = OBJECT_ID(N'[SUserInterface].[MainMenuItems]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SUserInterface.Icons'))
ALTER TABLE [SUserInterface].[MainMenuItems] WITH NOCHECK
  ADD CONSTRAINT [FK_MainMenuItems_Icons] FOREIGN KEY ([IconId]) REFERENCES [SUserInterface].[Icons] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column [IsDeletable] on table [SCore].[EntityTypes]
--
PRINT (N'Create column [IsDeletable] on table [SCore].[EntityTypes]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'IsDeletable' AND object_id = OBJECT_ID(N'[SCore].[EntityTypes]'))
ALTER TABLE [SCore].[EntityTypes]
  ADD [IsDeletable] [bit] NOT NULL CONSTRAINT [DF_EntityTypes_IsDeletable] DEFAULT (1)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_EntityTypes_IconId] on table [SCore].[EntityTypes]
--
PRINT (N'Create foreign key [FK_EntityTypes_IconId] on table [SCore].[EntityTypes]')
GO
IF OBJECT_ID('[SCore].[FK_EntityTypes_IconId]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[EntityTypes]', 'U') IS NOT NULL
  AND OBJECT_ID('SUserInterface.Icons', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'IconId' AND object_id = OBJECT_ID(N'[SCore].[EntityTypes]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SUserInterface.Icons'))
ALTER TABLE [SCore].[EntityTypes] WITH NOCHECK
  ADD CONSTRAINT [FK_EntityTypes_IconId] FOREIGN KEY ([IconId]) REFERENCES [SUserInterface].[Icons] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SCore].[AllEntityProperties]
--
PRINT (N'Refresh view [SCore].[AllEntityProperties]')
GO
EXEC sp_refreshview '[SCore].[AllEntityProperties]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SCore].[EntityPropertiesGroupsForValidationV]
--
PRINT (N'Refresh view [SCore].[EntityPropertiesGroupsForValidationV]')
GO
EXEC sp_refreshview '[SCore].[EntityPropertiesGroupsForValidationV]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SCore].[EntityTypesV]
--
PRINT (N'Refresh view [SCore].[EntityTypesV]')
GO
EXEC sp_refreshview '[SCore].[EntityTypesV]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SCore].[SystemUsageStatistics]
--
PRINT (N'Refresh view [SCore].[SystemUsageStatistics]')
GO
EXEC sp_refreshview '[SCore].[SystemUsageStatistics]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SCore].[vw_WF_AuthorisationQueue_Display]
--
PRINT (N'Refresh view [SCore].[vw_WF_AuthorisationQueue_Display]')
GO
EXEC sp_refreshview '[SCore].[vw_WF_AuthorisationQueue_Display]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SOffice].[OutlookEmails_Sys_ReadyToFile]
--
PRINT (N'Refresh view [SOffice].[OutlookEmails_Sys_ReadyToFile]')
GO
EXEC sp_refreshview '[SOffice].[OutlookEmails_Sys_ReadyToFile]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_GridViewDefinitions_Read] from table [SUserInterface].[GridViewDefinitions]
--
PRINT (N'Drop index [IX_GridViewDefinitions_Read] from table [SUserInterface].[GridViewDefinitions]')
GO
DROP INDEX IF EXISTS [IX_GridViewDefinitions_Read] ON [SUserInterface].[GridViewDefinitions]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_GridViewDefinitions_DrawerIconId] on table [SUserInterface].[GridViewDefinitions]
--
PRINT (N'Create foreign key [FK_GridViewDefinitions_DrawerIconId] on table [SUserInterface].[GridViewDefinitions]')
GO
IF OBJECT_ID('[SUserInterface].[FK_GridViewDefinitions_DrawerIconId]', 'F') IS NULL
  AND OBJECT_ID('[SUserInterface].[GridViewDefinitions]', 'U') IS NOT NULL
  AND OBJECT_ID('SUserInterface.Icons', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'DrawerIconId' AND object_id = OBJECT_ID(N'[SUserInterface].[GridViewDefinitions]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SUserInterface.Icons'))
ALTER TABLE [SUserInterface].[GridViewDefinitions] WITH NOCHECK
  ADD CONSTRAINT [FK_GridViewDefinitions_DrawerIconId] FOREIGN KEY ([DrawerIconId]) REFERENCES [SUserInterface].[Icons] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_UQ_EntityQueryParameters_Guid] on table [SCore].[EntityQueryParameters]
--
PRINT (N'Create index [IX_UQ_EntityQueryParameters_Guid] on table [SCore].[EntityQueryParameters]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_UQ_EntityQueryParameters_Guid' AND object_id = OBJECT_ID(N'[SCore].[EntityQueryParameters]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[EntityQueryParameters]'))
CREATE UNIQUE INDEX [IX_UQ_EntityQueryParameters_Guid]
  ON [SCore].[EntityQueryParameters] ([Guid])
  WITH (FILLFACTOR = 100)
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_EntityQueryParameters_EntityProperties] on table [SCore].[EntityQueryParameters]
--
PRINT (N'Create foreign key [FK_EntityQueryParameters_EntityProperties] on table [SCore].[EntityQueryParameters]')
GO
IF OBJECT_ID('[SCore].[FK_EntityQueryParameters_EntityProperties]', 'F') IS NULL
  AND OBJECT_ID('[SCore].[EntityQueryParameters]', 'U') IS NOT NULL
  AND OBJECT_ID('SCore.EntityProperties', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'MappedEntityPropertyID' AND object_id = OBJECT_ID(N'[SCore].[EntityQueryParameters]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SCore.EntityProperties'))
ALTER TABLE [SCore].[EntityQueryParameters] WITH NOCHECK
  ADD CONSTRAINT [FK_EntityQueryParameters_EntityProperties] FOREIGN KEY ([MappedEntityPropertyID]) REFERENCES [SCore].[EntityProperties] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SCore].[EntityTypeUpsert]
--
GO
PRINT (N'Create or alter procedure [SCore].[EntityTypeUpsert]')
GO
IF OBJECT_ID(N'[SCore].[EntityTypeUpsert]', 'P') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SCore].[EntityTypeUpsert]
  (
    @Name                 NVARCHAR(250),
    @RowStatus            TINYINT,
    @IsReadOnlyOffline    BIT,
    @IsRequiredSystemData BIT,
    @HasDocuments         BIT,
    @LanguageLabelGuid    UNIQUEIDENTIFIER,
    @DoNotTrackChanges    BIT,
    @IconGuid             UNIQUEIDENTIFIER,
    @IsRootEntity         BIT,
    @DetailPageUrl        NVARCHAR(250),
	@IsMetaData			  BIT,
    @Guid                 UNIQUEIDENTIFIER OUT,
	@IsDeletable		  BIT
  )
AS
  BEGIN
    SET NOCOUNT ON

    DECLARE @ProcessMessages SCore.ProcessMessages,
            @LanguageLabelID INT,
            @IconId          INT

    -- If the name isn''t set, then create a validation message. 
    IF (ISNULL(@Name,
      N''''
      ) = N''''
      )
      BEGIN
        INSERT @ProcessMessages
              (
                Type,
                Message
              )
        VALUES
                (
                  ''V'',
                  N''The name for the entity type cannot be blank.''
                );
      END;

    -- If the language label isn''t set, create one based on the name. 
    SELECT
            @LanguageLabelID = ID
    FROM
            SCore.LanguageLabels
    WHERE
            (Guid = @LanguageLabelGuid);

    IF (@LanguageLabelID = -1)
      BEGIN
        EXECUTE SCore.LanguageLabelUpsert
          @Name = @Name,
          @Guid = @LanguageLabelGuid OUT;

        SELECT
                @LanguageLabelID = ID
        FROM
                SCore.LanguageLabels
        WHERE
                (Guid = @LanguageLabelGuid);
      END;

    SELECT
            @IconId = ID
    FROM
            SUserInterface.Icons i
    WHERE
            (Guid = @IconGuid)

    DECLARE @IsInsert BIT = 0;
    EXEC SCore.UpsertDataObject
      @Guid       = @Guid,					-- uniqueidentifier
      @SchemeName = N''SCore'',				-- nvarchar(255)
      @ObjectName = N''EntityTypes'',				-- nvarchar(255)
      @IsInsert   = @IsInsert OUTPUT	-- bit

    IF (@IsInsert = 1)
      BEGIN
        INSERT SCore.EntityTypes
              (
                Guid,
                Name,
                RowStatus,
                IsReadOnlyOffline,
                IsRequiredSystemData,
                HasDocuments,
                LanguageLabelID,
                DoNotTrackChanges,
                IconId,
                IsRootEntity,
                DetailPageUrl,
				IsMetaData,
				IsDeletable
              )
        VALUES
                (
                  @Guid,
                  @Name,
                  @RowStatus,
                  @IsReadOnlyOffline,
                  @IsRequiredSystemData,
                  @HasDocuments,
                  @LanguageLabelID,
                  @DoNotTrackChanges,
                  @IconId,
                  @IsRootEntity,
                  @DetailPageUrl,
				  @IsMetaData,
				  @IsDeletable
                );
      END;
    ELSE
      BEGIN
        UPDATE  SCore.EntityTypes
        SET     Name = @Name,
                RowStatus = @RowStatus,
                IsReadOnlyOffline = @IsReadOnlyOffline,
                IsRequiredSystemData = @IsRequiredSystemData,
                HasDocuments = @HasDocuments,
                LanguageLabelID = @LanguageLabelID,
                DoNotTrackChanges = @DoNotTrackChanges,
                IconId = @IconId,
                IsRootEntity = @IsRootEntity,
                DetailPageUrl = @DetailPageUrl,
				IsMetaData = @IsMetaData,
				IsDeletable = @IsDeletable
        WHERE
          (Guid = @Guid);
      END;


  END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_LanguageLabelTranslations_1112326884] from table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Drop index [IX_SCore_LanguageLabelTranslations_1112326884] from table [SCore].[LanguageLabelTranslations]')
GO
DROP INDEX IF EXISTS [IX_SCore_LanguageLabelTranslations_1112326884] ON [SCore].[LanguageLabelTranslations]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_LanguageLabelTranslations_1368578410] from table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Drop index [IX_SCore_LanguageLabelTranslations_1368578410] from table [SCore].[LanguageLabelTranslations]')
GO
DROP INDEX IF EXISTS [IX_SCore_LanguageLabelTranslations_1368578410] ON [SCore].[LanguageLabelTranslations]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_LanguageLabelTranslations_1684617698] from table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Drop index [IX_SCore_LanguageLabelTranslations_1684617698] from table [SCore].[LanguageLabelTranslations]')
GO
DROP INDEX IF EXISTS [IX_SCore_LanguageLabelTranslations_1684617698] ON [SCore].[LanguageLabelTranslations]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop index [IX_SCore_LanguageLabelTranslations_2005253351] from table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Drop index [IX_SCore_LanguageLabelTranslations_2005253351] from table [SCore].[LanguageLabelTranslations]')
GO
DROP INDEX IF EXISTS [IX_SCore_LanguageLabelTranslations_2005253351] ON [SCore].[LanguageLabelTranslations]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_1112326884] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_1112326884] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_1112326884' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_1112326884]
  ON [SCore].[LanguageLabelTranslations] ([LanguageLabelID], [RowStatus])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_1368578410] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_1368578410] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_1368578410' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'TextPlural' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_1368578410]
  ON [SCore].[LanguageLabelTranslations] ([LanguageLabelID], [LanguageID])
  INCLUDE ([RowStatus], [TextPlural])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_1684617698] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_1684617698] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_1684617698' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Text' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_1684617698]
  ON [SCore].[LanguageLabelTranslations] ([LanguageLabelID], [LanguageID])
  INCLUDE ([RowStatus], [Text])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_2005253351] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_2005253351] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_2005253351' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_2005253351]
  ON [SCore].[LanguageLabelTranslations] ([LanguageLabelID], [LanguageID])
  INCLUDE ([RowStatus])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_1008315981] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_1008315981] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_1008315981' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_1008315981]
  ON [SCore].[LanguageLabelTranslations] ([Guid])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_1070317612] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_1070317612] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_1070317612' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_1070317612]
  ON [SCore].[LanguageLabelTranslations] ([LanguageID])
  INCLUDE ([RowStatus], [LanguageLabelID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_1219597662] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_1219597662] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_1219597662' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_1219597662]
  ON [SCore].[LanguageLabelTranslations] ([LanguageLabelID], [LanguageID])
  INCLUDE ([Guid])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_1708317867] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_1708317867] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_1708317867' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_1708317867]
  ON [SCore].[LanguageLabelTranslations] ([RowStatus])
  INCLUDE ([Guid], [LanguageLabelID], [LanguageID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_184406494] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_184406494] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_184406494' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_184406494]
  ON [SCore].[LanguageLabelTranslations] ([LanguageID])
  INCLUDE ([Guid], [LanguageLabelID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_2091017073] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_2091017073] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_2091017073' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'TextPlural' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_2091017073]
  ON [SCore].[LanguageLabelTranslations] ([RowStatus])
  INCLUDE ([TextPlural], [LanguageLabelID], [LanguageID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_2133444830] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_2133444830] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_2133444830' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_2133444830]
  ON [SCore].[LanguageLabelTranslations] ([LanguageLabelID], [LanguageID], [RowStatus])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_309240280] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_309240280] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_309240280' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_309240280]
  ON [SCore].[LanguageLabelTranslations] ([LanguageLabelID])
  INCLUDE ([RowStatus], [Guid], [LanguageID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_486890439] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_486890439] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_486890439' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowVersion' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Text' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_486890439]
  ON [SCore].[LanguageLabelTranslations] ([LanguageLabelID])
  INCLUDE ([RowStatus], [RowVersion], [Guid], [Text], [LanguageID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_957225613] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_957225613] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_957225613' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Guid' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_957225613]
  ON [SCore].[LanguageLabelTranslations] ([Guid], [RowStatus])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_973519744] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_973519744] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_973519744' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'Text' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_973519744]
  ON [SCore].[LanguageLabelTranslations] ([RowStatus])
  INCLUDE ([Text], [LanguageLabelID], [LanguageID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_SCore_LanguageLabelTranslations_981754635] on table [SCore].[LanguageLabelTranslations]
--
PRINT (N'Create index [IX_SCore_LanguageLabelTranslations_981754635] on table [SCore].[LanguageLabelTranslations]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'IX_SCore_LanguageLabelTranslations_981754635' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'RowStatus' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageLabelID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'LanguageID' AND object_id = OBJECT_ID(N'[SCore].[LanguageLabelTranslations]'))
CREATE INDEX [IX_SCore_LanguageLabelTranslations_981754635]
  ON [SCore].[LanguageLabelTranslations] ([RowStatus])
  INCLUDE ([LanguageLabelID], [LanguageID])
  WITH (FILLFACTOR = 80)
  ON [METADATA]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SCore].[tvf_PropertiesForEntityType]
--
GO
PRINT (N'Create or alter function [SCore].[tvf_PropertiesForEntityType]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SCore].[tvf_PropertiesForEntityType]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'CREATE OR ALTER FUNCTION [SCore].[tvf_PropertiesForEntityType]
	(
		@Guid UNIQUEIDENTIFIER,
		@UserId INT
	)
RETURNS TABLE
	            --WITH SCHEMABINDING 
AS
RETURN SELECT		p.RowStatus,
					p.RowVersion,
					p.Guid,
					p.Name,
					e.Guid	  AS EntityTypeGuid,
					ll.Guid	  AS LanguageLabelGuid,
					llt.HelpText AS HelpText,
					edt.Guid  AS EntityDataTypeGuid,
					p.IsReadOnly,
					p.IsImmutable,
					p.IsHidden,
					p.IsCompulsory,
					p.MaxLength,
					p.Precision,
					p.Scale,
					p.DoNotTrackChanges,
					epg.Guid  AS EntityPropertyGroupGuid,
					p.SortOrder,
					p.GroupSortOrder,
					ISNULL (   os.CanRead,
							   0
						   )  AS CanRead,
					ISNULL (   os.CanWrite,
							   0
						   )  AS CanWrite,
					edt.Name  AS EntityDataTypeName,
					ISNULL (   lt.Label,
							   p.Name
						   )  AS Label,
					ddld.Guid AS DropDownListDefinitionGuid,
					ddld.DetailPageUrl,
					ddld.InformationPageUrl,
					ddld.IsDetailWindowed,
					ddlde.Guid AS ForeignEntityTypeGuid,
					p.IsObjectLabel,
					p.IsParentRelationship,
					hobt.Guid AS EntityHoBTGuid,
					p.IsLongitude,
					p.IsLatitude,
					p.IsUppercase,
					p.IsIncludedInformation,
					p.FixedDefaultValue,
					p.SqlDefaultValueStatement,
					p.AllowBulkChange,
					p.IsVirtual,
					p.ShowOnMobile,
					p.IsAlwaysVisibleInGroup,
					p.IsAlwaysVisibleInGroup_Mobile,
					ddld.ExternalSearchPageUrl
	   FROM			SCore.EntityProperties					AS p
	   JOIN			SCore.EntityDataTypes					AS edt ON (p.EntityDataTypeID = edt.ID)
	   JOIN			SCore.EntityHobts						AS hobt ON (p.EntityHoBTID = hobt.ID)
	   JOIN			SCore.EntityTypes						AS e ON (hobt.EntityTypeID = e.ID)
	   JOIN			SCore.EntityPropertyGroups				AS epg ON (p.EntityPropertyGroupID = epg.ID)
	   JOIN			SUserInterface.DropDownListDefinitions AS ddld ON (ddld.ID = p.DropDownListDefinitionID)
	   JOIN			SCore.EntityTypes						AS ddlde ON (ddlde.ID = ddld.EntityTypeId)
	   JOIN			SCore.LanguageLabels					AS ll ON (ll.ID = p.LanguageLabelID)
	   JOIN			SCore.LanguageLabelTranslations			AS llt ON (ll.ID = llt.LanguageLabelID)
	   OUTER APPLY	SCore.ObjectSecurityForUser (	p.Guid,
													@UserId
												)			AS os
	   OUTER APPLY	SCore.ObjectLabelForUser (	 p.LanguageLabelID,
												 @UserId
											 ) AS lt
	   WHERE		(e.Guid = @Guid)
				AND	(p.RowStatus NOT IN (0, 254))

'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SCore].[tvf_EntityTypes]
--
GO
PRINT (N'Create or alter function [SCore].[tvf_EntityTypes]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SCore].[tvf_EntityTypes]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'CREATE OR ALTER FUNCTION [SCore].[tvf_EntityTypes]
  (
    @Guid   UNIQUEIDENTIFIER,
    @UserId INT
  )
RETURNS TABLE
         --WITH SCHEMABINDING
AS
  RETURN SELECT
          et.RowStatus,
          et.RowVersion,
          et.Guid,
          et.Name,
          et.IsReadOnlyOffline,
          et.IsRequiredSystemData,
          et.HasDocuments,
          i.Name AS IconCss,
          et.IsRootEntity,
          et.DetailPageUrl,
          ll.Guid AS LanguageLabelGuid,
          et.DoNotTrackChanges,
          os.CanRead,
          os.CanWrite,
          lt.Label,
		  et.IsDeletable
  FROM
          SCore.EntityTypes AS et
  JOIN
          SCore.LanguageLabelsV AS ll ON (et.LanguageLabelID = ll.ID)
  JOIN
          SUserInterface.Icons i ON (i.ID = et.IconId)
  OUTER APPLY
          SCore.ObjectSecurityForUser(et.Guid,
          @UserId
          ) AS os
  OUTER APPLY
          SCore.ObjectLabelForUser(et.LanguageLabelID,
          @UserId
          ) AS lt
  WHERE
          (et.Guid = @Guid)
          AND (et.RowStatus NOT IN (0, 254))
          AND (et.ID > -1);
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
PRINT (N'Commit Transaction')
GO
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
PRINT (N'Set NOEXEC to off')
GO
SET NOEXEC OFF
GO