-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 04/12/2025 14:23:29
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Add default constraint [DF_WorkflowTransition_FromStatusID] on table [SCore].[WorkflowTransition]
--
ALTER TABLE [SCore].[WorkflowTransition]
  ADD CONSTRAINT [DF_WorkflowTransition_FromStatusID] DEFAULT (-1) FOR [FromStatusID]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Add default constraint [DF_WorkflowTransition_ToStatusID] on table [SCore].[WorkflowTransition]
--
ALTER TABLE [SCore].[WorkflowTransition]
  ADD CONSTRAINT [DF_WorkflowTransition_ToStatusID] DEFAULT (-1) FOR [ToStatusID]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SCore].[tvf_WorkflowValidate]
--
GO
CREATE OR ALTER FUNCTION [SCore].[tvf_WorkflowValidate]
	(
		@Guid			UNIQUEIDENTIFIER,
		@Name			NVARCHAR(200),
		@Description	NVARCHAR(800),
		@EntityTypeGuid UNIQUEIDENTIFIER,
		@IsEnabled		BIT,
		@OrgUnitGuid    UNIQUEIDENTIFIER
	)
RETURNS @ValidationResult TABLE
	(
		ID INT IDENTITY(1, 1) NOT NULL,
		TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
		TargetType CHAR(1) NOT NULL DEFAULT (''),
		IsReadOnly BIT NOT NULL DEFAULT ((0)),
		IsHidden BIT NOT NULL DEFAULT ((0)),
		IsInvalid BIT NOT NULL DEFAULT ((0)),
		IsInformationOnly BIT NOT NULL DEFAULT ((0)),
		Message NVARCHAR(2000) NOT NULL DEFAULT ('')
	)
AS
BEGIN
	
	--Get the entity type we work with - just the "Name" field.
	DECLARE @EntityTypeForWorkflow NVARCHAR(250) = N'';
	DECLARE @EntityTypeID		  INT;
	DECLARE @OrgUnitID INT;
	DECLARE @WorkflowID INT;
	
	--Entity type name + ID.
	SELECT 
		@EntityTypeForWorkflow = Name,
		@EntityTypeID = ID
	FROM SCore.EntityTypes
	WHERE Guid = @EntityTypeGuid;

	--Get the workflow ID
	SELECT @WorkflowID = ID
	FROM SCore.Workflow 
	WHERE Guid = @Guid

	SELECT @OrgUnitID = ID
	FROM SCore.OrganisationalUnits
	WHERE Guid = @OrgUnitGuid;



	


	--If the workflow is new
	IF (NOT EXISTS(SELECT 1 FROM SCore.Workflow WHERE Guid = @Guid))
	BEGIN

		
		--Only show basic info. fields.
		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		SELECT	epfvv.Guid,
				N'P',
				0,
				1,
				0,
				N''
		FROM	SCore.EntityPropertiesForValidationV AS epfvv
		WHERE	epfvv.[Schema] = N'SCore'
			AND epfvv.Hobt	   = N'Workflow'
			AND epfvv.Name NOT IN (N'Name', N'Description', N'EntityTypeID', N'OrganisationalUnitId');


		IF(@Name = N'')
		BEGIN
			--Compulsory fields.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'Name is compulsory.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Name');
		END;


		IF(@EntityTypeGuid = N'00000000-0000-0000-0000-000000000000')
		BEGIN
			--Compulsory fields.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'Name is compulsory.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'EntityTypeID');
		END;
	END;


	--If the workflow exists...
	IF(EXISTS(SELECT 1 FROM SCore.Workflow WHERE Guid = @Guid ))
	BEGIN
			-- ...lock the entity type field to prevent from changing it.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					1,
					0,
					0,
					N''
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'EntityTypeID');

			IF(@OrgUnitID = -1)
			BEGIN
				--Compulsory fields.
				INSERT	@ValidationResult
						(TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
				SELECT	epfvv.Guid,
						N'P',
						1,
						0,
						0,
						N''
				FROM	SCore.EntityPropertiesForValidationV AS epfvv
				WHERE	epfvv.[Schema] = N'SCore'
					AND epfvv.Hobt	   = N'Workflow'
			END;
	END;


	


	--Check if the user is trying to enable a workflow when there is an already active one.
	IF(@IsEnabled = 1)
	BEGIN

		--Check if there is already an enabled one for the entity type.
		IF(EXISTS
			(
				SELECT 1 
				FROM SCore.Workflow
				WHERE 
					(Enabled = 1) AND
					(EntityTypeID = @EntityTypeID) AND
					(OrganisationalUnitId = @OrgUnitID) AND
					(Guid <> @Guid)
			)
		 )
		 BEGIN
			 INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'There is already an active workflow for this entity type.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Enabled');
		 END;
	--Check if the user is trying to enable a workflow that has no associated transitions.
	ELSE IF(NOT EXISTS
			(
				SELECT 1 
				FROM SCore.WorkflowTransition AS wft
				WHERE wft.WorkflowID = @WorkflowID
			))
	BEGIN
	 INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'No transitions for workflow - please, add transitions before enabling the workflow!'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Enabled');
	END;

	END;
	
	


	RETURN;
END;

GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SCore].[WorkflowDelete]
--
GO
CREATE OR ALTER PROCEDURE [SCore].[WorkflowDelete]
(
	@Guid UNIQUEIDENTIFIER 
)
AS 
BEGIN

	 DECLARE @UserID             INT = -1;

    SELECT
            @UserID = ISNULL(CONVERT(INT,
            SESSION_CONTEXT(N'user_id')
            ),
            -1
            );

    IF (NOT EXISTS
			(
				SELECT	1
				FROM	SCore.UserGroups AS ug
				JOIN	SCore.Groups AS g ON (g.ID = ug.GroupID)
				WHERE	(ug.IdentityID = @UserID)
					AND	(g.Code = N'SU')
			)
		)
	BEGIN 
		;THROW 60000, N'Only members of the Superusers group can run this action.', 1
	END

	
		IF(EXISTS
			(
				SELECT 1 FROM
				SCore.Workflow AS Wf
				WHERE Wf.Guid = @Guid AND Wf.Enabled = 1
			
			))
		BEGIN
			;THROW 60000, N'Cannot delete enabled workflows', 1
			RETURN
		END;
		ELSE IF(EXISTS
				(
					SELECT 1 FROM
					SCore.Workflow AS Wf
					WHERE Wf.Guid = @Guid AND Wf.OrganisationalUnitId = -1
				)
		)
		BEGIN
			;THROW 60000, N'Cannot delete a default workflow!', 1
			RETURN
		END;

		DECLARE @WorkflowID INT;
		DECLARE @WorkflowTransitionGuid UNIQUEIDENTIFIER;


		--Get the workflow ID - we will use this to "delete" all associated transitions.
		SELECT @WorkflowID = ID 
		FROM SCore.Workflow
		WHERE Guid = @Guid;

		EXEC SCore.DeleteDataObject @Guid = @Guid	-- uniqueidentifier

		UPDATE	SCore.Workflow
		SET		RowStatus = 254
		WHERE	(Guid = @Guid)


		--Now, delete all associated workflow transitions
		WHILE EXISTS(SELECT 1 FROM SCore.WorkflowTransition WHERE WorkflowID = @WorkflowID AND RowStatus <> 254)
		BEGIN

			SELECT TOP 1 @WorkflowTransitionGuid = Guid
			FROM SCore.WorkflowTransition
			WHERE 
				(WorkflowID = @WorkflowID)
				AND (RowStatus NOT IN (0,254))

			EXEC SCore.DeleteDataObject @Guid = @WorkflowTransitionGuid	-- uniqueidentifier

			UPDATE	SCore.WorkflowTransition
			SET		RowStatus = 254
			WHERE	(Guid = @WorkflowTransitionGuid)

		END


		
END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SJob].[tvf_JobMilestones]
--
GO
CREATE OR ALTER FUNCTION [SJob].[tvf_JobMilestones]
	(
		@UserId INT,
		@ParentGuid UNIQUEIDENTIFIER
	)
RETURNS TABLE
               --WITH SCHEMABINDING
AS
RETURN SELECT		jm.ID,
					jm.RowStatus,
					jm.RowVersion,
					jm.Guid,
					mt.Name,
					jm.Description Description,
					jm.SortOrder,
					jm.ScheduledDateTimeUTC,
					jm.DueDateTimeUTC,
					jm.StartDateTimeUTC,
					jm.CompletedDateTimeUTC,
					CASE
						WHEN (jm.IsNotApplicable = 1) THEN N'Not Applicable'
						WHEN (ISNULL (	 jm.CompletedDateTimeUTC,
										 '1970-01-02'
									 ) > '1970-01-02'
							 ) THEN N'Complete'
						WHEN
						   (
							   ISNULL (	  jm.DueDateTimeUTC,
										  '1970-01-02'
									  ) < GETUTCDATE ()
						   AND	(ISNULL (	jm.DueDateTimeUTC,
											'1970-01-02'
										) > '1970-01-02'
								)
						   ) THEN N'Overdue'
						WHEN (ISNULL (	 jm.StartDateTimeUTC,
										 '1970-01-02'
									 ) > '1970-01-02'
							 ) THEN N'Started'
						WHEN (ISNULL (	 jm.ScheduledDateTimeUTC,
										 '1970-01-02'
									 ) > '1970-01-02'
							 ) THEN N'Scheduled'
						ELSE N'Incomplete'
					END		AS StatusText
	   FROM			SJob.Milestones				  AS jm
	   JOIN			SJob.MilestoneTypes			  AS mt ON (mt.ID = jm.MilestoneTypeID)
	   JOIN			SJob.Jobs					  AS j ON (j.ID = jm.JobID)
	   WHERE		(jm.RowStatus NOT IN (0, 254))
				AND (j.Guid		= @ParentGuid)
				AND	(EXISTS
			(
				SELECT	1
				FROM	SCore.ObjectSecurityForUser_CanRead (jm.guid, @UserId) oscr
			)
		)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SJob].[ActivitiesValidate]
--
GO
CREATE OR ALTER FUNCTION [SJob].[ActivitiesValidate]
	(
		@Guid UNIQUEIDENTIFIER,
		@ActivityStatusGuid UNIQUEIDENTIFIER,
		@Start DATETIME2, 
		@End DATETIME2,
		@InvoicingValue decimal(19,2),
		@InvoicingQuantity decimal (19,2),
		@JobGuid	UNIQUEIDENTIFIER,
		@NewExpiryDate DATETIME2,
		@ActivityTypeGuid UNIQUEIDENTIFIER
	)
RETURNS @ValidationResult TABLE
	(
		ID INT IDENTITY(1, 1) NOT NULL,
		TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
		TargetType CHAR(1) NOT NULL DEFAULT (''),
		IsReadOnly BIT NOT NULL DEFAULT ((0)),
		IsHidden BIT NOT NULL DEFAULT ((0)),
		IsInvalid BIT NOT NULL DEFAULT ((0)),
		[IsInformationOnly] [BIT] NOT NULL DEFAULT((0)),
		Message NVARCHAR(2000) NOT NULL DEFAULT ('')
	)
AS
BEGIN
	DECLARE @EntityHoBTGuid UNIQUEIDENTIFIER,
			@EntityPropertyGuid UNIQUEIDENTIFIER

	
	DECLARE @F10UpdatedActivityType UNIQUEIDENTIFIER;

	
	SELECT @F10UpdatedActivityType = Guid 
	FROM SJob.ActivityTypes
	WHERE Name = N'F10 Updated/Reissued'


	

	IF (@ActivityTypeGuid <> @F10UpdatedActivityType)
		BEGIN
			-- Hide only the "NewExpiryDate" field
			INSERT INTO @ValidationResult
				(TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT epfvv.Guid,
				   N'P',
				   1,
				   0,
				   0,
				   N''
			FROM SCore.EntityPropertiesForValidationV AS epfvv
			WHERE epfvv.[Schema] = N'SJob'
			  AND epfvv.Hobt     = N'Activities'
			  AND epfvv.Name     = N'NewExpiryDate';
		END

	 IF(@ActivityTypeGuid = @F10UpdatedActivityType AND @NewExpiryDate IS NULL)
		BEGIN
			 --Hide everything except the "NewExpiryDate" field
			INSERT INTO @ValidationResult
				(TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT epfvv.Guid,
				   N'P',
				   0,
				   0,
				   1,
				   N'Must specify new expiry date!'
			FROM SCore.EntityPropertiesForValidationV AS epfvv
			WHERE epfvv.[Schema] = N'SJob'
			  AND epfvv.Hobt     = N'Activities'
			  AND epfvv.Name     = N'NewExpiryDate';
		END
	 



	/*
		Make the activity read only if the activity of the job is complete. 
	*/
	IF ((EXISTS
	 (
		 SELECT 1
		 FROM	SJob.ActivityStatus	  AS s
		 WHERE	(s.Guid = @ActivityStatusGuid)
			AND	(s.IsCompleteStatus = 1)
	 )
	   )
	OR (EXISTS 
			(
				SELECT	1
				FROM	SJob.Activities a
				WHERE	(EXISTS 
							(
								SELECT	1 
								FROM	SJob.Jobs AS j
								WHERE	(j.IsComplete = 1)
									AND	(j.ID = a.JobID)
							)
						)
					AND	(a.Guid = @Guid)
			)
		))
	AND	(EXISTS
			(
				SELECT	1
				FROM	SJob.Activities 
				WHERE	(guid = @Guid)
					AND	(RowStatus <> 0)
			)
		)
	BEGIN
		SELECT	@EntityHoBTGuid = eh.Guid
		FROM	SCore.EntityHobtsV AS eh
		WHERE	(eh.SchemaName = N'SJob')
			AND (eh.ObjectName = N'Activities');

		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		VALUES
			 (
				 @EntityHoBTGuid,
				 N'H',
				 1,
				 0,
				 0,
				 N''
			 );
	END;

	/*
		The End must be greater than the Start
	*/
	IF (@End < @Start)
	BEGIN 
		SELECT	@EntityPropertyGuid = ep.Guid
		FROM	SCore.EntityPropertiesV ep
		JOIN	SCore.EntityHobtsV eh ON (eh.ID = ep.EntityHoBTID)
		WHERE	(eh.SchemaName = N'SJob')
			AND (eh.ObjectName = N'Activities')
			AND	(ep.Name	 = N'Date')

		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		VALUES
			 (
				 @EntityPropertyGuid,
				 N'P',
				 0,
				 0,
				 1,
				 N'The Start Date/Time must be before the End Date/Time.'
			 );

		SELECT	@EntityPropertyGuid = ep.Guid
		FROM	SCore.EntityPropertiesV ep
		JOIN	SCore.EntityHobtsV eh ON (eh.ID = ep.EntityHoBTID)
		WHERE	(eh.SchemaName = N'SJob')
			AND (eh.ObjectName = N'Activities')
			AND	(ep.Name	 = N'EndDate')

		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		VALUES
			 (
				 @EntityPropertyGuid,
				 N'P',
				 0,
				 0,
				 1,
				 N'The End Date/Time must be after the Start Date/Time.'
			 );
	END

	IF (@InvoicingValue > 0) 
	BEGIN 
		SELECT
				@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'InvoicingQuantity')

		INSERT @ValidationResult
				(
					TargetGuid,
					TargetType,
					IsReadOnly,
					IsHidden,
					IsInvalid,
					Message
				)
		VALUES
				(
					@EntityPropertyGuid,
					N'P',
					1,
					0,
					0,
					N''
				);
	END

	IF (@InvoicingQuantity > 0)
 
	BEGIN 
		SELECT
				@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'InvoicingValue')

		INSERT @ValidationResult
				(
					TargetGuid,
					TargetType,
					IsReadOnly,
					IsHidden,
					IsInvalid,
					Message
				)
		VALUES
				(
					@EntityPropertyGuid,
					N'P',
					1,
					0,
					0,
					N''
				);
	END

	/*
		Hide timesheet items when UseTimeSheet is false
	*/
	IF (
		SELECT	jt.UseTimeSheets 
		FROM	SJob.JobTypes jt
		JOIN	SJob.Jobs j ON (j.JobTypeID = jt.ID)
		WHERE	(j.Guid = @JobGuid)
	) = 0
	BEGIN 
		SELECT	@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'InvoicingQuantity')

		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		VALUES
			 (
				 @EntityPropertyGuid,
				 N'P',
				 0,
				 1,
				 0,
				 N''
			 );

		SELECT	@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'InvoicingValue')

		INSERT @ValidationResult
				(
					TargetGuid,
					TargetType,
					IsReadOnly,
					IsHidden,
					IsInvalid,
					Message
				)
		VALUES
				(
					@EntityPropertyGuid,
					N'P',
					0,
					1,
					0,
					N''
				);

		SELECT	@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'IsAdditionalWork')

		INSERT @ValidationResult
				(
					TargetGuid,
					TargetType,
					IsReadOnly,
					IsHidden,
					IsInvalid,
					Message
				)
		VALUES
				(
					@EntityPropertyGuid,
					N'P',
					0,
					1,
					0,
					N''
				);
	END





	RETURN;
END;

GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Quote_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Quote_CalculatedFields]
     -- WITH SCHEMABINDING
AS
SELECT	q.ID,
		CASE
            ------------------------------------------------------------------
            -- 1) JOB-DRIVEN COMPLETION (HIGHEST PRIORITY)
            --    If all QuoteItems have CreatedJobId > 0 -> Complete
            --    If some but not all have CreatedJobId > 0 -> Part Complete
            ------------------------------------------------------------------
            WHEN QuoteItemAgg.TotalItems > 0
                 AND QuoteItemAgg.ItemsWithJob = QuoteItemAgg.TotalItems
            THEN N'Complete'

            WHEN QuoteItemAgg.TotalItems > 0
                 AND QuoteItemAgg.ItemsWithJob > 0
                 AND QuoteItemAgg.ItemsWithJob < QuoteItemAgg.TotalItems
            THEN N'Part Complete'

            ------------------------------------------------------------------
            -- 2) CUSTOM WORKFLOW STATUSES (NON-STANDARD NAMES)
            --    Only if job-complete logic above did not apply.
            ------------------------------------------------------------------
			WHEN CurrentWorkflowStatus.Name IS NOT NULL
                 AND CurrentWorkflowStatus.Name NOT IN (
                        N'N/A',
                        N'New',
                        N'Sent',
                        N'Accepted',
                        N'Rejected',
                        N'Dead',
                        N'Is Final (Ready to Send)',
                        N'Declined To Quote',
                        N'Expired',
                        N'Ready to Send',
                        N'Complete',
                        N'Part Complete'
                 )
			THEN CurrentWorkflowStatus.Name

            ------------------------------------------------------------------
            -- 3) STANDARD NEGATIVE / POSITIVE STATUSES
            ------------------------------------------------------------------
			-- Declined to Quote
			WHEN (q.DateDeclinedToQuote IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Declined)
					)) THEN N'Declined To Quote'

			-- Dead
			WHEN (q.DeadDate IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Dead)
				)) THEN N'Dead'

			-- Accepted (but no jobs, or we'd already be Complete/Part Complete above)
			WHEN (q.DateAccepted IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Accepted)
				)) THEN N'Accepted'

			-- Rejected
			WHEN (q.DateRejected IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Rejected)
				)) THEN N'Rejected'

			-- Expired
			WHEN q.ExpiryDate < GETUTCDATE () THEN N'Expired'

			-- Sent
			WHEN (q.DateSent IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Sent)
				)) THEN N'Sent'

			-- Ready to Send
			WHEN (q.IsFinal = 1 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.ReadyToSend)
				)) THEN N'Ready to Send'

            ------------------------------------------------------------------
            -- 4) FALLBACK
            ------------------------------------------------------------------
			ELSE N'New'
		END AS QuoteStatus
FROM	SSop.Quotes AS q

-- Aggregate quote items per quote: how many have jobs?
OUTER APPLY (
    SELECT
        TotalItems   = COUNT(1),
        ItemsWithJob = SUM(CASE WHEN qi.CreatedJobId > 0 THEN 1 ELSE 0 END)
    FROM SSop.QuoteItems qi
    WHERE qi.QuoteId = q.ID
      AND qi.RowStatus NOT IN (0,254)
) AS QuoteItemAgg

OUTER APPLY (
	SELECT 
		Declined	= CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'),
		Dead		= CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D'),
		Accepted	= CONVERT(UNIQUEIDENTIFIER, '21A29AEE-2D99-4DA3-8182-F31813B0C498'),
		ReadyToSend = CONVERT(UNIQUEIDENTIFIER, '02A2237F-2AE7-4E05-926F-38E8B7D050A0'),
		Rejected    = CONVERT(UNIQUEIDENTIFIER, '0A6A71F7-B39F-4213-997E-2B3A13B6144C'),
		Sent        = CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032')
) AS Statuses

-- Latest workflow transition applied to the quote
OUTER APPLY
	(
		SELECT wfs1.Name
		FROM SCore.DataObjectTransition AS dot1
		JOIN SCore.WorkflowStatus AS wfs1 ON (wfs1.ID = dot1.StatusID)
		WHERE 
			(dot1.DataObjectGuid = q.Guid)
			AND (dot1.RowStatus NOT IN (0,254))
			AND (NOT EXISTS
					(
						SELECT 1
						FROM SCore.DataObjectTransition AS dot2
						JOIN SCore.WorkflowStatus AS  wfs2 ON (wfs2.ID = dot2.StatusID)
						WHERE 
							(dot2.DataObjectGuid = q.Guid)
							AND (dot2.RowStatus NOT IN (0,254))
							AND (dot2.ID > dot1.ID)
					)
				)
	
	) AS CurrentWorkflowStatus;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[tvf_QuotesReadyToSend]
--
GO
CREATE OR ALTER FUNCTION [SSop].[tvf_QuotesReadyToSend]
(
	@UserId INT
)
RETURNS TABLE
	   --WITH SCHEMABINDING
AS RETURN	
SELECT  q.ID,
        q.RowStatus,
        q.RowVersion,
        q.Guid,
		q.FullNumber AS Number,
		CASE WHEN q.DescriptionOfWorks <> N'' THEN LEFT(q.DescriptionOfWorks, 200) ELSE LEFT(q.Overview, 200) END AS Details,
		acc.Name + N' / ' + aacc.Name AS Account,
		uprn.FormattedAddressComma,
		i.FullName AS QuotingConsultant,
		qcf.QuoteStatus AS QuoteStatus
FROM    SSop.Quotes q
JOIN	SSop.EnquiryServices AS es ON (es.ID = q.EnquiryServiceID)
JOIN	SSop.Enquiries AS e ON (e.ID = es.EnquiryId)
JOIN	SCrm.Accounts acc ON (acc.ID = e.ClientAccountID)
JOIN	SCrm.Accounts aacc ON (aacc.ID = e.AgentAccountID)
JOIN	SCore.Identities i ON (i.ID = q.QuotingConsultantId)
JOIN	SJob.Assets uprn ON (uprn.ID = q.UprnId)
JOIN	SSop.Quote_CalculatedFields qcf ON (qcf.ID = q.ID)
WHERE   (q.RowStatus NOT IN (0, 254))
	AND	(q.ID > 0)
AND	(EXISTS
			(
		SELECT
				1
		FROM
				SCore.ObjectSecurityForUser_CanRead(q.Guid, @UserId) oscr
			)
		)
	AND	(q.IsFinal = 1)
	AND	(q.DateSent IS NULL)
	AND	(q.DateAccepted IS NULL)
	AND	(q.DateRejected IS NULL)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SCore].[DataObjectTransitionImportLegacyStatus]
--
GO
CREATE OR ALTER PROCEDURE [SCore].[DataObjectTransitionImportLegacyStatus]
AS
BEGIN
    ----------------------------------------------------------------------
    -- [Enquiries]
    ----------------------------------------------------------------------
    DECLARE @EnquiryID INT;
    DECLARE @EnquiryGuid UNIQUEIDENTIFIER;
    DECLARE @EnquiryStatus NVARCHAR(20);

    ----------------------------------------------------------------------
    -- [Quotes]
    ----------------------------------------------------------------------
    DECLARE @QuoteID INT;
    DECLARE @QuoteGuid UNIQUEIDENTIFIER;
    DECLARE @QuoteStatus NVARCHAR(20);

    ----------------------------------------------------------------------
    -- [Jobs]
    ----------------------------------------------------------------------
    DECLARE @JobID INT;
    DECLARE @JobGuid UNIQUEIDENTIFIER;
    DECLARE @JobStatus NVARCHAR(20);

    ----------------------------------------------------------------------
    -- [Universal - exists across the record types]
    ----------------------------------------------------------------------
    DECLARE @Number NVARCHAR(50);

    ----------------------------------------------------------------------
    -- Clean up temp tables
    ----------------------------------------------------------------------
    DROP TABLE IF EXISTS #RecordStatuses;
    DROP TABLE IF EXISTS #EnquiriesToProcess;
    DROP TABLE IF EXISTS #QuotesToProcess;
    DROP TABLE IF EXISTS #JobsToProcess;

    ----------------------------------------------------------------------
    -- Temp table for all statuses
    ----------------------------------------------------------------------
    CREATE TABLE #RecordStatuses
    (
        RecordType   NVARCHAR(30) NOT NULL,
        Number       NVARCHAR(50) NOT NULL,
        RecordStatus NVARCHAR(20) NOT NULL,
        RecordGuid   UNIQUEIDENTIFIER NOT NULL
    );

    ----------------------------------------------------------------------
    -- 1: Process the enquiries
    ----------------------------------------------------------------------
    SELECT ID, Number, Guid
    INTO #EnquiriesToProcess
    FROM SSop.Enquiries
    WHERE RowStatus NOT IN (0, 254)
    ORDER BY ID DESC;

    WHILE EXISTS(SELECT 1 FROM #EnquiriesToProcess)
    BEGIN
        SELECT TOP 1
            @EnquiryID   = ID,
            @Number      = Number,
            @EnquiryGuid = Guid
        FROM #EnquiriesToProcess
        ORDER BY ID;

        SELECT @EnquiryStatus = QuotingStatus
        FROM SSop.Tvf_GetEnquiryStatuses(@EnquiryID);

        INSERT INTO #RecordStatuses (RecordType, Number, RecordStatus, RecordGuid)
        VALUES (N'Enquiry', @Number, @EnquiryStatus, @EnquiryGuid);

        DELETE FROM #EnquiriesToProcess
        WHERE ID = @EnquiryID;
    END;

    ----------------------------------------------------------------------
    -- 2: Process the quotes
    ----------------------------------------------------------------------
    SELECT ID, Number, Guid
    INTO #QuotesToProcess
    FROM SSop.Quotes
    WHERE RowStatus NOT IN (0, 254)
    ORDER BY ID DESC;

    WHILE EXISTS(SELECT 1 FROM #QuotesToProcess)
    BEGIN
        SELECT TOP 1
            @QuoteID   = ID,
            @Number    = Number,
            @QuoteGuid = Guid
        FROM #QuotesToProcess
        ORDER BY ID;

        SELECT @QuoteStatus = QuoteStatus
        FROM SSop.Quote_CalculatedFields
        WHERE ID = @QuoteID;

        INSERT INTO #RecordStatuses (RecordType, Number, RecordStatus, RecordGuid)
        VALUES (N'Quote', @Number, @QuoteStatus, @QuoteGuid);

        DELETE FROM #QuotesToProcess
        WHERE ID = @QuoteID;
    END;

    ----------------------------------------------------------------------
    -- 3: Process the jobs
    ----------------------------------------------------------------------
    SELECT ID, Number, Guid
    INTO #JobsToProcess
    FROM SJob.Jobs
    WHERE RowStatus NOT IN (0, 254)
    ORDER BY ID DESC;

    WHILE EXISTS(SELECT 1 FROM #JobsToProcess)
    BEGIN
        SELECT TOP 1
            @JobID   = ID,
            @Number  = Number,
            @JobGuid = Guid
        FROM #JobsToProcess
        ORDER BY ID;

        SELECT @JobStatus = JobStatus
        FROM SJob.JobStatus
        WHERE ID = @JobID;

        INSERT INTO #RecordStatuses (RecordType, Number, RecordStatus, RecordGuid)
        VALUES (N'Job', @Number, @JobStatus, @JobGuid);

        DELETE FROM #JobsToProcess
        WHERE ID = @JobID;
    END;

    ----------------------------------------------------------------------
    -- Main loop: turn legacy flags into DataObjectTransition rows
    ----------------------------------------------------------------------
    WHILE EXISTS(SELECT 1 FROM #RecordStatuses)
    BEGIN
        ------------------------------------------------------------------
        -- Values to insert into [SCore].[DataObjectTransition]
        ------------------------------------------------------------------
        DECLARE @NewStatusGuid     UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
        DECLARE @Comment           NVARCHAR(MAX)    = N'Imported status.';
        DECLARE @DateTimeUTC       DATETIME2        = SYSUTCDATETIME();
        DECLARE @CreatedByUserId   INT              = -1;
        DECLARE @SurveyorUserID    INT;
        DECLARE @IsImported        BIT              = 1;

        --Currently processed record.
        DECLARE @CurrentRecordGuid   UNIQUEIDENTIFIER;
        DECLARE @CurrentRecordType   NVARCHAR(30);
        DECLARE @CurrentRecordStatus NVARCHAR(20);

        -- Dead date (All three record types have this)
        DECLARE @Dead DATE;

        ------------------------------------------------------------------
        -- 1. Get the top record.
        ------------------------------------------------------------------
        SELECT TOP 1 
            @CurrentRecordGuid   = RecordGuid,
            @CurrentRecordType   = RecordType,
            @CurrentRecordStatus = RecordStatus
        FROM #RecordStatuses
        ORDER BY RecordType;

        ------------------------------------------------------------------
        -- 2. Determine status GUID from legacy fields
        ------------------------------------------------------------------
        IF (@CurrentRecordType = N'Enquiry')
        BEGIN
            --Statuses
            DECLARE @ReadyForQuoteStatus UNIQUEIDENTIFIER = 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0';
            DECLARE @DeclinedStatus      UNIQUEIDENTIFIER = '708C00E6-F45F-4CB2-8E91-A80B8B8E802E';
            DECLARE @FirstChaseStatus    UNIQUEIDENTIFIER = '9FF22CEA-A2A6-4907-9B2D-E62DF8150913';
            DECLARE @SecondChaseStatus   UNIQUEIDENTIFIER = '1F01C16B-1A73-4844-A938-FE357405FD93';
            DECLARE @DeadStatus          UNIQUEIDENTIFIER = '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D';

            --Variables used to determine the last applied status.
            DECLARE @ReadyForQuote BIT;
            DECLARE @Declined      DATE;
            DECLARE @FirstChase    DATE;
            DECLARE @SecondChase   DATE;
            
            --Surveyor
            SELECT @SurveyorUserID = CreatedByUserId 
            FROM [SSop].[Enquiries] 
            WHERE Guid = @CurrentRecordGuid;

            --Get all the status fields.
            SELECT 
                @ReadyForQuote = IsReadyForQuoteReview,
                @Declined      = DeclinedToQuoteDate,
                @FirstChase    = ChaseDate1,
                @SecondChase   = ChaseDate2,
                @Dead          = DeadDate
            FROM SSop.Enquiries 
            WHERE Guid = @CurrentRecordGuid;

            IF (@SecondChase IS NOT NULL)       -- 2nd Chase
                SET @NewStatusGuid = @SecondChaseStatus;
            ELSE IF (@FirstChase IS NOT NULL)   -- 1st Chase
                SET @NewStatusGuid = @FirstChaseStatus;
            ELSE IF (@Dead IS NOT NULL)         -- Dead
                SET @NewStatusGuid = @DeadStatus;
            ELSE IF (@Declined IS NOT NULL)     -- Declined
                SET @NewStatusGuid = @DeclinedStatus;
            ELSE IF (@ReadyForQuote = 1)        -- Ready for Quote
                SET @NewStatusGuid = @ReadyForQuoteStatus;
        END
        ELSE IF (@CurrentRecordType = N'Quote')
        BEGIN
            --Statuses (note: DeclinedStatus / DeadStatus from Enquiry block are batch-scoped constants)
            DECLARE @SentStatus     UNIQUEIDENTIFIER = '25D5491C-42A8-4B04-B3AC-D648AF0F8032';
            DECLARE @AcceptedStatus UNIQUEIDENTIFIER = '21A29AEE-2D99-4DA3-8182-F31813B0C498';
            DECLARE @RejectedStatus UNIQUEIDENTIFIER = '0A6A71F7-B39F-4213-997E-2B3A13B6144C';
            DECLARE @IsFinalStatus  UNIQUEIDENTIFIER = '02A2237F-2AE7-4E05-926F-38E8B7D050A0';

            DECLARE @IsFinal      BIT  = 0;
            DECLARE @Sent         DATE = NULL;
            DECLARE @Accepted     DATE = NULL;
            DECLARE @Rejected     DATE = NULL;
            DECLARE @QuoteDeclined DATE = NULL;
            DECLARE @QuoteDead     DATE = NULL;

            SELECT 
                @IsFinal        = IsFinal,
                @Sent           = DateSent,
                @Accepted       = DateAccepted,
                @Rejected       = DateRejected,
                @QuoteDeclined  = DateDeclinedToQuote,
                @QuoteDead      = DeadDate,
                @SurveyorUserID = QuotingConsultantId
            FROM SSop.Quotes
            WHERE Guid = @CurrentRecordGuid;

            IF (@IsFinal = 1)
            BEGIN
                SET @NewStatusGuid = @IsFinalStatus;

                IF (@Sent IS NOT NULL)
                    SET @NewStatusGuid = @SentStatus;

                IF (@Accepted IS NOT NULL)
                    SET @NewStatusGuid = @AcceptedStatus;
                ELSE IF (@Rejected IS NOT NULL)
                    SET @NewStatusGuid = @RejectedStatus;
            END

            --Check for declined / dead status (using DeclinedStatus/DeadStatus declared above)
            ELSE IF (@QuoteDeclined IS NOT NULL)
                SET @NewStatusGuid = @DeclinedStatus;
            ELSE IF (@QuoteDead IS NOT NULL)
                SET @NewStatusGuid = @DeadStatus;
        END
        ELSE IF (@CurrentRecordType = N'Job')
        BEGIN
            DECLARE @CompletedStatus           UNIQUEIDENTIFIER = '20D22623-283B-4088-9CEB-D944AC3E6516';
            DECLARE @CanceledStatus            UNIQUEIDENTIFIER = '18D8E36B-43BE-4BDE-9D0B-1F34B460AD64';
            DECLARE @DormantStatus             UNIQUEIDENTIFIER = '6708FDB6-29A7-4505-A209-F1E785386122';
            DECLARE @CompletedForReviewStatus  UNIQUEIDENTIFIER = '4BFDB215-3E27-4829-BB44-0468C92DAC82';
            DECLARE @ReviewedStatus            UNIQUEIDENTIFIER = '90407454-9FED-4AAC-AB20-669C5821FE7A';

            DECLARE @Dormant            DATE;
            DECLARE @Cancelled          DATE;
            DECLARE @Completed          DATE;
            DECLARE @DeadJob            DATE;
            DECLARE @CompletedForReview DATE;
            DECLARE @Reviewed           DATE;
            
            --Surveyor
            SELECT @SurveyorUserID = SurveyorID 
            FROM SJob.Jobs
            WHERE Guid = @CurrentRecordGuid;

            SELECT 
                @Dormant            = JobDormant,
                @Cancelled          = JobCancelled,
                @Completed          = JobCompleted,
                @DeadJob            = DeadDate,
                @CompletedForReview = CompletedForReviewDate,
                @Reviewed           = ReviewedDateTimeUTC
            FROM SJob.Jobs
            WHERE Guid = @CurrentRecordGuid;

            IF (@Completed IS NOT NULL)
                SET @NewStatusGuid = @CompletedStatus;
            ELSE IF (@Cancelled IS NOT NULL)
                SET @NewStatusGuid = @CanceledStatus;
            ELSE IF (@Dormant IS NOT NULL)
                SET @NewStatusGuid = @DormantStatus;
            ELSE IF (@DeadJob IS NOT NULL)
                SET @NewStatusGuid = @DeadStatus;
            ELSE IF (@CompletedForReview IS NOT NULL)
                SET @NewStatusGuid = @CompletedForReviewStatus;
            ELSE IF (@Reviewed IS NOT NULL)
                SET @NewStatusGuid = @ReviewedStatus;
        END;

        ------------------------------------------------------------------
        -- 3. Only upsert if we actually resolved a status GUID
        ------------------------------------------------------------------
        IF (@NewStatusGuid <> '00000000-0000-0000-0000-000000000000')
        BEGIN
            DECLARE @RecordGuid  UNIQUEIDENTIFIER = NEWID();
            DECLARE @NewStatusID INT;

            -- FIX: use WorkflowStatus (not Workflow), and handle missing row
            SELECT @NewStatusID = ID
            FROM SCore.WorkflowStatus
            WHERE Guid = @NewStatusGuid;

            IF (@NewStatusID IS NULL)
            BEGIN
                PRINT 'WARNING: No WorkflowStatus found for Guid = '
                      + CONVERT(VARCHAR(36), @NewStatusGuid)
                      + ' | RecordType = ' + ISNULL(@CurrentRecordType, '<NULL>')
                      + ' | RecordGuid = ' + CONVERT(VARCHAR(36), @CurrentRecordGuid)
                      + ' | StatusFromLegacy = ' + ISNULL(@CurrentRecordStatus, '<NULL>');

                -- Skip this record to avoid NULL StatusID insert
            END
            ELSE
            BEGIN
                -- This PRINT usually comes from UpsertDataObject itself, but keep logic clear
                EXEC SCore.UpsertDataObject
                    @Guid       = @RecordGuid,
                    @SchemeName = N'SCore',
                    @ObjectName = N'DataObjectTransition',
                    @IsInsert   = 1;	-- bit		

                INSERT INTO [SCore].[DataObjectTransition]
                (
                    RowStatus, 
                    Guid, 
                    StatusID, 
                    OldStatusID, 
                    Comment, 
                    DateTimeUTC,
                    CreatedByUserId,
                    SurveyorUserId, 
                    DataObjectGuid, 
                    IsImported 
                )
                VALUES
                (
                    1,
                    @RecordGuid,
                    @NewStatusID,
                    -1,
                    @Comment,
                    SYSDATETIME(),
                    @CreatedByUserId,
                    @SurveyorUserID,
                    @CurrentRecordGuid,
                    1
                );
            END
        END
        ELSE
        BEGIN
            -- log that no legacy status was derivable for this record
            PRINT 'INFO: No legacy status mapped for RecordType = '
                  + ISNULL(@CurrentRecordType, '<NULL>')
                  + ' | RecordGuid = ' + CONVERT(VARCHAR(36), @CurrentRecordGuid);
        END;

        ------------------------------------------------------------------
        -- 4. Delete processed record from temp table
        ------------------------------------------------------------------
        DELETE FROM #RecordStatuses
        WHERE RecordGuid = @CurrentRecordGuid;
    END;
END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Enquiry_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Enquiry_CalculatedFields]
      -- WITH SCHEMABINDING
AS
SELECT	
	e.ID,
	EnquiryStatus =
		CASE

			-- 0. All quotes expired and no positive quote statuses -> Expired
			WHEN QuoteAgg.AnyPositive = 0 
			     AND QuoteAgg.AnyExpired = 1
			     THEN N'Expired'

            -- 1. All quotes Complete -> Complete
            WHEN QuoteAgg.TotalQuotes > 0
                 AND QuoteAgg.CompletedQuotes = QuoteAgg.TotalQuotes
            THEN N'Complete'

            -- 1b. Some Complete / Part Complete -> Part Complete
            WHEN QuoteAgg.CompletedQuotes > 0
              OR QuoteAgg.PartCompleteQuotes > 0
            THEN N'Part Complete'

			-- 2. TVF status is a final status: use it
			WHEN s.QuotingStatus IS NOT NULL 
			     AND s.QuotingStatus NOT IN (N'Sent', N'Part Sent', N'Quoting')
			     THEN s.QuotingStatus

			-- 3. TVF status is transitional AND we have fallback data
			WHEN s.QuotingStatus IN (N'Sent', N'Part Sent', N'Quoting')
				 AND (
					  -- Hybrid: either old field data OR new workflow transitions
					  e.DeadDate IS NOT NULL
				   OR e.DeclinedToQuoteDate IS NOT NULL
				   OR e.QuotingDeadlineDate < GETDATE()
				   OR e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE())
				   OR e.ChaseDate2 IS NOT NULL
				   OR e.ChaseDate1 IS NOT NULL
				   OR (
						e.IsReadyForQuoteReview = 1
						AND NOT EXISTS (
							SELECT 1 
							FROM SSop.EnquiryServices es 
							JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID 
							WHERE es.EnquiryId = e.ID 
							  AND q.DateSent IS NOT NULL
						)
				   )
				   OR EXISTS (
						SELECT 1 FROM SCore.DataObjectTransition dot
						JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
						WHERE dot.DataObjectGuid = e.Guid AND ws.Guid IN (
							Statuses.Dead,
							Statuses.Declined,
							Statuses.FirstChase,
							Statuses.SecondChase,
							Statuses.ReadyForQuote
						)
				   )
				 )
			THEN 
			   CASE
				   WHEN(
						e.DeadDate IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.Dead )) 
				   THEN N'Dead'
				   WHEN(
						e.DeclinedToQuoteDate IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.Declined)) 
				   THEN  N'Declined'
				   WHEN 
						e.QuotingDeadlineDate < GETDATE()
				   THEN N'Deadline Missed'
				   WHEN 
						e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE()) 
				   THEN N'Deadline Approaching'
				   WHEN(
						e.ChaseDate2 IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.SecondChase )) 
				   THEN  N'2nd Chase'
				   WHEN(
						e.ChaseDate1 IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.FirstChase )) 
				   THEN  N'1st Chase'
				   WHEN (
						(e.IsReadyForQuoteReview = 1 
						 AND NOT EXISTS (
							SELECT 1 
							FROM SSop.EnquiryServices es 
							JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID 
							WHERE es.EnquiryId = e.ID 
							  AND q.DateSent IS NOT NULL
						 ))
						OR EXISTS (
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
							WHERE dot.DataObjectGuid = e.Guid 
							  AND ws.Guid = Statuses.ReadyForQuote
						)
				   )
				   THEN N'Ready for Quote'
				   ELSE s.QuotingStatus
			   END

			-- 4. No fallback data – return whatever TVF gave us
			WHEN s.QuotingStatus IS NOT NULL THEN s.QuotingStatus

			-- 5. Only if no TVF and no fallback
			ELSE N'New'
		END
FROM	SSop.Enquiries e
OUTER APPLY SSop.tvf_GetEnquiryStatuses(e.Id) as s
OUTER APPLY (
	SELECT
		ReadyForQuote = CONVERT(UNIQUEIDENTIFIER, 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0'),
		Sent		  = CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032'),
		FirstChase    = CONVERT(UNIQUEIDENTIFIER, '9FF22CEA-A2A6-4907-9B2D-E62DF8150913'),
		SecondChase   = CONVERT(UNIQUEIDENTIFIER, '1F01C16B-1A73-4844-A938-FE357405FD93'),
		Declined      = CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'),
		Dead          = CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D')
) AS Statuses
OUTER APPLY (
    SELECT
        AnyPositive =
            CASE 
                WHEN EXISTS (
                    SELECT 1
                    FROM SSop.EnquiryServices es
                    JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                    JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                    WHERE es.EnquiryId = e.ID
                      AND q.RowStatus NOT IN (0,254)
                      AND qcf.QuoteStatus IN (
                            N'Complete',
                            N'Part Complete',
                            N'Accepted',
                            N'Part Accepted',
                            N'Sent',
                            N'Part Sent',
                            N'Ready to Send',
                            N'Quoting'
                      )
                ) THEN 1 ELSE 0 
            END,
        AnyExpired =
            CASE 
                WHEN EXISTS (
                    SELECT 1
                    FROM SSop.EnquiryServices es
                    JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                    JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                    WHERE es.EnquiryId = e.ID
                      AND q.RowStatus NOT IN (0,254)
                      AND qcf.QuoteStatus = N'Expired'
                ) THEN 1 ELSE 0 
            END,
        TotalQuotes =
            (
                SELECT COUNT(*)
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                WHERE es.EnquiryId = e.ID
                  AND q.RowStatus NOT IN (0,254)
            ),
        ReadyToSendQuotes =
            (
                SELECT COUNT(*)
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                WHERE es.EnquiryId = e.ID
                  AND q.RowStatus NOT IN (0,254)
                  AND qcf.QuoteStatus = N'Ready to Send'
            ),
        CompletedQuotes =
            (
                SELECT COUNT(*)
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                WHERE es.EnquiryId = e.ID
                  AND q.RowStatus NOT IN (0,254)
                  AND qcf.QuoteStatus = N'Complete'
            ),
        PartCompleteQuotes =
            (
                SELECT COUNT(*)
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                WHERE es.EnquiryId = e.ID
                  AND q.RowStatus NOT IN (0,254)
                  AND qcf.QuoteStatus = N'Part Complete'
            )
) AS QuoteAgg;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[tvf_OpenEnquiries]
--
GO
CREATE OR ALTER FUNCTION [SSop].[tvf_OpenEnquiries]
(
	@UserId INT
)
RETURNS TABLE
     --WITH SCHEMABINDING
AS RETURN	
SELECT  e.ID,
        e.RowStatus,
        e.RowVersion,
        e.Guid,
		CASE WHEN e.Revision = 0 THEN e.Number ELSE (e.Number + N' (' + CONVERT(NVARCHAR(2), e.Revision) + N') ') END AS Number,
		e.QuotingDeadlineDate,
		e.ExternalReference,
		LEFT(e.DescriptionOfWorks, 200) AS DescriptionOfWorks, 
		CASE WHEN client.Name <> N'' THEN client.Name ELSE e.ClientName END + N' / ' + CASE WHEN agent.Name <> N'' THEN agent.Name ELSE e.AgentName END  AS ClientAgentAccount,
		CASE WHEN uprn.AssetNumber > 0 THEN uprn.FormattedAddressComma ELSE e.PropertyNameNumber + N' ' + e.PropertyAddressLine1 END AS Property,
		ecf.EnquiryStatus
FROM    SSop.Enquiries e
JOIN	SSop.Enquiry_CalculatedFields AS ecf ON (ecf.ID = e.ID)
JOIN	SCrm.Accounts client ON (client.ID = e.ClientAccountID)
JOIN	SCrm.Accounts agent ON (agent.ID = e.AgentAccountId)
JOIN	SJob.Assets uprn ON (uprn.ID = e.PropertyId)
WHERE   (e.RowStatus NOT IN (0, 254))
	AND	(e.ID > 0)
AND	(EXISTS
			(
		SELECT
				1
		FROM
				SCore.ObjectSecurityForUser_CanRead(e.Guid, @UserId) oscr
			)
		)
	AND	(e.DeclinedToQuoteDate IS NULL)
	AND	(EXISTS
			(
				SELECT	1
				FROM	SSop.EnquiryServices es 
				WHERE	(es.EnquiryId = e.ID)
					AND	(es.RowStatus NOT IN (0, 254))
					AND	(es.QuoteId < 0)
			)
		)
	AND	(e.Date > DATEADD(MONTH, -6, GETDATE()))
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SCore].[DataObjectTransitionAddCalculatedStatus]
--
GO
CREATE OR ALTER PROCEDURE [SCore].[DataObjectTransitionAddCalculatedStatus]
AS
BEGIN
    DECLARE @RecordTypeName NVARCHAR(250);
    DECLARE @WorkflowStatusID INT;
    DECLARE @OldStatusID INT = -1;
    DECLARE @NewStatusID INT;
    DECLARE @Comment NVARCHAR(50) = N'System Imported.';
    DECLARE @CreatedByUserId INT = -1;
    DECLARE @SurveyorUserID INT;

    CREATE TABLE #RecordsToProcess(
        Guid UNIQUEIDENTIFIER,
        Status NVARCHAR(50)
    );

    ----------------------------------------------------------------------
    -- Seed temp table from Enquiries, Quotes, Jobs
    ----------------------------------------------------------------------
    INSERT INTO #RecordsToProcess
        -- Enquiries (using Enquiry_CalculatedFields) – now ALL statuses
        SELECT  
            e.Guid,
            ecf.EnquiryStatus AS Status
        FROM SSop.Enquiries AS e
        JOIN SSop.Enquiry_CalculatedFields AS ecf ON (ecf.ID = e.ID)
        UNION ALL
        -- Quotes (using Quote_CalculatedFields) - include Sent/Rejected/Expired/etc
        SELECT 
            q.Guid,
            qcf.QuoteStatus AS Status
        FROM SSop.Quotes AS q
        JOIN SSop.Quote_CalculatedFields qcf ON (qcf.ID = q.ID)
        WHERE 
            (q.RowStatus NOT IN (0,254)) 
            AND (q.LegacyId IS NULL)  -- Exclude imported jobs
        UNION ALL
        -- Jobs (using JobStatus view) - include Completed, Cancelled, etc
        SELECT 
            j.Guid,
            js.JobStatus AS Status
        FROM SJob.Jobs AS j
        JOIN SJob.JobStatus AS js ON (js.ID = j.ID) 
        WHERE 
            (j.RowStatus NOT IN (0,254));

    DECLARE @Remaining INT;
    SELECT @Remaining = COUNT(1) FROM #RecordsToProcess;

    PRINT 'DataObjectTransitionAddCalculatedStatus: Starting. RecordsToProcess = ' 
        + CAST(@Remaining AS VARCHAR(20));

    ----------------------------------------------------------------------
    -- Iterate over the collection.
    ----------------------------------------------------------------------
    WHILE (EXISTS(SELECT 1 FROM #RecordsToProcess))
    BEGIN
        DECLARE @RecordGuid UNIQUEIDENTIFIER;
        DECLARE @Status NVARCHAR(50);

        -- Reset per-iteration variables
        SET @RecordGuid = NULL;
        SET @Status = NULL;
        SET @RecordTypeName = NULL;
        SET @SurveyorUserID = NULL;
        SET @OldStatusID = NULL;
        SET @NewStatusID = NULL;

        SELECT TOP 1 
               @RecordGuid  = Guid, 
               @Status      = Status
        FROM #RecordsToProcess;

        PRINT '---';
        PRINT 'Processing record: ' + ISNULL(CONVERT(VARCHAR(36), @RecordGuid), '<NULL>')
              + ' | Status = ' + ISNULL(@Status, '<NULL>');

        ------------------------------------------------------------------
        -- Get the record type -> then get the surveyor for the correct type.
        ------------------------------------------------------------------
        SELECT @RecordTypeName = et.Name
        FROM SCore.DataObjects root_hobt
        JOIN SCore.EntityTypes AS et ON et.ID = root_hobt.EntityTypeId
        WHERE root_hobt.Guid = @RecordGuid;

        PRINT 'Record type name = ' + ISNULL(@RecordTypeName, '<NULL>');

        --Get the surveyor
        IF (@RecordTypeName = N'Enquiries')
        BEGIN
            SELECT @SurveyorUserID = CreatedByUserId 
            FROM [SSop].[Enquiries] 
            WHERE Guid = @RecordGuid;
        END
        ELSE IF (@RecordTypeName = N'Quotes')
        BEGIN
            SELECT @SurveyorUserID = QuotingConsultantId
            FROM SSop.Quotes
            WHERE Guid = @RecordGuid;
        END
        ELSE IF (@RecordTypeName = N'Jobs')
        BEGIN
            SELECT @SurveyorUserID = SurveyorID
            FROM SJob.Jobs
            WHERE Guid = @RecordGuid;
        END

        PRINT 'SurveyorUserID = ' + ISNULL(CAST(@SurveyorUserID AS VARCHAR(20)), '<NULL>');

        ------------------------------------------------------------------
        -- Ensure WorkflowStatus + DataObjectTransition for this Status
        ------------------------------------------------------------------
        IF (EXISTS(SELECT 1 FROM SCore.WorkflowStatus WHERE Name = @Status))
        BEGIN
            PRINT 'Status "' + ISNULL(@Status, '<NULL>') + '" exists in WorkflowStatus. Using existing status.';

            DECLARE @ExistingDynamicStatusGuid UNIQUEIDENTIFIER;

            SELECT @ExistingDynamicStatusGuid = Guid
            FROM SCore.WorkflowStatus
            WHERE (Name = @Status);					

            -- Ensure visibility flags are up-to-date for this record type
            DECLARE @ShowEnq BIT, @ShowQuo BIT, @ShowJob BIT;

            SELECT 
                @ShowEnq = ShowInEnquiries,
                @ShowQuo = ShowInQuotes,
                @ShowJob = ShowInJobs
            FROM SCore.WorkflowStatus
            WHERE Guid = @ExistingDynamicStatusGuid;

            IF (@RecordTypeName = N'Enquiries' AND ISNULL(@ShowEnq, 0) = 0)
            BEGIN
                UPDATE SCore.WorkflowStatus
                SET ShowInEnquiries = 1
                WHERE Guid = @ExistingDynamicStatusGuid;
            END

            IF (@RecordTypeName = N'Quotes' AND ISNULL(@ShowQuo, 0) = 0)
            BEGIN
                UPDATE SCore.WorkflowStatus
                SET ShowInQuotes = 1
                WHERE Guid = @ExistingDynamicStatusGuid;
            END

            IF (@RecordTypeName = N'Jobs' AND ISNULL(@ShowJob, 0) = 0)
            BEGIN
                UPDATE SCore.WorkflowStatus
                SET ShowInJobs = 1
                WHERE Guid = @ExistingDynamicStatusGuid;
            END

            -- Check if this status is already present for this record
            IF NOT EXISTS
            (
                SELECT 1 
                FROM SCore.DataObjectTransition AS dob
                JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dob.StatusID)
                WHERE 
                    (dob.DataObjectGuid = @RecordGuid) 
                    AND (dob.RowStatus NOT IN (0,254))
                    AND (wfs.Guid = @ExistingDynamicStatusGuid)
            )
            BEGIN
                PRINT 'Status not yet present on record. Determining OldStatusID and NewStatusID (existing status branch).';

                --Get the last status 
                SELECT @OldStatusID = dot1.StatusID
                FROM SCore.DataObjectTransition AS dot1
                WHERE 
                    (dot1.DataObjectGuid = @RecordGuid)
                    AND (dot1.RowStatus NOT IN (0,254))
                    AND (NOT EXISTS
                            (
                                SELECT 1
                                FROM SCore.DataObjectTransition AS dot2
                                WHERE 
                                    (dot2.DataObjectGuid = @RecordGuid)
                                    AND (dot2.RowStatus NOT IN (0,254))
                                    AND (dot2.ID > dot1.ID)
                            )
                        );

                --Get the new status ID
                SELECT @NewStatusID = ID 
                FROM SCore.WorkflowStatus
                WHERE Name = @Status;

                PRINT 'Existing status branch: OldStatusID = ' 
                    + ISNULL(CAST(@OldStatusID AS VARCHAR(20)), '<NULL>')
                    + ', NewStatusID = ' 
                    + ISNULL(CAST(@NewStatusID AS VARCHAR(20)), '<NULL>');

                --Create data object for the status.
                DECLARE @NewTransitionGuid UNIQUEIDENTIFIER = NEWID();

                PRINT 'Calling UpsertDataObject for DataObjectTransition, Guid = ' 
                    + CONVERT(VARCHAR(36), @NewTransitionGuid);

                EXEC SCore.UpsertDataObject
                    @Guid       = @NewTransitionGuid,					
                    @SchemeName = N'SCore',			
                    @ObjectName = N'DataObjectTransition',		
                    @IsInsert   = 1;	-- bit		

                PRINT 'Inserting DataObjectTransition (existing status branch) for RecordGuid = '
                    + CONVERT(VARCHAR(36), @RecordGuid);

                --Save the new status to the data object transition record.
                INSERT INTO [SCore].[DataObjectTransition]
                (
                    RowStatus, 
                    Guid, 
                    StatusID, 
                    OldStatusID, 
                    Comment, 
                    DateTimeUTC,
                    CreatedByUserId,
                    SurveyorUserId, 
                    DataObjectGuid, 
                    IsImported 
                )
                VALUES
                (
                    1,
                    @NewTransitionGuid,
                    @NewStatusID,
                    @OldStatusID,
                    @Comment,
                    SYSDATETIME(),
                    @CreatedByUserId,
                    -1,
                    @RecordGuid,
                    1
                );
            END
            ELSE
            BEGIN
                PRINT 'Status already present on record. No new DataObjectTransition required.';
            END
        END
        ELSE
        BEGIN
            ------------------------------------------------------------------
            -- WorkflowStatus does NOT exist -> create it first, using type-aware flags
            ------------------------------------------------------------------
            PRINT 'Status "' + ISNULL(@Status, '<NULL>') + '" does NOT exist. Creating new WorkflowStatus.';

            DECLARE @NewStatusGuid UNIQUEIDENTIFIER = NEWID();

            DECLARE @ShowInEnquiries BIT = 0;
            DECLARE @ShowInQuotes    BIT = 0;
            DECLARE @ShowInJobs      BIT = 0;

            IF (@RecordTypeName = N'Enquiries')
            BEGIN
                SET @ShowInEnquiries = 1;
            END
            ELSE IF (@RecordTypeName = N'Quotes')
            BEGIN
                SET @ShowInQuotes = 1;
            END
            ELSE IF (@RecordTypeName = N'Jobs')
            BEGIN
                SET @ShowInJobs = 1;
            END
            ELSE
            BEGIN
                -- Fallback: show everywhere if we don't recognise the type
                SET @ShowInEnquiries = 1;
                SET @ShowInQuotes    = 1;
                SET @ShowInJobs      = 1;
            END

            PRINT 'ShowInEnquiries=' + CAST(@ShowInEnquiries AS VARCHAR(1))
                + ', ShowInQuotes=' + CAST(@ShowInQuotes AS VARCHAR(1))
                + ', ShowInJobs='   + CAST(@ShowInJobs AS VARCHAR(1));

            PRINT 'Calling UpsertDataObject for WorkflowStatus, Guid = '
                + CONVERT(VARCHAR(36), @NewStatusGuid);

            EXEC SCore.UpsertDataObject
                @Guid       = @NewStatusGuid,					
                @SchemeName = N'SCore',			
                @ObjectName = N'WorkflowStatus',		
                @IsInsert   = 1;	-- bit		

            INSERT INTO [SCore].[WorkflowStatus]
            (
                [RowStatus],
                [Guid],
                [OrganisationalUnitId],
                [Name],
                [Description],
                [ShowInEnquiries],
                [ShowInQuotes],
                [ShowInJobs],
                [Enabled],
                [IsPredefined],
                [SortOrder],
                [Colour],
                [Icon],
                [SendNotification],
                [IsCompleteStatus],
                [IsCustomerWaitingStatus],
                [RequiresUsersAction],
                [IsActiveStatus]
            )
            VALUES
            (
                1,                      -- RowStatus
                @NewStatusGuid,         -- Guid
                -1,                     -- OrganisationalUnitId (global)
                @Status,                -- Name
                N'Automatically generated status', -- Description
                @ShowInEnquiries,
                @ShowInQuotes,
                @ShowInJobs,
                1,                      -- Enabled
                1,                      -- IsPredefined
                -1,                     -- SortOrder
                N'#000000',              -- Colour
                N'bi-gear',              -- Icon
                0,                      -- SendNotification
                0,                      -- IsCompleteStatus
                0,                      -- IsCustomerWaitingStatus
                0,                      -- RequiresUsersAction
                1                       -- IsActiveStatus
            );

            --Get the newly created status
            SELECT @NewStatusID = ID
            FROM SCore.WorkflowStatus
            WHERE Guid = @NewStatusGuid;

            --Get the last status 
            SELECT @OldStatusID = dot1.StatusID
            FROM SCore.DataObjectTransition AS dot1
            WHERE 
                (dot1.DataObjectGuid = @RecordGuid)
                AND (dot1.RowStatus NOT IN (0,254))
                AND (NOT EXISTS
                        (
                            SELECT 1
                            FROM SCore.DataObjectTransition AS dot2
                            WHERE 
                                (dot2.DataObjectGuid = @RecordGuid)
                                AND (dot2.RowStatus NOT IN (0,254))
                                AND (dot2.ID > dot1.ID)
                        )
                    );

            PRINT 'New status branch: OldStatusID = ' 
                + ISNULL(CAST(@OldStatusID AS VARCHAR(20)), '<NULL>')
                + ', NewStatusID = ' 
                + ISNULL(CAST(@NewStatusID AS VARCHAR(20)), '<NULL>');

            ---Next, add it to the record
            DECLARE @TransitionGuid UNIQUEIDENTIFIER = NEWID();

            PRINT 'Calling UpsertDataObject for DataObjectTransition, Guid = '
                + CONVERT(VARCHAR(36), @TransitionGuid);

            EXEC SCore.UpsertDataObject
                @Guid       = @TransitionGuid,					
                @SchemeName = N'SCore',			
                @ObjectName = N'DataObjectTransition',		
                @IsInsert   = 1;	-- bit		

            PRINT 'Inserting DataObjectTransition (new status branch) for RecordGuid = '
                + CONVERT(VARCHAR(36), @RecordGuid);

            --Save the new status to the data object transition record.
            INSERT INTO [SCore].[DataObjectTransition]
            (
                RowStatus, 
                Guid, 
                StatusID, 
                OldStatusID, 
                Comment, 
                DateTimeUTC,
                CreatedByUserId,
                SurveyorUserId, 
                DataObjectGuid, 
                IsImported 
            )
            VALUES
            (
                1,
                @TransitionGuid,
                @NewStatusID,
                @OldStatusID,
                @Comment,
                SYSDATETIME(),
                @CreatedByUserId,
                @SurveyorUserID,
                @RecordGuid,
                1
            );
        END;

        ------------------------------------------------------------------
        -- Remove the currently processed record and print remaining
        ------------------------------------------------------------------
        DELETE TOP (1) 
        FROM #RecordsToProcess
        WHERE Guid = @RecordGuid;

        SELECT @Remaining = COUNT(1) FROM #RecordsToProcess;

        PRINT 'Finished record: ' + CONVERT(VARCHAR(36), @RecordGuid)
            + '. Remaining = ' + CAST(@Remaining AS VARCHAR(20));
    END;

    PRINT 'DataObjectTransitionAddCalculatedStatus: Completed.';
END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column [Description] on table [SOffice].[OutlookEmails]
--
ALTER TABLE [SOffice].[OutlookEmails]
  ADD [Description] [nvarchar](4000) NULL CONSTRAINT [DF_OutlookEmails_Description] DEFAULT ('')
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SOffice].[OutlookEmailsUpsert]
--
GO
CREATE OR ALTER PROCEDURE [SOffice].[OutlookEmailsUpsert]
    (
        @TargetObjectGuid UNIQUEIDENTIFIER,
        @Mailbox NVARCHAR(250),
        @MessageID NVARCHAR(250),
        @ConversationID NVARCHAR(250),
        @FromAddress NVARCHAR(500),
        @ToAddresses NVARCHAR(4000),
        @Subject NVARCHAR(2000),
        @SentDateTime DATETIME2,
        @DeliveryReceiptRequested BIT,
        @DeliveryReceiptReceived BIT,
        @ReadReceiptRequested BIT,
        @ReadReceiptReceived BIT,
        @DoNotFile BIT,
        @IsReadyToFile BIT,
        @FiledDateTime DATETIME2,
        @FilingLocationUrl NVARCHAR(500),
        @Description NVARCHAR(4000) = '',
        @Guid UNIQUEIDENTIFIER
    )
AS
BEGIN
    DECLARE @TargetObjectId                 INT,
            @OEMailboxID                   INT,
            @OEConversationID              BIGINT,
            @OEFromAddressID               INT;

    SELECT  @TargetObjectId = ID
    FROM    SOffice.TargetObjects
    WHERE   (Guid = @TargetObjectGuid);

    SELECT  @OEMailboxID = ID
    FROM    SOffice.OutlookEmailMailboxes
    WHERE   (Name = @Mailbox);

    IF (@@ROWCOUNT = 0)
    BEGIN
        INSERT  SOffice.OutlookEmailMailboxes
                (Guid, RowStatus, Name)
        VALUES
                (
                    NEWID (),    -- Guid - uniqueidentifier
                    1,           -- RowStatus - tinyint
                    @Mailbox     -- Name - nvarchar(250)
                );

        SELECT  @OEMailboxID = SCOPE_IDENTITY ();
    END;

    SELECT  @OEConversationID = ID
    FROM    SOffice.OutlookEmailConversations
    WHERE   (ConversationID = @ConversationID);

    IF (@@ROWCOUNT = 0)
    BEGIN
        INSERT  SOffice.OutlookEmailConversations
                (Guid, RowStatus, ConversationID)
        VALUES
                (
                    NEWID (),             -- Guid - uniqueidentifier
                    1,                    -- RowStatus - tinyint
                    @ConversationID       -- ConversationID - nvarchar(250)
                );

        SELECT  @OEConversationID = SCOPE_IDENTITY ();
    END;

    SELECT  @OEFromAddressID = ID
    FROM    SOffice.OutlookEmailFromAddresses
    WHERE   (Address = @FromAddress);

    IF (@@ROWCOUNT = 0)
    BEGIN
        INSERT  SOffice.OutlookEmailFromAddresses
                (Guid, RowStatus, Address)
        VALUES
                (
                    NEWID (),         -- Guid - uniqueidentifier
                    1,                -- RowStatus - tinyint
                    @FromAddress      -- Address - nvarchar(500)
                );

        SELECT  @OEFromAddressID = SCOPE_IDENTITY ();
    END;

    IF (NOT EXISTS
     (
         SELECT 1
         FROM    SOffice.OutlookEmails
         WHERE   (Guid = @Guid)
     ))
    BEGIN
        INSERT  SOffice.OutlookEmails
                (Guid,
                 RowStatus,
                 TargetObjectID,
                 OutlookEmailMailboxID,
                 MessageID,
                 OutlookEmailConversationId,
                 OutlookEmailFromAddressID,
                 ToAddresses,
                 Subject,
                 SentDateTime,
                 DeliveryReceiptRequested,
                 DeliveryReceiptReceived,
                 ReadReceiptRequested,
                 ReadReceiptReceived,
                 DoNotFile,
                 IsReadyToFile,
                 FiledDateTime,                 
                 FilingLocationUrl,
                 Description)
        VALUES
                (
                    @Guid,                           -- Guid - uniqueidentifier
                    1,                               -- RowStatus - tinyint
                    @TargetObjectId,                 -- TargetObjectID - int
                    @OEMailboxID,                    -- OutlookEmailMailboxID - int
                    @MessageID,                      -- MessageID - nvarchar(250)
                    @OEConversationID,               -- OutlookEmailConversationId - bigint
                    @OEFromAddressID,                -- OutlookEmailFromAddressID - int
                    @ToAddresses,                    -- ToAddresses - nvarchar(4000)
                    @Subject,                        -- Subject - nvarchar(2000)
                    @SentDateTime,                   -- SentDateTime - datetime2
                    @DeliveryReceiptRequested,       -- DeliveryReceiptRequested - bit
                    @DeliveryReceiptReceived,        -- DeliveryReceiptReceived - bit
                    @ReadReceiptRequested,           -- ReadReceiptRequested - bit
                    @ReadReceiptReceived,            -- ReadReceiptReceived - bit
                    @DoNotFile,                      -- DoNotFile - bit
                    @IsReadyToFile,                  -- IsReadyToFile - bit
                    @FiledDateTime,                  -- FiledDateTime - datetime2                    
                    @FilingLocationUrl,              -- FilingLocationUrl - nvarchar(500)
                    @Description                     -- Description - nvarchar(4000)
                );
    END;
    ELSE
    BEGIN
        UPDATE  SOffice.OutlookEmails
        SET     TargetObjectID = @TargetObjectId,
                OutlookEmailMailboxID = @OEMailboxID,
                MessageID = @MessageID,
                OutlookEmailConversationId = @OEConversationID,
                OutlookEmailFromAddressID = @OEFromAddressID,
                ToAddresses = @ToAddresses,
                Subject = @Subject,
                SentDateTime = @SentDateTime,
                DeliveryReceiptRequested = @DeliveryReceiptRequested,
                DeliveryReceiptReceived = @DeliveryReceiptReceived,
                ReadReceiptRequested = @ReadReceiptRequested,
                ReadReceiptReceived = @ReadReceiptReceived,
                DoNotFile = @DoNotFile,
                IsReadyToFile = @IsReadyToFile,
                FiledDateTime = @FiledDateTime,
                FilingLocationUrl = @FilingLocationUrl,
                Description = @Description
        WHERE   (Guid = @Guid);
    END;
END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SOffice].[OutlookEmails_Sys_NotFiled]
--
EXEC sp_refreshview '[SOffice].[OutlookEmails_Sys_NotFiled]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SOffice].[OutlookEmails_Sys_ReadyToFile]
--
EXEC sp_refreshview '[SOffice].[OutlookEmails_Sys_ReadyToFile]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO