-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 09/12/2025 16:54:10
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Create index [IX_WorkflowStatus_Id_Guid] on table [SCore].[WorkflowStatus]
--
CREATE INDEX [IX_WorkflowStatus_Id_Guid]
  ON [SCore].[WorkflowStatus] ([ID])
  INCLUDE ([Guid])
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_DataObjectTransition_DataObjects] on table [SCore].[DataObjectTransition]
--
ALTER TABLE [SCore].[DataObjectTransition]
  CHECK CONSTRAINT [FK_DataObjectTransition_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_DataObjectTransition_DataObjectGuid_Status_Date] on table [SCore].[DataObjectTransition]
--
CREATE INDEX [IX_DataObjectTransition_DataObjectGuid_Status_Date]
  ON [SCore].[DataObjectTransition] ([DataObjectGuid], [StatusID], [DateTimeUTC])
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_EnquiryServices_DataObjects] on table [SSop].[EnquiryServices]
--
ALTER TABLE [SSop].[EnquiryServices]
  CHECK CONSTRAINT [FK_EnquiryServices_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_EnquiryServices_EnquiryId_RowStatus_JobType] on table [SSop].[EnquiryServices]
--
CREATE INDEX [IX_EnquiryServices_EnquiryId_RowStatus_JobType]
  ON [SSop].[EnquiryServices] ([EnquiryId], [RowStatus], [JobTypeId])
  INCLUDE ([ID])
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_Quotes_DataObjects] on table [SSop].[Quotes]
--
ALTER TABLE [SSop].[Quotes]
  CHECK CONSTRAINT [FK_Quotes_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_Quotes_EnquiryServiceId_RowStatus_Dates] on table [SSop].[Quotes]
--
CREATE INDEX [IX_Quotes_EnquiryServiceId_RowStatus_Dates]
  ON [SSop].[Quotes] ([EnquiryServiceID], [RowStatus])
  INCLUDE ([DateSent])
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_Quotes_EnquiryServiceId_StatusDates] on table [SSop].[Quotes]
--
CREATE INDEX [IX_Quotes_EnquiryServiceId_StatusDates]
  ON [SSop].[Quotes] ([EnquiryServiceID])
  INCLUDE ([DateAccepted], [DateDeclinedToQuote], [DateRejected], [DateSent])
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SJob].[tvf_JobMilestones]
--
GO
CREATE OR ALTER FUNCTION [SJob].[tvf_JobMilestones]
	(
		@UserId INT,
		@ParentGuid UNIQUEIDENTIFIER
	)
RETURNS TABLE
                  --WITH SCHEMABINDING
AS
RETURN SELECT		jm.ID,
					jm.RowStatus,
					jm.RowVersion,
					jm.Guid,
					mt.Name,
					jm.Description Description,
					jm.SortOrder,
					jm.ScheduledDateTimeUTC,
					jm.DueDateTimeUTC,
					jm.StartDateTimeUTC,
					jm.CompletedDateTimeUTC,
					jm.SubmittedDateTimeUTC,
					CASE
						WHEN (jm.IsNotApplicable = 1) THEN N'Not Applicable'
						WHEN (ISNULL (	 jm.CompletedDateTimeUTC,
										 '1970-01-02'
									 ) > '1970-01-02'
							 ) THEN N'Complete'
						WHEN
						   (
							   ISNULL (	  jm.DueDateTimeUTC,
										  '1970-01-02'
									  ) < GETUTCDATE ()
						   AND	(ISNULL (	jm.DueDateTimeUTC,
											'1970-01-02'
										) > '1970-01-02'
								)
						   ) THEN N'Overdue'
						WHEN (ISNULL (	 jm.StartDateTimeUTC,
										 '1970-01-02'
									 ) > '1970-01-02'
							 ) THEN N'Started'
						WHEN (ISNULL (	 jm.ScheduledDateTimeUTC,
										 '1970-01-02'
									 ) > '1970-01-02'
							 ) THEN N'Scheduled'
						ELSE N'Incomplete'
					END		AS StatusText
	   FROM			SJob.Milestones				  AS jm
	   JOIN			SJob.MilestoneTypes			  AS mt ON (mt.ID = jm.MilestoneTypeID)
	   JOIN			SJob.Jobs					  AS j ON (j.ID = jm.JobID)
	   WHERE		(jm.RowStatus NOT IN (0, 254))
				AND (j.Guid		= @ParentGuid)
				AND	(EXISTS
			(
				SELECT	1
				FROM	SCore.ObjectSecurityForUser_CanRead (jm.guid, @UserId) oscr
			)
		)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_QuoteItems_DataObjects] on table [SSop].[QuoteItems]
--
ALTER TABLE [SSop].[QuoteItems]
  CHECK CONSTRAINT [FK_QuoteItems_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create index [IX_QuoteItems_QuoteId_CreatedJobId] on table [SSop].[QuoteItems]
--
CREATE INDEX [IX_QuoteItems_QuoteId_CreatedJobId]
  ON [SSop].[QuoteItems] ([QuoteId], [CreatedJobId])
  ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Quote_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Quote_CalculatedFields]
     --WITH SCHEMABINDING
AS
SELECT	q.ID,
		CASE
            ------------------------------------------------------------------
            -- 1) JOB-DRIVEN COMPLETION (HIGHEST PRIORITY)
            --    If all QuoteItems have CreatedJobId > 0 -> Complete
            --    If some but not all have CreatedJobId > 0 -> Part Complete
            ------------------------------------------------------------------
            WHEN QuoteItemAgg.TotalItems > 0
                 AND QuoteItemAgg.ItemsWithJob = QuoteItemAgg.TotalItems
            THEN N'Complete'

            WHEN QuoteItemAgg.TotalItems > 0
                 AND QuoteItemAgg.ItemsWithJob > 0
                 AND QuoteItemAgg.ItemsWithJob < QuoteItemAgg.TotalItems
            THEN N'Part Complete'

            ------------------------------------------------------------------
            -- 2) CUSTOM WORKFLOW STATUSES (NON-STANDARD NAMES)
            --    Only if job-complete logic above did not apply.
            ------------------------------------------------------------------
			WHEN CurrentWorkflowStatus.Name IS NOT NULL
                 AND CurrentWorkflowStatus.Name NOT IN (
                        N'N/A',
                        N'New',
                        N'Sent',
                        N'Accepted',
                        N'Rejected',
                        N'Dead',
                        N'Is Final (Ready to Send)',
                        N'Declined To Quote',
                        N'Expired',
                        N'Ready to Send',
                        N'Complete',
                        N'Part Complete'
                 )
			THEN CurrentWorkflowStatus.Name

            ------------------------------------------------------------------
            -- 3) STANDARD NEGATIVE / POSITIVE STATUSES
            ------------------------------------------------------------------
			-- Declined to Quote
			WHEN (q.DateDeclinedToQuote IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Declined)
					)) THEN N'Declined To Quote'

			-- Dead
			WHEN (q.DeadDate IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Dead)
				)) THEN N'Dead'

			-- Accepted (but no jobs, or we'd already be Complete/Part Complete above)
			WHEN (q.DateAccepted IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Accepted)
				)) THEN N'Accepted'

			-- Rejected
			WHEN (q.DateRejected IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Rejected)
				)) THEN N'Rejected'

			-- Expired
			WHEN q.ExpiryDate < GETUTCDATE () THEN N'Expired'

			-- Sent
			WHEN (q.DateSent IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Sent)
				)) THEN N'Sent'

			-- Ready to Send
			WHEN (q.IsFinal = 1 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.ReadyToSend)
				)) THEN N'Ready to Send'

            ------------------------------------------------------------------
            -- 4) FALLBACK
            ------------------------------------------------------------------
			ELSE N'New'
		END AS QuoteStatus
FROM	SSop.Quotes AS q

-- Aggregate quote items per quote: how many have jobs?
OUTER APPLY (
    SELECT
        TotalItems   = COUNT(1),
        ItemsWithJob = SUM(CASE WHEN qi.CreatedJobId > 0 THEN 1 ELSE 0 END)
    FROM SSop.QuoteItems qi
    WHERE qi.QuoteId = q.ID
      AND qi.RowStatus NOT IN (0,254)
) AS QuoteItemAgg

OUTER APPLY (
	SELECT 
		Declined	= CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'),
		Dead		= CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D'),
		Accepted	= CONVERT(UNIQUEIDENTIFIER, '21A29AEE-2D99-4DA3-8182-F31813B0C498'),
		ReadyToSend = CONVERT(UNIQUEIDENTIFIER, '02A2237F-2AE7-4E05-926F-38E8B7D050A0'),
		Rejected    = CONVERT(UNIQUEIDENTIFIER, '0A6A71F7-B39F-4213-997E-2B3A13B6144C'),
		Sent        = CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032')
) AS Statuses

-- Latest workflow transition applied to the quote
OUTER APPLY
	(
		SELECT wfs1.Name
		FROM SCore.DataObjectTransition AS dot1
		JOIN SCore.WorkflowStatus AS wfs1 ON (wfs1.ID = dot1.StatusID)
		WHERE 
			(dot1.DataObjectGuid = q.Guid)
			AND (dot1.RowStatus NOT IN (0,254))
			AND (NOT EXISTS
					(
						SELECT 1
						FROM SCore.DataObjectTransition AS dot2
						JOIN SCore.WorkflowStatus AS  wfs2 ON (wfs2.ID = dot2.StatusID)
						WHERE 
							(dot2.DataObjectGuid = q.Guid)
							AND (dot2.RowStatus NOT IN (0,254))
							AND (dot2.ID > dot1.ID)
					)
				)
	
	) AS CurrentWorkflowStatus;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[tvf_QuotesReadyToSend]
--
GO
CREATE OR ALTER FUNCTION [SSop].[tvf_QuotesReadyToSend]
(
	@UserId INT
)
RETURNS TABLE
	      --WITH SCHEMABINDING
AS RETURN	
SELECT  q.ID,
        q.RowStatus,
        q.RowVersion,
        q.Guid,
		q.FullNumber AS Number,
		CASE WHEN q.DescriptionOfWorks <> N'' THEN LEFT(q.DescriptionOfWorks, 200) ELSE LEFT(q.Overview, 200) END AS Details,
		acc.Name + N' / ' + aacc.Name AS Account,
		uprn.FormattedAddressComma,
		i.FullName AS QuotingConsultant,
		qcf.QuoteStatus AS QuoteStatus
FROM    SSop.Quotes q
JOIN	SSop.EnquiryServices AS es ON (es.ID = q.EnquiryServiceID)
JOIN	SSop.Enquiries AS e ON (e.ID = es.EnquiryId)
JOIN	SCrm.Accounts acc ON (acc.ID = e.ClientAccountID)
JOIN	SCrm.Accounts aacc ON (aacc.ID = e.AgentAccountID)
JOIN	SCore.Identities i ON (i.ID = q.QuotingConsultantId)
JOIN	SJob.Assets uprn ON (uprn.ID = q.UprnId)
JOIN	SSop.Quote_CalculatedFields qcf ON (qcf.ID = q.ID)
WHERE   (q.RowStatus NOT IN (0, 254))
	AND	(q.ID > 0)
AND	(EXISTS
			(
		SELECT
				1
		FROM
				SCore.ObjectSecurityForUser_CanRead(q.Guid, @UserId) oscr
			)
		)
	AND	(
		(q.IsFinal = 1)
		OR ( EXISTS(
				SELECT 1 
				FROM SCore.DataObjectTransition AS dot
				JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dot.StatusID)
				WHERE 
					(dot.DataObjectGuid = q.Guid)
					AND (dot.RowStatus NOT IN (0,254))
					AND (wfs.Guid = '02A2237F-2AE7-4E05-926F-38E8B7D050A0') -- Is Final
			))
		)
	AND	(
		(q.DateSent IS NULL)
		AND ( NOT EXISTS(
				SELECT 1 
				FROM SCore.DataObjectTransition AS dot
				JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dot.StatusID)
				WHERE 
					(dot.DataObjectGuid = q.Guid)
					AND (dot.RowStatus NOT IN (0,254))
					AND (wfs.Guid = '25D5491C-42A8-4B04-B3AC-D648AF0F8032') -- Sent
			))
		)
	AND	(
		(q.DateAccepted IS NULL)
		AND ( NOT EXISTS(
				SELECT 1 
				FROM SCore.DataObjectTransition AS dot
				JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dot.StatusID)
				WHERE 
					(dot.DataObjectGuid = q.Guid)
					AND (dot.RowStatus NOT IN (0,254))
					AND (wfs.Guid = '21A29AEE-2D99-4DA3-8182-F31813B0C498') -- Accepted
			))
		)
	AND	(
		(q.DateRejected IS NULL)
		AND ( NOT EXISTS(
				SELECT 1 
				FROM SCore.DataObjectTransition AS dot
				JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dot.StatusID)
				WHERE 
					(dot.DataObjectGuid = q.Guid)
					AND (dot.RowStatus NOT IN (0,254))
					AND (wfs.Guid = '0A6A71F7-B39F-4213-997E-2B3A13B6144C') -- Rejected
			))
		)	
	AND	(
		(q.DeadDate IS NULL)
		AND ( NOT EXISTS(
				SELECT 1 
				FROM SCore.DataObjectTransition AS dot
				JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dot.StatusID)
				WHERE 
					(dot.DataObjectGuid = q.Guid)
					AND (dot.RowStatus NOT IN (0,254))
					AND (wfs.Guid = '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D') -- Dead
			))
		)
	AND (q.ExpiryDate > GETDATE())

GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Enquiry_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Enquiry_CalculatedFields]
      --WITH SCHEMABINDING
AS
SELECT
    e.ID,
    EnquiryStatus =
        CASE
            ------------------------------------------------------------------
            -- 0. All quotes expired and no positive quote statuses -> Expired
            ------------------------------------------------------------------
            WHEN ISNULL(QuoteAgg.AnyPositive, 0) = 0
                 AND ISNULL(QuoteAgg.AnyExpired, 0) = 1
            THEN N'Expired'

            ----------------------------------------------
            -- 1. All quotes Complete -> Complete
            ----------------------------------------------
            WHEN ISNULL(QuoteAgg.TotalQuotes, 0) > 0
                 AND ISNULL(QuoteAgg.CompletedQuotes, 0) = ISNULL(QuoteAgg.TotalQuotes, 0)
            THEN N'Complete'

            --------------------------------------------------------------------
            -- 1b. Some Complete / Part Complete -> Part Complete
            --------------------------------------------------------------------
            WHEN ISNULL(QuoteAgg.CompletedQuotes, 0)    > 0
              OR ISNULL(QuoteAgg.PartCompleteQuotes, 0) > 0
            THEN N'Part Complete'

            ------------------------------------------------------
            -- 2. TVF status is a final status: use it as-is
            --    (anything that is NOT Sent / Part Sent / Quoting)
            ------------------------------------------------------
            WHEN s.QuotingStatus IS NOT NULL
                 AND s.QuotingStatus NOT IN (N'Sent', N'Part Sent', N'Quoting')
            THEN s.QuotingStatus

            ----------------------------------------------------------------
            -- 3. TVF status is transitional (Sent / Part Sent / Quoting)
            --    AND we have fallback data (old fields or workflow steps)
            ----------------------------------------------------------------
            WHEN s.QuotingStatus IN (N'Sent', N'Part Sent', N'Quoting')
                 AND (
                        -- Old field-based signals
                        e.DeadDate            IS NOT NULL
                     OR e.DeclinedToQuoteDate IS NOT NULL
                     OR e.QuotingDeadlineDate <  GETDATE()
                     OR e.QuotingDeadlineDate <  DATEADD(DAY, 2, GETDATE())
                     OR e.ChaseDate2         IS NOT NULL
                     OR e.ChaseDate1         IS NOT NULL
                     OR (e.IsReadyForQuoteReview = 1
                         AND ISNULL(QuoteAgg.SentQuotes, 0) = 0)

                        -- New workflow transition signals
                     OR ISNULL(Trans.HasDead,          0) = 1
                     OR ISNULL(Trans.HasDeclined,      0) = 1
                     OR ISNULL(Trans.HasFirstChase,    0) = 1
                     OR ISNULL(Trans.HasSecondChase,   0) = 1
                     OR ISNULL(Trans.HasReadyForQuote, 0) = 1
                 )
            THEN
                CASE
                    --------------------------------------------
                    -- Dead
                    --------------------------------------------
                    WHEN e.DeadDate IS NOT NULL
                         OR ISNULL(Trans.HasDead, 0) = 1
                    THEN N'Dead'

                    --------------------------------------------
                    -- Declined
                    --------------------------------------------
                    WHEN e.DeclinedToQuoteDate IS NOT NULL
                         OR ISNULL(Trans.HasDeclined, 0) = 1
                    THEN N'Declined'

                    --------------------------------------------
                    -- Deadline Missed / Approaching
                    --------------------------------------------
                    WHEN e.QuotingDeadlineDate < GETDATE()
                    THEN N'Deadline Missed'

                    WHEN e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE())
                    THEN N'Deadline Approaching'

                    --------------------------------------------
                    -- Chase 2 / Chase 1
                    --------------------------------------------
                    WHEN e.ChaseDate2 IS NOT NULL
                         OR ISNULL(Trans.HasSecondChase, 0) = 1
                    THEN N'2nd Chase'

                    WHEN e.ChaseDate1 IS NOT NULL
                         OR ISNULL(Trans.HasFirstChase, 0) = 1
                    THEN N'1st Chase'

                    --------------------------------------------
                    -- Ready for Quote
                    --------------------------------------------
                    WHEN (e.IsReadyForQuoteReview = 1
                          AND ISNULL(QuoteAgg.SentQuotes, 0) = 0)
                         OR ISNULL(Trans.HasReadyForQuote, 0) = 1
                    THEN N'Ready for Quote'

                    --------------------------------------------
                    -- Fallback to TVF status if none of the
                    -- above "override" conditions matched
                    --------------------------------------------
                    ELSE s.QuotingStatus
                END

            -------------------------------------------------------------
            -- 4. No fallback data – return whatever TVF gave us
            -------------------------------------------------------------
            WHEN s.QuotingStatus IS NOT NULL
            THEN s.QuotingStatus

            -------------------------------------------------------------
            -- 5. Only if no TVF and no fallback at all
            -------------------------------------------------------------
            ELSE N'New'
        END
FROM SSop.Enquiries e
    ----------------------------------------------------------------
    -- TVF with workflow-driven status
    ----------------------------------------------------------------
    OUTER APPLY SSop.tvf_GetEnquiryStatuses(e.Id) AS s

    ----------------------------------------------------------------
    -- Single pass over DataObjectTransition per enquiry.
    ----------------------------------------------------------------
    OUTER APPLY (
        SELECT
              HasDead =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D')
                           THEN 1 ELSE 0 END)
            , HasDeclined =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E')
                           THEN 1 ELSE 0 END)
            , HasFirstChase =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, '9FF22CEA-A2A6-4907-9B2D-E62DF8150913')
                           THEN 1 ELSE 0 END)
            , HasSecondChase =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, '1F01C16B-1A73-4844-A938-FE357405FD93')
                           THEN 1 ELSE 0 END)
            , HasReadyForQuote =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0')
                           THEN 1 ELSE 0 END)
        FROM SCore.DataObjectTransition dot
        JOIN SCore.WorkflowStatus ws
             ON ws.ID = dot.StatusID
        WHERE dot.DataObjectGuid = e.Guid
          AND ws.Guid IN (
                CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D'), -- Dead
                CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'), -- Declined
                CONVERT(UNIQUEIDENTIFIER, '9FF22CEA-A2A6-4907-9B2D-E62DF8150913'), -- FirstChase
                CONVERT(UNIQUEIDENTIFIER, '1F01C16B-1A73-4844-A938-FE357405FD93'), -- SecondChase
                CONVERT(UNIQUEIDENTIFIER, 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0')  -- ReadyForQuote
          )
    ) AS Trans

    ----------------------------------------------------------------
    -- Quote aggregation per enquiry
    ----------------------------------------------------------------
    OUTER APPLY (
        SELECT
              AnyPositive =
                SUM(
                    CASE
                        WHEN qcf.QuoteStatus IN (
                                 N'Complete',
                                 N'Part Complete',
                                 N'Ready to Send',
                                 N'Quoting'
                             )
                        THEN 1 ELSE 0
                    END
                )
            , AnyExpired =
                SUM(CASE WHEN qcf.QuoteStatus = N'Expired' THEN 1 ELSE 0 END)
            , TotalQuotes       = COUNT(*)
            , ReadyToSendQuotes =
                SUM(CASE WHEN qcf.QuoteStatus = N'Ready to Send' THEN 1 ELSE 0 END)
            , CompletedQuotes   =
                SUM(CASE WHEN qcf.QuoteStatus = N'Complete' THEN 1 ELSE 0 END)
            , PartCompleteQuotes =
                SUM(CASE WHEN qcf.QuoteStatus = N'Part Complete' THEN 1 ELSE 0 END)
            , SentQuotes =
                SUM(CASE WHEN q.DateSent IS NOT NULL THEN 1 ELSE 0 END)
        FROM SSop.EnquiryServices es
        JOIN SSop.Quotes q
             ON es.ID = q.EnquiryServiceID
        JOIN SSop.Quote_CalculatedFields qcf
             ON qcf.ID = q.ID
        WHERE es.EnquiryId = e.ID
          AND q.RowStatus NOT IN (0, 254)
    ) AS QuoteAgg;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[tvf_Enquiries]
--
GO
CREATE OR ALTER FUNCTION [SSop].[tvf_Enquiries]
(
    @UserId INT
)
RETURNS TABLE
    --WITH SCHEMABINDING
AS
RETURN
(
    SELECT
          e.ID
        , e.RowStatus
        , e.RowVersion
        , e.Guid
        , CASE
              WHEN e.Revision = 0
                  THEN e.Number
              ELSE e.Number + N' (' + CONVERT(NVARCHAR(2), e.Revision) + N') '
          END AS Number
        , e.ExternalReference
        , LEFT(e.DescriptionOfWorks, 200) AS DescriptionOfWorks
        , CASE
              WHEN client.Name <> N'' THEN client.Name ELSE e.ClientName
          END
          + N' / ' +
          CASE
              WHEN agent.Name <> N'' THEN agent.Name ELSE e.AgentName
          END AS ClientAgentAccount
        , CASE
              WHEN uprn.AssetNumber > 0
                  THEN uprn.FormattedAddressComma
              ELSE e.PropertyNameNumber + N' ' + e.PropertyAddressLine1
          END AS Property
        , uprn.AssetNumber AS UPRN
        , ecf.EnquiryStatus
        , ISNULL(p.IsSubjectToNDA, e.IsSubjectToNDA) AS IsSubjectToNDA
        , CASE
              WHEN st.Name IS NULL
                  THEN N'Multi Discipline'
              ELSE st.Name
          END AS Disciplines
        , org.Name AS OrgUnit
        , e.[Date]
    FROM SSop.Enquiries AS e

    -- status from the optimised view
    LEFT JOIN SSop.Enquiry_CalculatedFields AS ecf
        ON ecf.ID = e.ID

    JOIN SCrm.Accounts AS client
        ON client.ID = e.ClientAccountID

    JOIN SCrm.Accounts AS agent
        ON agent.ID = e.AgentAccountId

    JOIN SJob.Assets AS uprn
        ON uprn.ID = e.PropertyId

    JOIN SSop.Projects AS p
        ON p.ID = e.ProjectId

    JOIN SCore.OrganisationalUnits AS org
        ON org.ID = e.OrganisationalUnitID

    -- set-based discipline calculation:

    -- @Richard Brindley - I know you don't like Distincts but I couldn't think of a better way to do
    -- this and it currently reduces the time needed to run by 8 secs. Please advise

    --  - One grouped aggregate per EnquiryId
    --  - If exactly one JobTypeId -> that job type name
    --  - Otherwise -> NULL so outer CASE shows 'Multi Discipline'
    LEFT JOIN
    (
        SELECT
              es.EnquiryId
            , Name =
                CASE
                    WHEN COUNT(DISTINCT es.JobTypeId) = 1
                        THEN MAX(jt.Name)
                    ELSE NULL
                END
        FROM SSop.EnquiryServices AS es
        JOIN SJob.JobTypes AS jt
            ON jt.ID = es.JobTypeId
        WHERE
                es.RowStatus NOT IN (0, 254)
            AND jt.RowStatus NOT IN (0, 254)
        GROUP BY
            es.EnquiryId
    ) AS st
        ON st.EnquiryId = e.ID

    WHERE
            e.RowStatus NOT IN (0, 254)
        AND e.ID > 0
        AND EXISTS
        (
            SELECT 1
            FROM SCore.ObjectSecurityForUser_CanRead(e.Guid, @UserId) AS oscr
        )
);
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO