-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 21/10/2025 11:29:38
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Drop foreign key [FK_WorkflowTransition_Workflow] on table [SCore].[WorkflowTransition]
--
ALTER TABLE [SCore].[WorkflowTransition]
  DROP CONSTRAINT [FK_WorkflowTransition_Workflow]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Add default constraint [DF_Workflow_Name] on table [SCore].[Workflow]
--
ALTER TABLE [SCore].[Workflow]
  ADD CONSTRAINT [DF_Workflow_Name] DEFAULT ('') FOR [Name]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Add default constraint [DF_WorkflowTransition_WorkflowID] on table [SCore].[WorkflowTransition]
--
ALTER TABLE [SCore].[WorkflowTransition]
  ADD CONSTRAINT [DF_WorkflowTransition_WorkflowID] DEFAULT (-1) FOR [WorkflowID]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_WorkflowTransition_Workflow] on table [SCore].[WorkflowTransition]
--
ALTER TABLE [SCore].[WorkflowTransition]
  ADD CONSTRAINT [FK_WorkflowTransition_Workflow] FOREIGN KEY ([WorkflowID]) REFERENCES [SCore].[Workflow] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO