-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.3.93.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 23/03/2026 14:45:26
-- Source server version: 16.00.1000
-- Source connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Target server version: 16.00.1000
-- Target connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Run this script against Cymbuild_QA to synchronize it with CymBuild_Dev
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Start Transaction
--
PRINT (N'Start Transaction')
GO
BEGIN TRANSACTION
GO

--
-- Disable foreign key [FK_InvoiceRequests_InvoicePaymentStatus] on table [SFin].[InvoiceRequests]
--
PRINT (N'Disable foreign key [FK_InvoiceRequests_InvoicePaymentStatus] on table [SFin].[InvoiceRequests]')
GO
ALTER TABLE [SFin].[InvoiceRequests]
  NOCHECK CONSTRAINT [FK_InvoiceRequests_InvoicePaymentStatus]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SCrm].[tvf_AccountAssets]
--
GO
PRINT (N'Create or alter function [SCrm].[tvf_AccountAssets]')
GO
IF NOT EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SCrm].[tvf_AccountAssets]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SCrm].[tvf_AccountAssets]
(
	@UserId INT,
	@ParentGuid UNIQUEIDENTIFIER
)
RETURNS TABLE
          --WITH SCHEMABINDING
AS RETURN
SELECT
		a.ID,
		a.RowStatus,
		a.RowVersion,
		a.Guid,
		a.Number,
		a.FormattedAddressComma
FROM
		SJob.Assets AS a
JOIN
		SJob.Jobs AS j ON (j.UprnID = a.ID)
WHERE
		(a.RowStatus NOT IN (0, 254))
		AND (j.RowStatus NOT IN (0,254))
		AND (a.Guid = @ParentGuid)
		AND (EXISTS
		(
			SELECT
					1
			FROM
					SCore.ObjectSecurityForUser_CanRead(j.Guid, @UserId) oscr
		)
		)
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SCrm].[tvf_AccountProjects]
--
GO
PRINT (N'Create or alter function [SCrm].[tvf_AccountProjects]')
GO
IF NOT EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SCrm].[tvf_AccountProjects]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SCrm].[tvf_AccountProjects]
(
	@UserId INT,
	@ParentGuid UNIQUEIDENTIFIER
)
RETURNS TABLE
          --WITH SCHEMABINDING
AS RETURN
SELECT
		p.ID,
		p.RowStatus,
		p.RowVersion,
		p.Guid,
		p.Number,
		p.ProjectDescription
FROM
		SSop.Projects AS p
JOIN
		SJob.Jobs AS j ON (p.ID = j.ProjectId)

JOIN
		SCrm.Accounts client ON (client.ID = j.ClientAccountID)
JOIN
		SCrm.Accounts agent ON (agent.ID = j.AgentAccountID)

JOIN
		SCrm.Accounts financeAccount ON (financeAccount.ID = j.FinanceAccountID)
WHERE
		(p.RowStatus NOT IN (0, 254))
		AND (j.RowStatus NOT IN (0,254))
		AND (   (client.Guid = @ParentGuid)
				OR (agent.Guid = @ParentGuid)
				OR (financeAccount.Guid = @ParentGuid))
		AND (EXISTS
		(
			SELECT
					1
			FROM
					SCore.ObjectSecurityForUser_CanRead(j.Guid, @UserId) oscr
		)
		)
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Disable foreign key [FK_InvoiceSchedules_TriggerId] on table [SFin].[InvoiceSchedules]
--
PRINT (N'Disable foreign key [FK_InvoiceSchedules_TriggerId] on table [SFin].[InvoiceSchedules]')
GO
ALTER TABLE [SFin].[InvoiceSchedules]
  NOCHECK CONSTRAINT [FK_InvoiceSchedules_TriggerId]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
PRINT (N'Commit Transaction')
GO
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
PRINT (N'Set NOEXEC to off')
GO
SET NOEXEC OFF
GO