-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 10/12/2025 15:53:13
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Enable foreign key [FK_DataObjectTransition_DataObjects] on table [SCore].[DataObjectTransition]
--
ALTER TABLE [SCore].[DataObjectTransition]
  CHECK CONSTRAINT [FK_DataObjectTransition_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SCore].[WorkflowDelete]
--
GO
CREATE OR ALTER PROCEDURE [SCore].[WorkflowDelete]
(
	@Guid UNIQUEIDENTIFIER 
)
AS 
BEGIN

	 DECLARE @UserID             INT = -1;
	 DECLARE @IsUserSysAdmin     BIT = 0;
	 DECLARE @WorkflowName NVARCHAR(100);


	 --Get the name of the workflow
	SELECT @WorkflowName = Name
	FROM SCore.Workflow 
	WHERE Guid = @Guid



    SELECT
            @UserID = ISNULL(CONVERT(INT,
            SESSION_CONTEXT(N'user_id')
            ),
            -1
            );

	 --Check if the current user has System Admin priviliges - we will be using this for deleting records.
	 IF(EXISTS
		(
			SELECT	1
				FROM	SCore.UserGroups AS ug
				JOIN	SCore.Groups AS g ON (g.ID = ug.GroupID)
				WHERE	(ug.IdentityID = @UserID)
					AND	(g.Code = N'SYSADM')
		)
		)
		BEGIN 
			SET @IsUserSysAdmin = 1;
		END;

    IF (NOT EXISTS
			(
				SELECT	1
				FROM	SCore.UserGroups AS ug
				JOIN	SCore.Groups AS g ON (g.ID = ug.GroupID)
				WHERE	(ug.IdentityID = @UserID)
					AND	(g.Code = N'SU')
			)
		)
	BEGIN 
		;THROW 60000, N'Only members of the Superusers group can run this action.', 1
	END

		
		IF(EXISTS
			(
				SELECT 1 FROM
				SCore.Workflow AS Wf
				WHERE Wf.Guid = @Guid AND Wf.Enabled = 1
			
			)
		)
		BEGIN
			;THROW 60000, N'Cannot delete enabled workflows', 1
			RETURN
		END;
		--Do not delete default workflows - except if the user has System Admin priviliges.
		ELSE IF(EXISTS
				(
					SELECT 1 FROM
					SCore.Workflow AS Wf
					WHERE 
						(Wf.Guid = @Guid) 
						AND (Wf.OrganisationalUnitId = -1)
					
				)
				AND @IsUserSysAdmin = 0
				OR @WorkflowName IN (N'Enquiries (System Default)', N'Quotes (System Default)', N'Jobs (System Default)') --Extra protection against deleting original workflows
				
		)
		BEGIN
			;THROW 60000, N'Cannot delete a default workflow!', 1
			RETURN
		END;

		DECLARE @WorkflowID INT;
		DECLARE @WorkflowTransitionGuid UNIQUEIDENTIFIER;


		--Get the workflow ID - we will use this to "delete" all associated transitions.
		SELECT @WorkflowID = ID 
		FROM SCore.Workflow
		WHERE Guid = @Guid;

		EXEC SCore.DeleteDataObject @Guid = @Guid	-- uniqueidentifier

		UPDATE	SCore.Workflow
		SET		RowStatus = 254
		WHERE	(Guid = @Guid)


		--Now, delete all associated workflow transitions
		WHILE EXISTS(SELECT 1 FROM SCore.WorkflowTransition WHERE WorkflowID = @WorkflowID AND RowStatus <> 254)
		BEGIN

			SELECT TOP 1 @WorkflowTransitionGuid = Guid
			FROM SCore.WorkflowTransition
			WHERE 
				(WorkflowID = @WorkflowID)
				AND (RowStatus NOT IN (0,254))

			EXEC SCore.DeleteDataObject @Guid = @WorkflowTransitionGuid	-- uniqueidentifier

			UPDATE	SCore.WorkflowTransition
			SET		RowStatus = 254
			WHERE	(Guid = @WorkflowTransitionGuid)

		END


		
END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SCore].[tvf_WorkflowValidate]
--
GO
CREATE OR ALTER FUNCTION [SCore].[tvf_WorkflowValidate]
	(
		@Guid			UNIQUEIDENTIFIER,
		@Name			NVARCHAR(200),
		@Description	NVARCHAR(800),
		@EntityTypeGuid UNIQUEIDENTIFIER,
		@IsEnabled		BIT,
		@OrgUnitGuid    UNIQUEIDENTIFIER
	)
RETURNS @ValidationResult TABLE
	(
		ID INT IDENTITY(1, 1) NOT NULL,
		TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
		TargetType CHAR(1) NOT NULL DEFAULT (''),
		IsReadOnly BIT NOT NULL DEFAULT ((0)),
		IsHidden BIT NOT NULL DEFAULT ((0)),
		IsInvalid BIT NOT NULL DEFAULT ((0)),
		IsInformationOnly BIT NOT NULL DEFAULT ((0)),
		Message NVARCHAR(2000) NOT NULL DEFAULT ('')
	)
AS
BEGIN
	
	--Get the entity type we work with - just the "Name" field.
	DECLARE @EntityTypeForWorkflow NVARCHAR(250) = N'';
	DECLARE @EntityTypeID		  INT;
	DECLARE @OrgUnitID INT;
	DECLARE @WorkflowID INT;
	
	--Entity type name + ID.
	SELECT 
		@EntityTypeForWorkflow = Name,
		@EntityTypeID = ID
	FROM SCore.EntityTypes
	WHERE Guid = @EntityTypeGuid;

	--Get the workflow ID
	SELECT @WorkflowID = ID
	FROM SCore.Workflow 
	WHERE Guid = @Guid

	SELECT @OrgUnitID = ID
	FROM SCore.OrganisationalUnits
	WHERE Guid = @OrgUnitGuid;



	


	--If the workflow is new
	IF (NOT EXISTS(SELECT 1 FROM SCore.Workflow WHERE Guid = @Guid))
	BEGIN

		
		--Only show basic info. fields.
		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		SELECT	epfvv.Guid,
				N'P',
				0,
				1,
				0,
				N''
		FROM	SCore.EntityPropertiesForValidationV AS epfvv
		WHERE	epfvv.[Schema] = N'SCore'
			AND epfvv.Hobt	   = N'Workflow'
			AND epfvv.Name NOT IN (N'Name', N'Description', N'EntityTypeID', N'OrganisationalUnitId');


		IF(@Name = N'')
		BEGIN
			--Compulsory fields.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'Name is compulsory.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Name');
		END;


		IF(@EntityTypeGuid = N'00000000-0000-0000-0000-000000000000')
		BEGIN
			--Compulsory fields.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'Name is compulsory.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'EntityTypeID');
		END;
	END;


	--If the workflow exists...
	IF(EXISTS(SELECT 1 FROM SCore.Workflow WHERE Guid = @Guid ))
	BEGIN
			-- ...lock the entity type field to prevent from changing it.
			INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					1,
					0,
					0,
					N''
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'EntityTypeID');

			IF(@OrgUnitID = -1)
			BEGIN
				--Compulsory fields.
				INSERT	@ValidationResult
						(TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
				SELECT	epfvv.Guid,
						N'P',
						1,
						0,
						0,
						N''
				FROM	SCore.EntityPropertiesForValidationV AS epfvv
				WHERE	epfvv.[Schema] = N'SCore'
					AND epfvv.Hobt	   = N'Workflow'

				--Hide org unit
				INSERT	@ValidationResult
						(TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
				SELECT	epfvv.Guid,
						N'P',
						1,
						1,
						0,
						N''
				FROM	SCore.EntityPropertiesForValidationV AS epfvv
				WHERE	epfvv.[Schema] = N'SCore'
					AND epfvv.Hobt	   = N'Workflow'
					AND epfvv.Name  IN (N'OrganisationalUnitId');
			END;
	END;


	


	--Check if the user is trying to enable a workflow when there is an already active one.
	IF(@IsEnabled = 1)
	BEGIN

		--Check if there is already an enabled one for the entity type.
		IF(EXISTS
			(
				SELECT 1 
				FROM SCore.Workflow
				WHERE 
					(Enabled = 1) AND
					(EntityTypeID = @EntityTypeID) AND
					(OrganisationalUnitId = @OrgUnitID) AND
					(Guid <> @Guid)
			)
		 )
		 BEGIN
			 INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'There is already an active workflow for this entity type.'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Enabled');
		 END;
	--Check if the user is trying to enable a workflow that has no associated transitions.
	ELSE IF(NOT EXISTS
			(
				SELECT 1 
				FROM SCore.WorkflowTransition AS wft
				WHERE wft.WorkflowID = @WorkflowID
			))
	BEGIN
	 INSERT	@ValidationResult
				 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT	epfvv.Guid,
					N'P',
					0,
					0,
					1,
					N'No transitions for workflow - please, add transitions before enabling the workflow!'
			FROM	SCore.EntityPropertiesForValidationV AS epfvv
			WHERE	epfvv.[Schema] = N'SCore'
				AND epfvv.Hobt	   = N'Workflow'
				AND epfvv.Name  IN (N'Enabled');
	END;

	END;
	
	


	RETURN;
END;

GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SUserInterface].[tvf_WidgetDashBoardDefinitions]
--
GO
CREATE OR ALTER FUNCTION [SUserInterface].[tvf_WidgetDashBoardDefinitions] (@UserId INT)
RETURNS TABLE
	   --WITH SCHEMABINDING
AS
RETURN
(
    -- Select Widget Grid Definitions
    SELECT 
        N'WIDGETGRIDS' AS Type,
        olfu.LabelPlural AS Name,
        gvd.ID,
        gvd.Guid,
        gvd.ROWVERSION,
        gvd.Code,
        gd.Code AS GridCode,
        gvd.GridDefinitionId,
        gvd.SqlQuery,
        gvd.DetailPageUri,
        gvd.DefaultSortColumnName,
        gvd.DisplayGroupName,
        gvd.DisplayOrder,
        gvd.MetricSqlQuery,
        gvd.ShowMetric,
        gvd.IsDetailWindowed,
        i.Name AS DrawerIconCss,
        gvd.IsDefaultSortDescending,
        gvd.AllowNew,
        gvd.AllowExcelExport,
        gvd.AllowPdfExport,
        gvd.AllowCsvExport,
        et.Guid AS EntityTypeGuid,
        gvt.Guid AS GridViewTypeGuid,
        gvd.GridViewTypeId,
        gvd.AllowBulkChange,
        '' AS WidgetDisplayGroupName,
        0 AS WidgetDisplayOrder,
        0 AS [Min], 
        0 AS [Max],
        0 AS [MinorUnit],
        0 AS [MajorUnit],
        0 AS [StartAngle],
        0 AS [EndAngle],
        0 AS [Reverse],
        0 AS Range1MinValue,
        0 AS Range1MaxValue,
        '' AS Range1ColourHex,
        0 AS Range2MinValue,
        0 AS Range2MaxValue,
        '' AS Range2ColourHex,
        '' AS MetricTypeName,
        '00000000-0000-0000-0000-000000000000' AS MetricGuid,
        '' AS GaugeMetricSqlQuery,
        '' AS PageUri
    FROM 
        SUserInterface.GridViewDefinitions gvd
    JOIN 
        SUserInterface.GridDefinitions gd ON gd.ID = gvd.GridDefinitionId
    JOIN 
        SUserInterface.Icons i ON gvd.DrawerIconId = i.ID
    JOIN 
        SUserInterface.GridViewTypes gvt ON gvt.ID = gvd.GridViewTypeId
    JOIN 
        SCore.EntityTypes et ON gvd.EntityTypeID = et.ID
    OUTER APPLY 
        SCore.ObjectLabelForUser(gvd.LanguageLabelID, @UserId) olfu
    WHERE 
        EXISTS (
            SELECT 1 
            FROM SCore.ObjectSecurityForUser_CanRead(gvd.Guid, @UserId) 
        )
		AND 
		EXISTS (
            SELECT 1 
            FROM SCore.ObjectSecurityForUser_CanRead(gd.Guid, @UserId) 
        )
		AND (gvd.ShowOnDashboard = 1)
		AND (gvd.ShowMetric = 0)
		AND (gvd.RowStatus NOT IN (0,254))

    UNION ALL

    -- Select Widget Gauges
    SELECT 
        N'WIDGETGAUGES' AS Type,
        olfu.LabelPlural,
        0 AS ID,
        '00000000-0000-0000-0000-000000000000' AS Guid,
        0 AS ROWVERSION,
        gvd.Code AS Code,
        gd.Code AS GridCode,
        '' AS GridDefinitionId,
        '' AS SqlQuery,
        '' AS DetailPageUri,
        '' AS DefaultSortColumnName,
        '' AS DisplayGroupName,
        0 AS DisplayOrder,
        '' AS MetricSqlQuery,
        0 AS ShowMetric,
        0 AS IsDetailWindowed,
        '' AS DrawerIconCss,
        0 AS IsDefaultSortDescending,
        0 AS AllowNew,
        0 AS AllowExcelExport,
        0 AS AllowPdfExport,
        0 AS AllowCsvExport,
        '00000000-0000-0000-0000-000000000000' AS EntityTypeGuid,
        '00000000-0000-0000-0000-000000000000' AS GridViewTypeGuid,
        0 AS GridViewTypeId,
        0 AS AllowBulkChange,
        gvd.DisplayGroupName,
        gvd.DisplayOrder,
        gvd.MetricMin,
        gvd.MetricMax,
        gvd.MetricMinorUnit,
        gvd.MetricMajorUnit,
        gvd.MetricStartAngle,
        gvd.MetricEndAngle,
        gvd.MetricReversed,
        gvd.MetricRange1Min,
        gvd.MetricRange1Max,
        gvd.MetricRange1ColourHex,
        gvd.MetricRange2Min,
        gvd.MetricRange2Max,
        gvd.MetricRange2ColourHex,
        mt.Name AS MetricTypeName,
        gvd.Guid AS MetricGuid,
        gvd.MetricSqlQuery,
        gd.PageUri
    FROM 
        SUserInterface.GridViewDefinitions gvd
    JOIN 
        SUserInterface.GridDefinitions gd ON gd.ID = gvd.GridDefinitionId
    JOIN 
        SUserInterface.MetricTypes mt ON mt.ID = gvd.MetricTypeID
    OUTER APPLY 
        SCore.ObjectLabelForUser(gvd.LanguageLabelId, @UserId) olfu
    WHERE 
        (gvd.ShowMetric = 1) 
		AND gvd.MetricSqlQuery <> N''
        AND gvd.RowStatus NOT IN (0, 254)
        AND gd.RowStatus NOT IN (0, 254)
        AND mt.RowStatus NOT IN (0, 254)
        AND EXISTS (
            SELECT 1 
            FROM SCore.ObjectSecurityForUser_CanRead(gvd.Guid, @UserId)
        )
		AND EXISTS (
            SELECT 1 
            FROM SCore.ObjectSecurityForUser_CanRead(gd.Guid, @UserId)
        )

    UNION ALL

    -- Select Widget Layout
    SELECT 
        N'WIDGETLAYOUT' AS Type,
        WidgetLayout,
        0 AS ID,
        '00000000-0000-0000-0000-000000000000' AS Guid,
        0 AS ROWVERSION,
        '' AS Code,
        '' AS GridCode,
        '' AS GridDefinitionId,
        '' AS SqlQuery,
        '' AS DetailPageUri,
        '' AS DefaultSortColumnName,
        '' AS DisplayGroupName,
        0 AS DisplayOrder,
        '' AS MetricSqlQuery,
        0 AS ShowMetric,
        0 AS IsDetailWindowed,
        '' AS DrawerIconCss,
        0 AS IsDefaultSortDescending,
        0 AS AllowNew,
        0 AS AllowExcelExport,
        0 AS AllowPdfExport,
        0 AS AllowCsvExport,
        '00000000-0000-0000-0000-000000000000' AS EntityTypeGuid,
        '00000000-0000-0000-0000-000000000000' AS GridViewTypeGuid,
        0 AS GridViewTypeId,
        0 AS AllowBulkChange,
        '' AS WidgetDisplayGroupName,
        0 AS WidgetDisplayOrder,
        0 AS Min,
        0 AS Max,
        0 AS MinorUnit,
        0 AS MajorUnit,
        0 AS StartAngle,
        0 AS EndAngle,
        0 AS Reverse,
        0 AS Range1MinValue,
        0 AS Range1MaxValue,
        '' AS Range1ColourHex,
        0 AS Range2MinValue,
        0 AS Range2MaxValue,
        '' AS Range2ColourHex,
        '' AS MetricTypeName,
        '00000000-0000-0000-0000-000000000000' AS MetricGuid,
        '' AS GaugeMetricSqlQuery,
        '' AS PageUri
    FROM 
        SCore.UserPreferences
    WHERE 
        ID = @UserId
)


GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_Quotes_DataObjects] on table [SSop].[Quotes]
--
ALTER TABLE [SSop].[Quotes]
  CHECK CONSTRAINT [FK_Quotes_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_EnquiryServices_DataObjects] on table [SSop].[EnquiryServices]
--
ALTER TABLE [SSop].[EnquiryServices]
  CHECK CONSTRAINT [FK_EnquiryServices_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SJob].[tvf_Jobs_IncompleteActivities]
--
GO
CREATE OR ALTER FUNCTION [SJob].[tvf_Jobs_IncompleteActivities] 
(
    @UserId INT
)
RETURNS TABLE
       --WITH SCHEMABINDING
AS
RETURN 
SELECT  j.ID,
        j.RowStatus,
        j.RowVersion,
        j.Guid,
        j.Number,
        j.JobDescription,
        j.JobTypeID,
        jt.Name AS JobTypeName,
		i.Guid SurveyorGuid,
		i.FullName AS SurveyorName, 
		prop.FormattedAddressComma,
		client.Name + N' / ' + agent.Name AS  ClientAgent,
		js.IsSubjectToNDA,
		j.IsComplete,
		js.JobStatus
FROM    SJob.Jobs j
JOIN	SJob.JobStatus js ON (js.ID = j.ID)
JOIN    SJob.JobTypes jt ON (j.JobTypeID = jt.ID)
JOIN    SCore.Identities i ON (j.SurveyorID = i.ID)
JOIN	SJob.Assets prop ON (prop.ID = j.UprnID)
JOIN	SCrm.Accounts client ON (client.ID = j.ClientAccountID)
JOIN	SCrm.Accounts agent ON (agent.ID = j.AgentAccountID)
WHERE   (j.RowStatus  NOT IN (0, 254))
	AND	(j.Id > 0)
	AND (
			(j.JobCancelled IS NULL) 
			AND (NOT EXISTS
						(
							SELECT 1 
							FROM SCore.DataObjectTransition AS dob 
							JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dob.StatusID)
							WHERE
								(dob.RowStatus NOT IN (0,254))
								AND (dob.DataObjectGuid = j.Guid)
								AND (wfs.Guid = '18D8E36B-43BE-4BDE-9D0B-1F34B460AD64') --Cancelled
							
						)
			)
		)
	AND	(EXISTS
			(
				SELECT	1
				FROM	SCore.ObjectSecurityForUser_CanRead (j.guid, @UserId) oscr
			)
		)
	AND	(j.SurveyorID = @UserId)
	AND	(EXISTS
			(
				SELECT	1
				FROM	SJob.Activities a
				WHERE	(a.JobID = j.ID)
					AND	(a.RowStatus NOT IN (0, 254))
					AND	(ISNULL(a.EndDate, GETUTCDATE()) < GETUTCDATE())
					AND	(EXISTS
							(
								SELECT	1
								FROM	SJob.ActivityStatus ast
								WHERE	(ast.ID = a.ActivityStatusID)
									AND	(ast.IsCompleteStatus = 0)
							)
						)
			)
		)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SJob].[ActivitiesValidate]
--
GO
CREATE OR ALTER FUNCTION [SJob].[ActivitiesValidate]
	(
		@Guid UNIQUEIDENTIFIER,
		@ActivityStatusGuid UNIQUEIDENTIFIER,
		@Start DATETIME2, 
		@End DATETIME2,
		@InvoicingValue decimal(19,2),
		@InvoicingQuantity decimal (19,2),
		@JobGuid	UNIQUEIDENTIFIER,
		@NewExpiryDate DATETIME2,
		@ActivityTypeGuid UNIQUEIDENTIFIER
	)
RETURNS @ValidationResult TABLE
	(
		ID INT IDENTITY(1, 1) NOT NULL,
		TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT ('00000000-0000-0000-0000-000000000000'),
		TargetType CHAR(1) NOT NULL DEFAULT (''),
		IsReadOnly BIT NOT NULL DEFAULT ((0)),
		IsHidden BIT NOT NULL DEFAULT ((0)),
		IsInvalid BIT NOT NULL DEFAULT ((0)),
		[IsInformationOnly] [BIT] NOT NULL DEFAULT((0)),
		Message NVARCHAR(2000) NOT NULL DEFAULT ('')
	)
AS
BEGIN
	DECLARE @EntityHoBTGuid UNIQUEIDENTIFIER,
			@EntityPropertyGuid UNIQUEIDENTIFIER

	
	DECLARE @F10UpdatedActivityType UNIQUEIDENTIFIER;

	
	SELECT @F10UpdatedActivityType = Guid 
	FROM SJob.ActivityTypes
	WHERE Name = N'F10 Updated/Reissued'


	

	IF (@ActivityTypeGuid <> @F10UpdatedActivityType)
		BEGIN
			-- Hide only the "NewExpiryDate" field
			INSERT INTO @ValidationResult
				(TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT epfvv.Guid,
				   N'P',
				   1,
				   0,
				   0,
				   N''
			FROM SCore.EntityPropertiesForValidationV AS epfvv
			WHERE epfvv.[Schema] = N'SJob'
			  AND epfvv.Hobt     = N'Activities'
			  AND epfvv.Name     = N'NewExpiryDate';
		END

	 IF(@ActivityTypeGuid = @F10UpdatedActivityType AND @NewExpiryDate IS NULL)
		BEGIN
			 --Hide everything except the "NewExpiryDate" field
			INSERT INTO @ValidationResult
				(TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
			SELECT epfvv.Guid,
				   N'P',
				   0,
				   0,
				   1,
				   N'Must specify new expiry date!'
			FROM SCore.EntityPropertiesForValidationV AS epfvv
			WHERE epfvv.[Schema] = N'SJob'
			  AND epfvv.Hobt     = N'Activities'
			  AND epfvv.Name     = N'NewExpiryDate';
		END
	 



	/*
		Make the activity read only if the activity of the job is complete. 
	*/
	IF((EXISTS 
			(
				SELECT	1
				FROM	SJob.Activities a
				WHERE	(EXISTS 
							(
								SELECT	1 
								FROM	SJob.Jobs AS j
								WHERE	(j.IsComplete = 1)
									AND	(j.ID = a.JobID)
							)
						)
					AND	(a.Guid = @Guid)
			)
		)
		--This block ensures that the record is only locked down once the user has saved it.
		OR EXISTS
			(
				SELECT 1 
				FROM SJob.Activities as a
				JOIN SJob.ActivityStatus AS acts ON (a.ActivityStatusID = acts.ID)
				WHERE 
					(a.Guid = @Guid)
					AND (
							(acts.Guid = 'C20DA283-05BE-4BC1-ABD1-D62126DC5F80')	-- Completed
							OR (acts.Guid = '70853C10-745D-4ABB-88D3-B4E9AB990CA0') -- Cancelled
						) 
			)
		)
	AND	(EXISTS
			(
				SELECT	1
				FROM	SJob.Activities 
				WHERE	(guid = @Guid)
					AND	(RowStatus <> 0)
			)
		)
	BEGIN
		SELECT	@EntityHoBTGuid = eh.Guid
		FROM	SCore.EntityHobtsV AS eh
		WHERE	(eh.SchemaName = N'SJob')
			AND (eh.ObjectName = N'Activities');

		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		VALUES
			 (
				 @EntityHoBTGuid,
				 N'H',
				 1,
				 0,
				 0,
				 N''
			 );
	END;

	/*
		The End must be greater than the Start
	*/
	IF (@End < @Start)
	BEGIN 
		SELECT	@EntityPropertyGuid = ep.Guid
		FROM	SCore.EntityPropertiesV ep
		JOIN	SCore.EntityHobtsV eh ON (eh.ID = ep.EntityHoBTID)
		WHERE	(eh.SchemaName = N'SJob')
			AND (eh.ObjectName = N'Activities')
			AND	(ep.Name	 = N'Date')

		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		VALUES
			 (
				 @EntityPropertyGuid,
				 N'P',
				 0,
				 0,
				 1,
				 N'The Start Date/Time must be before the End Date/Time.'
			 );

		SELECT	@EntityPropertyGuid = ep.Guid
		FROM	SCore.EntityPropertiesV ep
		JOIN	SCore.EntityHobtsV eh ON (eh.ID = ep.EntityHoBTID)
		WHERE	(eh.SchemaName = N'SJob')
			AND (eh.ObjectName = N'Activities')
			AND	(ep.Name	 = N'EndDate')

		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		VALUES
			 (
				 @EntityPropertyGuid,
				 N'P',
				 0,
				 0,
				 1,
				 N'The End Date/Time must be after the Start Date/Time.'
			 );
	END

	IF (@InvoicingValue > 0) 
	BEGIN 
		SELECT
				@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'InvoicingQuantity')

		INSERT @ValidationResult
				(
					TargetGuid,
					TargetType,
					IsReadOnly,
					IsHidden,
					IsInvalid,
					Message
				)
		VALUES
				(
					@EntityPropertyGuid,
					N'P',
					1,
					0,
					0,
					N''
				);
	END

	IF (@InvoicingQuantity > 0)
 
	BEGIN 
		SELECT
				@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'InvoicingValue')

		INSERT @ValidationResult
				(
					TargetGuid,
					TargetType,
					IsReadOnly,
					IsHidden,
					IsInvalid,
					Message
				)
		VALUES
				(
					@EntityPropertyGuid,
					N'P',
					1,
					0,
					0,
					N''
				);
	END

	/*
		Hide timesheet items when UseTimeSheet is false
	*/
	IF (
		SELECT	jt.UseTimeSheets 
		FROM	SJob.JobTypes jt
		JOIN	SJob.Jobs j ON (j.JobTypeID = jt.ID)
		WHERE	(j.Guid = @JobGuid)
	) = 0
	BEGIN 
		SELECT	@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'InvoicingQuantity')

		INSERT	@ValidationResult
			 (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
		VALUES
			 (
				 @EntityPropertyGuid,
				 N'P',
				 0,
				 1,
				 0,
				 N''
			 );

		SELECT	@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'InvoicingValue')

		INSERT @ValidationResult
				(
					TargetGuid,
					TargetType,
					IsReadOnly,
					IsHidden,
					IsInvalid,
					Message
				)
		VALUES
				(
					@EntityPropertyGuid,
					N'P',
					0,
					1,
					0,
					N''
				);

		SELECT	@EntityPropertyGuid = SCore.GetEntityPropertyGuid(N'SJob', N'Activities', N'IsAdditionalWork')

		INSERT @ValidationResult
				(
					TargetGuid,
					TargetType,
					IsReadOnly,
					IsHidden,
					IsInvalid,
					Message
				)
		VALUES
				(
					@EntityPropertyGuid,
					N'P',
					0,
					1,
					0,
					N''
				);
	END





	RETURN;
END;

GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SJob].[ActivityReopen]
--
GO
CREATE OR ALTER PROCEDURE [SJob].[ActivityReopen]
  @Guid                    UNIQUEIDENTIFIER OUT
AS
  BEGIN
    DECLARE @UserID             INT = -1;

    SELECT
            @UserID = ISNULL(CONVERT(INT,
            SESSION_CONTEXT(N'user_id')
            ),
            -1
            );

    IF (NOT EXISTS
			(
				SELECT	1
				FROM	SCore.UserGroups AS ug
				JOIN	SCore.Groups AS g ON (g.ID = ug.GroupID)
				WHERE	(ug.IdentityID = @UserID)
					AND	(g.Code = N'JOBSU')
					AND (ug.RowStatus NOT IN (0,254))
			)
		)
	BEGIN 
		;THROW 60000, N'Only members of the Job Superusers group can run this action.', 1
	END
	ELSE
	BEGIN
		UPDATE	a
		SET		a.ActivityStatusID = ast2.ID
		FROM	SJob.Activities AS a
		CROSS APPLY 
		(
			SELECT	ast.ID
			FROM	SJob.ActivityStatus AS ast
			WHERE	Name = 'Reopened'
		) ast2
		WHERE	(a.Guid = @Guid)
	END
  END;

GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_InvoiceRequests]
--
GO
CREATE OR ALTER FUNCTION [SFin].[tvf_InvoiceRequests]
	(
		@UserId INT
	)
RETURNS TABLE
   --WITH SCHEMABINDING
AS
RETURN  SELECT				ir.ID,
					ir.RowStatus,
					ir.RowVersion,
					ir.Guid,
					ir.Notes,
					ir.CreatedDateTimeUTC,
					i.Guid					  AS RequesterUserId,
					i.FullName				  AS SurveyorName,
					j.Guid					  AS JobId,
					j.Number,
					j.FinanceAccountID,
																		-- [CBLD-522]
					STRING_AGG (   ActT.Name,
								   ', '
							   )			  AS ActivityID,			-- Activity name
																		-- [CBLD-525]
					Acc.Name				  AS ClientName,			-- Client the request is associated with
					SUM (IRI.Net)			  AS Net,					-- Invoice Request Amount
					MAX (Act.EndDate)		  AS EndDate,				-- On or prior to today's date
					j.BillingInstruction	  AS JobBillingInstruction, -- Job billing instruction
					FinAcc.BillingInstruction AS CRMBillingInstruction, -- CRM billing instruction
					CASE
						WHEN MAX (	 CASE
										 WHEN ActT.IsBillable = 0 THEN 'No'
										 ELSE 'Yes'
									 END
								 ) = 'Yes' THEN 'Yes'
						ELSE 'No'
					END						  AS IsBillable,
					OrgUnit.Name AS OrgUnit
	   FROM			SFin.InvoiceRequests	 AS ir
	   JOIN			SJob.Jobs				 AS j ON (j.ID					 = ir.JobId)
	   JOIN			SCore.Identities		 AS i ON (i.ID					 = ir.RequesterUserId)
	   JOIN			SCore.OrganisationalUnits AS OrgUnit ON (OrgUnit.ID = j.OrganisationalUnitID)
	   INNER JOIN	SFin.InvoiceRequestItems AS IRI ON (IRI.InvoiceRequestId = ir.ID) 
	   INNER JOIN	SJob.Activities			 AS Act ON (IRI.ActivityId		 = Act.ID) 
	   INNER JOIN	SJob.ActivityTypes		 AS ActT ON (Act.ActivityTypeID	 = ActT.ID) 
	   INNER JOIN	SCrm.Accounts			 AS Acc ON (Acc.ID				 = j.ClientAccountID) 
	   LEFT JOIN	SCrm.Accounts			 AS FinAcc ON (FinAcc.ID		 = j.FinanceAccountID)
	   WHERE		(ir.RowStatus NOT IN (0, 254))
				AND (ir.ID			  > 0)
				AND (j.CannotBeInvoiced <> 1)
				AND (EXISTS
					   (
						   SELECT	1
						   FROM		SFin.InvoiceRequestItems AS iri
						   WHERE	(iri.RowStatus NOT IN (0, 254))
								AND (iri.InvoiceRequestId = ir.ID)
					   )
					)
				-- Completed Activity
				AND
				  (
					  (EXISTS
						   (
							   SELECT		1
							   FROM			SFin.InvoiceRequestItems AS iri
							   INNER JOIN	SJob.Activities			 AS act ON (iri.ActivityId = act.ID)
							   WHERE		(
												act.ActivityStatusID = 3
												OR act.ID				 < 0
											)
										AND (iri.InvoiceRequestId	 = ir.ID)  -- Always connect back to main query
										AND	(iri.RowStatus NOT IN (0, 254))
										AND	(act.RowStatus NOT IN (0, 254))
						   )
					  )
				   OR (IRI.ActivityId < 0)
				  )
				
				--Activity is on or prior to today's date.
				AND
				  (
					  (EXISTS
						   (
							   SELECT		1
							   FROM			SFin.InvoiceRequestItems AS iri
							   INNER JOIN	SJob.Activities			 AS Act ON (iri.ActivityId = Act.ID)
							   WHERE		(iri.RowStatus NOT IN (0, 254))
										AND	(act.RowStatus NOT IN (0, 254))
										AND (CAST (Act.EndDate AS DATE) <= CAST (GETDATE () AS DATE))
										AND (iri.InvoiceRequestId		= ir.ID)  -- Always connect back to main query
						   )
					  )
				   OR (IRI.ActivityId < 0)
				  )
				AND (EXISTS
						   (
							   SELECT	1
							   FROM		SCore.ObjectSecurityForUser_CanRead (	j.Guid,
																				@UserId
																			) AS oscr
						   )
					)
				AND (EXISTS
						   (
							   SELECT	1
							   FROM		SCore.ObjectSecurityForUser_CanRead (	ir.Guid,
																				@UserId
																			) AS oscr
						   )
					)
				AND (NOT EXISTS
							(
								SELECT		1
								FROM			SFin.TransactionDetails	 AS td
								INNER JOIN	SFin.InvoiceRequestItems AS iri ON (iri.ID = td.InvoiceRequestItemId)
								WHERE		(iri.InvoiceRequestId = ir.ID)
										AND	(td.RowStatus NOT IN (0, 254))
										AND	(iri.RowStatus NOT IN (0, 254))
						
							)
					)
	   GROUP BY		ir.ID,
					ir.RowStatus,
					ir.RowVersion,
					ir.Guid,
					ir.Notes,
					ir.CreatedDateTimeUTC,
					i.Guid,
					i.FullName,
					j.Guid,
					j.Number,
					j.FinanceAccountID,
					Acc.Name,
					j.BillingInstruction,
					FinAcc.BillingInstruction,
					OrgUnit.Name;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Enable foreign key [FK_QuoteItems_DataObjects] on table [SSop].[QuoteItems]
--
ALTER TABLE [SSop].[QuoteItems]
  CHECK CONSTRAINT [FK_QuoteItems_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[tvf_Quotes]
--
GO
CREATE OR ALTER FUNCTION [SSop].[tvf_Quotes]
(
	@UserId INT
)
RETURNS TABLE
              --WITH SCHEMABINDING
AS RETURN	

SELECT  
        q.ID,
        q.RowStatus,
        q.RowVersion,
        q.Guid,
        q.FullNumber AS Number,
        CASE 
            WHEN q.DescriptionOfWorks <> N'' 
                THEN LEFT(q.DescriptionOfWorks, 200) 
                ELSE LEFT(q.Overview, 200) 
        END AS Details,
        acc.Name + N' / ' + agent.Name AS Account,
        uprn.FormattedAddressComma,
        qcf.QuoteStatus AS QuoteStatus,
        i.FullName AS QuotingConsultant,
        ou.Name AS OrganisationalUnitName,
        jt.Name AS JobType,
        q.Date,
        q.ExternalReference,
        acc.Name AS Client,
        ISNULL(qn.TotalNet, 0) AS TotalNet,
        -- [Sent Date]
        CONVERT(date, ISNULL(qa.SentStatusDate, q.DateSent)) AS QuoteSentDate,
        -- [Chase Date 1]
        CONVERT(date, ISNULL(ea.ChaseOneDate, e.ChaseDate1)) AS QuoteChaseDateOne,
        -- [Chase Date 2]
        CONVERT(date, ISNULL(ea.ChaseTwoDate, e.ChaseDate2)) AS QuoteChaseDateTwo
FROM    SSop.Quotes q
JOIN    SSop.Quote_CalculatedFields qcf 
        ON qcf.ID = q.ID
JOIN    SSop.EnquiryServices AS es 
        ON es.ID = q.EnquiryServiceID
JOIN    SSop.Enquiries AS e 
        ON e.ID = es.EnquiryId
JOIN    SCrm.Accounts acc 
        ON acc.ID = e.ClientAccountID
JOIN    SCrm.Accounts agent 
        ON agent.ID = e.AgentAccountId
JOIN    SJob.Assets uprn 
        ON uprn.ID = e.PropertyId
JOIN    SCore.Identities i 
        ON i.ID = q.QuotingConsultantId
JOIN    SCore.OrganisationalUnits ou 
        ON q.OrganisationalUnitID = ou.ID
JOIN    SJob.JobTypes AS jt 
        ON jt.ID = es.JobTypeId
-- Pre-aggregated quote total so workflow rows can't multiply it
OUTER APPLY (
    SELECT 
        SUM(qi.Net) AS TotalNet
    FROM SSop.QuoteItems qi
    WHERE qi.QuoteId = q.ID
) AS qn
-- Quote workflow: Sent date (by status GUID)
OUTER APPLY (
    SELECT 
        MAX(dot.DateTimeUTC) AS SentStatusDate
    FROM SCore.DataObjectTransition dot
    JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
    WHERE dot.DataObjectGuid = q.Guid
      AND ws.Guid = '25D5491C-42A8-4B04-B3AC-D648AF0F8032'-- SentStatus
) AS qa
-- Enquiry workflow: Chase 1 and Chase 2 (by status GUIDs)
OUTER APPLY (
    SELECT  
        MAX(CASE 
                WHEN ws.Guid = '9FF22CEA-A2A6-4907-9B2D-E62DF8150913' -- ChaseOneStatus
                    THEN dot.DateTimeUTC 
                ELSE NULL
            END) AS ChaseOneDate,
        MAX(CASE 
                WHEN ws.Guid = '1F01C16B-1A73-4844-A938-FE357405FD93'  -- ChaseTwoStatus
                    THEN dot.DateTimeUTC 
                ELSE NULL
            END) AS ChaseTwoDate
    FROM SCore.DataObjectTransition dot
    JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
    WHERE dot.DataObjectGuid = e.Guid
) AS ea
WHERE  q.ID > 0
    AND EXISTS
        (
            SELECT 1
            FROM SCore.ObjectSecurityForUser_CanRead(q.Guid, @UserId) oscr
        );
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Enquiry_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Enquiry_CalculatedFields]
      --WITH SCHEMABINDING
AS
SELECT
    e.ID,
    EnquiryStatus =
        CASE

			WHEN s.QuotingStatus IN (N'New', N'Rejected')
				THEN N'Quoting'
            ------------------------------------------------------------------
            -- 0. All quotes expired and no positive quote statuses -> Expired
            ------------------------------------------------------------------
            WHEN ISNULL(QuoteAgg.AnyPositive, 0) = 0
                 AND ISNULL(QuoteAgg.AnyExpired, 0) = 1
            THEN N'Expired'

            ----------------------------------------------
            -- 1. All quotes Complete -> Complete
            ----------------------------------------------
            WHEN ISNULL(QuoteAgg.TotalQuotes, 0) > 0
                 AND ISNULL(QuoteAgg.CompletedQuotes, 0) = ISNULL(QuoteAgg.TotalQuotes, 0)
            THEN N'Complete'

            --------------------------------------------------------------------
            -- 1b. Some Complete / Part Complete -> Part Complete
            --------------------------------------------------------------------
            WHEN ISNULL(QuoteAgg.CompletedQuotes, 0)    > 0
              OR ISNULL(QuoteAgg.PartCompleteQuotes, 0) > 0
            THEN N'Part Complete'

            ------------------------------------------------------
            -- 2. TVF status is a final status: use it as-is
            --    (anything that is NOT Sent / Part Sent / Quoting)
            ------------------------------------------------------
            WHEN s.QuotingStatus IS NOT NULL
                 AND s.QuotingStatus NOT IN (N'Sent', N'Part Sent', N'Quoting')
            THEN s.QuotingStatus

            ----------------------------------------------------------------
            -- 3. TVF status is transitional (Sent / Part Sent / Quoting)
            --    AND we have fallback data (old fields or workflow steps)
            ----------------------------------------------------------------
            WHEN s.QuotingStatus IN (N'Sent', N'Part Sent', N'Quoting')
                 AND (
                        -- Old field-based signals
                        e.DeadDate            IS NOT NULL
                     OR e.DeclinedToQuoteDate IS NOT NULL
                     OR e.QuotingDeadlineDate <  GETDATE()
                     OR e.QuotingDeadlineDate <  DATEADD(DAY, 2, GETDATE())
                     OR e.ChaseDate2         IS NOT NULL
                     OR e.ChaseDate1         IS NOT NULL
                     OR (e.IsReadyForQuoteReview = 1
                         AND ISNULL(QuoteAgg.SentQuotes, 0) = 0)

                        -- New workflow transition signals
                     OR ISNULL(Trans.HasDead,          0) = 1
                     OR ISNULL(Trans.HasDeclined,      0) = 1
                     OR ISNULL(Trans.HasFirstChase,    0) = 1
                     OR ISNULL(Trans.HasSecondChase,   0) = 1
                     OR ISNULL(Trans.HasReadyForQuote, 0) = 1
                 )
            THEN
                CASE
                    --------------------------------------------
                    -- Dead
                    --------------------------------------------
                    WHEN e.DeadDate IS NOT NULL
                         OR ISNULL(Trans.HasDead, 0) = 1
                    THEN N'Dead'

                    --------------------------------------------
                    -- Declined
                    --------------------------------------------
                    WHEN e.DeclinedToQuoteDate IS NOT NULL
                         OR ISNULL(Trans.HasDeclined, 0) = 1
                    THEN N'Declined'

                    --------------------------------------------
                    -- Deadline Missed / Approaching
                    --------------------------------------------
                    WHEN e.QuotingDeadlineDate < GETDATE()
                    THEN N'Deadline Missed'

                    WHEN e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE())
                    THEN N'Deadline Approaching'

                    --------------------------------------------
                    -- Chase 2 / Chase 1
                    --------------------------------------------
                    WHEN e.ChaseDate2 IS NOT NULL
                         OR ISNULL(Trans.HasSecondChase, 0) = 1
                    THEN N'2nd Chase'

                    WHEN e.ChaseDate1 IS NOT NULL
                         OR ISNULL(Trans.HasFirstChase, 0) = 1
                    THEN N'1st Chase'

                    --------------------------------------------
                    -- Ready for Quote
                    --------------------------------------------
                    WHEN (e.IsReadyForQuoteReview = 1
                          AND ISNULL(QuoteAgg.SentQuotes, 0) = 0)
                         OR ISNULL(Trans.HasReadyForQuote, 0) = 1
                    THEN N'Ready for Quote'

                    --------------------------------------------
                    -- Fallback to TVF status if none of the
                    -- above "override" conditions matched
                    --------------------------------------------
                    ELSE s.QuotingStatus
                END

            -------------------------------------------------------------
            -- 4. No fallback data – return whatever TVF gave us
            -------------------------------------------------------------
            WHEN s.QuotingStatus IS NOT NULL
            THEN s.QuotingStatus

            -------------------------------------------------------------
            -- 5. Only if no TVF and no fallback at all
            -------------------------------------------------------------
            ELSE N'New'
        END
FROM SSop.Enquiries e
    ----------------------------------------------------------------
    -- TVF with workflow-driven status
    ----------------------------------------------------------------
    OUTER APPLY SSop.tvf_GetEnquiryStatuses(e.Id) AS s

    ----------------------------------------------------------------
    -- Single pass over DataObjectTransition per enquiry.
    ----------------------------------------------------------------
    OUTER APPLY (
        SELECT
              HasDead =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D')
                           THEN 1 ELSE 0 END)
            , HasDeclined =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E')
                           THEN 1 ELSE 0 END)
            , HasFirstChase =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, '9FF22CEA-A2A6-4907-9B2D-E62DF8150913')
                           THEN 1 ELSE 0 END)
            , HasSecondChase =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, '1F01C16B-1A73-4844-A938-FE357405FD93')
                           THEN 1 ELSE 0 END)
            , HasReadyForQuote =
                  MAX(CASE WHEN ws.Guid = CONVERT(UNIQUEIDENTIFIER, 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0')
                           THEN 1 ELSE 0 END)
        FROM SCore.DataObjectTransition dot
        JOIN SCore.WorkflowStatus ws
             ON ws.ID = dot.StatusID
        WHERE dot.DataObjectGuid = e.Guid
          AND ws.Guid IN (
                CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D'), -- Dead
                CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'), -- Declined
                CONVERT(UNIQUEIDENTIFIER, '9FF22CEA-A2A6-4907-9B2D-E62DF8150913'), -- FirstChase
                CONVERT(UNIQUEIDENTIFIER, '1F01C16B-1A73-4844-A938-FE357405FD93'), -- SecondChase
                CONVERT(UNIQUEIDENTIFIER, 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0')  -- ReadyForQuote
          )
    ) AS Trans

    ----------------------------------------------------------------
    -- Quote aggregation per enquiry
    ----------------------------------------------------------------
    OUTER APPLY (
        SELECT
              AnyPositive =
                SUM(
                    CASE
                        WHEN qcf.QuoteStatus IN (
                                 N'Complete',
                                 N'Part Complete',
                                 N'Ready to Send',
                                 N'Quoting'
                             )
                        THEN 1 ELSE 0
                    END
                )
            , AnyExpired =
                SUM(CASE WHEN qcf.QuoteStatus = N'Expired' THEN 1 ELSE 0 END)
            , TotalQuotes       = COUNT(*)
            , ReadyToSendQuotes =
                SUM(CASE WHEN qcf.QuoteStatus = N'Ready to Send' THEN 1 ELSE 0 END)
            , CompletedQuotes   =
                SUM(CASE WHEN qcf.QuoteStatus = N'Complete' THEN 1 ELSE 0 END)
            , PartCompleteQuotes =
                SUM(CASE WHEN qcf.QuoteStatus = N'Part Complete' THEN 1 ELSE 0 END)
            , SentQuotes =
                SUM(CASE WHEN q.DateSent IS NOT NULL THEN 1 ELSE 0 END)
        FROM SSop.EnquiryServices es
        JOIN SSop.Quotes q
             ON es.ID = q.EnquiryServiceID
        JOIN SSop.Quote_CalculatedFields qcf
             ON qcf.ID = q.ID
        WHERE es.EnquiryId = e.ID
          AND q.RowStatus NOT IN (0, 254)
    ) AS QuoteAgg;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[tvf_OpenEnquiries]
--
GO
CREATE OR ALTER FUNCTION [SSop].[tvf_OpenEnquiries]
(
	@UserId INT
)
RETURNS TABLE
       --WITH SCHEMABINDING
AS RETURN	
SELECT  e.ID,
        e.RowStatus,
        e.RowVersion,
        e.Guid,
		CASE WHEN e.Revision = 0 THEN e.Number ELSE (e.Number + N' (' + CONVERT(NVARCHAR(2), e.Revision) + N') ') END AS Number,
		e.QuotingDeadlineDate,
		e.ExternalReference,
		LEFT(e.DescriptionOfWorks, 200) AS DescriptionOfWorks, 
		CASE WHEN client.Name <> N'' THEN client.Name ELSE e.ClientName END + N' / ' + CASE WHEN agent.Name <> N'' THEN agent.Name ELSE e.AgentName END  AS ClientAgentAccount,
		CASE WHEN uprn.AssetNumber > 0 THEN uprn.FormattedAddressComma ELSE e.PropertyNameNumber + N' ' + e.PropertyAddressLine1 END AS Property,
		calculatedFields.EnquiryStatus
FROM    SSop.Enquiries e
--JOIN	SSop.Enquiry_CalculatedFields AS ecf ON (ecf.ID = e.ID)
JOIN	SCrm.Accounts client ON (client.ID = e.ClientAccountID)
JOIN	SCrm.Accounts agent ON (agent.ID = e.AgentAccountId)
JOIN	SJob.Assets uprn ON (uprn.ID = e.PropertyId)
OUTER APPLY
	(
		SELECT ecf.EnquiryStatus
		FROM SSop.Enquiry_CalculatedFields AS ecf
		WHERE 
			(ecf.ID = e.ID)
	) calculatedFields
WHERE   (e.RowStatus NOT IN (0, 254))
	AND	(e.ID > 0)
	AND	(EXISTS
			(
				SELECT
						1
				FROM
				SCore.ObjectSecurityForUser_CanRead(e.Guid, @UserId) oscr
			)
		)
	--Not declined.
	AND	(
		(e.DeclinedToQuoteDate IS NULL)
		AND ( NOT EXISTS(
				SELECT 1 
				FROM SCore.DataObjectTransition AS dot
				JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dot.StatusID)
				WHERE 
					(dot.DataObjectGuid = e.Guid)
					AND (dot.RowStatus NOT IN (0,254))
					AND (wfs.Guid = '708C00E6-F45F-4CB2-8E91-A80B8B8E802E') --DECLINED
			))
		)
	-- Not dead
	AND	(
		(e.DeadDate IS NULL)
		AND ( NOT EXISTS(
				SELECT 1 
				FROM SCore.DataObjectTransition AS dot
				JOIN SCore.WorkflowStatus AS wfs ON (wfs.ID = dot.StatusID)
				WHERE 
					(dot.DataObjectGuid = e.Guid)
					AND (dot.RowStatus NOT IN (0,254))
					AND (wfs.Guid = '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D') --DEAD
			))
		)
	AND	(NOT EXISTS
			(
				SELECT 1
				FROM SSop.Quotes AS q
				JOIN SSop.EnquiryServices AS es ON (q.EnquiryServiceID = es.ID)
				WHERE 
					(es.EnquiryId = e.ID)
					AND (es.RowStatus NOT IN (0,254))
					
			)
		)
	AND (calculatedFields.EnquiryStatus NOT IN (N'Complete', N'Sent', N'Quoting', N'Accepted', N'Rejected', N'Withdrawn'))
	AND	(e.Date > DATEADD(MONTH, -6, GETDATE()))
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO