-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 05/12/2025 15:39:31
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Create or alter view [SSop].[Quote_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Quote_CalculatedFields]
     --WITH SCHEMABINDING
AS
SELECT	q.ID,
		CASE
            ------------------------------------------------------------------
            -- 1) JOB-DRIVEN COMPLETION (HIGHEST PRIORITY)
            --    If all QuoteItems have CreatedJobId > 0 -> Complete
            --    If some but not all have CreatedJobId > 0 -> Part Complete
            ------------------------------------------------------------------
            WHEN QuoteItemAgg.TotalItems > 0
                 AND QuoteItemAgg.ItemsWithJob = QuoteItemAgg.TotalItems
            THEN N'Complete'

            WHEN QuoteItemAgg.TotalItems > 0
                 AND QuoteItemAgg.ItemsWithJob > 0
                 AND QuoteItemAgg.ItemsWithJob < QuoteItemAgg.TotalItems
            THEN N'Part Complete'

            ------------------------------------------------------------------
            -- 2) CUSTOM WORKFLOW STATUSES (NON-STANDARD NAMES)
            --    Only if job-complete logic above did not apply.
            ------------------------------------------------------------------
			WHEN CurrentWorkflowStatus.Name IS NOT NULL
                 AND CurrentWorkflowStatus.Name NOT IN (
                        N'N/A',
                        N'New',
                        N'Sent',
                        N'Accepted',
                        N'Rejected',
                        N'Dead',
                        N'Is Final (Ready to Send)',
                        N'Declined To Quote',
                        N'Expired',
                        N'Ready to Send',
                        N'Complete',
                        N'Part Complete'
                 )
			THEN CurrentWorkflowStatus.Name

            ------------------------------------------------------------------
            -- 3) STANDARD NEGATIVE / POSITIVE STATUSES
            ------------------------------------------------------------------
			-- Declined to Quote
			WHEN (q.DateDeclinedToQuote IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Declined)
					)) THEN N'Declined To Quote'

			-- Dead
			WHEN (q.DeadDate IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Dead)
				)) THEN N'Dead'

			-- Accepted (but no jobs, or we'd already be Complete/Part Complete above)
			WHEN (q.DateAccepted IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Accepted)
				)) THEN N'Accepted'

			-- Rejected
			WHEN (q.DateRejected IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Rejected)
				)) THEN N'Rejected'

			-- Expired
			WHEN q.ExpiryDate < GETUTCDATE () THEN N'Expired'

			-- Sent
			WHEN (q.DateSent IS NOT NULL 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.Sent)
				)) THEN N'Sent'

			-- Ready to Send
			WHEN (q.IsFinal = 1 
				OR EXISTS(
					SELECT 1 
					FROM SCore.DataObjectTransition dot
					JOIN SCore.WorkflowStatus AS ws ON (dot.StatusID = ws.ID)
					WHERE 
						(dot.RowStatus NOT IN (0,254)) AND
						(DataObjectGuid = q.Guid) AND 
						(ws.Guid = Statuses.ReadyToSend)
				)) THEN N'Ready to Send'

            ------------------------------------------------------------------
            -- 4) FALLBACK
            ------------------------------------------------------------------
			ELSE N'New'
		END AS QuoteStatus
FROM	SSop.Quotes AS q

-- Aggregate quote items per quote: how many have jobs?
OUTER APPLY (
    SELECT
        TotalItems   = COUNT(1),
        ItemsWithJob = SUM(CASE WHEN qi.CreatedJobId > 0 THEN 1 ELSE 0 END)
    FROM SSop.QuoteItems qi
    WHERE qi.QuoteId = q.ID
      AND qi.RowStatus NOT IN (0,254)
) AS QuoteItemAgg

OUTER APPLY (
	SELECT 
		Declined	= CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'),
		Dead		= CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D'),
		Accepted	= CONVERT(UNIQUEIDENTIFIER, '21A29AEE-2D99-4DA3-8182-F31813B0C498'),
		ReadyToSend = CONVERT(UNIQUEIDENTIFIER, '02A2237F-2AE7-4E05-926F-38E8B7D050A0'),
		Rejected    = CONVERT(UNIQUEIDENTIFIER, '0A6A71F7-B39F-4213-997E-2B3A13B6144C'),
		Sent        = CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032')
) AS Statuses

-- Latest workflow transition applied to the quote
OUTER APPLY
	(
		SELECT wfs1.Name
		FROM SCore.DataObjectTransition AS dot1
		JOIN SCore.WorkflowStatus AS wfs1 ON (wfs1.ID = dot1.StatusID)
		WHERE 
			(dot1.DataObjectGuid = q.Guid)
			AND (dot1.RowStatus NOT IN (0,254))
			AND (NOT EXISTS
					(
						SELECT 1
						FROM SCore.DataObjectTransition AS dot2
						JOIN SCore.WorkflowStatus AS  wfs2 ON (wfs2.ID = dot2.StatusID)
						WHERE 
							(dot2.DataObjectGuid = q.Guid)
							AND (dot2.RowStatus NOT IN (0,254))
							AND (dot2.ID > dot1.ID)
					)
				)
	
	) AS CurrentWorkflowStatus;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Enquiry_CalculatedFields]
--
GO
CREATE OR ALTER VIEW [SSop].[Enquiry_CalculatedFields]
      --WITH SCHEMABINDING
AS
SELECT	
	e.ID,
	EnquiryStatus =
		CASE

			-- 0. All quotes expired and no positive quote statuses -> Expired
			WHEN QuoteAgg.AnyPositive = 0 
			     AND QuoteAgg.AnyExpired = 1
			     THEN N'Expired'

            -- 1. All quotes Complete -> Complete
            WHEN QuoteAgg.TotalQuotes > 0
                 AND QuoteAgg.CompletedQuotes = QuoteAgg.TotalQuotes
            THEN N'Complete'

            -- 1b. Some Complete / Part Complete -> Part Complete
            WHEN QuoteAgg.CompletedQuotes > 0
              OR QuoteAgg.PartCompleteQuotes > 0
            THEN N'Part Complete'

			-- 2. TVF status is a final status: use it
			WHEN s.QuotingStatus IS NOT NULL 
			     AND s.QuotingStatus NOT IN (N'Sent', N'Part Sent', N'Quoting')
			     THEN s.QuotingStatus

			-- 3. TVF status is transitional AND we have fallback data
			WHEN s.QuotingStatus IN (N'Sent', N'Part Sent', N'Quoting')
				 AND (
					  -- Hybrid: either old field data OR new workflow transitions
					  e.DeadDate IS NOT NULL
				   OR e.DeclinedToQuoteDate IS NOT NULL
				   OR e.QuotingDeadlineDate < GETDATE()
				   OR e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE())
				   OR e.ChaseDate2 IS NOT NULL
				   OR e.ChaseDate1 IS NOT NULL
				   OR (
						e.IsReadyForQuoteReview = 1
						AND NOT EXISTS (
							SELECT 1 
							FROM SSop.EnquiryServices es 
							JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID 
							WHERE es.EnquiryId = e.ID 
							  AND q.DateSent IS NOT NULL
						)
				   )
				   OR EXISTS (
						SELECT 1 FROM SCore.DataObjectTransition dot
						JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
						WHERE dot.DataObjectGuid = e.Guid AND ws.Guid IN (
							Statuses.Dead,
							Statuses.Declined,
							Statuses.FirstChase,
							Statuses.SecondChase,
							Statuses.ReadyForQuote
						)
				   )
				 )
			THEN 
			   CASE
				   WHEN(
						e.DeadDate IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.Dead )) 
				   THEN N'Dead'
				   WHEN(
						e.DeclinedToQuoteDate IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.Declined)) 
				   THEN  N'Declined'
				   WHEN 
						e.QuotingDeadlineDate < GETDATE()
				   THEN N'Deadline Missed'
				   WHEN 
						e.QuotingDeadlineDate < DATEADD(DAY, 2, GETDATE()) 
				   THEN N'Deadline Approaching'
				   WHEN(
						e.ChaseDate2 IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.SecondChase )) 
				   THEN  N'2nd Chase'
				   WHEN(
						e.ChaseDate1 IS NOT NULL 
						OR EXISTS(
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus as ws ON (ws.ID = dot.StatusID)
							WHERE dot.DataObjectGuid = e.Guid AND ws.Guid = Statuses.FirstChase )) 
				   THEN  N'1st Chase'
				   WHEN (
						(e.IsReadyForQuoteReview = 1 
						 AND NOT EXISTS (
							SELECT 1 
							FROM SSop.EnquiryServices es 
							JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID 
							WHERE es.EnquiryId = e.ID 
							  AND q.DateSent IS NOT NULL
						 ))
						OR EXISTS (
							SELECT 1 
							FROM SCore.DataObjectTransition dot
							JOIN SCore.WorkflowStatus ws ON ws.ID = dot.StatusID
							WHERE dot.DataObjectGuid = e.Guid 
							  AND ws.Guid = Statuses.ReadyForQuote
						)
				   )
				   THEN N'Ready for Quote'
				   ELSE s.QuotingStatus
			   END

			-- 4. No fallback data – return whatever TVF gave us
			WHEN s.QuotingStatus IS NOT NULL THEN s.QuotingStatus

			-- 5. Only if no TVF and no fallback
			ELSE N'New'
		END
FROM	SSop.Enquiries e
OUTER APPLY SSop.tvf_GetEnquiryStatuses(e.Id) as s
OUTER APPLY (
	SELECT
		ReadyForQuote = CONVERT(UNIQUEIDENTIFIER, 'EB867FA0-9608-4CC7-93BE-CC8E8140E8F0'),
		Sent		  = CONVERT(UNIQUEIDENTIFIER, '25D5491C-42A8-4B04-B3AC-D648AF0F8032'),
		FirstChase    = CONVERT(UNIQUEIDENTIFIER, '9FF22CEA-A2A6-4907-9B2D-E62DF8150913'),
		SecondChase   = CONVERT(UNIQUEIDENTIFIER, '1F01C16B-1A73-4844-A938-FE357405FD93'),
		Declined      = CONVERT(UNIQUEIDENTIFIER, '708C00E6-F45F-4CB2-8E91-A80B8B8E802E'),
		Dead          = CONVERT(UNIQUEIDENTIFIER, '8C7F7526-559F-4CCF-8FC2-DB0DA67E793D')
) AS Statuses
OUTER APPLY (
    SELECT
        AnyPositive =
            CASE 
                WHEN EXISTS (
                    SELECT 1
                    FROM SSop.EnquiryServices es
                    JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                    JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                    WHERE es.EnquiryId = e.ID
                      AND q.RowStatus NOT IN (0,254)
                      AND qcf.QuoteStatus IN (
                            N'Complete',
                            N'Part Complete',
                            N'Accepted',
                            N'Part Accepted',
                            N'Sent',
                            N'Part Sent',
                            N'Ready to Send',
                            N'Quoting'
                      )
                ) THEN 1 ELSE 0 
            END,
        AnyExpired =
            CASE 
                WHEN EXISTS (
                    SELECT 1
                    FROM SSop.EnquiryServices es
                    JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                    JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                    WHERE es.EnquiryId = e.ID
                      AND q.RowStatus NOT IN (0,254)
                      AND qcf.QuoteStatus = N'Expired'
                ) THEN 1 ELSE 0 
            END,
        TotalQuotes =
            (
                SELECT COUNT(*)
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                WHERE es.EnquiryId = e.ID
                  AND q.RowStatus NOT IN (0,254)
            ),
        ReadyToSendQuotes =
            (
                SELECT COUNT(*)
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                WHERE es.EnquiryId = e.ID
                  AND q.RowStatus NOT IN (0,254)
                  AND qcf.QuoteStatus = N'Ready to Send'
            ),
        CompletedQuotes =
            (
                SELECT COUNT(*)
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                WHERE es.EnquiryId = e.ID
                  AND q.RowStatus NOT IN (0,254)
                  AND qcf.QuoteStatus = N'Complete'
            ),
        PartCompleteQuotes =
            (
                SELECT COUNT(*)
                FROM SSop.EnquiryServices es
                JOIN SSop.Quotes q ON es.ID = q.EnquiryServiceID
                JOIN SSop.Quote_CalculatedFields qcf ON qcf.ID = q.ID
                WHERE es.EnquiryId = e.ID
                  AND q.RowStatus NOT IN (0,254)
                  AND qcf.QuoteStatus = N'Part Complete'
            )
) AS QuoteAgg;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO