-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.3.93.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 29/04/2026 16:59:44
-- Source server version: 16.00.1000
-- Source connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Target server version: 16.00.4175
-- Target connection string: Data Source=SOC-SQLBRE01\SQL2022;Integrated Security=True;User ID=ESGL\stephen.brett
-- Run this script against CymBuild_UAT to synchronize it with Cymbuild_QA
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Start Transaction
--
PRINT (N'Start Transaction')
GO
BEGIN TRANSACTION
GO

--
-- Create or alter view [SFin].[CreditTermsView]
--
GO
PRINT (N'Create or alter view [SFin].[CreditTermsView]')
GO
IF OBJECT_ID(N'[SFin].[CreditTermsView]', 'V') IS NULL
EXEC sp_executesql N'CREATE OR ALTER VIEW [SFin].[CreditTermsView]
    --  --WITH SCHEMABINDING
    AS
    SELECT [ID]
      ,[RowStatus]
      ,[RowVersion]
      ,[Guid]
      ,[Name]
      ,[DueDays]
  FROM [SFin].[CreditTerms]
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[CreditTermsUpsert]
--
GO
PRINT (N'Create or alter procedure [SFin].[CreditTermsUpsert]')
GO
IF OBJECT_ID(N'[SFin].[CreditTermsUpsert]', 'P') IS NULL
EXEC sp_executesql N'

CREATE OR ALTER PROCEDURE [SFin].[CreditTermsUpsert]
	(	@Name NVARCHAR(250),
		@DueDays INT,
		@Guid UNIQUEIDENTIFIER OUT
	)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @IsInsert BIT = 0;
	EXEC SCore.UpsertDataObject @Guid = @Guid,					-- uniqueidentifier
								@SchemeName = N''SFin'',			-- nvarchar(255)
								@ObjectName = N''CreditTerms'',	-- nvarchar(255)
								@IsInsert = @IsInsert OUTPUT;	-- bit

	IF (@IsInsert = 1)
	BEGIN
		INSERT	SFin.CreditTerms
			 (Guid, Name, DueDays, RowStatus)
		VALUES
			 (
				 @Guid,
				 @Name,
				 @DueDays,
				 1
			 );
	END;
	ELSE
	BEGIN
		UPDATE	SFin.CreditTerms
		SET		Name = @Name,
				DueDays = @DueDays
		WHERE	(Guid = @Guid);
	END;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SCrm].[AccountsUpsert]
--
GO
PRINT (N'Create or alter procedure [SCrm].[AccountsUpsert]')
GO
IF OBJECT_ID(N'[SCrm].[AccountsUpsert]', 'P') IS NOT NULL
EXEC sp_executesql N'

CREATE OR ALTER PROCEDURE [SCrm].[AccountsUpsert]
	(	@Name NVARCHAR(250),
		@Code NVARCHAR(10),
		@AccountStatusGuid UNIQUEIDENTIFIER,
		@ParentAccountGuid UNIQUEIDENTIFIER,
		@IsPurchaseLedger BIT,
		@IsSalesLedger BIT,
		@IsLocalAuthority BIT,
		@IsFireAuthority BIT,
		@IsWaterAuthority BIT,
		@RelationshipManagerUserGuid UNIQUEIDENTIFIER,
		@CompanyRegistrationNumber NVARCHAR(50),
		@MainAccountContactGuid UNIQUEIDENTIFIER,
		@MainAccountAddressGuid UNIQUEIDENTIFIER,
		@DefaultCreditTermsGuid UNIQUEIDENTIFIER,
		@Guid UNIQUEIDENTIFIER,
		@BillingInstruction NVARCHAR(MAX) -- NEW [CBLD-521]
	)
AS
BEGIN
	DECLARE @AccountStatusID		   INT,
			@ParentAccountID		   INT,
			@MainAccountAddressID	   INT,
			@MainAccountContactID	   INT,
			@RelationshipManagerUserID INT,
			@DefaultCreditTermsID      INT,
			@IsInsert BIT

	SELECT	@AccountStatusID = ID
	FROM	SCrm.AccountStatus
	WHERE	(Guid = @AccountStatusGuid);

	SELECT	@ParentAccountID = ID
	FROM	SCrm.Accounts
	WHERE	(Guid = @ParentAccountGuid);

	SELECT	@RelationshipManagerUserID = ID
	FROM	SCore.Identities
	WHERE	(Guid = @RelationshipManagerUserGuid);

	SELECT	@MainAccountAddressID = ID
	FROM	SCrm.AccountAddresses
	WHERE	(Guid = @MainAccountAddressGuid);

	SELECT  @DefaultCreditTermsID = ID
	FROM    SFin.CreditTerms
	WHERE   (Guid = @DefaultCreditTermsGuid)

	IF (@MainAccountAddressID < 0)
	BEGIN
		SELECT		TOP (1) @MainAccountAddressID = aa.ID
		FROM		SCrm.AccountAddresses AS aa
		JOIN		SCrm.Accounts		  AS a ON (a.ID = aa.AccountID)
		WHERE		(a.Guid = @Guid)
		ORDER BY	aa.ID;
	END;

	SELECT	@MainAccountContactID = ID
	FROM	SCrm.AccountContacts
	WHERE	(Guid = @MainAccountContactGuid);

	IF (@MainAccountContactID < 0)
	BEGIN
		SELECT		TOP (1) @MainAccountContactID = ac.ID
		FROM		SCrm.AccountContacts AS ac
		JOIN		SCrm.Accounts		 AS a ON (a.ID = ac.AccountID)
		WHERE		(a.Guid = @Guid)
		ORDER BY	ac.ID;
	END;

	IF (@DefaultCreditTermsID < 0)
	BEGIN
		SELECT		TOP (1) @DefaultCreditTermsID = ct.ID
		FROM		SFin.CreditTerms AS ct
		JOIN		SCrm.Accounts		 AS a ON (a.DefaultCreditTermsId = ct.ID)
		WHERE		(a.Guid = @Guid)
		ORDER BY	ct.ID;
	END;

	EXEC SCore.UpsertDataObject @Guid = @Guid,					-- uniqueidentifier
							@SchemeName = N''SCrm'',				-- nvarchar(255)
							@ObjectName = N''Accounts'',				-- nvarchar(255)
							@IncludeDefaultSecurity = 0,
							@IsInsert = @IsInsert OUTPUT	-- bit

    IF (@IsInsert = 1)
	BEGIN
		INSERT	SCrm.Accounts
			 (RowStatus,
			  Guid,
			  Name,
			  Code,
			  AccountStatusID,
			  ParentAccountID,
			  IsPurchaseLedger,
			  IsSalesLedger,
			  IsLocalAuthority,
			  IsFireAuthority,
			  IsWaterAuthority,
			  RelationshipManagerUserId,
			  CompanyRegistrationNumber,
			  MainAccountAddressId,
			  MainAccountContactId,
			  DefaultCreditTermsId,
			  BillingInstruction) -- NEW [CBLD-521]
		VALUES
			 (
				 1,								-- RowStatus - tinyint
				 @Guid,							-- Guid - uniqueidentifier
				 @Name,							-- Name - nvarchar(250)
				 @Code,							-- Code - nchar(10)
				 @AccountStatusID,				-- AccountStatusID - int
				 @ParentAccountID,				-- ParentAccountID - int
				 @IsPurchaseLedger,				-- IsPurchaseLedger - bit
				 @IsSalesLedger,				-- IsSalesLedger - bit
				 @IsLocalAuthority,				-- IsLocalAuthority - bit
				 @IsFireAuthority,				-- IsFireAuthority - bit
				 @IsWaterAuthority,				-- IsWaterAuthority - bit
				 @RelationshipManagerUserID,	-- RelationshipManagerUserId - int
				 @CompanyRegistrationNumber,	-- CompanyRegistrationNumber - nvarchar(50)
				 @MainAccountAddressID,
				 @MainAccountContactID,
				 @DefaultCreditTermsID,
				 @BillingInstruction
			 );
	END;
	ELSE
	BEGIN
		UPDATE	SCrm.Accounts
		SET		Name = @Name,
				Code = @Code,
				AccountStatusID = @AccountStatusID,
				ParentAccountID = ParentAccountID,
				IsPurchaseLedger = @IsPurchaseLedger,
				IsSalesLedger = @IsSalesLedger,
				IsLocalAuthority = @IsLocalAuthority,
				IsFireAuthority = @IsFireAuthority,
				IsWaterAuthority = @IsWaterAuthority,
				RelationshipManagerUserId = @RelationshipManagerUserID,
				CompanyRegistrationNumber = @CompanyRegistrationNumber,
				MainAccountAddressId = @MainAccountAddressID,
				MainAccountContactId = @MainAccountContactID,
				DefaultCreditTermsId = @DefaultCreditTermsID,
				BillingInstruction = @BillingInstruction -- NEW [CBLD-521]
		WHERE	(Guid = @Guid);
	END;


	/* Tempoary addition until have have the System Bus */

	DECLARE @FilingObjectName NVARCHAR(250) = @Name + N'' '' + @Code,
			@FilingLocation	  NVARCHAR(MAX);

	SELECT	@FilingLocation =
			(
				SELECT ss.SiteIdentifier,
					spf.FolderPath
				FROM	SCore.ObjectSharePointFolder AS spf
				JOIN	SCore.SharepointSites ss ON (ss.ID = spf.SharepointSiteId)
				WHERE	(spf.ObjectGuid = @Guid)
				FOR JSON PATH
			);

	EXEC SOffice.TargetObjectUpsert @EntityTypeGuid = N''40476ecc-d19a-4de9-90df-e1f45cd72fb2'',	-- uniqueidentifier
									@RecordGuid = @Guid,										-- uniqueidentifier
									@Number = 0,												-- bigint
									@Name = @FilingObjectName,									-- nvarchar(250)	
									@FilingLocation = @FilingLocation;

END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SJob].[JobReopen]
--
GO
PRINT (N'Create or alter procedure [SJob].[JobReopen]')
GO
IF OBJECT_ID(N'[SJob].[JobReopen]', 'P') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SJob].[JobReopen]
  @Guid                    UNIQUEIDENTIFIER OUT
AS
  BEGIN
    DECLARE @UserID             INT = -1;

    SELECT
            @UserID = ISNULL(CONVERT(INT,
            SESSION_CONTEXT(N''user_id'')
            ),
            -1
            );

    IF (NOT EXISTS
			(
				SELECT	1
				FROM	SCore.UserGroups AS ug
				JOIN	SCore.Groups AS g ON (g.ID = ug.GroupID)
				WHERE	(ug.IdentityID = @UserID)
					AND	(g.Code = N''JOBSU'')
					AND (ug.RowStatus NOT IN (0,254))
					AND (g.RowStatus NOT IN (0,254))
			)
		)
	BEGIN 
		;THROW 60000, N''Only members of the Job Superusers group can run this action.'', 1
	END
	ELSE
	BEGIN 

		UPDATE	j
		SET		j.JobCompleted = NULL
		FROM	SJob.Jobs AS j
		WHERE	(j.Guid = @Guid)


		--Parameters for upserting the data object transition.
		DECLARE @TransitionGuid UNIQUEIDENTIFIER = NEWID();
		DECLARE @ReopenStatus UNIQUEIDENTIFIER = ''34EF363A-C8F7-4BA8-A2C6-067EBAEF12FD'';
		DECLARE @PreviousStatusGuid UNIQUEIDENTIFIER = ''00000000-0000-0000-0000-000000000000'';
		DECLARE @Comment NVARCHAR(200) = N''The job has been reopened.'';
		DECLARE @UserGuid UNIQUEIDENTIFIER;
		DECLARE @IsImported BIT = 0;
		DECLARE @LastAppliedStatusGuid UNIQUEIDENTIFIER;


		--Get the user GUID
		SELECT @UserGuid = Guid
		FROM SCore.Identities
		WHERE (ID = @UserID);


		--Get the current status applied to the record.
		SELECT 
				@PreviousStatusGuid = dob.Guid,
				@LastAppliedStatusGuid = wfs.Guid
				
		FROM SCore.DataObjectTransition AS dob
		JOIN SCore.WorkflowStatus as wfs ON (wfs.ID = dob.StatusID)
		WHERE
				(dob.DataObjectGuid = @Guid)
			AND (dob.RowStatus NOT IN (0,254))
			AND (NOT EXISTS
					(
						SELECT 1 
						FROM SCore.DataObjectTransition AS dob1
						WHERE
								(dob1.DataObjectGuid = @Guid)
							AND (dob1.RowStatus NOT IN (0,254))
							AND (dob1.ID > dob.ID)
					)
				);

		DECLARE @CompleteStatusGuid UNIQUEIDENTIFIER = ''20D22623-283B-4088-9CEB-D944AC3E6516'';
		DECLARE @CancelledStatusGuid UNIQUEIDENTIFIER = ''18D8E36B-43BE-4BDE-9D0B-1F34B460AD64'';


		IF(@LastAppliedStatusGuid NOT IN (@CompleteStatusGuid, @CancelledStatusGuid))
		BEGIN 
			;THROW 60000, N''Last applied status must be "Completed" or "Cancelled"'', 1
		END
				

		--Add reopened status.
		EXEC SCore.DataObjectTransitionUpsert  
				@TransitionGuid, 
				@PreviousStatusGuid, 
				@ReopenStatus, 
				@Comment, 
				@UserGuid, 
				@UserGuid, 
				@Guid, 
				@IsImported;

	END
  END;

'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[TransactionsUpsert]
--
GO
PRINT (N'Create or alter procedure [SFin].[TransactionsUpsert]')
GO
IF OBJECT_ID(N'[SFin].[TransactionsUpsert]', 'P') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SFin].[TransactionsUpsert]
(
    @AccountGuid UNIQUEIDENTIFIER,
    @JobGuid UNIQUEIDENTIFIER,
    @TransactionTypeGuid UNIQUEIDENTIFIER,
    @Date DATE,
    @PurchaseOrderNumber NVARCHAR(28),
    @SageTransactionReference NVARCHAR(50),
    @OrganisationalUnitGuid UNIQUEIDENTIFIER,
    @CreatedByUserGuid UNIQUEIDENTIFIER,
    @SurveyorGuid UNIQUEIDENTIFIER,
    @CreditTermsGuid UNIQUEIDENTIFIER,
    @Guid UNIQUEIDENTIFIER,
    @Batched BIT,
	@ExpectedDate DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AccountID INT,
            @JobID INT,
            @TransactionTypeId SMALLINT,
            @IsInsert BIT = 0,
            @TranNo INT,
            @OrganisationalUnitId INT,
            @DepartmentPrefix NVARCHAR(10),
            @CreatedByUserId INT,
            @SurveyorUserId INT,
            @CreditTermsId INT,
            @ExistingBatched BIT,
            @ExistingAccountID INT,
            @ExistingJobID INT;

    SELECT  @AccountID = ID
    FROM    SCrm.Accounts
    WHERE   [Guid] = @AccountGuid;

    SELECT  @JobID = ID
    FROM    SJob.Jobs
    WHERE   [Guid] = @JobGuid;

    SELECT  @TransactionTypeId = ID
    FROM    SFin.TransactionTypes
    WHERE   [Guid] = @TransactionTypeGuid;

    SELECT  @CreatedByUserId = ID
    FROM    SCore.Identities
    WHERE   [Guid] = @CreatedByUserGuid;

    SELECT  @SurveyorUserId = ID
    FROM    SCore.Identities
    WHERE   [Guid] = @SurveyorGuid;

    SELECT  @CreditTermsId = ID
    FROM    SFin.CreditTerms
    WHERE   [Guid] = @CreditTermsGuid;

    SELECT  @OrganisationalUnitId = ID,
            @DepartmentPrefix = DepartmentPrefix
    FROM    SCore.OrganisationalUnits ou
    WHERE   ou.Guid = @OrganisationalUnitGuid;

    EXEC SCore.UpsertDataObject
         @Guid = @Guid,
         @SchemeName = N''SFin'',
         @ObjectName = N''Transactions'',
         @IsInsert = @IsInsert OUTPUT;

    IF (@IsInsert = 1)
    BEGIN
        INSERT SFin.Transactions
        (
            RowStatus,
            Guid,
            TransactionTypeID,
            AccountID,
            JobID,
            Number,
            Date,
            PurchaseOrderNumber,
            SageTransactionReference,
            OrganisationalUnitId,
            CreatedByUserId,
            SurveyorUserId,
            CreditTermsId,
            Batched,
			ExpectedDate
        )
        VALUES
        (
            0,
            @Guid,
            @TransactionTypeId,
            @AccountID,
            @JobID,
            0,
            @Date,
            @PurchaseOrderNumber,
            @SageTransactionReference,
            @OrganisationalUnitId,
            @CreatedByUserId,
            @SurveyorUserId,
            @CreditTermsId,
            1,
			@ExpectedDate
        );
    END
    ELSE
    BEGIN
        SELECT  @ExistingBatched = t.Batched,
                @ExistingAccountID = t.AccountID,
                @ExistingJobID = t.JobID
        FROM    SFin.Transactions t
        WHERE   t.Guid = @Guid;

        UPDATE  SFin.Transactions
        SET     Date = @Date,
                JobID = @JobID,
                PurchaseOrderNumber = @PurchaseOrderNumber,
                SageTransactionReference = @SageTransactionReference,
                SurveyorUserId = @SurveyorUserId,
                CreditTermsId = @CreditTermsId,
                Batched = @Batched,
				ExpectedDate = @ExpectedDate,
                AccountID = CASE
                                WHEN @ExistingBatched = 1 THEN @AccountID
                                ELSE AccountID
                            END
        WHERE   [Guid] = @Guid;

        IF (@ExistingBatched = 1 AND ISNULL(@ExistingAccountID, -1) <> ISNULL(@AccountID, -1))
        BEGIN
            UPDATE  SJob.Jobs
            SET     FinanceAccountID = @AccountID
            WHERE   ID = @ExistingJobID;
        END
    END

    IF (@IsInsert = 1)
    BEGIN
        SELECT @TranNo = NEXT VALUE FOR SFin.TransactionNumber;

        UPDATE  SFin.Transactions
        SET     Number = @DepartmentPrefix + CONVERT(NVARCHAR(30), @TranNo),
                RowStatus = 1
        WHERE   [Guid] = @Guid;
    END
END
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceRequestCreateInvoice]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceRequestCreateInvoice]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceRequestCreateInvoice]', 'P') IS NOT NULL
EXEC sp_executesql N'






CREATE OR ALTER PROCEDURE [SFin].[InvoiceRequestCreateInvoice]
	(
		@Guid UNIQUEIDENTIFIER
	)
AS
	BEGIN
		SET NOCOUNT ON 

		DECLARE	@AccountGuid UNIQUEIDENTIFIER, 
				@JobGuid UNIQUEIDENTIFIER,
				@TransactionTypeGuid UNIQUEIDENTIFIER,
				@Date DATE = GETUTCDATE(), 
				@PurchaseOrderNumber NVARCHAR(28),
				@OrganisationalUnitGuid UNIQUEIDENTIFIER,
				@CreatedByUserGuid UNIQUEIDENTIFIER,
				@SurveyorGuid UNIQUEIDENTIFIER,
				@CreditTermsGuid UNIQUEIDENTIFIER,
				@TransactionGuid UNIQUEIDENTIFIER = NEWID(),
				@InvoiceRequestId INT,
				@TransactionId INT,
				@Description NVARCHAR(MAX) = N'''',
				@JobDescription NVARCHAR(MAX),
				@JobNumber NVARCHAR(30),
				@UprnFormattedAddressComma NVARCHAR(MAX),
				@JobType NVARCHAR(MAX)

		SELECT	@AccountGuid = fa.Guid,
				@InvoiceRequestId = ir.ID, 
				@JobGuid = j.Guid,
				@SurveyorGuid = r.Guid,
				@JobDescription = j.JobDescription,
				@JobNumber = j.Number,
				@JobType = jt.Name,
				@PurchaseOrderNumber = j.PurchaseOrderNumber,
				@OrganisationalUnitGuid = ou.Guid,
				@CreditTermsGuid = ct.Guid,
				@UprnFormattedAddressComma = uprn.FormattedAddressComma
		FROM	SFin.InvoiceRequests ir
		JOIN	SJob.Jobs j ON (j.ID = ir.JobId)
		JOIN	SJob.JobTypes jt ON (jt.ID = j.JobTypeID)
		JOIN	SJob.Assets uprn ON (uprn.ID = j.UprnID)
		JOIN	SCrm.Accounts fa ON (fa.ID = j.FinanceAccountID)
		JOIN	SCore.Identities r ON (r.ID = ir.RequesterUserId)
		JOIN	SCore.OrganisationalUnits ou ON (ou.Id = j.OrganisationalUnitID)
		JOIN	SFin.CreditTerms ct on (ct.ID = fa.DefaultCreditTermsId)
		WHERE ir.Guid = @Guid

		IF (NOT EXISTS
		(
			SELECT	1
			FROM	SCrm.Accounts AS a 
			WHERE	(a.Guid = @AccountGuid)
				AND	(a.Code <> N'''')
		)
			)
		BEGIN 
			;THROW 60000, N''The finance account on the job is invalid.'', 1
		END

		SELECT	@CreatedByUserGuid = SCore.GetCurrentUserGuid()

		SELECT	@TransactionTypeGuid = tt.Guid 
		FROM	SFin.TransactionTypes tt
		WHERE	(tt.Name = N''Invoice'')

		DECLARE @ExpectedDateOnInvoiceRequest DATE;

		SELECT @ExpectedDateOnInvoiceRequest = ir.ExpectedDate
		FROM SFin.InvoiceRequests AS ir
		WHERE ir.Guid = @Guid;


		-- Create the invoice header
		EXEC SFin.TransactionsUpsert @AccountGuid = @AccountGuid,				-- uniqueidentifier
									 @JobGuid = @JobGuid,					-- uniqueidentifier
									 @TransactionTypeGuid = @TransactionTypeGuid,		-- uniqueidentifier
									 @Date = @Date,				-- date
									 @PurchaseOrderNumber = @PurchaseOrderNumber,		-- nvarchar(28)
									 @SageTransactionReference = N'''',	-- nvarchar(50)
									 @OrganisationalUnitGuid = @OrganisationalUnitGuid,	-- uniqueidentifier
									 @CreatedByUserGuid = @CreatedByUserGuid,			-- uniqueidentifier
									 @SurveyorGuid = @SurveyorGuid,				-- uniqueidentifier
									 @CreditTermsGuid = @CreditTermsGuid,			-- uniqueidentifier
									 @Guid = @TransactionGuid,						-- uniqueidentifier
									 @Batched = 1,									-- Set it to 1
									 @ExpectedDate = @ExpectedDateOnInvoiceRequest

		SELECT	@TransactionId = ID
		FROM	SFin.Transactions t
		WHERE	(Guid = @TransactionGuid)

		SET @Description = @Description + N''	
Our project ref.: '' + @JobNumber + N''
Project description: '' + @JobDescription + N''
Property: '' + @UprnFormattedAddressComma + N''
Appointed role: '' + @JobType

		DECLARE	@DetailList SCore.TwoGuidUniqueList,
				@NewDetailRecords SCore.GuidUniqueList

		INSERT	@DetailList
			 (GuidValue, GuidValueTwo)
		SELECT	iri.Guid,
				NEWID()
		FROM	SFin.InvoiceRequestItems iri
		WHERE	(iri.InvoiceRequestId = @InvoiceRequestId)
			AND	(iri.RowStatus NOT IN (0, 254))


		INSERT	@NewDetailRecords (GuidValue)
		SELECT	GuidValueTwo
		FROM	@DetailList

		DECLARE	@IsInsert BIT 

		EXEC SCore.DataObjectBulkUpsert 
			@GuidList = @NewDetailRecords,
			@SchemeName = N''SFin'',
			@ObjectName = N''TransactionDetails'',
			@IncludeDefaultSecurity = 0,
			@IsInsert = @IsInsert OUT 

		INSERT	SFin.TransactionDetails
			 (RowStatus,
			  Guid,
			  TransactionID,
			  MilestoneID,
			  ActivityID,
			  Net,
			  Vat,
			  Gross,
			  VatRate,
			  Description,
			  LegacyId,
			  JobPaymentStageId,
			  InvoiceRequestItemId,
			  RIBAStageId)
		SELECT	1,
				dl.GuidValueTwo,
				@TransactionId,
				iri.MilestoneId,
				iri.ActivityId,
				iri.Net,
				iri.Net * 0.2,
				iri.Net * 1.2,
				20,
				@Description, 
				NULL,
				-1,
				iri.Id,
				iri.RIBAStageId
		FROM	@DetailList dl
		JOIN	SFin.InvoiceRequestItems iri ON (iri.Guid = dl.GuidValue)
		

	END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
PRINT (N'Commit Transaction')
GO
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
PRINT (N'Set NOEXEC to off')
GO
SET NOEXEC OFF
GO