-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.1.124.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 15/12/2025 16:08:31
-- Source server version: 16.00.0000
-- Target server version: 16.00.1000
-- Target connection string: Data Source=soc-sqldevbre01.esgl.co.uk\General;Integrated Security=True;User ID=ESGL\Richard.Brindley
-- Run this script against CymBuild_Upgrade_Stage to synchronize it with [Schema]
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Set transaction isolation level
--
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO

--
-- Start Transaction
--
BEGIN TRANSACTION
GO

--
-- Create or alter procedure [SCore].[DataObjectTransitionUpsert]
--
GO
CREATE OR ALTER PROCEDURE [SCore].[DataObjectTransitionUpsert]
(
    @Guid UNIQUEIDENTIFIER,
    @OldStatusGuid UNIQUEIDENTIFIER,
    @StatusGuid UNIQUEIDENTIFIER,
    @Comment NVARCHAR(MAX),
    @CreatedByUserGuid UNIQUEIDENTIFIER,
    @SurveyorUserGuid UNIQUEIDENTIFIER,
    @DataObjectGuid UNIQUEIDENTIFIER,
    @IsImported BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DateTimeUTC DATETIME2(7) = SYSUTCDATETIME();

    -------------------------------------------------------------------------
    -- Resolve CreatedBy / Surveyor IDs (allow NULL if not found)
    -------------------------------------------------------------------------
    DECLARE @CreatedByUserID INT = NULL;
    SELECT @CreatedByUserID = i.ID
    FROM SCore.Identities i
    WHERE i.Guid = @CreatedByUserGuid;

    DECLARE @SurveyorUserID INT = NULL;
    SELECT @SurveyorUserID = i.ID
    FROM SCore.Identities i
    WHERE i.Guid = @SurveyorUserGuid;

    -------------------------------------------------------------------------
    -- Resolve incoming WorkflowStatus
    -------------------------------------------------------------------------
    DECLARE @StatusID INT = NULL;
    DECLARE @StatusName NVARCHAR(255) = NULL;
    DECLARE @ShowInQuotes BIT = 0;
    DECLARE @ShowInEnquiries BIT = 0;
    DECLARE @ShowInJobs BIT = 0;

    SELECT
        @StatusID = wfs.ID,
        @StatusName = wfs.Name,
        @ShowInQuotes = wfs.ShowInQuotes,
        @ShowInEnquiries = wfs.ShowInEnquiries,
        @ShowInJobs = wfs.ShowInJobs
    FROM SCore.WorkflowStatus wfs
    WHERE wfs.Guid = @StatusGuid
      AND wfs.RowStatus NOT IN (0,254);

    IF (@StatusID IS NULL)
        THROW 60001, N'Invalid StatusGuid passed to DataObjectTransitionUpsert (no matching WorkflowStatus).', 1;

    -------------------------------------------------------------------------
    -- Compute OldStatusID from latest transition on this record
    -------------------------------------------------------------------------
    DECLARE @OldStatusID INT = NULL;

    SELECT TOP (1) @OldStatusID = dot.StatusID
    FROM SCore.DataObjectTransition dot
    WHERE dot.DataObjectGuid = @DataObjectGuid
      AND dot.RowStatus NOT IN (0,254)
    ORDER BY dot.ID DESC;

    IF (@OldStatusID IS NULL)
    BEGIN
        SELECT @OldStatusID = ID
        FROM SCore.WorkflowStatus
        WHERE Guid = '00000000-0000-0000-0000-000000000000';
    END;

    -------------------------------------------------------------------------
    -- Determine entity type guid of the transitioned record
    -------------------------------------------------------------------------
    DECLARE @RecordTypeGuid UNIQUEIDENTIFIER = NULL;

    SELECT TOP (1) @RecordTypeGuid = et.Guid
    FROM SCore.DataObjects dob
    JOIN SCore.EntityTypes et ON et.ID = dob.EntityTypeId
    WHERE dob.Guid = @DataObjectGuid
      AND dob.RowStatus NOT IN (0,254);

    -------------------------------------------------------------------------
    -- Upsert the transition row itself
    -------------------------------------------------------------------------
    DECLARE @IsInsert BIT = 0;
    EXEC SCore.UpsertDataObject
        @Guid       = @Guid,
        @SchemeName = N'SCore',
        @ObjectName = N'DataObjectTransition',
        @IsInsert   = @IsInsert OUTPUT;

    IF (@IsInsert = 1)
    BEGIN
        INSERT INTO SCore.DataObjectTransition
        (
            Guid,
            RowStatus,
            OldStatusID,
            StatusID,
            Comment,
            DateTimeUTC,
            CreatedByUserId,
            SurveyorUserId,
            DataObjectGuid,
            IsImported
        )
        VALUES
        (
            @Guid,
            1,
            @OldStatusID,
            @StatusID,
            @Comment,
            @DateTimeUTC,
            @CreatedByUserID,
            @SurveyorUserID,
            @DataObjectGuid,
            @IsImported
        );
    END
    ELSE
    BEGIN
        UPDATE SCore.DataObjectTransition
        SET
            StatusID        = @StatusID,
            Comment         = @Comment,
            DateTimeUTC     = @DateTimeUTC,
            CreatedByUserId = @CreatedByUserID,
            SurveyorUserId  = @SurveyorUserID,
            DataObjectGuid  = @DataObjectGuid,
            IsImported      = @IsImported
        WHERE Guid = @Guid;
    END;

    -------------------------------------------------------------------------
    -- Synchronisation: QUOTE -> ENQUIRY (+ EnquiryService)
    -- IMPORTANT: resolve equivalent WorkflowStatus by NAME for the target.
    -------------------------------------------------------------------------
    DECLARE @IsQuote UNIQUEIDENTIFIER;
    SELECT @IsQuote = Guid FROM SCore.EntityTypes WHERE Name = N'Quotes';

    IF (@RecordTypeGuid = @IsQuote)
    BEGIN
        DECLARE @EnquiryGuid UNIQUEIDENTIFIER = NULL;
        DECLARE @EnquiryServiceGuid UNIQUEIDENTIFIER = NULL;

        SELECT TOP (1)
            @EnquiryServiceGuid = es.Guid,
            @EnquiryGuid        = e.Guid
        FROM SSop.Quotes q
        JOIN SSop.EnquiryServices es ON es.ID = q.EnquiryServiceID
        JOIN SSop.Enquiries e        ON e.ID  = es.EnquiryId
        WHERE q.Guid = @DataObjectGuid
          AND q.RowStatus NOT IN (0,254)
          AND es.RowStatus NOT IN (0,254)
          AND e.RowStatus NOT IN (0,254);

        ---------------------------------------------------------------------
        -- Map Quote deadline names back to Enquiry deadline names
        -- (aligns with our rules)
        ---------------------------------------------------------------------
        DECLARE @TargetEnquiryStatusName NVARCHAR(255) = @StatusName;

        IF (@StatusName = N'Quote Deadline Approaching') SET @TargetEnquiryStatusName = N'Deadline Approaching';
        IF (@StatusName = N'Quote Deadline Missing')     SET @TargetEnquiryStatusName = N'Deadline Missed';
        IF (@StatusName = N'Quote Expired')              SET @TargetEnquiryStatusName = N'Expired';

        ---------------------------------------------------------------------
        -- Helper block: insert transition on a target record if latest differs
        ---------------------------------------------------------------------
        DECLARE @TargetGuid UNIQUEIDENTIFIER;
        DECLARE @TargetLatestStatusID INT;
        DECLARE @TargetStatusID INT;

        ---------------------------------------------------------------------
        -- 1) Sync to ENQUIRY
        ---------------------------------------------------------------------
        IF (@EnquiryGuid IS NOT NULL)
        BEGIN
            SET @TargetGuid = @EnquiryGuid;

            -- Resolve target status by NAME for enquiries
            SELECT TOP (1) @TargetStatusID = ws.ID
            FROM SCore.WorkflowStatus ws
            WHERE ws.RowStatus NOT IN (0,254)
              AND ws.ShowInEnquiries = 1
              AND ws.Name = @TargetEnquiryStatusName
            ORDER BY ws.ID;

            -- If there is no matching enquiry status, do nothing (safe)
            IF (@TargetStatusID IS NOT NULL)
            BEGIN
                SELECT TOP (1) @TargetLatestStatusID = dot.StatusID
                FROM SCore.DataObjectTransition dot
                WHERE dot.DataObjectGuid = @TargetGuid
                  AND dot.RowStatus NOT IN (0,254)
                ORDER BY dot.ID DESC;

                IF (@TargetLatestStatusID IS NULL)
                BEGIN
                    SELECT @TargetLatestStatusID = ID
                    FROM SCore.WorkflowStatus
                    WHERE Guid = '00000000-0000-0000-0000-000000000000';
                END;

                

                IF (@TargetLatestStatusID <> @TargetStatusID)
                BEGIN
                    DECLARE @SyncEnquireGuid UNIQUEIDENTIFIER = NEWID()

                    EXEC SCore.UpsertDataObject
                        @Guid       = @SyncEnquireGuid,
                        @SchemeName = N'SCore',
                        @ObjectName = N'DataObjectTransition',
                        @IsInsert   = @IsInsert OUTPUT;

                    INSERT INTO SCore.DataObjectTransition
                    (
                        Guid,
                        RowStatus,
                        OldStatusID,
                        StatusID,
                        Comment,
                        DateTimeUTC,
                        CreatedByUserId,
                        SurveyorUserId,
                        DataObjectGuid,
                        IsImported
                    )
                    VALUES
                    (
                        @SyncEnquireGuid,
                        1,
                        @TargetLatestStatusID,
                        @TargetStatusID,
                        N'System Imported (Quote sync).',
                        @DateTimeUTC,
                        @CreatedByUserID,
                        @SurveyorUserID,
                        @TargetGuid,
                        1
                    );
                END;
            END;
        END;

        ---------------------------------------------------------------------
        -- 2) Sync to ENQUIRY SERVICE
        -- (uses ShowInEnquiries=1 because there isn’t a ShowInEnquiryServices flag)
        ---------------------------------------------------------------------
        IF (@EnquiryServiceGuid IS NOT NULL)
        BEGIN
            SET @TargetGuid = @EnquiryServiceGuid;

            SELECT TOP (1) @TargetStatusID = ws.ID
            FROM SCore.WorkflowStatus ws
            WHERE ws.RowStatus NOT IN (0,254)
              AND ws.ShowInEnquiries = 1
              AND ws.Name = @TargetEnquiryStatusName
            ORDER BY ws.ID;

            IF (@TargetStatusID IS NOT NULL)
            BEGIN
                SELECT TOP (1) @TargetLatestStatusID = dot.StatusID
                FROM SCore.DataObjectTransition dot
                WHERE dot.DataObjectGuid = @TargetGuid
                  AND dot.RowStatus NOT IN (0,254)
                ORDER BY dot.ID DESC;

                IF (@TargetLatestStatusID IS NULL)
                BEGIN
                    SELECT @TargetLatestStatusID = ID
                    FROM SCore.WorkflowStatus
                    WHERE Guid = '00000000-0000-0000-0000-000000000000';
                END;

                IF (@TargetLatestStatusID <> @TargetStatusID)
                BEGIN
                     DECLARE @SyncEnquiryServiceGuid UNIQUEIDENTIFIER = NEWID()

                    EXEC SCore.UpsertDataObject
                        @Guid       = @SyncEnquiryServiceGuid,
                        @SchemeName = N'SCore',
                        @ObjectName = N'DataObjectTransition',
                        @IsInsert   = @IsInsert OUTPUT;

                    INSERT INTO SCore.DataObjectTransition
                    (
                        Guid,
                        RowStatus,
                        OldStatusID,
                        StatusID,
                        Comment,
                        DateTimeUTC,
                        CreatedByUserId,
                        SurveyorUserId,
                        DataObjectGuid,
                        IsImported
                    )
                    VALUES
                    (
                        @SyncEnquiryServiceGuid,
                        1,
                        @TargetLatestStatusID,
                        @TargetStatusID,
                        N'System Imported (Quote sync).',
                        @DateTimeUTC,
                        @CreatedByUserID,
                        @SurveyorUserID,
                        @TargetGuid,
                        1
                    );
                END;
            END;
        END;
    END;
END;
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
SET NOEXEC OFF
GO