-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.3.93.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 04/03/2026 08:56:23
-- Source server version: 16.00.1000
-- Source connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Target server version: 16.00.1000
-- Target connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Run this script against Cymbuild_QA to synchronize it with CymBuild_Dev
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Start Transaction
--
PRINT (N'Start Transaction')
GO
BEGIN TRANSACTION
GO

--
-- Create or alter trigger [tg_DataObjectTransition_RecordHistory] on table [SCore].[DataObjectTransition]
--
GO
PRINT (N'Create or alter trigger [tg_DataObjectTransition_RecordHistory] on table [SCore].[DataObjectTransition]')
GO
IF OBJECT_ID(N'[SCore].[tg_DataObjectTransition_RecordHistory]', 'TR') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER TRIGGER [SCore].[tg_DataObjectTransition_RecordHistory]
   ON  [SCore].[DataObjectTransition]	
   AFTER INSERT, UPDATE
AS 
BEGIN
	SET NOCOUNT ON;

    IF (ISNULL(CONVERT(int, SESSION_CONTEXT(N''S_disable_triggers'')), 0) = 1)
    BEGIN 
        RETURN
    END

	IF (EXISTS
			(
				SELECT	1
				FROM	Inserted
				WHERE	(ID = -1) 
			)
		)
	BEGIN 
		;THROW 60000, N''Data integrity exception: Attempt to alter -1 record'', 1
	END

    DECLARE	@PreviousValue NVARCHAR(MAX),
			@NewValue NVARCHAR(MAX),
			@UserID INT = 0,
			@SchemaName NVARCHAR(250) = N''SCore'',
			@TableName NVARCHAR(250) = N''DataObjectTransition'',
			@ColumnName NVARCHAR(250),
			@MaxInsertedID BIGINT,
			@CurrentInsertedID BIGINT,
			@CurrentInsertedGuid UNIQUEIDENTIFIER

	SELECT @UserID = ISNULL(CONVERT(int, SESSION_CONTEXT(N''user_id'')), -1)

	SELECT	@MaxInsertedID = MAX([ID]),
			@CurrentInsertedID = -1
	FROM	Inserted

	WHILE	(@CurrentInsertedID < @MaxInsertedID)
	BEGIN 
		SELECT	TOP(1) @CurrentInsertedID = i.[ID],
				@CurrentInsertedGuid = i.Guid
		FROM	Inserted i
		WHERE	(i.[ID] > @CurrentInsertedID)
			ORDER BY i.[ID]
		
		
		
		IF (NOT EXISTS 
				(
					SELECT	1
					FROM 	deleted d
					WHERE	(d.[ID] = @CurrentInsertedID)
				)
			)
		BEGIN 
				
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N'''', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, N'''', N'''', SYSTEM_USER, -1)
	
			RETURN 
		END
		
		SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[Comment]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[Comment]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[Comment] IS DISTINCT FROM i.[Comment])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''Comment'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2272)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[CreatedByUserId]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[CreatedByUserId]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[CreatedByUserId] IS DISTINCT FROM i.[CreatedByUserId])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''CreatedByUserId'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2274)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[DataObjectGuid]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[DataObjectGuid]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[DataObjectGuid] IS DISTINCT FROM i.[DataObjectGuid])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''DataObjectGuid'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2323)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[DateTimeUTC]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[DateTimeUTC]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[DateTimeUTC] IS DISTINCT FROM i.[DateTimeUTC])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''DateTimeUTC'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2273)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[IsImported]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[IsImported]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[IsImported] IS DISTINCT FROM i.[IsImported])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''IsImported'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2322)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[OldStatusID]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[OldStatusID]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[OldStatusID] IS DISTINCT FROM i.[OldStatusID])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''OldStatusID'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2270)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[RowStatus]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[RowStatus]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[RowStatus] IS DISTINCT FROM i.[RowStatus])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''RowStatus'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2266)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[StatusID]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[StatusID]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[StatusID] IS DISTINCT FROM i.[StatusID])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''StatusID'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2269)
			END 
			
			SELECT	
					@PreviousValue = ISNULL(CONVERT(NVARCHAR(max), d.[SurveyorUserId]), N''''),
					@NewValue = ISNULL(CONVERT(NVARCHAR(max), i.[SurveyorUserId]), N'''')
			FROM	Inserted i
			JOIN	Deleted d ON (i.[ID] = d.[ID])
			WHERE	(i.[ID] = @CurrentInsertedID)
                AND (d.[SurveyorUserId] IS DISTINCT FROM i.[SurveyorUserId])


			IF (@@RowCount > 0)
			BEGIN 
				INSERT	SCore.RecordHistory
				(
					RowStatus, SchemaName, TableName, ColumnName, RowID, RowGuid, UserID, PreviousValue, NewValue, SQLUser, EntityPropertyID
				)
				VALUES(1, @SchemaName, @TableName, N''SurveyorUserId'', @CurrentInsertedID, @CurrentInsertedGuid, @UserID, @PreviousValue, @NewValue, SYSTEM_USER, 2275)
			END 
			
			
			END
		END
		
		'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Disable foreign key [FK_DataObjectTransition_DataObjects] on table [SCore].[DataObjectTransition]
--
PRINT (N'Disable foreign key [FK_DataObjectTransition_DataObjects] on table [SCore].[DataObjectTransition]')
GO
ALTER TABLE [SCore].[DataObjectTransition]
  NOCHECK CONSTRAINT [FK_DataObjectTransition_DataObjects]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create table [SFin].[InvoiceProcessingModeHistory]
--
PRINT (N'Create table [SFin].[InvoiceProcessingModeHistory]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceProcessingModeHistory]', 'U') IS NULL
CREATE TABLE [SFin].[InvoiceProcessingModeHistory] (
  [ID] [int] IDENTITY,
  [RowStatus] [tinyint] NOT NULL CONSTRAINT [DF_IPMH_RowStatus] DEFAULT (1),
  [RowVersion] [timestamp],
  [Guid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_IPMH_Guid] DEFAULT (newid()),
  [JobId] [int] NOT NULL,
  [JobGuid] [uniqueidentifier] NOT NULL,
  [OldMode] [tinyint] NOT NULL,
  [NewMode] [tinyint] NOT NULL,
  [ChangedDateTimeUTC] [datetime2] NOT NULL CONSTRAINT [DF_IPMH_ChangedUTC] DEFAULT (sysutcdatetime()),
  [ChangedByUserId] [int] NOT NULL CONSTRAINT [DF_IPMH_ChangedByUserId] DEFAULT (-1),
  [ChangedByUserGuid] [uniqueidentifier] NULL,
  [Reason] [nvarchar](500) NOT NULL CONSTRAINT [DF_IPMH_Reason] DEFAULT (N''),
  [Source] [nvarchar](50) NOT NULL CONSTRAINT [DF_IPMH_Source] DEFAULT (N'UI')
)
ON [PRIMARY]
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create primary key [PK_IPMH] on table [SFin].[InvoiceProcessingModeHistory]
--
PRINT (N'Create primary key [PK_IPMH] on table [SFin].[InvoiceProcessingModeHistory]')
GO
IF NOT EXISTS (
  SELECT 1 FROM sys.indexes WITH (NOLOCK)
  WHERE name = N'PK_IPMH' AND object_id = OBJECT_ID(N'[SFin].[InvoiceProcessingModeHistory]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'[SFin].[InvoiceProcessingModeHistory]'))
ALTER TABLE [SFin].[InvoiceProcessingModeHistory] WITH NOCHECK
  ADD CONSTRAINT [PK_IPMH] PRIMARY KEY CLUSTERED ([ID]) WITH (FILLFACTOR = 80)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key [FK_IPMH_Jobs] on table [SFin].[InvoiceProcessingModeHistory]
--
PRINT (N'Create foreign key [FK_IPMH_Jobs] on table [SFin].[InvoiceProcessingModeHistory]')
GO
IF OBJECT_ID('[SFin].[FK_IPMH_Jobs]', 'F') IS NULL
  AND OBJECT_ID('[SFin].[InvoiceProcessingModeHistory]', 'U') IS NOT NULL
  AND OBJECT_ID('SJob.Jobs', 'U') IS NOT NULL
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'JobId' AND object_id = OBJECT_ID(N'[SFin].[InvoiceProcessingModeHistory]'))
  AND EXISTS (
  SELECT 1 FROM sys.columns WITH (NOLOCK)
  WHERE name = N'ID' AND object_id = OBJECT_ID(N'SJob.Jobs'))
ALTER TABLE [SFin].[InvoiceProcessingModeHistory] WITH NOCHECK
  ADD CONSTRAINT [FK_IPMH_Jobs] FOREIGN KEY ([JobId]) REFERENCES [SJob].[Jobs] ([ID])
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[JobInvoiceProcessingMode_Set]
--
GO
PRINT (N'Create or alter procedure [SFin].[JobInvoiceProcessingMode_Set]')
GO
IF OBJECT_ID(N'[SFin].[JobInvoiceProcessingMode_Set]', 'P') IS NULL
EXEC sp_executesql N'/* =========================================================
   4) Set Job InvoiceProcessingMode (audited + synced)
   ========================================================= */
CREATE OR ALTER PROCEDURE [SFin].[JobInvoiceProcessingMode_Set]
(
      @JobGuid            UNIQUEIDENTIFIER
    , @NewMode            TINYINT
    , @ChangedByUserGuid  UNIQUEIDENTIFIER = NULL
    , @Reason             NVARCHAR(500) = N''''
    , @Source             NVARCHAR(50) = N''UI''
)
AS
BEGIN
    SET NOCOUNT ON;

    IF (@NewMode NOT IN (0,1,2))
        THROW 50001, ''Invalid InvoiceProcessingMode. Allowed values: 0=Automated,1=Manual,2=Paused.'', 1;

    DECLARE @JobId INT, @OldMode TINYINT, @ChangedByUserId INT;

    SELECT TOP (1)
          @JobId = j.ID
        , @OldMode = j.InvoiceProcessingMode
    FROM SJob.Jobs j
    WHERE j.Guid = @JobGuid
      AND j.RowStatus NOT IN (0,254);

    IF (@JobId IS NULL)
        THROW 50002, ''Job not found (or inactive).'', 1;

    SET @ChangedByUserId = ISNULL(SCore.GetCurrentUserId(), -1);

    IF (@OldMode = @NewMode)
        RETURN;

    BEGIN TRAN;

    UPDATE j
    SET
          j.InvoiceProcessingMode = @NewMode
        , j.ManualInvoicingEnabled = CASE WHEN @NewMode = 1 THEN 1 ELSE 0 END
    FROM SJob.Jobs j
    WHERE j.ID = @JobId;

    INSERT INTO SFin.InvoiceProcessingModeHistory
    (
          JobId, JobGuid, OldMode, NewMode
        , ChangedByUserId, ChangedByUserGuid
        , Reason, Source
    )
    VALUES
    (
          @JobId, @JobGuid, @OldMode, @NewMode
        , @ChangedByUserId, @ChangedByUserGuid
        , ISNULL(@Reason, N''''), ISNULL(@Source, N''UI'')
    );

    COMMIT;
END
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_InvoiceAutomation_PendingTriggerInstancesForJob]
--
GO
PRINT (N'Create or alter function [SFin].[tvf_InvoiceAutomation_PendingTriggerInstancesForJob]')
GO
IF NOT EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[tvf_InvoiceAutomation_PendingTriggerInstancesForJob]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'CREATE OR ALTER FUNCTION [SFin].[tvf_InvoiceAutomation_PendingTriggerInstancesForJob]
(
    @JobId INT
)
RETURNS TABLE
AS
RETURN
(
    WITH ScheduleJobScope AS
    (
        SELECT DISTINCT
              qi.InvoicingSchedule AS InvoiceScheduleId
            , qi.CreatedJobId      AS JobId
        FROM SSop.QuoteItems qi
        WHERE qi.RowStatus NOT IN (0,254)
          AND qi.CreatedJobId = @JobId
          AND qi.CreatedJobId NOT IN (-1,0)
          AND qi.InvoicingSchedule NOT IN (-1,0)
    ),
    Candidate AS
    (
        SELECT
              sjs.JobId
            , sjs.InvoiceScheduleId
            , ti.Guid AS TriggerInstanceGuid
            , ti.InstanceType
            , ti.InstanceKey
            , ti.CompletedDateTimeUTC
        FROM ScheduleJobScope sjs
        JOIN SFin.InvoiceScheduleTriggerInstances ti
            ON ti.InvoiceScheduleId = sjs.InvoiceScheduleId
           AND ti.RowStatus NOT IN (0,254)
        WHERE ti.CompletedDateTimeUTC IS NOT NULL
    )
    SELECT
          c.JobId
        , c.InvoiceScheduleId
        , c.TriggerInstanceGuid
        , c.InstanceType
        , c.InstanceKey
        , c.CompletedDateTimeUTC
    FROM Candidate c
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM SFin.InvoiceRequests r
        WHERE r.RowStatus NOT IN (0,254)
          AND r.JobId      = c.JobId
          AND r.SourceType = N''TriggerInstance''
          AND r.SourceGuid = c.TriggerInstanceGuid
    )
);
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceRequests_CreateFromTriggerInstances_ForJob]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceRequests_CreateFromTriggerInstances_ForJob]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceRequests_CreateFromTriggerInstances_ForJob]', 'P') IS NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SFin].[InvoiceRequests_CreateFromTriggerInstances_ForJob]
(
      @JobGuid                       UNIQUEIDENTIFIER
    , @AutomationRunGuid             UNIQUEIDENTIFIER = NULL
    , @InvoiceBatchGuid              UNIQUEIDENTIFIER = NULL
    , @RequesterUserId               INT
    , @DefaultInvoicePaymentStatusId BIGINT
    , @OverrideBlocking              BIT = 0
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @JobId INT;

    SELECT TOP (1) @JobId = j.ID
    FROM SJob.Jobs j
    WHERE j.Guid = @JobGuid
      AND j.RowStatus NOT IN (0,254);

    IF (@JobId IS NULL)
        THROW 60021, ''Job not found (or inactive).'', 1;

    BEGIN TRAN;

    ;WITH ScheduleJobScope AS
    (
        SELECT DISTINCT
              qi.InvoicingSchedule AS InvoiceScheduleId
            , qi.CreatedJobId      AS JobId
        FROM SSop.QuoteItems qi
        WHERE qi.RowStatus NOT IN (0,254)
          AND qi.CreatedJobId = @JobId
          AND qi.CreatedJobId NOT IN (-1,0)
          AND qi.InvoicingSchedule NOT IN (-1,0)
    ),
    Blocking AS
    (
        SELECT
              sjs.InvoiceScheduleId
            , sjs.JobId
            , j.ManualInvoicingEnabled
            , ISNULL(acs.IsHold, 0) AS AccountIsOnHold
            , CASE
                WHEN ISNULL(j.ManualInvoicingEnabled, 0) = 1 THEN 1
                WHEN ISNULL(acs.IsHold, 0) = 1 THEN 1
                ELSE 0
              END AS IsBlocked
        FROM ScheduleJobScope sjs
        JOIN SJob.Jobs j
            ON j.ID = sjs.JobId
           AND j.RowStatus NOT IN (0,254)
        LEFT JOIN SCrm.Accounts a
            ON a.ID = j.FinanceAccountID
        LEFT JOIN SCrm.AccountStatus acs
            ON acs.ID = a.AccountStatusID
    ),
    Candidate AS
    (
        SELECT
              b.InvoiceScheduleId
            , b.JobId
            , ti.Guid                AS TriggerInstanceGuid
            , ti.InstanceType
            , ti.InstanceKey
            , ti.CompletedDateTimeUTC
        FROM Blocking b
        JOIN SFin.InvoiceScheduleTriggerInstances ti
            ON ti.InvoiceScheduleId = b.InvoiceScheduleId
           AND ti.RowStatus NOT IN (0,254)
        WHERE ti.CompletedDateTimeUTC IS NOT NULL
          AND (
                @OverrideBlocking = 1
                OR b.IsBlocked = 0
              )
    ),
    ToCreate AS
    (
        SELECT c.*
        FROM Candidate c
        WHERE NOT EXISTS
        (
            SELECT 1
            FROM SFin.InvoiceRequests r
            WHERE r.RowStatus NOT IN (0,254)
              AND r.JobId      = c.JobId
              AND r.SourceType = N''TriggerInstance''
              AND r.SourceGuid = c.TriggerInstanceGuid
        )
    ),
    ToInsert AS
    (
        SELECT
              t.*
            , CASE
                WHEN t.InstanceType = N''Activity''   THEN N''ACT''
                WHEN t.InstanceType = N''Milestone''  THEN N''MS''
                WHEN t.InstanceType = N''RIBA''       THEN N''RIBA''
                WHEN t.InstanceType = N''Percentage'' THEN N''PCT''
                WHEN t.InstanceType = N''Monthly''    THEN N''MON''
                ELSE N''''
              END AS InvoicingType
        FROM ToCreate t
    )
    INSERT SFin.InvoiceRequests
    (
          RowStatus
        , Notes
        , RequesterUserId
        , CreatedDateTimeUTC
        , JobId
        , InvoicingType
        , ExpectedDate
        , ManualStatus
        , InvoicePaymentStatusID
        , IsAutomated
        , IsZeroValuePlaceholder
        , ReconciliationRequired
        , ReconciliationReason
        , SourceType
        , SourceGuid
        , SourceIntId
        , AutomationRunGuid
        , InvoiceBatchGuid
        , BlockedReason
    )
    SELECT
          1
        , Notes = CONCAT(N''Created from TriggerInstance. InstanceType='', i.InstanceType, N'', InstanceKey='', i.InstanceKey)
        , @RequesterUserId
        , SYSUTCDATETIME()
        , i.JobId
        , i.InvoicingType
        , CAST(i.CompletedDateTimeUTC AS date)
        , 0
        , @DefaultInvoicePaymentStatusId
        , IsAutomated = 1
        , 0
        , 0
        , N''''
        , N''TriggerInstance''
        , i.TriggerInstanceGuid
        , NULL
        , @AutomationRunGuid
        , @InvoiceBatchGuid
        , CASE WHEN @OverrideBlocking = 1 THEN N''OVERRIDE_BLOCKING'' ELSE N'''' END
    FROM ToInsert i;

    /* Phase 6 items for ACT/MS (same parsing logic you already have) */
    ;WITH NewReq AS
    (
        SELECT
              r.ID AS InvoiceRequestId
            , r.JobId
            , r.SourceGuid
            , r.InvoicingType
        FROM SFin.InvoiceRequests r
        WHERE r.RowStatus NOT IN (0,254)
          AND r.SourceType = N''TriggerInstance''
          AND r.JobId = @JobId
          AND (@AutomationRunGuid IS NULL OR r.AutomationRunGuid = @AutomationRunGuid)
    ),
    ReqWithTi AS
    (
        SELECT
              nr.InvoiceRequestId
            , nr.JobId
            , nr.InvoicingType
            , ti.InstanceKey
        FROM NewReq nr
        JOIN SFin.InvoiceScheduleTriggerInstances ti
            ON ti.Guid = nr.SourceGuid
           AND ti.RowStatus NOT IN (0,254)
    ),
    Parsed AS
    (
        SELECT
              r.*
            , ActivityId =
                CASE
                    WHEN r.InvoicingType = N''ACT'' AND CHARINDEX(N''|A'', r.InstanceKey) > 0
                        THEN TRY_CONVERT(BIGINT, SUBSTRING(r.InstanceKey, CHARINDEX(N''|A'', r.InstanceKey) + 2, 50))
                    WHEN r.InvoicingType = N''ACT'' AND CHARINDEX(N''ACT:'', r.InstanceKey) > 0
                        THEN TRY_CONVERT(BIGINT, SUBSTRING(r.InstanceKey, CHARINDEX(N''ACT:'', r.InstanceKey) + 4, 50))
                    ELSE NULL
                END
            , MilestoneId =
                CASE
                    WHEN r.InvoicingType = N''MS'' AND CHARINDEX(N''|M'', r.InstanceKey) > 0
                        THEN TRY_CONVERT(BIGINT, SUBSTRING(r.InstanceKey, CHARINDEX(N''|M'', r.InstanceKey) + 2, 50))
                    WHEN r.InvoicingType = N''MS'' AND CHARINDEX(N''MS:'', r.InstanceKey) > 0
                        THEN TRY_CONVERT(BIGINT, SUBSTRING(r.InstanceKey, CHARINDEX(N''MS:'', r.InstanceKey) + 3, 50))
                    ELSE NULL
                END
        FROM ReqWithTi r
    )
    INSERT SFin.InvoiceRequestItems
    (
          RowStatus
        , InvoiceRequestId
        , MilestoneId
        , ActivityId
        , Net
        , LegacySystemID
        , ShortDescription
    )
    SELECT
          1
        , p.InvoiceRequestId
        , COALESCE(p.MilestoneId, m.ID)
        , COALESCE(p.ActivityId, a.ID)
        , COALESCE(a.InvoicingValue, 0)
        , -1
        , CASE
            WHEN p.InvoicingType = N''ACT'' THEN COALESCE(a.Title, N''Activity'')
            WHEN p.InvoicingType = N''MS''  THEN COALESCE(m.Description, N''Milestone'')
            ELSE N''''
          END
    FROM Parsed p
    LEFT JOIN SJob.Activities a
        ON a.ID = p.ActivityId
       AND a.RowStatus NOT IN (0,254)
    LEFT JOIN SJob.Milestones m
        ON m.ID = p.MilestoneId
       AND m.RowStatus NOT IN (0,254)
    WHERE p.InvoicingType IN (N''ACT'', N''MS'')
      AND (
            (p.InvoicingType = N''ACT'' AND a.ID IS NOT NULL)
         OR (p.InvoicingType = N''MS''  AND m.ID IS NOT NULL)
      );

    /* Mark zero-value placeholders (ACT/MS only) */
    ;WITH R AS
    (
        SELECT r.ID
        FROM SFin.InvoiceRequests r
        WHERE r.RowStatus NOT IN (0,254)
          AND r.SourceType = N''TriggerInstance''
          AND r.JobId = @JobId
          AND r.InvoicingType IN (N''ACT'', N''MS'')
          AND (@AutomationRunGuid IS NULL OR r.AutomationRunGuid = @AutomationRunGuid)
    ),
    Totals AS
    (
        SELECT
              r.ID
            , TotalNet  = ISNULL(SUM(iri.Net), 0)
            , ItemCount = COUNT(iri.ID)
        FROM R r
        LEFT JOIN SFin.InvoiceRequestItems iri
            ON iri.InvoiceRequestId = r.ID
           AND iri.RowStatus NOT IN (0,254)
        GROUP BY r.ID
    )
    UPDATE r
    SET
          r.IsZeroValuePlaceholder =
                CASE WHEN t.ItemCount = 0 OR t.TotalNet = 0 THEN 1 ELSE 0 END
        , r.ReconciliationRequired =
                CASE WHEN t.ItemCount = 0 OR t.TotalNet = 0 THEN 1 ELSE 0 END
        , r.ReconciliationReason =
                CASE WHEN t.ItemCount = 0 THEN N''No items could be derived''
                     WHEN t.TotalNet = 0 THEN N''Items derived but value is zero''
                     ELSE r.ReconciliationReason END
    FROM SFin.InvoiceRequests r
    JOIN Totals t ON t.ID = r.ID;

    COMMIT;
END
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceAutomation_GenerateFromPendingTriggerInstances_ForJob]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceAutomation_GenerateFromPendingTriggerInstances_ForJob]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceAutomation_GenerateFromPendingTriggerInstances_ForJob]', 'P') IS NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SFin].[InvoiceAutomation_GenerateFromPendingTriggerInstances_ForJob]
(
      @JobGuid             UNIQUEIDENTIFIER
    , @RequesterUserGuid    UNIQUEIDENTIFIER
    , @Notes               NVARCHAR(500) = N''''
    , @DefaultPaymentStatusId BIGINT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RequesterUserId INT = ISNULL(SCore.GetCurrentUserId(), -1);

    -- If you have a canonical lookup for default payment status, replace this block.
    IF (@DefaultPaymentStatusId IS NULL)
    BEGIN
        SELECT TOP (1) @DefaultPaymentStatusId = ps.ID
        FROM SFin.InvoicePaymentStatus ps
        WHERE ps.RowStatus NOT IN (0,254)
        ORDER BY ps.ID;
    END

    -- Create only for this job, override blocking (paused/manual) since user confirmed
    EXEC SFin.InvoiceRequests_CreateFromTriggerInstances_ForJob
          @JobGuid = @JobGuid
        , @AutomationRunGuid = NULL
        , @InvoiceBatchGuid = NULL
        , @RequesterUserId = @RequesterUserId
        , @DefaultInvoicePaymentStatusId = @DefaultPaymentStatusId
        , @OverrideBlocking = 1;
END
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
PRINT (N'Commit Transaction')
GO
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
PRINT (N'Set NOEXEC to off')
GO
SET NOEXEC OFF
GO