-- 
-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2025.3.93.0
-- Product Home Page: https://www.devart.com/dbforge/sql/schemacompare
-- Script date 29/04/2026 16:34:52
-- Source server version: 16.00.1000
-- Source connection string: Data Source=SOC-SQLDEVBRE01\GENERAL;Initial Catalog=CymBuild_Dev;Integrated Security=True;User ID=ESGL\stephen.brett
-- Target server version: 16.00.4175
-- Target connection string: Data Source=SOC-SQLBRE01\SQL2022;Integrated Security=True;User ID=ESGL\stephen.brett
-- Run this script against CymBuild_UAT to synchronize it with Cymbuild_QA
-- Please backup your target database before running this script
-- 

SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

--
-- Start Transaction
--
PRINT (N'Start Transaction')
GO
BEGIN TRANSACTION
GO

--
-- Create or alter view [SJob].[JobPaymentStages_List]
--
GO
PRINT (N'Create or alter view [SJob].[JobPaymentStages_List]')
GO
IF OBJECT_ID(N'[SJob].[JobPaymentStages_List]', 'V') IS NOT NULL
EXEC sp_executesql N'
CREATE OR ALTER VIEW [SJob].[JobPaymentStages_List]
          --WITH SCHEMABINDING
AS
SELECT	jps.Guid,
		jps.RowStatus,
		CASE WHEN jps.StagedDate IS NULL THEN j.Number ELSE j.Number + N'' - '' + CONVERT(NVARCHAR(10), jps.StagedDate) END AS Name,
		j.Guid As JobGuid,
		j.ID As JobID,
		jps.AfterStageId,
		jps.StagedDate,
		jps.Value
FROM	SJob.JobPaymentStages jps
JOIN	SJob.Jobs j ON (j.ID = jps.JobId)
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_InvoiceSchedulesValidate]
--
GO
PRINT (N'Create or alter function [SFin].[tvf_InvoiceSchedulesValidate]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[tvf_InvoiceSchedulesValidate]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SFin].[tvf_InvoiceSchedulesValidate]
(
    @Guid                                UNIQUEIDENTIFIER,
    @TriggerGuid                         UNIQUEIDENTIFIER,
    @OnActivityCompletion                BIT,
    @OnMilestoneCompletion               BIT,
    @OnActivityAndMilestonCompletion     BIT,
    @RibaOnCompletion                    BIT,
    @RibaOnPartCompletion                BIT
   
)
RETURNS @ValidationResult TABLE
(
    ID INT IDENTITY(1, 1) NOT NULL,
    TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT (''00000000-0000-0000-0000-000000000000''),
    TargetType CHAR(1) NOT NULL DEFAULT (''''),
    IsReadOnly BIT NOT NULL DEFAULT ((0)),
    IsHidden BIT NOT NULL DEFAULT ((0)),
    IsInvalid BIT NOT NULL DEFAULT ((0)),
    [IsInformationOnly] [BIT] NOT NULL DEFAULT ((0)),
    Message NVARCHAR(2000) NOT NULL DEFAULT ('''')
)
AS
BEGIN
    DECLARE
        @TriggerName NVARCHAR(100),
        @InvoiceScheduleId INT,
        @HasCreatedJob BIT = 0,

        /*
            We count the number of checkboxes enabled - there should only be a max of 1 for each config.
            If there are more than 1 enabled, we throw a validation message.
        */
        @SelectedActivityCheckboxCount INT =
             (CASE WHEN @OnActivityCompletion = 1 THEN 1 ELSE 0 END)
            +(CASE WHEN @OnMilestoneCompletion = 1 THEN 1 ELSE 0 END)
            +(CASE WHEN @OnActivityAndMilestonCompletion = 1 THEN 1 ELSE 0 END),

        @SelectedRIBACheckboxCount INT =
             (CASE WHEN @RibaOnCompletion = 1 THEN 1 ELSE 0 END)
            +(CASE WHEN @RibaOnPartCompletion = 1 THEN 1 ELSE 0 END);

    SELECT
        @TriggerName = ist.Name
    FROM SFin.InvoiceScheduleTrigger AS ist
    WHERE ist.Guid = @TriggerGuid;

    SELECT
        @InvoiceScheduleId = ins.ID
    FROM SFin.InvoiceSchedules AS ins
    WHERE ins.Guid = @Guid
      AND ins.RowStatus NOT IN (0,254);

    /*
        Read-only rule:
        If the Invoice Schedule belongs to a Quote whose QuoteItems have created Jobs,
        then the Invoice Schedule form should be read-only unless explicitly bypassed
        by the automation re-enable flow.
    */
   
        IF EXISTS
        (
			SELECT 1
			FROM SFin.InvoiceSchedules AS ins
			INNER JOIN SSop.Quotes AS q			ON (q.ID = ins.QuoteId AND q.RowStatus NOT IN (0,254))
			INNER JOIN SSop.QuoteItems AS qi	ON (qi.QuoteId = q.ID AND ins.ID = qi.InvoicingSchedule AND qi.RowStatus NOT IN (0,254) AND qi.CreatedJobId > 0 )
			INNER JOIN SJob.Jobs AS j			ON (j.ID = qi.CreatedJobId AND j.RowStatus NOT IN (0,254))
			WHERE 
					qi.InvoicingSchedule = @InvoiceScheduleId
				AND qi.CreatedJobId <> -1
				AND ins.RowStatus NOT IN (0,254)
				AND j.InvoiceProcessingMode <> 1
        )
        BEGIN
            SET @HasCreatedJob = 1;
        END;

        IF (@HasCreatedJob = 1)
        BEGIN
            /*
                Make all editable properties on the Invoice Schedule read-only.
                We leave RowStatus/Guid/RowVersion/ID system fields alone.
            */
            INSERT @ValidationResult
                (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
            SELECT
                epfvv.Guid,
                N''P'',
                1,
                0,
                0,
                N''This invoice schedule is read-only because a Job has already been created from the related Quote Item.''
            FROM SCore.EntityPropertiesForValidationV AS epfvv
            WHERE epfvv.[Schema] = N''SFin''
              AND epfvv.Hobt = N''InvoiceSchedules''
              AND epfvv.Name NOT IN (N''Guid'', N''RowVersion'', N''RowStatus'', N''ID'');
        END;
    

    /*
        =======================================
            Manual
        =======================================
    */
    IF (@TriggerName = N''Manual'' OR @TriggerName = N'''')
        INSERT @ValidationResult
            (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT
            epfvv.Guid,
            N''P'',
            0,
            1,
            0,
            N''''
        FROM SCore.EntityPropertiesForValidationV AS epfvv
        WHERE epfvv.[Schema] = N''SFin''
          AND epfvv.Hobt = N''InvoiceSchedules''
          AND epfvv.Name <> N''TriggerId''
          AND epfvv.Name <> N''DescriptionOfWork''
          AND epfvv.Name <> N''Name'';

    /*
        =======================================
            MONTHLY DRAWDOWN
        =======================================
    */
    IF (@TriggerName = N''Monthly Drawdowns'')
    BEGIN
        INSERT @ValidationResult
            (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT
            epfvv.Guid,
            N''P'',
            0,
            1,
            0,
            N''''
        FROM SCore.EntityPropertiesForValidationV AS epfvv
        WHERE epfvv.[Schema] = N''SFin''
          AND epfvv.Hobt = N''InvoiceSchedules''
          AND epfvv.Name <> N''TriggerId''
          AND epfvv.Name <> N''DescriptionOfWork''
          AND epfvv.Name <> N''Name'';
    END;

    /*
        =======================================
            PERCENTAGE
        =======================================
    */
    IF (@TriggerName = N''Percentage-based'')
    BEGIN
        INSERT @ValidationResult
            (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT
            epfvv.Guid,
            N''P'',
            0,
            1,
            0,
            N''''
        FROM SCore.EntityPropertiesForValidationV AS epfvv
        WHERE epfvv.[Schema] = N''SFin''
          AND epfvv.Hobt = N''InvoiceSchedules''
          AND epfvv.Name <> N''TriggerId''
          AND epfvv.Name <> N''DescriptionOfWork''
          AND epfvv.Name <> N''Name'';
    END;

    /*
        =======================================
            RIBA STAGE-BASED
        =======================================
    */
    IF (@TriggerName = N''RIBA Stage-based'')
    BEGIN
        INSERT @ValidationResult
            (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT
            epfvv.Guid,
            N''P'',
            0,
            1,
            0,
            N''''
        FROM SCore.EntityPropertiesForValidationV AS epfvv
        WHERE epfvv.[Schema] = N''SFin''
          AND epfvv.Hobt = N''InvoiceSchedules''
          AND epfvv.Name <> N''TriggerId''
          AND epfvv.Name NOT IN (N''Name'', N''RibaOnCompletion'', N''RibaOnPartCompletion'');

        IF (@SelectedRIBACheckboxCount > 1)
            INSERT @ValidationResult
                (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
            SELECT
                epfvv.Guid,
                N''P'',
                0,
                0,
                1,
                N''You can only select one option!''
            FROM SCore.EntityPropertiesForValidationV AS epfvv
            WHERE epfvv.[Schema] = N''SFin''
              AND epfvv.Hobt = N''InvoiceSchedules''
              AND epfvv.Name <> N''TriggerId''
              AND epfvv.Name <> N''DescriptionOfWork''
              AND epfvv.Name IN (N''RibaOnCompletion'', N''RibaOnPartCompletion'');
    END;

    /*
        =======================================
            ACTIVITY/MILESTONE BASED
        =======================================
    */
    IF (@TriggerName = N''Activity/Milestone-based'')
    BEGIN
        INSERT @ValidationResult
            (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT
            epfvv.Guid,
            N''P'',
            0,
            1,
            0,
            N''''
        FROM SCore.EntityPropertiesForValidationV AS epfvv
        WHERE epfvv.[Schema] = N''SFin''
          AND epfvv.Hobt = N''InvoiceSchedules''
          AND epfvv.Name <> N''TriggerId''
          AND epfvv.Name NOT IN (N''Name'', N''OnActivityCompletion'', N''OnMilestoneCompletion'', N''OnActivityAndMilestonCompletion'');

        IF (@SelectedActivityCheckboxCount > 1)
            INSERT @ValidationResult
                (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
            SELECT
                epfvv.Guid,
                N''P'',
                0,
                0,
                1,
                N''You can only select one option!''
            FROM SCore.EntityPropertiesForValidationV AS epfvv
            WHERE epfvv.[Schema] = N''SFin''
              AND epfvv.Hobt = N''InvoiceSchedules''
              AND epfvv.Name <> N''TriggerId''
              AND epfvv.Name <> N''DescriptionOfWork''
              AND epfvv.Name IN (N''OnActivityCompletion'', N''OnMilestoneCompletion'', N''OnActivityAndMilestonCompletion'');
    END;

    RETURN;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_InvoiceScheduleMonthConfigurationValidate]
--
GO
PRINT (N'Create or alter function [SFin].[tvf_InvoiceScheduleMonthConfigurationValidate]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[tvf_InvoiceScheduleMonthConfigurationValidate]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SFin].[tvf_InvoiceScheduleMonthConfigurationValidate]
(
    @Guid                                   UNIQUEIDENTIFIER,
    @OnDayOfMonth                           DATE,
    @PeriodNumber                           INT,
    @Amount                                 DECIMAL(19,2),
    @InvoiceScheduleGuid                    UNIQUEIDENTIFIER,
    @BypassReadOnlyForAutomationReenable    BIT
)
RETURNS @ValidationResult TABLE
(
    ID INT IDENTITY(1, 1) NOT NULL,
    TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT (''00000000-0000-0000-0000-000000000000''),
    TargetType CHAR(1) NOT NULL DEFAULT (''''),
    IsReadOnly BIT NOT NULL DEFAULT ((0)),
    IsHidden BIT NOT NULL DEFAULT ((0)),
    IsInvalid BIT NOT NULL DEFAULT ((0)),
    IsInformationOnly BIT NOT NULL DEFAULT ((0)),
    Message NVARCHAR(2000) NOT NULL DEFAULT ('''')
)
AS
BEGIN
    DECLARE 
        @InvoiceScheduleId INT,
        @InvoiceScheduleMonthConfigurationEntityTypeGuid UNIQUEIDENTIFIER,
        @HasCreatedJob BIT = 0;

    SELECT
        @InvoiceScheduleId = ins.ID
    FROM SFin.InvoiceSchedules AS ins
    WHERE ins.Guid = @InvoiceScheduleGuid
      AND ins.RowStatus NOT IN (0,254);

    SELECT
        @InvoiceScheduleMonthConfigurationEntityTypeGuid = et.Guid
    FROM SCore.EntityTypes AS et
    WHERE et.Name = N''Invoice Schedule Month Configuration''
      AND et.RowStatus NOT IN (0,254);

    IF (@BypassReadOnlyForAutomationReenable = 0)
    BEGIN
        IF EXISTS
        (
            SELECT 1
            FROM SFin.InvoiceScheduleMonthConfiguration AS imc
            INNER JOIN SFin.InvoiceSchedules AS invsc
                ON invsc.ID = imc.InvoiceScheduleId
               AND invsc.RowStatus NOT IN (0,254)
            INNER JOIN SSop.Quotes AS q
                ON q.ID = invsc.QuoteId
               AND q.RowStatus NOT IN (0,254)
            INNER JOIN SSop.QuoteItems AS qi
                ON qi.QuoteId = q.ID
               AND qi.RowStatus NOT IN (0,254)
               AND qi.CreatedJobId > 0
            INNER JOIN SJob.Jobs AS j
                ON j.ID = qi.CreatedJobId
               AND j.RowStatus NOT IN (0,254)
            WHERE imc.InvoiceScheduleId = @InvoiceScheduleId
              AND imc.RowStatus NOT IN (0,254)
			  AND qi.InvoicingSchedule = imc.ID
			 -- AND qi.CreatedJobId <> -1
        )
        BEGIN
            SET @HasCreatedJob = 1;
        END;

		

        IF (@HasCreatedJob = 1)
        BEGIN
            INSERT INTO @ValidationResult
            (
                TargetGuid,
                TargetType,
                IsReadOnly,
                IsHidden,
                IsInvalid,
                IsInformationOnly,
                Message
            )
            VALUES
            (
                ISNULL(@InvoiceScheduleMonthConfigurationEntityTypeGuid, ''00000000-0000-0000-0000-000000000000''),
                N''E'',
                1,
                0,
                0,
                1,
                N''This month configuration is read-only because a Job has already been created from the related Quote Item.''
            );
        END;
    END;

    IF EXISTS
    (
        SELECT 1 
        FROM SFin.InvoiceScheduleMonthConfiguration AS ismc
        WHERE ismc.InvoiceScheduleId = @InvoiceScheduleId
          AND ismc.Guid <> @Guid
          AND ismc.PeriodNumber = @PeriodNumber
          AND ismc.RowStatus NOT IN (0,254)
    )
    BEGIN
        INSERT INTO @ValidationResult
        (
            TargetGuid,
            TargetType,
            IsReadOnly,
            IsHidden,
            IsInvalid,
            Message
        )
        SELECT
            epfvv.Guid,
            N''P'',
            0,
            0,
            1,
            N''Period has already been defined!''
        FROM SCore.EntityPropertiesForValidationV AS epfvv
        WHERE epfvv.[Schema] = N''SFin''
          AND epfvv.Hobt = N''InvoiceScheduleMonthConfiguration''
          AND epfvv.Name = N''PeriodNumber'';
    END;

    RETURN;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SSop].[tvf_QuotesValidate]
--
GO
PRINT (N'Create or alter function [SSop].[tvf_QuotesValidate]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SSop].[tvf_QuotesValidate]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'CREATE OR ALTER FUNCTION [SSop].[tvf_QuotesValidate]
(
    @Guid UNIQUEIDENTIFIER,
    @DateSent DATE,
    @DeadDate DATE,
    @DateRejected DATE,
    @IsFinal BIT,
    @RevisionNumber INT,
    @OrganisationalUnitGuid UNIQUEIDENTIFIER,
    @DateDeclinedToQuote DATE,
    @DeclinedToQuoteReason NVARCHAR(MAX),
    @ContractGuid UNIQUEIDENTIFIER,
    @AgentContractGuid UNIQUEIDENTIFIER
)
RETURNS @ValidationResult TABLE
(
    ID INT IDENTITY(1, 1) NOT NULL,
    TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT (''00000000-0000-0000-0000-000000000000''),
    TargetType CHAR(1) NOT NULL DEFAULT (''''),
    IsReadOnly BIT NOT NULL DEFAULT ((0)),
    IsHidden BIT NOT NULL DEFAULT ((0)),
    IsInvalid BIT NOT NULL DEFAULT ((0)),
    IsInformationOnly BIT NOT NULL DEFAULT ((0)),
    Message NVARCHAR(2000) NOT NULL DEFAULT ('''')
)
AS
BEGIN
    DECLARE @EntityTypeGuid UNIQUEIDENTIFIER = ''1c4794c1-f956-4c32-b886-5500ac778a56'';
    DECLARE @Final      BIT = 0;
    DECLARE @IsSent     BIT = 0;
    DECLARE @IsAccepted BIT = 0;
    DECLARE @IsRejected BIT = 0;
    DECLARE @IsDead     BIT = 0;
    DECLARE @IsReopened BIT = 0;
    DECLARE @ReadyForQuote UNIQUEIDENTIFIER = ''EB867FA0-9608-4CC7-93BE-CC8E8140E8F0'';
    -- Ready to Send (replaces legacy IsFinal checkbox meaning)
    DECLARE @FinalStatus    UNIQUEIDENTIFIER = ''02A2237F-2AE7-4E05-926F-38E8B7D050A0'';
    -- Corrected GUIDs
    DECLARE @SentStatus     UNIQUEIDENTIFIER = ''25D5491C-42A8-4B04-B3AC-D648AF0F8032'';
    DECLARE @AcceptedStatus UNIQUEIDENTIFIER = ''21A29AEE-2D99-4DA3-8182-F31813B0C498'';
    DECLARE @RejectedStatus UNIQUEIDENTIFIER = ''0A6A71F7-B39F-4213-997E-2B3A13B6144C'';
    DECLARE @DeadStatus     UNIQUEIDENTIFIER = ''8C7F7526-559F-4CCF-8FC2-DB0DA67E793D'';
    DECLARE @Reopened UNIQUEIDENTIFIER;

    -- Make deterministic + rowstatus-safe (optional but recommended)
    SELECT TOP (1) @Reopened = Guid
    FROM SCore.WorkflowStatus
    WHERE RowStatus NOT IN (0,254)
      AND Name LIKE N''%Reopened%''
    ORDER BY ID;
    -------------------------------------------------------------------------
    -- Determine flags based on the LATEST workflow transition for this Quote (latest-only)
    -------------------------------------------------------------------------
DECLARE
      @LatestWorkflowStatusGuid UNIQUEIDENTIFIER = NULL
    , @LatestIsActiveStatus     BIT              = NULL
    , @LatestIsCompleteStatus   BIT              = NULL;
 
	;WITH LatestEffective AS
	(
		SELECT TOP (1)
			  wfs.Guid             AS LatestWorkflowStatusGuid
			, wfs.IsActiveStatus   AS LatestIsActiveStatus
			, wfs.IsCompleteStatus AS LatestIsCompleteStatus
		FROM SCore.DataObjectTransition dot
		JOIN SCore.WorkflowStatus wfs ON wfs.ID = dot.StatusID
		WHERE dot.RowStatus NOT IN (0,254)
		  AND wfs.RowStatus NOT IN (0,254)
		  AND dot.DataObjectGuid = @Guid
		ORDER BY
			dot.ID DESC
	)
	SELECT
		  @LatestWorkflowStatusGuid = LatestWorkflowStatusGuid
		, @LatestIsActiveStatus     = LatestIsActiveStatus
		, @LatestIsCompleteStatus   = LatestIsCompleteStatus
	FROM LatestEffective;

    -- Latest-only flags
    SET @Final      = CASE WHEN @LatestWorkflowStatusGuid = @FinalStatus    THEN 1 ELSE 0 END;
    SET @IsSent     = CASE WHEN @LatestWorkflowStatusGuid = @SentStatus     THEN 1 ELSE 0 END;
    SET @IsAccepted = CASE WHEN @LatestWorkflowStatusGuid = @AcceptedStatus THEN 1 ELSE 0 END;
    SET @IsRejected = CASE WHEN @LatestWorkflowStatusGuid = @RejectedStatus THEN 1 ELSE 0 END;
    SET @IsDead     = CASE WHEN @LatestWorkflowStatusGuid = @DeadStatus     THEN 1 ELSE 0 END;
    SET @IsReopened = CASE WHEN @LatestWorkflowStatusGuid = @Reopened       THEN 1 ELSE 0 END;
    -------------------------------------------------------------------------
    -- Prevent changing Quote if Enquiry not ready for quote review
    -------------------------------------------------------------------------
    IF EXISTS
    (
        SELECT 1
        FROM SSop.Quotes q
        JOIN SSop.EnquiryServices es ON es.ID = q.EnquiryServiceID
        JOIN SSop.Enquiries e ON e.ID = es.EnquiryId
        WHERE q.Guid = @Guid
          AND e.IsReadyForQuoteReview = 0
          AND NOT EXISTS
          (
              SELECT 1
              FROM SCore.DataObjectTransition dob
              JOIN SCore.WorkflowStatus wfs ON dob.StatusID = wfs.ID
              WHERE dob.RowStatus NOT IN (0,254)
                AND wfs.RowStatus NOT IN (0,254)
                AND dob.DataObjectGuid = e.Guid
                AND wfs.Guid = @ReadyForQuote
          )
    )
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT ep.Guid, N''P'', 1, 0, 0, N''''
        FROM SCore.EntityProperties ep
        JOIN SCore.EntityHobts eh ON eh.ID = ep.EntityHoBTID
        JOIN SCore.EntityTypes et ON et.ID = eh.EntityTypeID
        WHERE et.Name = N''Quotes'';
        RETURN;
    END;
    -------------------------------------------------------------------------
    -- Lock quote when jobs exist or dead
    -------------------------------------------------------------------------
    IF EXISTS
    (
        SELECT 1
        FROM SSop.QuoteItems qi
        JOIN SSop.Quotes q ON q.ID = qi.QuoteId
        WHERE q.Guid = @Guid
          AND qi.RowStatus NOT IN (0,254)
          AND qi.CreatedJobId > 0
    )
    OR (@IsDead = 1 OR @DeadDate IS NOT NULL AND @IsReopened = 0)
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        VALUES (@EntityTypeGuid, N''E'', 1, 0, 0, N'''');
        RETURN;
    END;
    -------------------------------------------------------------------------
    -- CDM FeeCap hide
    -------------------------------------------------------------------------
    IF EXISTS
    (
        SELECT 1
        FROM SCore.OrganisationalUnits ou
        WHERE ou.Guid = @OrganisationalUnitGuid
          AND ou.Name LIKE N''CDM%''
          AND ou.RowStatus NOT IN (0,254)
    )
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 0, 1, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes''
          AND epfvv.Name = N''FeeCap'';
    END;
    -------------------------------------------------------------------------
    -- RevisionNumber rule
    -------------------------------------------------------------------------
    IF (@RevisionNumber < 1)
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 1, 1, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes''
          AND epfvv.Name = N''RevisionNumber'';
    END;
    -------------------------------------------------------------------------
    -- Don’t allow progress beyond Send until quote is Sent
    -------------------------------------------------------------------------
    IF ((@DateSent IS NULL) AND (@IsSent = 0))
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 1, 1, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes''
          AND epfvv.Name IN (N''DateAccepted'', N''DateRejected'', N''RejectionReason'', N''ChaseDate1'', N''ChaseDate2'');
    END;
    -------------------------------------------------------------------------
    -- Sent => IsFinal locked (legacy field still locked, but NO net error now)
    ---------------------------------------------------------------------------
    IF ((@IsSent = 1) OR (@DateSent IS NOT NULL))
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 1, 0, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes''
          AND epfvv.Name = N''IsFinal'';
    END;
    -------------------------------------------------------------------------
    -- Block DateSent until workflow status is Ready to Send
    -------------------------------------------------------------------------
    IF (@Final = 0)
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 1, 1, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes''
          AND epfvv.Name = N''DateSent'';
    END;
    -------------------------------------------------------------------------
    -- Rejected locking (latest-only + reopen exception)
    -------------------------------------------------------------------------
    IF (((@IsRejected = 1) OR (@DateRejected IS NOT NULL)) AND @IsReopened = 0)
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 1, 0, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes'';
    END;
    -------------------------------------------------------------------------
    -- Hide AgentContractID if ContractID set, and vice versa
    -------------------------------------------------------------------------
    IF (@ContractGuid <> ''00000000-0000-0000-0000-000000000000'')
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 0, 1, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes''
          AND epfvv.Name = N''AgentContractID'';
    END
    ELSE IF (@AgentContractGuid <> ''00000000-0000-0000-0000-000000000000'')
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 0, 1, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes''
          AND epfvv.Name = N''ContractID'';
    END;
    -------------------------------------------------------------------------
    -- Final/Ready-to-Send lockdown of fields (KEEP) but NO net value error here
    -------------------------------------------------------------------------
    IF (@Final = 1)
       AND NOT EXISTS
       (
           SELECT 1
           FROM SSop.Quotes q
           WHERE q.Guid = @Guid
             AND q.LegacyId IS NOT NULL
             AND
             (
                 q.OrganisationalUnitID  < 0
              OR q.QuotingUserId         < 0
              OR q.QuotingConsultantId   < 0
             )
       )
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 1, 0, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quotes''
          AND epfvv.Name NOT IN
          (
              N''ChaseDate2'', N''ChaseDate1'', N''RejectionReason'', N''DateRejected'', N''DateAccepted'',
              N''IsFinal'', N''DateSent''
          );
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 1, 0, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt = N''Quote_ExtendedInfo'';
    END;
    -------------------------------------------------------------------------
    -- Complete-status lock (latest-only)
    -------------------------------------------------------------------------
    IF (@LatestIsCompleteStatus = 1 AND @IsReopened = 1 )
    BEGIN
        INSERT @ValidationResult (TargetGuid, TargetType, IsReadOnly, IsHidden, IsInvalid, Message)
        SELECT epfvv.Guid, N''P'', 1, 0, 0, N''''
        FROM SCore.EntityPropertiesForValidationV epfvv
        WHERE epfvv.[Schema] = N''SSop''
          AND epfvv.Hobt     = N''Quotes'';
    END;
    RETURN;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SFin].[InvoiceSchedulesUpsert]
--
GO
PRINT (N'Create or alter procedure [SFin].[InvoiceSchedulesUpsert]')
GO
IF OBJECT_ID(N'[SFin].[InvoiceSchedulesUpsert]', 'P') IS NOT NULL
EXEC sp_executesql N'

CREATE OR ALTER PROCEDURE [SFin].[InvoiceSchedulesUpsert]
(
    @Guid								UNIQUEIDENTIFIER,
	@Name								NVARCHAR(100),
	@TriggerGuid						UNIQUEIDENTIFIER,
	@ExpectedDate						DATE,
	@DescriptionOfWork					NVARCHAR(MAX),
	@Amount								DECIMAL (19,2),
	@QuoteGuid							UNIQUEIDENTIFIER,

	--RIBA Config. params
	@RibaOnCompletion					BIT,
	@RibaOnPartCompletion				BIT,

	--Monthly Config. params			 
	@OnMilestoneCompletion				BIT,
	@OnActivityCompletion				BIT,
	@OnActivityAndMilestonCompletion	BIT,
	@ScheduleReenabled					BIT
)
AS 
BEGIN 

   DECLARE	@TriggerId INT = -1,
			@QuoteId   INT,
			@IsInsert BIT;


	DECLARE 
			--Guids & IDs for the config tables.
			@RibaConfigGuid UNIQUEIDENTIFIER = NEWID(),
			@MonthlyConfigGuid UNIQUEIDENTIFIER = NEWID(),
			@RibaConfigId		INT,
			@ActivityMilestoneConfigId	INT







	--Get the triggerId.
	SELECT  @TriggerId = ID
	FROM [SFin].[InvoiceScheduleTrigger]
	WHERE ([Guid] = @TriggerGuid);

	--Get the ID for the quote
	SELECT @QuoteId = ID
	FROM SSop.Quotes
	WHERE ([Guid] = @QuoteGuid)


			
    EXEC SCore.UpsertDataObject @Guid = @Guid,					
							@SchemeName = N''SFin'',				
							@ObjectName = N''InvoiceSchedules'',				
							@IsInsert = @IsInsert OUTPUT,	
							@IncludeDefaultSecurity = 0
    IF (@IsInsert = 1)
    BEGIN

		


		/*
			=================================================
							RIBA CONFIG
			=================================================
		*/

		--Upsert Riba configuration
		EXEC SCore.UpsertDataObject @Guid = @RibaConfigGuid,					
							@SchemeName = N''SFin'',				
							@ObjectName = N''InvoiceSchedule_Riba_Config'',				
							@IsInsert = @IsInsert OUTPUT,	
							@IncludeDefaultSecurity = 0


		--Insert it into the table.
		 INSERT SFin.InvoiceScheduleRibaConfiguration
				(
					RowStatus,
					Guid,
					RibaOnCompletion,
					RibaOnPartCompletion
				)
		VALUES  (
					1,
					@RibaConfigGuid,
					@RibaOnCompletion,
					@RibaOnPartCompletion
				);


		--Get the ID for inserting it.
		SELECT @RibaConfigId = ID
		FROM SFin.InvoiceScheduleRibaConfiguration
		WHERE Guid = @RibaConfigGuid;



		/*
			=================================================
							MONTHLY CONFIG
			=================================================
		*/


		--Upsert Monthly configuration
		EXEC SCore.UpsertDataObject @Guid = @MonthlyConfigGuid,					
							@SchemeName = N''SFin'',				
							@ObjectName = N''InvoiceSchedule_ActMil_Config'',				
							@IsInsert = @IsInsert OUTPUT,	
							@IncludeDefaultSecurity = 0


		--Insert it into the table.
		 INSERT SFin.InvoiceScheduleActivityMilestoneConfiguration
				(
					RowStatus,
					Guid,
					OnMilestoneCompletion,
					OnActivityCompletion,
					OnActivityAndMilestonCompletion
				)
		VALUES  (
					1,
					@MonthlyConfigGuid,
					@OnMilestoneCompletion,
					@OnActivityCompletion,
					@OnActivityAndMilestonCompletion
					
				);


		--Get the ID for inserting it.
		SELECT @ActivityMilestoneConfigId = ID
		FROM SFin.InvoiceScheduleActivityMilestoneConfiguration
		WHERE Guid = @MonthlyConfigGuid;




		INSERT	SFin.InvoiceSchedules
				(
					RowStatus,
					Guid, 
					Name,
					TriggerId,
					ExpectedDate,
					DescriptionOfWork,
					Amount,
					QuoteId,
					RibaConfigurationId,
					ActivityMilestoneConfigurationId,
					ScheduleReenabled
				)
		VALUES
				(
					 1,						-- RowStatus - tinyint
					 @Guid,					-- Guid - uniqueidentifier
					 @Name,
					 @TriggerId,
					 @ExpectedDate,
					 @DescriptionOfWork,
					 @Amount,
					 @QuoteId,
					 @RibaConfigId,
					 @ActivityMilestoneConfigId,
					 @ScheduleReenabled
				 )
    END
    ELSE
    BEGIN 
		
		--Get the IDs for the config tables.
		SELECT @RibaConfigId = RibaConfigurationId
		FROM SFin.InvoiceSchedules
		WHERE Guid = @Guid;

		SELECT @ActivityMilestoneConfigId = ActivityMilestoneConfigurationId
		FROM SFin.InvoiceSchedules
		WHERE Guid = @Guid;


		--Now, get the Guids
		SELECT @RibaConfigGuid = Guid
		FROM SFin.InvoiceScheduleRibaConfiguration
		WHERE ID = @RibaConfigId

		SELECT @MonthlyConfigGuid = Guid
		FROM SFin.InvoiceScheduleActivityMilestoneConfiguration
		WHERE ID = @ActivityMilestoneConfigId

		



        UPDATE  SFin.InvoiceSchedules
		SET		Name = @Name,
				TriggerId = @TriggerId,
				ExpectedDate = @ExpectedDate,
				DescriptionOfWork = @DescriptionOfWork,
				Amount = @Amount,
				QuoteId = @QuoteId,
				ScheduleReenabled = @ScheduleReenabled
        WHERE   ([Guid] = @Guid)


		--Update the config tables.
		UPDATE SFin.InvoiceScheduleActivityMilestoneConfiguration
		SET	OnMilestoneCompletion = @OnMilestoneCompletion,
			OnActivityCompletion = @OnActivityCompletion,
			OnActivityAndMilestonCompletion = @OnActivityAndMilestonCompletion
		WHERE ([Guid] = @MonthlyConfigGuid)

		UPDATE SFin.InvoiceScheduleRibaConfiguration
		SET RibaOnCompletion = @RibaOnCompletion,
			RibaOnPartCompletion = @RibaOnPartCompletion
		WHERE ([Guid] = @RibaConfigGuid)


    END
END
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SSop].[QuoteReopen]
--
GO
PRINT (N'Create or alter procedure [SSop].[QuoteReopen]')
GO
IF OBJECT_ID(N'[SSop].[QuoteReopen]', 'P') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SSop].[QuoteReopen]
  @Guid                    UNIQUEIDENTIFIER OUT
AS
  BEGIN
    DECLARE @UserID             INT = -1;

    SELECT
            @UserID = ISNULL(CONVERT(INT,
            SESSION_CONTEXT(N''user_id'')
            ),
            -1
            );

    IF (NOT EXISTS
			(
				SELECT	1
				FROM	SCore.UserGroups AS ug
				JOIN	SCore.Groups AS g ON (g.ID = ug.GroupID)
				WHERE	(ug.IdentityID = @UserID)
					AND	(g.Code = N''QUOTESU'')
					AND (ug.RowStatus NOT IN (0,254))
			)
		)
	BEGIN 
		;THROW 60000, N''Only members of the Quote Superusers group can run this action.'', 1
	END
	ELSE
	BEGIN 
		UPDATE	q
		SET		q.DeadDate = NULL,
				q.DateRejected = NULL
		FROM	SSop.Quotes AS q
		WHERE	(q.Guid = @Guid)
			AND	(
					(q.DeadDate IS NOT NULL)
				OR	(q.DateRejected IS NOT NULL)
				)
		
		DECLARE @UserGuid UNIQUEIDENTIFIER;
		DECLARE @ReopenedStatus UNIQUEIDENTIFIER;
		DECLARE @DataObjectTransitionGuid UNIQUEIDENTIFIER = NEWID();
		DECLARE @PreviousStatusGuid UNIQUEIDENTIFIER;

		--Get the user guid
		SELECT @UserGuid = Guid
		FROM SCore.Identities
		WHERE (ID = @UserID)

		--Get the reopened status
		SELECT @ReopenedStatus = Guid
		FROM SCore.WorkflowStatus
		WHERE Name LIKE N''%Reopened%''


		--Get the most recent status applied to the record.
		SELECT TOP(1) @PreviousStatusGuid = wfs.Guid
		FROM SCore.DataObjectTransition as dot
		JOIN SCore.WorkflowStatus as wfs ON (wfs.ID = dot.StatusID)
		WHERE (DataObjectGuid = @Guid)
		ORDER BY dot.ID DESC;

		DECLARE @CompleteStatusGuid UNIQUEIDENTIFIER = ''6042639D-EF8A-4B6F-9182-A69A7119C117'';
		DECLARE @DeclinedStatusGuid UNIQUEIDENTIFIER = ''B9BA4510-6358-4C0A-BBA1-5FEB33C54F84'';
		


		IF(@PreviousStatusGuid NOT IN (@CompleteStatusGuid, @DeclinedStatusGuid ))
		BEGIN 
			;THROW 60000, N''Last applied status must be "Completed" or "Declined"'', 1
		END

		EXEC SCore.DataObjectTransitionUpsert 
				@DataObjectTransitionGuid, 
				@PreviousStatusGuid, 
				@ReopenedStatus, 
				N''System Imported'', 
				@UserGuid, 
				''00000000-0000-0000-0000-000000000000'', 
				@Guid, 
				1


	END
  END;

'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter procedure [SSop].[EnquiryReopen]
--
GO
PRINT (N'Create or alter procedure [SSop].[EnquiryReopen]')
GO
IF OBJECT_ID(N'[SSop].[EnquiryReopen]', 'P') IS NOT NULL
EXEC sp_executesql N'CREATE OR ALTER PROCEDURE [SSop].[EnquiryReopen]
  @Guid                    UNIQUEIDENTIFIER OUT
AS
  BEGIN
    DECLARE @UserID             INT = -1;

    SELECT
            @UserID = ISNULL(CONVERT(INT,
            SESSION_CONTEXT(N''user_id'')
            ),
            -1
            );

    IF (NOT EXISTS
			(
				SELECT	1
				FROM	SCore.UserGroups AS ug
				JOIN	SCore.Groups AS g ON (g.ID = ug.GroupID)
				WHERE	(ug.IdentityID = @UserID)
					AND	(g.Code = N''ENQUIRYSU'')
					AND (ug.RowStatus NOT IN (0,254))
					
			)
		)
	BEGIN 
		;THROW 60000, N''Only members of the Enquiries Superusers group can run this action.'', 1
	END
	ELSE
	BEGIN 
		UPDATE	e
		SET		e.DeclinedToQuoteDate = NULL
		FROM	SSop.Enquiries AS e
		WHERE	(e.Guid = @Guid)
			AND	(e.DeclinedToQuoteDate IS NOT NULL)


		--Parameters for upserting the data object transition.
		DECLARE @TransitionGuid UNIQUEIDENTIFIER = NEWID();
		DECLARE @ReopenStatus UNIQUEIDENTIFIER = ''34EF363A-C8F7-4BA8-A2C6-067EBAEF12FD'';
		DECLARE @PreviousStatusGuid UNIQUEIDENTIFIER = ''00000000-0000-0000-0000-000000000000'';
		DECLARE @Comment NVARCHAR(200) = N''The job has been reopened.'';
		DECLARE @UserGuid UNIQUEIDENTIFIER;
		DECLARE @IsImported BIT = 0;
		DECLARE @LastAppliedStatusGuid UNIQUEIDENTIFIER;


		--Get the user GUID
		SELECT @UserGuid = Guid
		FROM SCore.Identities
		WHERE (ID = @UserID);


		--Get the current status applied to the record.
		SELECT 
			@PreviousStatusGuid = dob.Guid,
			@LastAppliedStatusGuid =  wfs.Guid
		FROM SCore.DataObjectTransition AS dob
		JOIN SCore.WorkflowStatus AS wfs ON (wfs.Id = dob.StatusID)
		WHERE
				(dob.DataObjectGuid = @Guid)
			AND (dob.RowStatus NOT IN (0,254))
			AND (NOT EXISTS
					(
						SELECT 1 
						FROM SCore.DataObjectTransition AS dob1
						WHERE
								(dob1.DataObjectGuid = @Guid)
							AND (dob1.RowStatus NOT IN (0,254))
							AND (dob1.ID > dob.ID)
					)
				);

		DECLARE @CompleteStatusGuid UNIQUEIDENTIFIER = ''6042639D-EF8A-4B6F-9182-A69A7119C117'';
		DECLARE @DeclinedStatusGuid UNIQUEIDENTIFIER = ''708C00E6-F45F-4CB2-8E91-A80B8B8E802E'';
		DECLARE @EngineeringDeclinedStatusGuid UNIQUEIDENTIFIER = ''60B8D960-8F6C-495D-B2E7-F19EBD5506EE'';


		IF(@LastAppliedStatusGuid NOT IN (@CompleteStatusGuid, @DeclinedStatusGuid, @EngineeringDeclinedStatusGuid ))
		BEGIN 
			;THROW 60000, N''Last applied status must be "Completed" or "Declined"'', 1
		END
				

		--Add reopened status.
		EXEC SCore.DataObjectTransitionUpsert  
				@TransitionGuid, 
				@PreviousStatusGuid, 
				@ReopenStatus, 
				@Comment, 
				@UserGuid, 
				@UserGuid, 
				@Guid, 
				@IsImported;

	END
  END;

'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter view [SSop].[Quote_CalculatedFields]
--
GO
PRINT (N'Create or alter view [SSop].[Quote_CalculatedFields]')
GO
IF OBJECT_ID(N'[SSop].[Quote_CalculatedFields]', 'V') IS NOT NULL
EXEC sp_executesql N'


CREATE OR ALTER VIEW [SSop].[Quote_CalculatedFields]
AS
SELECT
    q.ID,
    QuoteStatus =
        CASE
            ----------------------------------------------------------------------
            -- 1) JOB-DRIVEN COMPLETION (highest priority)
            --    Explicit calculated override retained by design.
            ----------------------------------------------------------------------
			WHEN LatestWorkflowStatus.Guid = Statuses.Reopened
                THEN N''Reopened''

            WHEN JobAgg.CreatedJobsCount >= 1
                 AND JobAgg.PendingJobsCount = 0
                THEN N''Complete''

            WHEN JobAgg.CreatedJobsCount >= 1
                 AND JobAgg.PendingJobsCount >= 1
                THEN N''Part Complete''

            ----------------------------------------------------------------------
            -- 2) WORKFLOW IS SOURCE OF TRUTH
            --    If there is a latest workflow transition, show it.
            --    This prevents inferred "Ready to Send" / legacy flags from
            --    overriding a real latest workflow such as "Quoting".
            ----------------------------------------------------------------------
			

            WHEN LatestWorkflowStatus.Guid = Statuses.Declined
                THEN N''Declined''

            WHEN LatestWorkflowStatus.Guid = Statuses.Dead
                THEN N''Dead''

            WHEN LatestWorkflowStatus.Guid = Statuses.Accepted
                THEN N''Accepted''

            WHEN LatestWorkflowStatus.Guid = Statuses.Rejected
                THEN N''Rejected''

            WHEN LatestWorkflowStatus.Guid = Statuses.secondChase
                THEN N''2nd Chase''

            WHEN LatestWorkflowStatus.Guid = Statuses.firstChase
                THEN N''1st Chase''

            WHEN LatestWorkflowStatus.Guid = Statuses.Sent
                THEN N''Sent''

            WHEN LatestWorkflowStatus.Guid = Statuses.ReadyToSend
                THEN N''Ready to Send''

			

            ----------------------------------------------------------------------
            -- 3) CUSTOM / OTHER WORKFLOW NAMES
            --    Preserve non-standard workflow names once standard mappings above
            --    have been handled.
            ----------------------------------------------------------------------
            WHEN LatestWorkflowStatus.Name IS NOT NULL
                 AND LatestWorkflowStatus.Name NOT IN
                 (
                     N''N/A'',
                     N''Sent'',
                     N''Accepted'',
                     N''Rejected'',
                     N''Dead'',
                     N''Ready to Send'',
                     N''Declined'',
                     N''Complete'',
                     N''Part Complete'',
                     N''1st Chase'',
                     N''2nd Chase''
                 )
                THEN LatestWorkflowStatus.Name

            ----------------------------------------------------------------------
            -- 4) LEGACY FALLBACK ONLY WHEN NO WORKFLOW EXISTS
            --    Retained for backward compatibility with older rows that do not
            --    yet have transition history.
            ----------------------------------------------------------------------
            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.DateDeclinedToQuote IS NOT NULL
                THEN N''Declined''

            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.DeadDate IS NOT NULL
                THEN N''Dead''

            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.DateAccepted IS NOT NULL
                THEN N''Accepted''

            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.DateRejected IS NOT NULL
                THEN N''Rejected''

            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.ChaseDate2 IS NOT NULL
                THEN N''2nd Chase''

            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.ChaseDate1 IS NOT NULL
                THEN N''1st Chase''

            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.DateSent IS NOT NULL
                THEN N''Sent''

            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.IsFinal = 1
                THEN N''Ready to Send''

            WHEN LatestWorkflowStatus.Guid IS NULL
                 AND q.ExpiryDate IS NOT NULL
                 AND q.ExpiryDate < NowUtc.NowUtc
                THEN N''Expired''

            ----------------------------------------------------------------------
            -- 5) DEFAULT
            ----------------------------------------------------------------------
            ELSE N''Quoting''
        END
FROM SSop.Quotes AS q

OUTER APPLY
(
    SELECT NowUtc = CONVERT(datetime2(7), SYSUTCDATETIME())
) AS NowUtc

OUTER APPLY
(
    SELECT
        IsRevision =
            CASE
                WHEN ISNULL(q.RevisionNumber, 0) > 0
                     OR q.OriginalQuoteId <> -1
                    THEN 1
                ELSE 0
            END
) AS IsRevision

OUTER APPLY
(
    SELECT
        TotalItems  = COUNT(1),
        ValuedItems = SUM(CASE WHEN qi.Net > 0 THEN 1 ELSE 0 END)
    FROM SSop.QuoteItems qi
    WHERE qi.QuoteId = q.ID
      AND qi.RowStatus NOT IN (0,254)
) AS QuoteItemAgg

OUTER APPLY
(
    SELECT
        CreatedJobsCount =
        (
            SELECT COUNT(DISTINCT qi.CreatedJobId)
            FROM SSop.QuoteItems qi
            WHERE qi.QuoteId = q.ID
              AND qi.RowStatus NOT IN (0,254)
              AND qi.CreatedJobId IS NOT NULL
              AND qi.CreatedJobId > 0
        ),
        PendingJobsCount =
        (
            SELECT COUNT(1)
            FROM SSop.Quote_JobsSummary js
            WHERE js.QuoteGuid = q.Guid
              AND js.RowStatus NOT IN (0,254)
        )
) AS JobAgg

OUTER APPLY
(
    SELECT
        Declined    = CONVERT(uniqueidentifier, ''708C00E6-F45F-4CB2-8E91-A80B8B8E802E''),
        Dead        = CONVERT(uniqueidentifier, ''8C7F7526-559F-4CCF-8FC2-DB0DA67E793D''),
        Accepted    = CONVERT(uniqueidentifier, ''21A29AEE-2D99-4DA3-8182-F31813B0C498''),
        ReadyToSend = CONVERT(uniqueidentifier, ''02A2237F-2AE7-4E05-926F-38E8B7D050A0''),
        Rejected    = CONVERT(uniqueidentifier, ''0A6A71F7-B39F-4213-997E-2B3A13B6144C''),
        Sent        = CONVERT(uniqueidentifier, ''25D5491C-42A8-4B04-B3AC-D648AF0F8032''),
        firstChase  = CONVERT(uniqueidentifier, ''9FF22CEA-A2A6-4907-9B2D-E62DF8150913''),
        secondChase = CONVERT(uniqueidentifier, ''1F01C16B-1A73-4844-A938-FE357405FD93''),
		Reopened    = CONVERT(uniqueidentifier, ''34EF363A-C8F7-4BA8-A2C6-067EBAEF12FD'')
) AS Statuses

OUTER APPLY
(
    SELECT TOP (1)
        Name = wfs.Name,
        Guid = wfs.Guid
    FROM SCore.DataObjectTransition dot
    JOIN SCore.WorkflowStatus wfs
        ON wfs.ID = dot.StatusID
    WHERE dot.DataObjectGuid = q.Guid
      AND dot.RowStatus NOT IN (0,254)
      AND wfs.RowStatus NOT IN (0,254)
    ORDER BY dot.ID DESC
) AS LatestWorkflowStatus

OUTER APPLY
(
    SELECT
        IsPreSentQuoting =
            CASE
                WHEN ISNULL
                     (
                         LatestWorkflowStatus.Guid,
                         CONVERT(uniqueidentifier, ''00000000-0000-0000-0000-000000000000'')
                     ) NOT IN
                     (
                         Statuses.Sent,
                         Statuses.Accepted,
                         Statuses.Rejected,
                         Statuses.Declined,
                         Statuses.Dead,
                         Statuses.firstChase,
                         Statuses.secondChase
                     )
                     AND q.DateSent IS NULL
                     AND q.DateAccepted IS NULL
                     AND q.DateRejected IS NULL
                     AND q.DateDeclinedToQuote IS NULL
                     AND q.DeadDate IS NULL
                     AND q.ChaseDate1 IS NULL
                     AND q.ChaseDate2 IS NULL
                     AND q.IsFinal = 0
                    THEN 1
                ELSE 0
            END
) AS QuotePhase;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view [SSop].[Enquiry_CalculatedFields]
--
PRINT (N'Refresh view [SSop].[Enquiry_CalculatedFields]')
GO
EXEC sp_refreshview '[SSop].[Enquiry_CalculatedFields]'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[TransactionsValidate]
--
GO
PRINT (N'Create or alter function [SFin].[TransactionsValidate]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[TransactionsValidate]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SFin].[TransactionsValidate]
(
    @Guid UNIQUEIDENTIFIER,
    @AccountGuid UNIQUEIDENTIFIER,
    @TransactionTypeGuid UNIQUEIDENTIFIER,
    @Batched BIT
)
RETURNS @ValidationResult TABLE
(
    ID INT IDENTITY(1, 1) NOT NULL,
    TargetGuid UNIQUEIDENTIFIER NOT NULL DEFAULT (''00000000-0000-0000-0000-000000000000''),
    TargetType CHAR(1) NOT NULL DEFAULT (''''),
    IsReadOnly BIT NOT NULL DEFAULT ((0)),
    IsHidden BIT NOT NULL DEFAULT ((0)),
    IsInvalid BIT NOT NULL DEFAULT ((0)),
    IsInformationOnly BIT NOT NULL DEFAULT ((0)),
    Message NVARCHAR(2000) NOT NULL DEFAULT ('''')
)
AS
--WITH SCHEMABINDING
BEGIN
    DECLARE
        @EntityPropertyGuid UNIQUEIDENTIFIER,
        @PersistedIsBatched BIT = 0;

    SELECT
        @PersistedIsBatched = CAST(t.Batched AS BIT)
    FROM SFin.Transactions AS t
    WHERE t.Guid = @Guid
      AND t.RowStatus NOT IN (0, 254);

    /*
        Only apply batched read-only rules when the transaction already exists
        and is persisted as batched.
        This avoids locking fields for a new unsaved transaction.
    */
    IF EXISTS
    (
        SELECT 1
        FROM SFin.Transactions AS t
        WHERE t.Guid = @Guid
          AND t.RowStatus NOT IN (0, 254)
    )
    AND @PersistedIsBatched = 1
    BEGIN
        SELECT @EntityPropertyGuid = ep.Guid
        FROM SCore.EntityPropertiesV ep
        JOIN SCore.EntityHobtsV eh
            ON eh.ID = ep.EntityHoBTID
        WHERE eh.SchemaName = N''SFin''
          AND eh.ObjectName = N''Transactions''
          AND ep.Name = N''Date'';

        INSERT @ValidationResult
        (
            TargetGuid,
            TargetType,
            IsReadOnly,
            IsHidden,
            IsInvalid,
            Message
        )
        VALUES
        (
            @EntityPropertyGuid,
            N''P'',
            1,
            0,
            0,
            N''''
        );

        SELECT @EntityPropertyGuid = ep.Guid
        FROM SCore.EntityPropertiesV ep
        JOIN SCore.EntityHobtsV eh
            ON eh.ID = ep.EntityHoBTID
        WHERE eh.SchemaName = N''SFin''
          AND eh.ObjectName = N''Transactions''
          AND ep.Name = N''AccountID'';

        INSERT @ValidationResult
        (
            TargetGuid,
            TargetType,
            IsReadOnly,
            IsHidden,
            IsInvalid,
            Message
        )
        VALUES
        (
            @EntityPropertyGuid,
            N''P'',
            1,
            0,
            0,
            N''''
        );

        SELECT @EntityPropertyGuid = ep.Guid
        FROM SCore.EntityPropertiesV ep
        JOIN SCore.EntityHobtsV eh
            ON eh.ID = ep.EntityHoBTID
        WHERE eh.SchemaName = N''SFin''
          AND eh.ObjectName = N''Transactions''
          AND ep.Name = N''TransactionTypeID'';

        INSERT @ValidationResult
        (
            TargetGuid,
            TargetType,
            IsReadOnly,
            IsHidden,
            IsInvalid,
            Message
        )
        VALUES
        (
            @EntityPropertyGuid,
            N''P'',
            1,
            0,
            0,
            N''''
        );
    END;

    -- Hide Terms for Bank Transactions
    IF EXISTS
    (
        SELECT 1
        FROM SFin.TransactionTypes
        WHERE Guid = @TransactionTypeGuid
          AND IsBank = 1
    )
    BEGIN
        SELECT @EntityPropertyGuid = SCore.GetEntityPropertyGuid(N''SFin'', N''Transactions'', N''CreditTermsId'');

        INSERT @ValidationResult
        (
            TargetGuid,
            TargetType,
            IsReadOnly,
            IsHidden,
            IsInvalid,
            Message
        )
        VALUES
        (
            @EntityPropertyGuid,
            N''P'',
            0,
            1,
            0,
            N''''
        );
    END;

    IF EXISTS
    (
        SELECT 1
        FROM SCrm.Accounts AS a
        WHERE a.Guid = @AccountGuid
          AND a.Code = N''''
    )
    BEGIN
        SELECT @EntityPropertyGuid = ep.Guid
        FROM SCore.EntityPropertiesV ep
        JOIN SCore.EntityHobtsV eh
            ON eh.ID = ep.EntityHoBTID
        WHERE eh.SchemaName = N''SFin''
          AND eh.ObjectName = N''Transactions''
          AND ep.Name = N''AccountId'';

        INSERT @ValidationResult
        (
            TargetGuid,
            TargetType,
            IsReadOnly,
            IsHidden,
            IsInvalid,
            Message
        )
        VALUES
        (
            @EntityPropertyGuid,
            N''P'',
            0,
            0,
            1,
            N''An account must have a Sage Account Code before it can be used on transactions.''
        );
    END;

    RETURN;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_InvoiceRequests]
--
GO
PRINT (N'Create or alter function [SFin].[tvf_InvoiceRequests]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[tvf_InvoiceRequests]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'CREATE OR ALTER FUNCTION [SFin].[tvf_InvoiceRequests]
(
    @UserId INT
)
RETURNS TABLE
      --WITH SCHEMABINDING
AS
RETURN
SELECT
    ir.ID,
    ir.RowStatus,
    ir.RowVersion,
    ir.Guid,
    ir.Notes,
    ir.CreatedDateTimeUTC,
    ir.InvoicingType,
    ir.ExpectedDate,
    ir.ManualStatus,
    i.Guid AS RequesterUserId,
    i.FullName AS SurveyorName,
    j.Guid AS JobId,
    j.Number,
    j.FinanceAccountID,
    FinAcc.Name AS FinanceAccountName,
    FinAcc.Code AS FinanceAccountCode,
    STRING_AGG(ActT.Name, '', '') AS ActivityID,
    Acc.Name AS ClientName,
    SUM(IRI.Net) AS Net,
    MAX(Act.EndDate) AS EndDate,
    j.BillingInstruction AS JobBillingInstruction,
    FinAcc.BillingInstruction AS CRMBillingInstruction,
    CASE
        WHEN MAX
        (
            CASE
                WHEN ActT.IsBillable = 0 THEN ''No''
                ELSE ''Yes''
            END
        ) = ''Yes'' THEN ''Yes''
        ELSE ''No''
    END AS IsBillable,
    OrgUnit.Name AS OrgUnit,
    CAST
    (
        CASE
            WHEN j.FinanceAccountID IS NULL OR j.FinanceAccountID <= 0 THEN 1
            WHEN NULLIF(LTRIM(RTRIM(FinAcc.Code)), N'''') IS NULL THEN 1
            ELSE 0
        END
        AS bit
    ) AS HasFinanceAccountIssue,
    CASE
        WHEN j.FinanceAccountID IS NULL OR j.FinanceAccountID <= 0
            THEN N''No finance account selected.''
        WHEN NULLIF(LTRIM(RTRIM(FinAcc.Code)), N'''') IS NULL
            THEN N''Finance account does not have a valid Sage Code.''
        ELSE N''''
    END AS FinanceAccountIssueMessage,
    CAST
    (
        CASE
            WHEN SUM(IRI.Net) <= 0 THEN 1
            ELSE 0
        END
        AS bit
    ) AS HasBatchingIssue,
    CASE
        WHEN SUM(IRI.Net) <= 0
            THEN N''Invoice request value is zero or negative and cannot be converted into a transaction.''
        ELSE N''''
    END AS BatchingIssueMessage
FROM SFin.InvoiceRequests AS ir
JOIN SJob.Jobs AS j
    ON j.ID = ir.JobId
JOIN SCore.Identities AS i
    ON i.ID = ir.RequesterUserId
JOIN SCore.OrganisationalUnits AS OrgUnit
    ON OrgUnit.ID = j.OrganisationalUnitID
INNER JOIN SFin.InvoiceRequestItems AS IRI
    ON IRI.InvoiceRequestId = ir.ID
INNER JOIN SJob.Activities AS Act
    ON IRI.ActivityId = Act.ID
INNER JOIN SJob.ActivityTypes AS ActT
    ON Act.ActivityTypeID = ActT.ID
INNER JOIN SCrm.Accounts AS Acc
    ON Acc.ID = j.ClientAccountID
LEFT JOIN SCrm.Accounts AS FinAcc
    ON FinAcc.ID = j.FinanceAccountID
WHERE
    ir.RowStatus NOT IN (0, 254)
    AND ir.ID > 0
    AND j.CannotBeInvoiced <> 1
    AND ir.IsMerged = 0
    AND EXISTS
    (
        SELECT 1
        FROM SFin.InvoiceRequestItems AS iri
        WHERE iri.RowStatus NOT IN (0, 254)
          AND iri.InvoiceRequestId = ir.ID
    )
    AND
    (
        EXISTS
        (
            SELECT 1
            FROM SFin.InvoiceRequestItems AS iri
            INNER JOIN SJob.Activities AS act
                ON iri.ActivityId = act.ID
            WHERE (act.ActivityStatusID = 3 OR act.ID < 0)
              AND iri.InvoiceRequestId = ir.ID
              AND iri.RowStatus NOT IN (0, 254)
              AND act.RowStatus NOT IN (0, 254)
        )
        OR IRI.ActivityId < 0
    )
    AND
    (
        EXISTS
        (
            SELECT 1
            FROM SFin.InvoiceRequestItems AS iri
            INNER JOIN SJob.Activities AS Act
                ON iri.ActivityId = Act.ID
            WHERE iri.RowStatus NOT IN (0, 254)
              AND Act.RowStatus NOT IN (0, 254)
              AND CAST(Act.EndDate AS date) <= CAST(GETDATE() AS date)
              AND iri.InvoiceRequestId = ir.ID
        )
        OR IRI.ActivityId < 0
    )
    AND EXISTS
    (
        SELECT 1
        FROM SCore.ObjectSecurityForUser_CanRead(j.Guid, @UserId) AS oscr
    )
    AND EXISTS
    (
        SELECT 1
        FROM SCore.ObjectSecurityForUser_CanRead(ir.Guid, @UserId) AS oscr
    )
    AND NOT EXISTS
    (
        SELECT 1
        FROM SFin.TransactionDetails AS td
        INNER JOIN SFin.InvoiceRequestItems AS iri
            ON iri.ID = td.InvoiceRequestItemId
        WHERE iri.InvoiceRequestId = ir.ID
          AND td.RowStatus NOT IN (0, 254)
          AND iri.RowStatus NOT IN (0, 254)
    )
GROUP BY
    ir.ID,
    ir.RowStatus,
    ir.RowVersion,
    ir.Guid,
    ir.Notes,
    ir.CreatedDateTimeUTC,
    ir.InvoicingType,
    ir.ExpectedDate,
    ir.ManualStatus,
    i.Guid,
    i.FullName,
    j.Guid,
    j.Number,
    j.FinanceAccountID,
    FinAcc.Name,
    FinAcc.Code,
    Acc.Name,
    j.BillingInstruction,
    FinAcc.BillingInstruction,
    OrgUnit.Name;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_OverdueInvoicesForJob]
--
GO
PRINT (N'Create or alter function [SFin].[tvf_OverdueInvoicesForJob]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[tvf_OverdueInvoicesForJob]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SFin].[tvf_OverdueInvoicesForJob]
(
    @ParentGuid UNIQUEIDENTIFIER
)
RETURNS TABLE
AS
RETURN
WITH
-- 1) Not Invoiced: request items with no transaction detail yet
RequestItems AS
(
    SELECT
        iri.ID AS InvoiceRequestItemId,
        ir.JobId,
        CAST(iri.Net AS decimal(19,2)) AS NetAmount,
        ir.ExpectedDate
    FROM SFin.InvoiceRequests ir
    JOIN SFin.InvoiceRequestItems iri ON iri.InvoiceRequestId = ir.ID
    JOIN SJob.Jobs j ON j.ID = ir.JobId
    WHERE
        j.Guid = @ParentGuid
        AND ir.RowStatus <> 254
        AND iri.RowStatus <> 254
        AND ISNULL(ir.IsZeroValuePlaceholder, 0) = 0
        AND ISNULL(ir.ReconciliationRequired, 0) = 0
),
InvoicedRequestItems AS
(
    SELECT DISTINCT td.InvoiceRequestItemId
    FROM SFin.TransactionDetails td
    JOIN SFin.Transactions t ON t.ID = td.TransactionID
    JOIN SJob.Jobs j ON j.ID = t.JobID
    WHERE
        j.Guid = @ParentGuid
        AND t.RowStatus <> 254
        AND td.RowStatus <> 254
        AND td.InvoiceRequestItemId <> -1
),
JobFee AS
(
   SELECT Remaining 
   FROM SJob.Job_FeeDrawdown 
   WHERE Guid =  @ParentGuid AND StageLabel LIKE N''%Total%''
),
-- 2) Transaction totals per transaction (gross), signed by TransactionType.IsNegated
TxnTotals AS
(

	--DECLARE @ParentGuid UNIQUEIDENTIFIER = ''dfe51119-a16d-4bb8-95cf-0c0fa6358447'';	

    SELECT
        t.ID AS TransactionID,
        t.JobID,
        t.TransactionTypeID,
        tt.Name AS TransactionTypeName,
        tt.IsNegated,
        t.Number,
        CAST(t.[Date] AS date) AS InvoiceDate,
        t.ExpectedDate,
        -- DueDate rule: ExpectedDate else InvoiceDate + CreditTerms.DueDays + 30 days (USE DATEADD/
        CASE WHEN  CAST(SUM(ISNULL(td.Gross, 0)) AS decimal(19,2)) <> 0 THEN
		CAST(
            COALESCE(
                CAST(t.ExpectedDate AS date),
                DATEADD(DAY, ISNULL(ct.DueDays, 0),DATEADD(DAY, 30, ISNULL(CAST(t.[Date] AS DATETIME), 0)))
            )
        AS date)
		ELSE Null
		END
		AS DueDate,
        CAST(SUM(ISNULL(td.Gross, 0)) AS decimal(19,2)) AS TransactionGross,
		CAST(SUM(ISNULL(td.Net, 0)) AS decimal(19,2)) AS TransactionNet
    FROM SFin.Transactions t
    JOIN SFin.TransactionTypes tt ON tt.ID = t.TransactionTypeID
    JOIN SJob.Jobs j ON j.ID = t.JobID
	LEFT JOIN SJob.Job_FeeDrawdown AS jf ON (jf.Guid = j.Guid)
    LEFT JOIN SFin.TransactionDetails td
        ON td.TransactionID = t.ID
        AND td.RowStatus <> 254
    LEFT JOIN SFin.CreditTerms ct
        ON ct.ID = t.CreditTermsId
        AND ct.RowStatus <> 254
    WHERE
        j.Guid = @ParentGuid
        AND t.RowStatus <> 254
    GROUP BY
        t.ID, t.JobID, t.TransactionTypeID, tt.Name, tt.IsNegated,
        t.Number, t.[Date], t.ExpectedDate, ct.DueDays
),
AllocToTarget AS
(
    SELECT
        ta.TargetTransactionID AS TransactionID,
        CAST(SUM(ISNULL(ta.AllocatedAmount, 0)) AS decimal(19,2)) AS AllocatedToTarget
    FROM SFin.TransactionAllocations ta
    WHERE ta.RowStatus <> 254
    GROUP BY ta.TargetTransactionID
),
TxnBalances AS
(
    SELECT
        x.TransactionID,
        x.TransactionTypeName,
        x.Number,
        x.InvoiceDate,
        x.ExpectedDate,
        x.DueDate,
        x.TransactionGross,

        SignedTotal =
            CAST(x.TransactionGross * CASE WHEN x.IsNegated = 1 THEN -1 ELSE 1 END AS decimal(19,2)),

        AllocatedToTarget =
            CAST(ISNULL(a.AllocatedToTarget, 0) AS decimal(19,2)),

        -- Allocation moves balance toward zero:
        OutstandingSigned =
            CAST(
                (x.TransactionGross * CASE WHEN x.IsNegated = 1 THEN -1 ELSE 1 END)
                - (ISNULL(a.AllocatedToTarget, 0)
                   * CASE
                        WHEN (x.TransactionGross * CASE WHEN x.IsNegated = 1 THEN -1 ELSE 1 END) >= 0 THEN 1
                        ELSE -1
                     END)
            AS decimal(19,2)),
		OutstandingWithoutVAT = CAST(x.TransactionNet * CASE WHEN x.IsNegated = 1 THEN -1 ELSE 1 END AS decimal(19,2)),
        DaysOverdue =
            CASE
                WHEN x.DueDate IS NULL THEN NULL
                ELSE DATEDIFF(DAY, x.DueDate, CAST(GETDATE() AS date))
            END
    FROM TxnTotals x
    LEFT JOIN AllocToTarget a ON a.TransactionID = x.TransactionID
),
OverdueBuckets AS
(
    SELECT
        BucketKey =
            CASE
                WHEN b.DaysOverdue BETWEEN 1  AND 30 THEN N''Overdue_1_30''
                WHEN b.DaysOverdue BETWEEN 31 AND 60 THEN N''Overdue_31_60''
                WHEN b.DaysOverdue BETWEEN 61 AND 90 THEN N''Overdue_61_90''
                WHEN b.DaysOverdue > 90              THEN N''Overdue_90Plus''
                ELSE NULL
            END,
        Amount = CAST(SUM(b.OutstandingSigned) AS decimal(19,2)),
        EarliestDueDate = MIN(b.DueDate),
        MaxDaysOverdue  = MAX(b.DaysOverdue),
        InvoiceCount    = COUNT(1)
    FROM TxnBalances b
    WHERE
        b.OutstandingSigned > 0
        AND b.DaysOverdue IS NOT NULL
        AND b.DaysOverdue > 0
    GROUP BY
        CASE
            WHEN b.DaysOverdue BETWEEN 1  AND 30 THEN N''Overdue_1_30''
            WHEN b.DaysOverdue BETWEEN 31 AND 60 THEN N''Overdue_31_60''
            WHEN b.DaysOverdue BETWEEN 61 AND 90 THEN N''Overdue_61_90''
            WHEN b.DaysOverdue > 90              THEN N''Overdue_90Plus''
            ELSE NULL
        END
)
SELECT
    NotInvoicedAmount =
        (SELECT SUM(ri.NetAmount)
         FROM RequestItems ri
         LEFT JOIN InvoicedRequestItems ii ON ii.InvoiceRequestItemId = ri.InvoiceRequestItemId
         WHERE ii.InvoiceRequestItemId IS NULL),

    OutstandingAmount =
        (SELECT SUM(CASE WHEN b.OutstandingSigned > 0 THEN b.OutstandingSigned ELSE 0 END)
         FROM TxnBalances b),
	OutstandingAmountWithoutVAT =  (SELECT SUM(CASE WHEN b.OutstandingWithoutVAT > 0 THEN b.OutstandingWithoutVAT ELSE 0 END)
         FROM TxnBalances b),
	 RemainingAmount = (SELECT Remaining FROM JobFee),
    Overdue_1_30   = (SELECT SUM(CASE WHEN BucketKey = N''Overdue_1_30''   THEN Amount ELSE 0 END) FROM OverdueBuckets),
    Overdue_31_60  = (SELECT SUM(CASE WHEN BucketKey = N''Overdue_31_60''  THEN Amount ELSE 0 END) FROM OverdueBuckets),
    Overdue_61_90  = (SELECT SUM(CASE WHEN BucketKey = N''Overdue_61_90''  THEN Amount ELSE 0 END) FROM OverdueBuckets),
    Overdue_90Plus = (SELECT SUM(CASE WHEN BucketKey = N''Overdue_90Plus'' THEN Amount ELSE 0 END) FROM OverdueBuckets),
	--DueDate = (SELECT MIN(EarliestDueDate) From OverdueBuckets),
    -- JSON detail for tooltips / UI
    OverdueBucketsJson =
        (SELECT
            BucketKey      AS [bucket],
            Amount         AS [amount],
            EarliestDueDate AS [earliestDueDate],
            MaxDaysOverdue AS [maxDaysOverdue],
            InvoiceCount   AS [invoiceCount]
         FROM OverdueBuckets
         WHERE BucketKey IS NOT NULL
         FOR JSON PATH);
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SJob].[tvf_Jobs_DataPills]
--
GO
PRINT (N'Create or alter function [SJob].[tvf_Jobs_DataPills]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SJob].[tvf_Jobs_DataPills]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'

CREATE OR ALTER FUNCTION [SJob].[tvf_Jobs_DataPills]
(
    @Guid                      UNIQUEIDENTIFIER,
    @AppFormReceived           BIT,
    @ClientAppointmentReceived BIT,
    @ClientAccountGuid         UNIQUEIDENTIFIER,
    @AgentAccountGuid          UNIQUEIDENTIFIER,
    @FinanceAccountGuid        UNIQUEIDENTIFIER,
    @JobCompleted              DATETIME2,
    @JobCancelled              DATETIME2,
    @JobDormant                DATETIME2,
    @JobStarted                DATETIME2,
    @OrganisationalUnitGuid    UNIQUEIDENTIFIER,
    @IsNDA                     BIT,
    @JobTypeGuid               UNIQUEIDENTIFIER,
    @CannotBeInvoiced          BIT,
    @CannotBeInvoicedReason    NVARCHAR(MAX),
    @ContractGuid              UNIQUEIDENTIFIER,
    @AgentContractGuid         UNIQUEIDENTIFIER,
    @ProjectGuid               UNIQUEIDENTIFIER
)
RETURNS @DataPills TABLE
(
    [ID]        [INT]        IDENTITY (1, 1) NOT NULL,
    [Label]     NVARCHAR(MAX) NOT NULL,
    [Class]     NVARCHAR(50) NOT NULL,
    [SortOrder] INT          NOT NULL
)
       --WITH SCHEMABINDING
AS
BEGIN

    -------------------------------------------------------------------------
    -- Resolve JobID
    -------------------------------------------------------------------------
    DECLARE @JobID INT;

    SELECT @JobID = j.ID
    FROM SJob.Jobs j
    WHERE j.Guid = @Guid;

    -------------------------------------------------------------------------
    -- Canonical workflow statuses (Job workflow)
    -------------------------------------------------------------------------
    DECLARE @CancelledStatus     UNIQUEIDENTIFIER = ''18D8E36B-43BE-4BDE-9D0B-1F34B460AD64'';
    DECLARE @CompletedStatus     UNIQUEIDENTIFIER = ''20D22623-283B-4088-9CEB-D944AC3E6516'';
    DECLARE @DormantStatus       UNIQUEIDENTIFIER = ''6708FDB6-29A7-4505-A209-F1E785386122'';
    DECLARE @JobStartedStatus    UNIQUEIDENTIFIER = ''FC9AA6A3-79DB-4533-A6A9-B831610F2BDC'';

    -- Resolve “New” dynamically for jobs (safer across envs / IDs)
    DECLARE @NewStatus UNIQUEIDENTIFIER = NULL;

    SELECT TOP (1) @NewStatus = ws.Guid
    FROM SCore.WorkflowStatus ws
    WHERE ws.RowStatus NOT IN (0,254)
      AND ws.ShowInJobs = 1
      AND ws.Name = N''New''
    ORDER BY ws.ID;

    -------------------------------------------------------------------------
    -- Latest-only: read the single latest status row for this Job
    -------------------------------------------------------------------------
    DECLARE @LatestStatusGuid UNIQUEIDENTIFIER = NULL;
    DECLARE @LatestStatusName NVARCHAR(250) = NULL;
    DECLARE @LatestRequiresUsersAction BIT = 0;
    DECLARE @LatestIsCustomerWaiting   BIT = 0;

    -- NEW flags for pill styling
    DECLARE @LatestIsActiveStatus  BIT = NULL;  -- when 0 => red
    DECLARE @LatestIsCompleteStatus BIT = NULL; -- when 1 => green

    SELECT TOP (1)
        @LatestStatusGuid          = wfs.Guid,
        @LatestStatusName          = wfs.Name,
        @LatestRequiresUsersAction = ISNULL(wfs.RequiresUsersAction, 0),
        @LatestIsCustomerWaiting   = ISNULL(wfs.IsCustomerWaitingStatus, 0),
        @LatestIsActiveStatus      = ISNULL(wfs.IsActiveStatus, 1),
        @LatestIsCompleteStatus    = ISNULL(wfs.IsCompleteStatus, 0)
    FROM SCore.DataObjectTransition dot
    JOIN SCore.WorkflowStatus wfs ON wfs.ID = dot.StatusID
    WHERE dot.DataObjectGuid = @Guid
      AND dot.RowStatus NOT IN (0,254)
      AND wfs.RowStatus NOT IN (0,254)
    ORDER BY dot.DateTimeUTC DESC, dot.ID DESC;

    -------------------------------------------------------------------------
    -- Helper: insert without duplicating an existing label
    -------------------------------------------------------------------------
    DECLARE @Lbl NVARCHAR(50), @Cls NVARCHAR(50), @Ord INT;

    -------------------------------------------------------------------------
    -- NDA pill (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (@IsNDA = 1)
    BEGIN
        SET @Lbl = N''NDA''; SET @Cls = N''bg-danger''; SET @Ord = 1;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- Job status pill (LATEST ONLY, with legacy datetime fallback)
    -- Precedence: Cancelled > Completed > Dormant > Started > New
    -------------------------------------------------------------------------
    DECLARE @IsCancelled BIT = 0,
            @IsCompleted BIT = 0,
            @IsDormant   BIT = 0,
            @IsStarted   BIT = 0,
            @IsNew       BIT = 0;

    IF (@LatestStatusGuid IS NOT NULL)
    BEGIN
        IF (@LatestStatusGuid = @CancelledStatus)          SET @IsCancelled = 1;
        ELSE IF (@LatestStatusGuid = @CompletedStatus)     SET @IsCompleted = 1;
        ELSE IF (@LatestStatusGuid = @DormantStatus)       SET @IsDormant   = 1;
        ELSE IF (@LatestStatusGuid = @JobStartedStatus)    SET @IsStarted   = 1;
        ELSE IF (@NewStatus IS NOT NULL AND @LatestStatusGuid = @NewStatus) SET @IsNew = 1;
        ELSE
        BEGIN
            -- Unknown/custom job statuses: handled later as "latest workflow status pill"
            SET @IsNew = 0;
        END
    END
    ELSE
    BEGIN
        -- Fallback for old records with no transitions
        IF (@JobCancelled IS NOT NULL)       SET @IsCancelled = 1;
        ELSE IF (@JobCompleted IS NOT NULL)  SET @IsCompleted = 1;
        ELSE IF (@JobDormant   IS NOT NULL)  SET @IsDormant   = 1;
        ELSE IF (@JobStarted   IS NOT NULL)  SET @IsStarted   = 1;
        ELSE                                 SET @IsNew       = 1;
    END

    IF (@IsCompleted = 1)
    BEGIN
        SET @Lbl = N''Completed''; SET @Cls = N''bg-success''; SET @Ord = 2;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END
    ELSE IF (@IsCancelled = 1)
    BEGIN
        SET @Lbl = N''Cancelled''; SET @Cls = N''bg-danger''; SET @Ord = 2;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END
    ELSE IF (@IsDormant = 1)
    BEGIN
        SET @Lbl = N''Dormant''; SET @Cls = N''bg-warning''; SET @Ord = 2;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END
    ELSE IF (@IsStarted = 1)
    BEGIN
        SET @Lbl = N''Job Started''; SET @Cls = N''bg-info''; SET @Ord = 2;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END
    ELSE IF (@IsNew = 1)
    BEGIN
        SET @Lbl = N''New''; SET @Cls = N''bg-info''; SET @Ord = 2;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- NEW: Latest workflow status pill (only when it''s NOT already covered
    --      by the existing standard status pills above)
    --
    -- Rules requested:
    --  - If latest workflow status IsActiveStatus = 0 => show as Red (bg-danger)
    --  - Else if latest workflow status IsCompleteStatus = 1 => show as Green (bg-success)
    --  - Do not duplicate pills if one is already being shown
    -------------------------------------------------------------------------
    IF (@LatestStatusGuid IS NOT NULL)
       AND (@LatestStatusName IS NOT NULL)
       AND (@LatestStatusGuid NOT IN (@CancelledStatus, @CompletedStatus, @DormantStatus, @JobStartedStatus))
       AND NOT (@NewStatus IS NOT NULL AND @LatestStatusGuid = @NewStatus)
    BEGIN
        DECLARE @LatestPillClass NVARCHAR(50);

        IF (ISNULL(@LatestIsActiveStatus, 1) = 0)
            SET @LatestPillClass = N''bg-danger'';      -- Warning (Red)
        ELSE IF (ISNULL(@LatestIsCompleteStatus, 0) = 1 OR @LatestStatusGuid = @CompletedStatus)
            SET @LatestPillClass = N''bg-success'';     -- Complete (Green)
        ELSE
            SET @LatestPillClass = N''bg-info'';        -- Neutral / informational

        -- Keep label within NVARCHAR(50)
        SET @Lbl = LEFT(@LatestStatusName, 50);
        SET @Cls = @LatestPillClass;
        SET @Ord = 2;

        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- Client/Agent/Finance holds (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (EXISTS
    (
        SELECT 1
        FROM SCrm.Accounts a
        JOIN SCrm.AccountStatus st ON st.ID = a.AccountStatusID
        WHERE a.Guid = @ClientAccountGuid
          AND st.IsHold = 1
    ))
    BEGIN
        SET @Lbl = N''Client Account Hold''; SET @Cls = N''bg-danger''; SET @Ord = 3;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    IF (EXISTS
    (
        SELECT 1
        FROM SCrm.Accounts a
        JOIN SCrm.AccountStatus st ON st.ID = a.AccountStatusID
        WHERE a.Guid = @AgentAccountGuid
          AND st.IsHold = 1
    ))
    BEGIN
        SET @Lbl = N''Agent Account Hold''; SET @Cls = N''bg-danger''; SET @Ord = 3;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    IF (EXISTS
    (
        SELECT 1
        FROM SCrm.Accounts Ac
        WHERE Ac.Guid = @FinanceAccountGuid
          AND Ac.AccountStatusID = 4
    ))
    BEGIN
        SET @Lbl = N''Credit Hold''; SET @Cls = N''bg-danger''; SET @Ord = 1;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- Outstanding Fees (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (EXISTS
    (
        SELECT 1
        FROM SFin.Transactions t
        JOIN SFin.TransactionCalculations tc ON tc.ID = t.ID
        JOIN SFin.TransactionTypes tt ON tt.ID = t.TransactionTypeID
        WHERE t.JobID = @JobID
          AND tc.RealOutstanding <> 0
          AND tt.IsBank = 0
          AND tc.DueDate < GETDATE()
    ))
    BEGIN
        SET @Lbl = N''Overdue Invoices''; SET @Cls = N''bg-warning''; SET @Ord = 3;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- App Form not received (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (@AppFormReceived = 0)
    BEGIN
        SET @Lbl = N''App Form Not Received''; SET @Cls = N''bg-danger''; SET @Ord = 4;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- Outstanding Actions (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (EXISTS
    (
        SELECT 1
        FROM SJob.Actions a
        WHERE a.RowStatus NOT IN (0,254)
          AND a.ActionStatusId <> 1
          AND (
                EXISTS (SELECT 1 FROM SJob.Jobs j WHERE j.Guid = @Guid AND j.ID = a.JobID)
             OR EXISTS (
                    SELECT 1
                    FROM SJob.Milestones m
                    JOIN SJob.Jobs jm ON jm.ID = m.JobID
                    WHERE jm.Guid = @Guid
                      AND a.MilestoneID = m.ID
                      AND m.RowStatus NOT IN (0,254)
                )
             OR EXISTS (
                    SELECT 1
                    FROM SJob.Activities act
                    WHERE a.ActivityID = act.ID
                      AND act.RowStatus NOT IN (0,254)
                      AND (
                            EXISTS (SELECT 1 FROM SJob.Jobs jact WHERE jact.Guid = @Guid AND jact.ID = act.JobID)
                         OR EXISTS (
                                SELECT 1
                                FROM SJob.Milestones am
                                JOIN SJob.Jobs amj ON amj.ID = am.JobID
                                WHERE amj.Guid = @Guid
                                  AND act.MilestoneID = am.ID
                                  AND am.RowStatus NOT IN (0,254)
                            )
                          )
                )
          )
    ))
    BEGIN
        SET @Lbl = N''Outstanding Actions''; SET @Cls = N''bg-warning''; SET @Ord = 4;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- BCCS exemption list (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    DECLARE @OrgTypes TABLE (OrganisationalUnitID UNIQUEIDENTIFIER);
    INSERT INTO @OrgTypes (OrganisationalUnitID)
    VALUES (''F233BB03-3181-49AE-B331-39C58F328457''); -- BCCS

    IF (@ClientAppointmentReceived = 0
        AND @OrganisationalUnitGuid NOT IN (SELECT OrganisationalUnitID FROM @OrgTypes)
        AND @JobTypeGuid IN (
            ''3B2BB359-D4DA-417E-8D0D-78C82F0EE043'', -- CDM-PD
            ''AFFB3DA2-EDD8-42A5-A481-8E4AA5A73EC1'', -- CDM-CON
            ''57832995-708D-4B9C-8172-07BD94A3EBCA''  -- CDM-PRE
        )
    )
    BEGIN
        SET @Lbl = N''No Client Appointment Received''; SET @Cls = N''bg-danger''; SET @Ord = 5;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- F10 Expired (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (EXISTS
    (
        SELECT 1
        FROM SJob.Milestones m
        JOIN SJob.MilestoneTypes mt ON mt.ID = m.MilestoneTypeID
        WHERE m.JobID = @JobID
          AND mt.Code = N''F10''
          AND m.CompletedDateTimeUTC IS NULL
          AND m.IsNotApplicable = 0
          AND (
                CONVERT(date, ISNULL(m.DueDateTimeUTC, GETUTCDATE())) < CONVERT(date, GETUTCDATE())
             OR CONVERT(date, ISNULL(m.ScheduledDateTimeUTC, GETUTCDATE())) < CONVERT(date, GETUTCDATE())
          )
    ))
    BEGIN
        SET @Lbl = N''F10 Expired''; SET @Cls = N''bg-danger''; SET @Ord = 6;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- Overdue Milestones (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (EXISTS
    (
        SELECT 1
        FROM SJob.Milestones m
        WHERE m.JobId = @JobID
          AND m.RowStatus NOT IN (0,254)
          AND ISNULL(m.IsNotApplicable, 0) = 0
          AND m.CompletedDateTimeUTC IS NULL
          AND m.DueDateTimeUTC IS NOT NULL
          AND m.DueDateTimeUTC < GETUTCDATE()
    ))
    BEGIN
        SET @Lbl = N''Overdue Milestones.''; SET @Cls = N''bg-warning''; SET @Ord = 6;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- Incomplete historic activities (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (EXISTS
    (
        SELECT 1
        FROM SJob.Activities a
        WHERE a.JobID = @JobID
          AND a.EndDate < GETUTCDATE()
          AND EXISTS
          (
              SELECT 1
              FROM SJob.ActivityStatus ast
              WHERE ast.ID = a.ActivityStatusID
                AND ast.IsCompleteStatus = 0
          )
    ))
    BEGIN
        SET @Lbl = N''Incomplete Activities.''; SET @Cls = N''bg-warning''; SET @Ord = 6;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- Cannot be invoiced (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (@CannotBeInvoiced = 1)
    BEGIN
        SET @Lbl = N''Cannot Be Invoiced''; SET @Cls = N''bg-danger''; SET @Ord = 7;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    -------------------------------------------------------------------------
    -- Contract pills (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF(@ContractGuid <> ''00000000-0000-0000-0000-000000000000''
       OR @AgentContractGuid <> ''00000000-0000-0000-0000-000000000000'')
    BEGIN
        SET @Lbl = N''Contract In Place''; SET @Cls = N''bg-warning''; SET @Ord = 7;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);

        DECLARE @EndDate DATE,
                @NextReviewDate DATE;

        IF(@ContractGuid <> ''00000000-0000-0000-0000-000000000000'')
        BEGIN
            SELECT @EndDate = EndDate, @NextReviewDate = NextReviewDate
            FROM SSop.Contracts
            WHERE Guid = @ContractGuid;
        END
        ELSE
        BEGIN
            SELECT @EndDate = EndDate, @NextReviewDate = NextReviewDate
            FROM SSop.Contracts
            WHERE Guid = @AgentContractGuid;
        END

        IF (@EndDate IS NOT NULL AND DATEDIFF(DAY, GETDATE(), @EndDate) <= 30)
        BEGIN
            SET @Lbl = N''Contract Ending In '' + CONVERT(NVARCHAR(10), DATEDIFF(DAY, GETDATE(), @EndDate)) + N'' Days'';
            SET @Cls = N''bg-danger''; SET @Ord = 8;
            IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
                INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
        END

        IF (@NextReviewDate IS NOT NULL AND DATEDIFF(DAY, GETDATE(), @NextReviewDate) <= 30)
        BEGIN
            SET @Lbl = N''Contract Needs Reviewing By '' + CONVERT(NVARCHAR(10), @NextReviewDate, 23);
            SET @Cls = N''bg-danger''; SET @Ord = 9;
            IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
                INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
        END
    END

    -------------------------------------------------------------------------
    -- Latest-only: User Action Required / Customer Waiting (preserved) - de-dupe safe
    -------------------------------------------------------------------------
    IF (@LatestRequiresUsersAction = 1)
    BEGIN
        SET @Lbl = N''User Action Required''; SET @Cls = N''bg-warning''; SET @Ord = 0;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END

    IF (@LatestIsCustomerWaiting = 1)
    BEGIN
        SET @Lbl = N''Awaiting Customer''; SET @Cls = N''bg-warning''; SET @Ord = 0;
        IF NOT EXISTS (SELECT 1 FROM @DataPills WHERE Label = @Lbl)
            INSERT @DataPills (Label, Class, SortOrder) VALUES (@Lbl, @Cls, @Ord);
    END


	DECLARE @ScheduledInvoicingTypeName NVARCHAR(50);


	SELECT TOP(1) @ScheduledInvoicingTypeName = invtr.Name
	FROM SSop.QuoteItems root_hobt
	JOIN SJob.Jobs AS j ON (j.ID = root_hobt.CreatedJobId)
	JOIN SFin.InvoiceSchedules AS invsch ON (root_hobt.InvoicingSchedule = invsch.ID)
	JOIN SFin.InvoiceScheduleTrigger AS invtr ON (invtr.ID = invsch.TriggerId)
	WHERE j.Guid = @Guid

	IF(@ScheduledInvoicingTypeName <> N'''')
	BEGIN 
		INSERT @DataPills (Label, Class, SortOrder)
			VALUES (@ScheduledInvoicingTypeName + N'' Invoicing Type'', N''bg-success'', 0);
	END;

	DECLARE 
		@NotInvoicedAmount				DECIMAL(18,2) = 0.0,
		@RemainingFee					DECIMAL(18,2) = 0.0,
		@OutStandingAmount				DECIMAL(18,2) = 0.0,
		@OutStandingAmountWithoutVAT	DECIMAL(18,2) = 0.0,
		@Overdue_1_30					DECIMAL(18,2) = 0.0,
		@Overdue_31_60					DECIMAL(18,2) = 0.0,
		@Overdue_61_90					DECIMAL(18,2) = 0.0,
		@Overdue_90Plus					DECIMAL(18,2) = 0.0;

		SELECT 
		@RemainingFee	   = ISNULL(root_hobt.RemainingAmount, 0),
		@NotInvoicedAmount = ISNULL(root_hobt.NotInvoicedAmount, 0),
		@OutStandingAmount = ISNULL(root_hobt.OutStandingAmount, 0),
		@OutStandingAmountWithoutVAT = ISNULL(root_hobt.OutstandingAmountWithoutVAT, 0),
		@Overdue_1_30      = ISNULL(root_hobt.Overdue_1_30, 0),
		@Overdue_31_60     = ISNULL(root_hobt.Overdue_31_60, 0),
		@Overdue_61_90     = ISNULL(root_hobt.Overdue_61_90, 0),
		@Overdue_90Plus    = ISNULL(root_hobt.Overdue_90Plus, 0)
	FROM [SFin].[tvf_OverdueInvoicesForJob](@Guid) AS root_hobt;

	INSERT @DataPills (Label, Class, SortOrder)
	VALUES  (N''Remaining Fees: £'' + CONVERT(NVARCHAR(50), @RemainingFee), N''financial-data'', 0),
			(N''Amount not invoiced: £'' + CONVERT(NVARCHAR(50), @NotInvoicedAmount), N''financial-data'', 0),
	        (N''Outstanding amount: £'' + CONVERT(NVARCHAR(50), @OutStandingAmount), N''financial-data'', 0),
			(N''Outstanding amount without VAT: £'' + CONVERT(NVARCHAR(50), @OutStandingAmountWithoutVAT), N''financial-data'', 0),
	        (N''Overdue_1_30: £'' + CONVERT(NVARCHAR(50), @Overdue_1_30), N''financial-data'', 0),
	        (N''Overdue_31_60: £'' + CONVERT(NVARCHAR(50), @Overdue_31_60), N''financial-data'', 0),
	        (N''Overdue_61_90: £'' + CONVERT(NVARCHAR(50), @Overdue_61_90), N''financial-data'', 0),
	        (N''Overdue_90+: £'' + CONVERT(NVARCHAR(50), @Overdue_90Plus), N''financial-data'', 0)

    RETURN;
END;
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create or alter function [SFin].[tvf_AllTransactions]
--
GO
PRINT (N'Create or alter function [SFin].[tvf_AllTransactions]')
GO
IF EXISTS (SELECT 1 FROM sys.objects WITH (NOLOCK) WHERE object_id = OBJECT_ID(N'[SFin].[tvf_AllTransactions]') AND type IN ('IF', 'FN', 'TF'))
EXEC sp_executesql N'
CREATE OR ALTER FUNCTION [SFin].[tvf_AllTransactions] 
(
    @UserId INT
)
RETURNS TABLE
         --WITH SCHEMABINDING
AS
RETURN 
SELECT  t.ID,
        t.RowStatus,
        t.RowVersion,
        t.Guid,
        t.Number,
		t.Date,
		a.Name AS Account,
		tt.Name AS TransactionType,
		tc.Net,
		tc.Vat,
		tc.Gross,
		tc.Outstanding,
		t.SageTransactionReference,
		t.PurchaseOrderNumber,
		i.FullName AS Surveyor,
		t.Batched,
		CASE WHEN t.TransactionTypeID = 1 THEN
			(CASE WHEN (DueDetails.DueDate <= GETUTCDATE()) THEN N''Overdue'' ELSE N'''' END)
			ELSE '''' END AS IsOverdue,
		CASE 
			WHEN (s.StatusCode IS NULL) THEN N''Not Sent'' 
			ELSE s.StatusCode 
		END AS SageStatusCode,
		CASE 
			WHEN t.SageTransactionReference <> N'''' THEN 1
			ELSE 0
		END AS HasSageReference
FROM    SFin.Transactions t
JOIN	SFin.TransactionCalculations tc ON (tc.ID = t.ID)
JOIN    SFin.TransactionTypes tt ON (tt.ID = t.TransactionTypeID)
JOIN	SCrm.Accounts a ON (a.ID = t.AccountID)
JOIN	SCore.Identities i ON (i.ID = t.SurveyorUserId)
JOIN	SJob.Jobs as j ON (j.ID = t.JobID)
LEFT JOIN SFin.TransactionSageSubmissionStatus s ON (s.TransactionGuid = t.Guid)
CROSS APPLY SFin.tvf_OverdueInvoicesForJob(j.Guid) o
OUTER APPLY (
    SELECT
        -- DueDate rule: ExpectedDate else InvoiceDate + CreditTerms.DueDays + 30 days (USE DATEADD/
        CASE WHEN  CAST(SUM(ISNULL(td.Gross, 0)) AS decimal(19,2)) <> 0 THEN
		CAST(
            COALESCE(
                CAST(tr.ExpectedDate AS date),
                DATEADD(DAY, ISNULL(ct.DueDays, 0),DATEADD(DAY, 30, ISNULL(CAST(t.[Date] AS DATETIME), 0)))
            )
        AS date)
		ELSE Null
		END
		AS DueDate
    FROM SFin.Transactions tr
    JOIN SFin.TransactionTypes tt ON tt.ID = tr.TransactionTypeID
    JOIN SJob.Jobs j ON j.ID = t.JobID
    LEFT JOIN SFin.TransactionDetails td
        ON td.TransactionID = t.ID
        AND td.RowStatus <> 254
    LEFT JOIN SFin.CreditTerms ct
        ON ct.ID = t.CreditTermsId
        AND ct.RowStatus <> 254
    WHERE
        j.ID = t.JobID
		AND tr.ID = t.ID
        AND tr.RowStatus <> 254
	GROUP BY tr.ExpectedDate, ct.DueDays) AS DueDetails
WHERE   (t.RowStatus  NOT IN (0, 254))
	AND	(t.Id > 0)
	AND	(EXISTS
				(
			SELECT
					1
			FROM
					SCore.ObjectSecurityForUser_CanRead(t.Guid, @UserId) oscr
				)
			)
		AND	(EXISTS
			(				
	SELECT
			1
	FROM
			SCore.ObjectSecurityForUser_CanRead(a.Guid, @UserId) oscr
			)
		)
'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Commit Transaction
--
PRINT (N'Commit Transaction')
GO
IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO

--
-- Set NOEXEC to off
--
PRINT (N'Set NOEXEC to off')
GO
SET NOEXEC OFF
GO