@using Concursus.API.Client.Models
@using Concursus.PWA.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Concursus.Components.Shared.Services
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService UserService
@inject Core.CoreClient CoreClient
@inject SyncQueueState SyncQueueState
@inject AiErrorReporter AiErrorReporter
@inject UserInteractionTrackerService InteractionTracker
@inject IToastService Toast

@* <AuthorizeView>
    <Authorized>
        <div class="nav-item px-3">
            <p class="nav-link" style="color: #d7d7d7;">Hello, @UserName</p>
        </div>
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView> *@

<AuthorizeView>
    <Authorized>
        <div class="nav-item d-flex align-items-center px-3">
            <p class="nav-link mb-0" style="color: #d7d7d7;">Hello, @UserName</p>
            @* <ServiceWorkerButton /> *@
            @if (SyncQueueState?.Count > 0)
            {
                <span class="badge bg-danger ms-2" title="You have @SyncQueueState.Count offline actions pending sync">
                    @SyncQueueState.Count
                </span>
            }
        </div>
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

<style>
    .nav-item {
        display: flex;
        align-items: center;
    }

    .nav-link {
        margin-bottom: 0;
        color: #d7d7d7;
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }

    .ml-2 {
        margin-left: 0.5rem;
    }
</style>