<div class="legend-panel mb-3 p-2 border rounded bg-light">
    <strong>Legend:</strong>
    <div><span class="legend-box absence-am"></span> AM Absence (Orange)</div>
    <div><span class="legend-box absence-pm"></span> PM Absence (Red)</div>
    <div><span class="legend-box absence-full"></span> Full Day Absence (Gray)</div>
    <div><span class="legend-box scheduled-work"></span> Scheduled Work (Blue)</div>
    <div><span class="legend-box scheduler-weekend"></span> Weekend (Dark Gray Background)</div>
    <div><span class="legend-box scheduler-holiday"></span> Public Holiday (Pink Background)</div>
</div>

@code {

}
